- if current_user.college.code=="kskbjb"
  - diploma=Programme.where(course_type: 'Diploma')
  - radiografi=diploma.where('name ILIKE?', '%Radiografi%').first.id
  - carakerja=diploma.where('name ILIKE?', '%Jurupulih Perubatan Cara Kerja%').first.id
.col-md-12
  %table.table.table-bordered
    %tr
      %th No
      %th= t 'exam.grade.student_id'
      %th Mykad No
      - if @subjects_of_grades > 1
        %th= t 'exam.grade.subject_id'
      - if @subjects_of_grades > 1
      - else
        - @score_for_legend_sort.each do |score_x|
          %th{:style=> "text-align: center; background-color: #EFE; font-size:-2; width: 80px;"}
            =h (DropDown::E_TYPES.find_all{|disp, value| value == score_x.type_id}).map {|disp, value| disp}.first
            %br
            =h "("+score_x.weightage.to_i.to_s+"%)"
      /HIDE this part from Fisioterapi - https://trello.com/c/Wht96nbB
      - if current_user.college.code=="kskbjb"
        - fisioterapi=Programme.where(course_type: 'Diploma').where('name ILIKE (?)', '%Fisioterapi%').first.id
      - if @grades[0].studentgrade.course_id!=fisioterapi
        %th{:style=>"background-color:#E5ECE5; text-align:center;"}
          /CA+MSE 
          =t 'exam.grade.total_formative'
          %font{color: "blue"} 
            ="("+@grades[0].scores.sum(:weightage).to_s+"%) *"
      /HIDE-ending
      - if @subjects_of_grades > 1
        /if subject for selected grades is different
        %th{:style=>"background-color:#EEF9F9;text-align:center;"}= t 'exam.grade.examweight'
      %th{:style=>"background-color:#FEE;text-align:center;"}
        =t 'exam.grade.exam1marks'
        %br
        %font{:style=>"font size=-2"}=t 'exam.grade.written_paper'
        - if @grades[0].studentgrade.course_id==radiografi
          (100%)
      %th{:style=>"background-color:#FEE;text-align:center;"}
        =t 'exam.grade.summative'
        %font{color: "blue"} 
          ="("+@grades[0].examweight.to_s+"%) *"
      %th{:style=>"background-color:#EEF;text-align:center;"}
        =t 'exam.grade.total_marks'
        %font{color: "blue"}
          ="("+@grades[0].scores.sum(:weightage).to_s+"%+"+@grades[0].examweight.to_s+"%)*"
      %th=(t 'exam.grade.grading_id2')
        
      %th BPL
      %th=t 'exam.grade.exam2'
      %th=t 'exam.grade.carry_paper'
      %th=t 'exam.grade.resit'
    - @grades.sort_by{|x|x.studentgrade.name}.each_with_index do |grade, no|
      /note: DIV:grade_weightage_multiple NOT grades_0_weightage_multiple-refer grades/_update_weightage.html.erb
      /= tag("div", :id => form_tag_id(f.object_name, :weightage_multiple)) 
      /-note: DIV:grade_weightage_multiple NOT grades_0_weightage_multiple-refer grades/_update_weightage.html.erb
      = hidden_field_tag "grade_ids[]", grade.id 
      /result ==> "grade_ids"=>["4","3","2","1"]  == grade_ids[] 
      %tr
        %td=no+1
        %td{:style=>"width: 250px;"}=h grade.studentgrade.matrix_name 
        %td{:style=>"width: 100px;"}=h grade.studentgrade.icno
        - if @subjects_of_grades > 1 
          /if subject for selected grades is different
          %td
            %b=h grade.subjectgrade.subject_list 
        - if @subjects_of_grades > 1
        - else
          - @score_for_legend_sort_1 = Score.where('grade_id=?',grade.id).sort_by{|x|x.created_at}
          - @score_for_legend_sort_1.each_with_index do |score_1, score_count|
            %td{:style=>"text-align:center;background-color:#EDFDEB;"}
              = text_field_tag "scores_attributes[#{score_count}][marks][]", number_with_precision(score_1.marks,:precision=>2), :size=> 4,:class=>'i1 form-control',:id=>"score_"+"#{no}"+"_"+score_count.to_s 
              = hidden_field_tag "formweight", score_1.weightage, :id=>"formweight_"+"#{no}"+"_"+score_count.to_s,:size=>2
        
        /23June2013-no changes here but pls refer js part
        /HIDE this part from Fisioterapi - https://trello.com/c/Wht96nbB
        - if @grades[0].studentgrade.course_id==fisioterapi
          = hidden_field_tag "scores[]", number_with_precision(grade.total_formative,:precision=>2), :size=> 4,:id=>"caplusmse"+no.to_s, :readonly => "readonly", class: "form-control"
        - else
          %td{:style=>"background-color:#E5ECE5;text-align:center;"}
            = text_field_tag "scores[]", number_with_precision(grade.total_formative,:precision=>2), :size=> 4,:id=>"caplusmse"+no.to_s, :readonly => "readonly", class: "form-control"
        //HIDE ending
        - if @subjects_of_grades > 1 
          /if subject for selected grades is different
          %td{:style=>"background-color:#EEF9F9;text-align:center;"}
            = text_field_tag "examweights[]", number_with_precision(grade.examweight,:precision=>2), :size=> 4, :id=>"examweight"+no.to_s
        - else
          = hidden_field_tag "examweights[]", number_with_precision(grade.examweight,:precision=>2), :id=>"examweight"+no.to_s
        %td{:style=>"background-color:#FEE;text-align:center;"}
          /summative marks fr Exammark
          - latest_paper=Exam.where(subject_id: grade.subject_id).where(name: 'F').order(created_at: :desc).pluck(:id)
          - student_exammark=Exammark.where(exam_id: latest_paper).where(student_id: grade.student_id).first
          - if student_exammark
            - @fullmarks = Exam.where(id: student_exammark.exam_id).first.set_full_marks 
          - else
            - @fullmarks=0
          = hidden_field_tag "fullmarkss[]", @fullmarks, :id=> "fullmarks"+no.to_s
          /- if student_exammark && student_exammark.count > 0
          - if student_exammark
            = text_field_tag "exam1markss[]", number_with_precision(student_exammark.total_marks,:precision=>2), :size=> 4,:id=>"finalexam"+no.to_s, class: 'k1 form-control', readonly: 'readonly'
          - else
            /when exammark not exist, there will be no ref for fullmarks of an exampaper, so exampaper marks in GRade must be entered in 100%
            = text_field_tag "exam1markss[]", number_with_precision(grade.exam1marks,:precision=>2), :size=> 4,:id=>"finalexam"+no.to_s,:class=>'k1 form-control'
        %td{:style=>"background-color:#FEE;text-align:center;"}
          /NOTE - 12DEC2015 : MUST RETRIEVE Total Formative from Exammark, if exist (coz Weightage calculation apllied in Exammarks model - refer exammarks/_form_multiple too.)
          /- if student_exammark && student_exammark.count > 0
          - if student_exammark 
            - summative_val=student_exammark.totalsummative
            = text_field_tag "summatives[]", number_with_precision(summative_val, :precision=>2), :size=> 4,:id=>"summative"+no.to_s, class: 'form-control', readonly: 'readonly'
          - else
            - summative_val=0.0
            = text_field_tag "summatives[]", number_with_precision(grade.total_summative,:precision=>2), :size=> 4,:id=>"summative"+no.to_s, class: 'form-control', readonly: 'readonly'
          =hidden_field_tag "summatives2[]", number_with_precision(summative_val, precision: 2), :id=> "summatives2_"+no.to_s

        %td{:style=>"background-color:#EEF;text-align:center;"}
          - if student_exammark
            = text_field_tag "finalscores[]", number_with_precision(grade.total_formative+summative_val,:precision=>2), :size=> 4,:id=>"finalscore"+no.to_s, :readonly => "readonly", class: "form-control"
          - else
            = text_field_tag "finalscores[]", number_with_precision(grade.finalscore,:precision=>2), :size=> 4,:id=>"finalscore"+no.to_s, :readonly => "readonly", class: "form-control"
        //////grading columns
        %td
          =text_field_tag "grading_ids2[]", grade.render_grading[-2,2], :id => "grading_two"+no.to_s, :readonly => "readonly", class: "form-control"
          =hidden_field_tag "grading_ids[]", grade.set_gred, :id => "grading"+no.to_s, :readonly => "readonly"
        //////
        %td
          /--asal-http://apidock.com/rails/ActionView/Helpers/FormTagHelper/check_box_tag
          /#= check_box_tag "sent_to_BPLs[#{no}]", true, :name => "sent_to_BPLs[]"
          /-use iteration nos of grade
          = check_box_tag "sent_to_BPLs[#{no}]", true, grade.sent_to_BPL 
       
          /- if grade.sent_to_BPL == true
          /  = check_box_tag "sent_to_BPLs[#{no}]", true, grade.sent_to_BPL, :class => "check" 
          /- else
          /  = check_box_tag "sent_to_BPLs[#{no}]", true

          /-use grade.id
          /#= check_box_tag "sent_to_BPLs[#{grade.id}]", true, grade.sent_to_BPL 
        %td{:style=>"text-align:center;"}= check_box_tag "eligible_for_exams[#{no}]", true, grade.eligible_for_exam
        %td{:style=>"text-align:center;"}= check_box_tag "carry_papers[#{no}]", true, grade.carry_paper
        %td{:style=>"text-align:center;"}=check_box_tag "resits[#{no}]", true, grade.resit

/TRIAL    
=hidden_field_tag "grade_count", @grades.count
=hidden_field_tag "scores_count", @score_for_legend_sort_1.count
=hidden_field_tag "programme_name", Programme.where(id: @grades[0].subjectgrade.root_id).first.name
=hidden_field_tag "fullmark", @fullmarks
=hidden_field_tag "formative_weight", @grades[0].scores.sum(:weightage)

/=hidden_field_tag "grade_examweight", @grades[0].examweight
:javascript

$(document).ready(function(){
  $(".i1").keyup(function(){  
    
    var gradecount = $("#grade_count").val();
    var scorescount = $("#scores_count").val();
    var formativeweight = $("#formative_weight").val();
    
    var other2 = document.getElementById("score_"+0+"_"+0).value;
    window["formative"+i] =  document.getElementById("caplusmse0");
    window["formative"+i].value =  other2;
    
    for (var i=0;i<gradecount;i++)
    {
      window["cplus"+i] =  document.getElementById("caplusmse"+i);
      var a = 0;
      for (var k=0;k<scorescount;k++)
      {
        var other = document.getElementById("score_"+i+"_"+k).value;
        a=a*1+(other*1);
        
        window["weightage2_"+i+"_"+k]=document.getElementById("formweight_"+i+"_"+k).value;
        window["otherfield_"+i+"_"+k]=document.getElementById("score_"+i+"_"+k);
        
        if (other > window["weightage2_"+i+"_"+k]*1.0)
        {  window["otherfield_"+i+"_"+k].style.color="red";}
        else
        {  window["otherfield_"+i+"_"+k].style.color="black";}
      }
      window["cplus"+i].value=a;
      if (a > formativeweight*1.0)
      {  window["cplus"+i].style.color="red";}
      else
      {  window["cplus"+i].style.color="black";}
      window["summative70_val"+i] = document.getElementById("summative"+i).value;
      window["formative_summative"+i] = document.getElementById("finalscore"+i);
      finale=a+(window["summative70_val"+i])*1;
      window["formative_summative"+i].value = a+(window["summative70_val"+i])*1;
      
      /*grading starts here*/
      if (finale <= 35) 
      { 
        grade_val=11;
        grade="E";
      }
      else if (finale <= 40)
      { 
        grade_val=10;
        grade="D";
      }
      else if (finale <= 45)
      { 
        grade_val=9;
        grade="D+";
      }
      else if (finale <= 50)
      { 
        grade_val=8;
        grade="C-";
      } 
      else if (finale <= 55)
      { 
        grade_val=7;
        grade="C";
      }
      else if (finale <= 60)
      { 
        grade_val=6;
        grade="C+";
      }
      else if (finale <= 65)
      { 
        grade_val=5;
        grade="B-";
      }
      else if (finale <= 70)
      { 
        grade_val=4;
        grade="B";
      }
      else if (finale <= 75)
      { 
        grade_val=3;
        grade="B+";
      }
      else if (finale <= 80)
      { 
        grade_val=2;
        grade="A-";
      }
      else
      { 
        grade_val=1;
        grade="A";
      }
      window["grading_two"+i]=document.getElementById("grading_two"+i);
      window["grading_two"+i].value = grade;
      window["grading"+i]=document.getElementById("grading"+i);
      window["grading"+i].value = grade_val;
      /*grading ends here*/
      
      if (finale > 100.0)
      {  window["formative_summative"+i].style.color="red";}
      else
      {  window["formative_summative"+i].style.color="black";}
    }
    
  });
  
  $(".k1").keyup(function(){
    var gradecount = $("#grade_count").val();
    var summativeweightage = $("#grade_summative_weightage").val(); 
    var programme = $("#programme_name").val();
    
    for (var i=0;i<gradecount;i++){
      window["exam1marks"+i]= document.getElementById("finalexam"+i).value;
      window["totalsummative"+i]=document.getElementById("summative"+i).value;
      window["summative_field"+i] = document.getElementById("summative"+i);
      window["cplus_val"+i] =  document.getElementById("caplusmse"+i).value;
      window["formative_summative"+i] = document.getElementById("finalscore"+i);
      window["fullmarks"+i]=document.getElementById("fullmarks"+i).value;
      window["grading"+i]=document.getElementById("grading"+i);
      
      /* NOTE - calculation done only for grade without exammarks, therefor fullmarks retrieval should be done individually */
      if (window["fullmarks"+i]==0)
      {
        window["summative_field"+i].value=(window["exam1marks"+i])*(summativeweightage/100); 
        window["formative_summative"+i].value = (window["exam1marks"+i])*(summativeweightage/100) +((window["cplus_val"+i])*1);
        
        /*get exam1marks field*/
        window["exam1marks_field"+i]=document.getElementById("finalexam"+i);
        
        if (window["exam1marks"+i] > 100)
        {
          window["exam1marks_field"+i].style.color="red";
          window["summative_field"+i].style.color="red";
          window["formative_summative"+i].style.color="red";
        }
        else
        {
          window["exam1marks_field"+i].style.color="black";
          window["summative_field"+i].style.color="black";
          window["formative_summative"+i].style.color="black";
        }
      }
      else
      {/*should have no effect for record containing exammarks (fullmarks > 0) */}     
       
      sum_both=window["formative_summative"+i].value;
      /*grading starts here*/
      if (sum_both <= 35) 
      { 
        grade_val=11;
        grade="E";
      }
      else if (sum_both <= 40)
      { 
        grade_val=10;
        grade="D";
      }
      else if (sum_both <= 45)
      { 
        grade_val=9;
        grade="D+";
      }
      else if (sum_both <= 50)
      { 
        grade_val=8;
        grade="C-";
      } 
      else if (sum_both <= 55)
      { 
        grade_val=7;
        grade="C";
      }
      else if (sum_both <= 60)
      { 
        grade_val=6;
        grade="C+";
      }
      else if (sum_both <= 65)
      { 
        grade_val=5;
        grade="B-";
      }
      else if (sum_both <= 70)
      { 
        grade_val=4;
        grade="B";
      }
      else if (sum_both <= 75)
      { 
        grade_val=3;
        grade="B+";
      }
      else if (sum_both <= 80)
      { 
        grade_val=2;
        grade="A-";
      }
      else
      { 
        grade_val=1;
        grade="A";
      }
      window["grading_two"+i]=document.getElementById("grading_two"+i);
      window["grading_two"+i].value = grade;
      window["grading"+i]=document.getElementById("grading"+i);
      window["grading"+i].value = grade_val;
      /*grading ends here*/
      
    }
  });
  
  
  $(".i1").each(function(){  
    
    var gradecount = $("#grade_count").val();
    var scorescount = $("#scores_count").val();
    var formativeweight = $("#formative_weight").val();
    
    var other2 = document.getElementById("score_"+0+"_"+0).value;
    window["formative"+i] =  document.getElementById("caplusmse0");
    window["formative"+i].value =  other2;
    
    for (var i=0;i<gradecount;i++)
    {
      window["cplus"+i] =  document.getElementById("caplusmse"+i);
      var a = 0;
      for (var k=0;k<scorescount;k++)
      {
        var other = document.getElementById("score_"+i+"_"+k).value;
        a=a*1+(other*1);
        
        window["weightage2_"+i+"_"+k]=document.getElementById("formweight_"+i+"_"+k).value;
        window["other_"+i+"_"+k]=document.getElementById("score_"+i+"_"+k).value;
        window["otherfield_"+i+"_"+k]=document.getElementById("score_"+i+"_"+k);
        
        if (window["other_"+i+"_"+k] > window["weightage2_"+i+"_"+k]*1.0)
        {  window["otherfield_"+i+"_"+k].style.color="red";}
        else
        {  window["otherfield_"+i+"_"+k].style.color="black";}
      }
      window["cplus"+i].value=a;
      if (a > formativeweight*1.0)
      {  window["cplus"+i].style.color="red";}
      else
      {  window["cplus"+i].style.color="black";}
      window["summative70_val"+i] = document.getElementById("summative"+i).value;
      window["formative_summative"+i] = document.getElementById("finalscore"+i);
      finale=a+(window["summative70_val"+i])*1;
      window["formative_summative"+i].value = a+(window["summative70_val"+i])*1;
      
      /*grading starts here*/
      if (finale <= 35) 
      { 
        grade_val=11;
        grade="E";
      }
      else if (finale <= 40)
      { 
        grade_val=10;
        grade="D";
      }
      else if (finale <= 45)
      { 
        grade_val=9;
        grade="D+";
      }
      else if (finale <= 50)
      { 
        grade_val=8;
        grade="C-";
      } 
      else if (finale <= 55)
      { 
        grade_val=7;
        grade="C";
      }
      else if (finale <= 60)
      { 
        grade_val=6;
        grade="C+";
      }
      else if (finale <= 65)
      { 
        grade_val=5;
        grade="B-";
      }
      else if (finale <= 70)
      { 
        grade_val=4;
        grade="B";
      }
      else if (finale <= 75)
      { 
        grade_val=3;
        grade="B+";
      }
      else if (finale <= 80)
      { 
        grade_val=2;
        grade="A-";
      }
      else
      { 
        grade_val=1;
        grade="A";
      }
      window["grading_two"+i]=document.getElementById("grading_two"+i);
      window["grading_two"+i].value = grade;
      window["grading"+i]=document.getElementById("grading"+i);
      window["grading"+i].value = grade_val;
      /*grading ends here*/
      
      if (finale > 100.0)
      {  window["formative_summative"+i].style.color="red";}
      else
      {  window["formative_summative"+i].style.color="black";}
    }
    
  });
  
  $(".k1").each(function(){
    var gradecount = $("#grade_count").val();
    var summativeweightage = $("#grade_summative_weightage").val(); 
    var programme = $("#programme_name").val();
    
    for (var i=0;i<gradecount;i++){
      window["exam1marks"+i]= document.getElementById("finalexam"+i).value;
      window["totalsummative"+i]=document.getElementById("summative"+i).value;
      window["summative_field"+i] = document.getElementById("summative"+i);
      window["cplus_val"+i] =  document.getElementById("caplusmse"+i).value;
      window["formative_summative"+i] = document.getElementById("finalscore"+i);
      window["fullmarks"+i]=document.getElementById("fullmarks"+i).value;
      window["grading"+i]=document.getElementById("grading"+i);
      
      /* NOTE - calculation done only for grade without exammarks, therefor fullmarks retrieval should be done individually */
      if (window["fullmarks"+i]==0)
      {
        window["summative_field"+i].value=(window["exam1marks"+i])*(summativeweightage/100); 
        window["formative_summative"+i].value = (window["exam1marks"+i])*(summativeweightage/100) +((window["cplus_val"+i])*1);
        
        /*get exam1marks field*/
        window["exam1marks_field"+i]=document.getElementById("finalexam"+i);
        
        if (window["exam1marks"+i] > 100)
        {
          window["exam1marks_field"+i].style.color="red";
          window["summative_field"+i].style.color="red";
          window["formative_summative"+i].style.color="red";
        }
        else
        {
          window["exam1marks_field"+i].style.color="black";
          window["summative_field"+i].style.color="black";
          window["formative_summative"+i].style.color="black";
        }
      }
      else
      {/*should have no effect for record containing exammarks (fullmarks > 0) */}     
       
      sum_both=window["formative_summative"+i].value;
      /*grading starts here*/
      if (sum_both <= 35) 
      { 
        grade_val=11;
        grade="E";
      }
      else if (sum_both <= 40)
      { 
        grade_val=10;
        grade="D";
      }
      else if (sum_both <= 45)
      { 
        grade_val=9;
        grade="D+";
      }
      else if (sum_both <= 50)
      { 
        grade_val=8;
        grade="C-";
      } 
      else if (sum_both <= 55)
      { 
        grade_val=7;
        grade="C";
      }
      else if (sum_both <= 60)
      { 
        grade_val=6;
        grade="C+";
      }
      else if (sum_both <= 65)
      { 
        grade_val=5;
        grade="B-";
      }
      else if (sum_both <= 70)
      { 
        grade_val=4;
        grade="B";
      }
      else if (sum_both <= 75)
      { 
        grade_val=3;
        grade="B+";
      }
      else if (sum_both <= 80)
      { 
        grade_val=2;
        grade="A-";
      }
      else
      { 
        grade_val=1;
        grade="A";
      }
      window["grading_two"+i]=document.getElementById("grading_two"+i);
      window["grading_two"+i].value = grade;
      window["grading"+i]=document.getElementById("grading"+i);
      window["grading"+i].value = grade_val;
      /*grading ends here*/
      
    }
  });
  
  
  var yoyo = $("#examweight0").val();
  $('#grade_summative_weightage').change(function() {
    if($(this).val() ==(yoyo*1)) {
      $('.sum_weight_changed').hide();
    }else {
      $('.sum_weight_changed').show("appear");
    }
  });
  
});

/grade[summative_weightage]
/var summativeweightage = $("#grade_examweight").val(); 