.col-md-12
  %table.table.table-bordered
    %tr
      %th No
      %th= t 'exam.grade.student_id'
      %th Mykad No
      - if @subjects_of_grades > 1
        %th= t 'exam.grade.subject_id'
      - if @subjects_of_grades > 1
      - else
        - @score_for_legend_sort.each do |score_x|
          %th{:style=> "text-align: center; background-color: #EFE; font-size:-2; width: 80px;"}
            =h (DropDown::E_TYPES.find_all{|disp, value| value == score_x.type_id}).map {|disp, value| disp}.first
            %br
            =h "("+score_x.weightage.to_i.to_s+"%)"
           
      %th{:style=>"background-color:#E5ECE5; text-align:center;"}CA+MSE (30%)
      - if @subjects_of_grades > 1
        /if subject for selected grades is different
        %th{:style=>"background-color:#EEF9F9;text-align:center;"}= t 'exam.grade.examweight'
      %th{:style=>"background-color:#FEE;text-align:center;"}
        Final Exam
        %br
        %font{:style=>"font size=-2"} (Written Paper)
        (100%)
      %th{:style=>"background-color:#FEE;text-align:center;"}Total Summative (70%)
      %th{:style=>"background-color:#EEF;text-align:center;"}Total Marks
      %th BPL
      %th Exam?
      %th Carry Paper
      %th Resit
    - @grades.sort_by{|x|x.studentgrade.name}.each_with_index do |grade, no|
      /note: DIV:grade_weightage_multiple NOT grades_0_weightage_multiple-refer grades/_update_weightage.html.erb
      /= tag("div", :id => form_tag_id(f.object_name, :weightage_multiple)) 
      /-note: DIV:grade_weightage_multiple NOT grades_0_weightage_multiple-refer grades/_update_weightage.html.erb
      = hidden_field_tag "grade_ids[]", grade.id 
      /result ==> "grade_ids"=>["4","3","2","1"]  == grade_ids[] 
      %tr
        %td=no+1
        %td{:style=>"width: 250px;"}=h grade.studentgrade.matrix_name 
        %td{:style=>"width: 100px;"}=h grade.studentgrade.icno
        - if @subjects_of_grades > 1 
          /if subject for selected grades is different
          %td
            %b=h grade.subjectgrade.subject_list 
        - if @subjects_of_grades > 1
        - else
          - @score_for_legend_sort_1 = Score.where('grade_id=?',grade.id).sort_by{|x|x.created_at}
          - @score_for_legend_sort_1.each_with_index do |score_1, score_count|
            %td{:style=>"text-align:center;background-color:#EDFDEB;"}
              = text_field_tag "scores_attributes[#{score_count}][marks][]", number_with_precision(score_1.marks,:precision=>2), :size=> 4,:class=>'i1',:id=>"score_"+"#{no}"+"_"+score_count.to_s 
              = hidden_field_tag "formweight", score_1.weightage, :id=>"formweight_"+"#{no}"+"_"+score_count.to_s,:size=>2
        
        /23June2013-no changes here but pls refer js part
        %td{:style=>"background-color:#E5ECE5;text-align:center;"}
          = text_field_tag "scores[]", number_with_precision(grade.score,:precision=>2), :size=> 4,:id=>"caplusmse"+no.to_s, :readonly => "readonly", class: "form-control"
        - if @subjects_of_grades > 1 
          /if subject for selected grades is different
          %td{:style=>"background-color:#EEF9F9;text-align:center;"}
            = text_field_tag "examweights[]", number_with_precision(grade.examweight,:precision=>2), :size=> 4, :id=>"examweight"+no.to_s
        - else
          = hidden_field_tag "examweights[]", number_with_precision(grade.examweight,:precision=>2), :id=>"examweight"+no.to_s
        %td{:style=>"background-color:#FEE;text-align:center;"}
          = text_field_tag "exam1markss[]", number_with_precision(grade.exam1marks,:precision=>2), :size=> 4,:id=>"finalexam"+no.to_s,:class=>'k1'
        %td{:style=>"background-color:#FEE;text-align:center;"}
          = text_field_tag "summatives[]", number_with_precision(grade.summative,:precision=>2), :size=> 4,:id=>"summative"+no.to_s 
        %td{:style=>"background-color:#EEF;text-align:center;"}
          = text_field_tag "finalscores[]", number_with_precision(grade.finalscore,:precision=>2), :size=> 4,:id=>"finalscore"+no.to_s, :readonly => "readonly", class: "form-control"
        %td
          /--asal-http://apidock.com/rails/ActionView/Helpers/FormTagHelper/check_box_tag
          /#= check_box_tag "sent_to_BPLs[#{no}]", true, :name => "sent_to_BPLs[]"
          /-use iteration nos of grade
          = check_box_tag "sent_to_BPLs[#{no}]", true, grade.sent_to_BPL 
       
          /- if grade.sent_to_BPL == true
          /  = check_box_tag "sent_to_BPLs[#{no}]", true, grade.sent_to_BPL, :class => "check" 
          /- else
          /  = check_box_tag "sent_to_BPLs[#{no}]", true

          /-use grade.id
          /#= check_box_tag "sent_to_BPLs[#{grade.id}]", true, grade.sent_to_BPL 
        %td{:style=>"text-align:center;"}= check_box_tag "eligible_for_exams[#{no}]", true, grade.eligible_for_exam
        %td{:style=>"text-align:center;"}= check_box_tag "carry_papers[#{no}]", true, grade.carry_paper
        %td{:style=>"text-align:center;"}=check_box_tag "resits[#{no}]", true, grade.resit

/TRIAL      
=hidden_field_tag "grade_count", @grades.count
=hidden_field_tag "scores_count", @score_for_legend_sort_1.count

:javascript

$(document).ready(function(){
  $(".i1").keyup(function(){  
    
    var gradecount = $("#grade_count").val();
    var scorescount = $("#scores_count").val();
    
    var other2 = document.getElementById("score_"+0+"_"+0).value;
    window["formative"+i] =  document.getElementById("caplusmse0");
    window["formative"+i].value =  other2;
    
    for (var i=0;i<gradecount;i++)
    {
      window["cplus"+i] =  document.getElementById("caplusmse"+i);
      var a = 0;
      for (var k=0;k<scorescount;k++)
      {
        var other = document.getElementById("score_"+i+"_"+k).value;
        a=a*1+(other*1);
      }
      window["cplus"+i].value=a;
      window["summative70_val"+i] = document.getElementById("summative"+i).value;
      window["formative_summative"+i] = document.getElementById("finalscore"+i);
      window["formative_summative"+i].value = a+(window["summative70_val"+i])*1
    }
    
  });
  
  $(".k1").keyup(function(){
    var gradecount = $("#grade_count").val();
    for (var i=0;i<gradecount;i++){
      window["total_marks"+i]= document.getElementById("finalexam"+i).value;
      window["summative70"+i] = document.getElementById("summative"+i);
      window["summative70"+i].value=(window["total_marks"+i])*0.70;
      
      window["cplus_val"+i] =  document.getElementById("caplusmse"+i).value;
      window["formative_summative"+i] = document.getElementById("finalscore"+i);
      window["formative_summative"+i].value = (window["total_marks"+i])*0.70 +((window["cplus_val"+i])*1);
    }
  });
  

});