%fieldset
  - no=@count
  = f.hidden_field :_destroy
  .row
    .col-sm-3= f.select :type_id, DropDown::E_TYPES, {:prompt => t('select')}, {class: 'selectpicker'}
    .col-sm-5= f.text_field :description, placeholder: t('exam.grade.description'),  class: 'form-control'
    .col-sm-2= f.text_field :marks, :id=> "formative"+no.to_s, class: 'form-control'
    .col-sm-2= f.text_field :weightage, :size => 5, :id=> "fweight"+no.to_s, class: 'form-control'
    .col-sm-1
      /= link_to content_tag(:i, "", class: "fa fa-trash-o"), data: {"data-toggle" => "tooltip", title: "Delete"}, class: "btn btn-danger remove_fields"
  :javascript
    $('.selectpicker').selectpicker('render');
