= search_form_for [:grade, @search], url: exam_grades_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td &nbsp;
    %td= f.text_field :student_search, class: 'form-control'
    %td= select_tag('q[subject_id_eq]', options_for_select([[(t 'exam.grade.existing_subject'),'']]+@grade_list_exist_subject), class: 'selectpicker',"data-width"=>"200px")
    %td= f.text_field :formative_eq, class: 'form-control'
    - if current_user.college.code=='kskbjb'
      %td= select_tag('q[sent_to_BPL_eq]',options_for_select([[t('actions.all_records'), ''],[t('exam.grade.sent_bpl'), true],[t('exam.grade.notsent_bpl'), false]]), {class: 'selectpicker', "data-width"=>"100px"} )  
      %td= f.text_field :sent_date_cont, class: 'date_picker form-control'
    %td= select_tag('q[eligible_for_exam_eq]',options_for_select([[t('actions.all_records'), ''],[t('yes2'), true],[t('no2'), false]]), {class: 'selectpicker', "data-width"=>"100px"} )  
    %td= f.text_field :carry_paper_eq, class: 'form-control'
    %td= f.text_field :examweight_eq, class: 'form-control'
    %td= f.text_field :exam1marks_eq, class: 'form-control'
    %td= f.text_field :summative_eq, class: 'form-control'
    %td= select_tag('q[resit_eq]',options_for_select([[t('actions.all_records'), ''],[t('yes2'), true],[t('no2'), false]]), {class: 'selectpicker', "data-width"=>"100px"} ) 
    %td= f.text_field :finalscore_eq, class: 'form-control'
    %td
      .input-group
        = select_tag('q[grading_search]', options_for_select([[t('actions.all_records'), ''],['A','A'],['A-','A-'],['B+','B+'],['B','B'],['B-','B-'],['C+','C+'],['C','C'],['C-','C-'],['D+','D+'],['D','D'],['E','E']]), {class: 'selectpicker', "data-width"=>"100px"} ) 
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw