.col-md-8.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label t 'exam.grade.carry_paper', for: :carry_paper
    .col-md-2
      = f.check_box :carry_paper
  .form-group
    .col-sm-2.control-label
      = f.label t 'exam.grade.resit', for: :resit
    .col-md-6
      = f.check_box :resit 
      /if repeat paper marks exist in grade
      - unless @grade.exam2marks.nil? || @grade.exam2marks.blank?
        %b=t 'exam.grade.finalscore_repeat'
        = number_with_precision(@grade.finale2, precision: 2)
        &nbsp;/&nbsp;
        = @grade.render_grading2[-2,2]
  /.form-group
  /  .col-sm-2.control-label
  /    = f.label t 'exam.grade.marks_in_70'
  /  .col-md-2
  /    = f.text_field :marks_70, class: 'form-control', readonly: 'readonly'
  - if @grade.subject_id && @grade.student_id
    - latest_paper=Exam.where(subject_id: @grade.subject_id).order(created_at: :desc).first.id
    - student_exammark=Exammark.where(exam_id: latest_paper).where(student_id: @grade.student_id)
  .form-group
    .col-sm-2.control-label
      %label
        =t 'exam.grade.finalscore'
        %font{:style=>"color: red;"}*
    .col-md-2
      - if (student_exammark && student_exammark.count > 0) || @grade.finale > 0
        /- finalscor = @grade.total_summative+@grade.scores.pluck(:marks).sum
        - finalscor = @grade.finale
      - else
        - finalscor = 0
      = f.text_field :finalscore, value: number_with_precision(finalscor, precision: 2), class: 'form-control', readonly: 'readonly'
  .form-group
    .col-sm-2.control-label
      %label
        =t 'exam.grade.grading_id'
        %font{:style=>"color: red;"}*
    .col-md-3
      - if student_exammark && student_exammark.count > 0 || @grade.set_gred
        = f.select :grading_id, DropDown::GRADE,{ :prompt =>t('select'),:selected=>@grade.set_gred }, class: 'form-control'
      - else
        = f.select :grading_id, DropDown::GRADE,{:prompt => t('select')}, class: 'form-control'


