.col-md-8.col-md-offset-1
  %dl.dl-horizontal
  
    %dt= t 'exam.grade.finalscore'
    %dd
      - if (@grade.exam1marks!= nil && @grade.examweight !=nil && @grade.total_formative != nil)
        - gred=@grade.render_grading[-2,2]
        - if (gred =='C-' || gred=='D+' || gred.strip=='D' || gred.strip=='E')
          %font{:style => "color: red;"}=h number_with_precision(@grade.finale,:precision=>2) 
        - else
          %font{:style => "color: black;"}=h number_with_precision(@grade.finale,:precision=>2) 
        &nbsp;
        %b
          - if (gred =='C-' || gred=='D+' || gred.strip=='D' || gred.strip=='E')
            %font{:style => "color: red;"}=gred
          - else
            %font{:style => "color: black;"}=gred
      %font{:style=>"color: #AAA; size: -2"}
        Formative x 
        = number_with_precision((100 - @grade.examweight),:precision=>2)
        \% + Summative x 
        = number_with_precision(@grade.examweight,:precision=>2)
        \%
    /if repeat paper marks exist in grade
    - unless @grade.exam2marks.nil? || @grade.exam2marks.blank?
      %dt=t 'exam.grade.finalscore2'
      %dd
        = number_with_precision(@grade.finale2, precision: 2)
        &nbsp;
        = @grade.render_grading2[-2,2]        
    %dt= t 'exam.grade.carry_paper'
    %dd=h @grade.carry_paper? ? t('exam.grade.required') : t('exam.grade.not_required')
    
    %dt= t 'exam.grade.resit'
    %dd=h @grade.resit? ? t('exam.grade.required') : t('exam.grade.not_required')