.row
  .col-md-4= f.text_field :exam1name, class: 'form-control'
  .col-md-4= f.text_field :exam1desc, class: 'form-control'
  .col-md-2= f.text_field :examweight, class: 'form-control'
  .col-md-2= f.text_field :exam1marks, :class=>'i1'
%br
.row
  - if @grade.examweight.nil?
    %font{:style=>"color: red;"}* 
    = t 'exam.grade.weightage_before_marks'