.col-md-8.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label t 'exam.grade.carry_paper', for: :carry_paper
    .col-md-2
      = f.check_box :carry_paper
  .form-group
    .col-sm-2.control-label
      = f.label t 'exam.grade.resit', for: :resit
    .col-md-2
      = f.check_box :resit 
  /.form-group
  /  .col-sm-2.control-label
  /    = f.label t 'exam.grade.marks_in_70'
  /  .col-md-2
  /    = f.text_field :marks_70, class: 'form-control', readonly: 'readonly'
  .form-group
    .col-sm-2.control-label
      %label
        =t 'exam.grade.finalscore'
        %font{:style=>"color: red;"}*
    .col-md-2
      - if @grade.finalscore
        - finalscor = @grade.finalscore
      - else
        - finalscor = 0
      = f.text_field :finalscore, value: finalscor, class: 'form-control', readonly: 'readonly'
  .form-group
    .col-sm-2.control-label
      %label
        =t 'exam.grade.grading_id'
        %font{:style=>"color: red;"}*
    .col-md-2
      = f.select :grading_id, DropDown::GRADE,{:prompt => t('select')}, class: 'form-control'
      /= f.select :grading_id, DropDown::GRADE, :prompt =>t('select'),:selected=>@grade.set_gred 


