- model_class = Grade
.page-header
  %h1=t 'exam.grade.title'
= render 'shared/flashes'

.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t 'exam.grade.grade_details'),"#grade_details", "data-toggle" => "tab"
      %li= link_to (t 'exam.grade.sent_bpl'),"#sent_to_bpl", "data-toggle" => "tab"
      %li= link_to (t 'exam.grade.summative'),"#summative", "data-toggle" => "tab"
      %li= link_to (t 'exam.grade.final_details'),"#final_details", "data-toggle" => "tab"
 
    /display
    .tab-content{style:"padding-top:1em"}
      .col-md-8.col-md-offset-1
        %dl.dl-horizontal
          %dt= t 'exam.grade.student_id'
          %dd=h @grade.studentgrade.try(:matrix_name)
          
          %dt= t 'exam.grade.programme'
          %dd=h @grade.subjectgrade.root.programme_list
        
          %dt=t 'exam.grade.subject_id'
          %dd=h @grade.subjectgrade.subject_list
       

      #grade_details.tab-pane.active
        = render 'tab_grade_details'

      #sent_to_bpl.tab-pane
        = render 'tab_sent_bpl'
        
      #summative.tab-pane
        = render 'tab_summative'
        
      #final_details.tab-pane
        = render 'tab_final_details'
%br

.row
  .col-md-4.col-md-offset-4
    %hr
    .form-actions
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), exam_grades_path, :class => 'btn btn-default'
      - permitted_to? :update, :exam_grades do
        = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), edit_exam_grade_path(@grade),  :class => 'btn btn-primary' 
      = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
        exam_grade_path(@grade),                                                                                                    |
        :method => 'delete',                                                                                                           |
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
        :class => 'btn btn-danger'
