/.row
/  .col-md-offset-2
/    .form-group
/      .col-sm-2.control-label
/        %b= t 'exam.exammark.title'
/      .col-md-6
/        = text_field_tag "exammark_ids[]", 7, class: 'form-control'
/.row
/  .col-md-offset-2
/    .form-group
/      .col-sm-2.control-label
/        %b= t 'exam.exammark.title'
/      .col-md-6
/        = text_field_tag "exammark_ids[]", 7, class: 'form-control'
%table.table
  %tr
    %th No
    %th=t 'student.attendance.student_id'
    %th
      - index3=0
      - @studentattendances_group.each do |student, studentattendances| 
        - if index3 == 0
          - 1.upto(studentattendances.count) do |index4|
            - if studentattendances.count>1
              - if index4 == 1
                &nbsp;
              - else
                &nbsp;&nbsp;
            =index4
        - index3+=1

  - count = 0 
  - @next = 0 
  - @sa_sort_then_group = @studentattendances.sort_by{|y|y.student.name}.group_by{|x|x.student_id}
  - @sa_sort_then_group.each do |student_id, studentattendances|
    - one_student_atts_count=studentattendances.count
    %tr
      %td=count+=1
      %td= Student.find(student_id).name
      %td
        %table
          %tr
            - if @studentattendances[@studentattendances.count-1].weeklytimetable_details_id != nil
              - studentattendances_sorted = studentattendances.sort_by{|u|u.weeklytimetable_detail.get_time_slot}
            - else
              - studentattendances_sorted = studentattendances 
            - studentattendances_sorted.each_with_index do |studentattendance, no|
              = hidden_field_tag "student_attendance_ids[]", studentattendance.id 
              
              %td{:style=>"padding-right: 5px;"}
                - if studentattendance.attend == true
                  = check_box_tag "attends[#{no+@next}]", true, studentattendance.attend, :class => "check" 
                - else
                  = check_box_tag "attends[#{no+@next}]", true
                /= check_box_tag "attends[#{no+@next}]", true, studentattendance.attend, :id => "attendss_#{no+@next}" 
              %td{:style=>"padding-left: 15px; width: 80px;"}
                - if studentattendance.attend == true
                  &nbsp;
                - else
                  = t('select')+" :"
              %td{:style=>"padding-left: 5px; width: 115px;"}
                - if studentattendance.attend == true
                  &nbsp;
                - else
                  = select_tag("reasons[#{no+@next}]", options_for_select([[(t 'student.attendance.reason'),'0']]+DropDown::ABSENT_REASON, studentattendance.reason), {class: 'selectpicker', "data-width"=>"100px"})
              %td{:style=>"padding-left: 5px; width: 165px;"}
                - if studentattendance.attend == true
                  &nbsp;
                - else
                  = select_tag("actions[#{no+@next}]", options_for_select([[(t 'student.attendance.action_taken'),'0']]+DropDown::ABSENT_ACTION, studentattendance.action), {class: 'selectpicker', "data-width"=>"150px"})
              %td{:style=>"padding-left: 5px; width: 165px;"}
                - if studentattendance.attend == true
                  &nbsp;
                - else
                  =select_tag("statuss[#{no+@next}]", options_for_select([[(t 'student.attendance.action_close'),'0'],[(t 'student.attendance.complete'),'Yes'],[(t 'student.attendance.incomplete'),'No']], studentattendance.status), {class: 'selectpicker', "data-width"=>"150px"})
              %td{:style=>"padding-left: 5px; width: 100px;"}
                - if studentattendance.attend == true
                  &nbsp;
                - else
                  = text_field_tag "remarks[#{no+@next}]", studentattendance.remark, class: 'form-control', placeholder: t('student.attendance.remark')

              - if no == one_student_atts_count-1 
                - @next = @next+no+1

- if @studentattendances.map(&:attend).count(true) == 0
  %table
    %tr
      %td{:style=> "width:200px; text-align: right; padding:5px;"}
      %td{:style=>"padding:5px;"}= check_box_tag :check_all
      %td{:style=>"padding:5px;"}= t('actions.check_all') 


:javascript
$(document).ready(function(){
  var checkbox =$("input:checkbox");
  $('.check').each(function(){
    if ($(this).is(':checked')) {
      $(this).val() = "checked";
    }
  });

  $("input[id='check_all']").change(function() {  
    if($('#check_all').is(':checked')) { 
      for (var j=0; j<checkbox.length; j++) {
        var cc = document.getElementById('attends_'+j)
        cc.checked = true;
      }

    }else{
      for (var j=0; j<checkbox.length; j++) {
        var cc = document.getElementById('attends_'+j)
        cc.checked = false;
      }
    }
  });

  $("input[id='check_all']").each(function() {  
    if($('#check_all').is(':checked')) { 
      for (var j=0; j<checkbox.length; j++) {
        var cc = document.getElementById('attends_'+j)
        cc.checked = true;
      }
    }else{
      for (var j=0; j<checkbox.length; j++) {
        var cc = document.getElementById('attends_'+j)
        cc.checked = false;
      }
    }
  });

});

