= search_form_for @search, url: student_student_attendances_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td &nbsp;
    %td
      .col-md-4= f.text_field :student_search, size: 2, class: 'form-control', placeholder: (t 'student.attendance.student_id')
      .col-md-3= select_tag('q[weeklytimetable_detail_id_eq]', options_for_select([[(t 'student.attendance.all_class'),'']]+@exist_timetable_attendances), class: 'selectpicker',"data-width"=>"200px")
      .col-md-2=select_tag('q[intake_search]', options_for_select([[(t 'student.attendance.all_intakes'),'']]+@intake_list3), class: 'selectpicker', "data-width"=>"150px")
    %td= select_tag('q[attend_eq]',options_for_select([[(t 'student.attendance.all_records'),''],[(t 'student.attendance.attend2'),true],[(t 'student.attendance.absent'),false]]), class: 'selectpicker',"data-width"=>"150px")
    %td= select_tag('q[reason_eq]', options_for_select([[(t 'student.attendance.all_records'),'']]+DropDown::ABSENT_REASON), {class: 'selectpicker', "data-width"=>"150px"})
    %td= select_tag('q[action_eq]', options_for_select([[(t 'student.attendance.all_records'),'']]+DropDown::ABSENT_ACTION), {class: 'selectpicker', "data-width"=>"150px"})
    %td
      .input-group
        = select_tag('q[status_eq]',options_for_select([[t('student.attendance.all_records'), ''],[t('student.attendance.complete'), 'Yes'],[t('student.attendance.incomplete'),'No']]), {class: 'selectpicker', "data-width"=>"100px"} )  
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw
