- model_class = StudentAttendance
.page-header
  %h1=t 'student.attendance.title'

= render 'shared/flashes'

.row
  = form_for [:student,@student_attendance], html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    .row
      .col-md-offset-1
        / Nav tabs
        %ul.nav.nav-tabs
          %li.active= link_to (t 'student.attendance.attendance_details'),"#atttendance_details_edit", "data-toggle" => "tab"

        / display 
        .tab-content{style:"padding-top:1em"}
          #attendance_details_edit.tab-pane.active
            .col-md-10.col-md-offset-1
              %dl.dl-horizontal
                %dt=t 'student.attendance.student_id' 
                %dd= @student_attendance.student.matrix_name
              
                %dt=t 'student.attendance.class_schedule'
                %dd= @student_attendance.weeklytimetable_detail.day_time_slot
            .col-md-10
              %br
              .col-md-offset-2 
                .form-group
                  .col-sm-2.control-label
                    = f.label t 'student.attendance.attend'
                  .col-md-2
                    = f.check_box :attend 

    %br
    .row
      .form-group
        .col-md-1.col-md-offset-2
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), student_student_attendance_path(@student_attendance), :class => 'btn btn-default'
        .col-md-2
          .div{style: "margin-left:-40px;"}
            = f.submit t('update'), class: "btn btn-primary"
