- model_class = StudentAttendance
.page-header
  %h1= t 'student.attendance.multiple_edit'
= render 'shared/flashes'

- if @studentattendances 
  - index2 = 0
  .row
    = form_tag update_multiple_student_student_attendances_path, :id => "form1", :html => {:method => :put} do |f|
      = hidden_field_tag :redirect_location, student_student_attendances_path    
      .col-md-offset-1
        / Nav tabs
        %ul.nav.nav-tabs
          %li.active= link_to ((t 'student.attendance.attendance_details')),"#attendance_details", "data-toggle" => "tab"

        / display 
        .tab-content{style:"padding-top:1em"}
          .col-md-8.col-md-offset-1
            %dl.dl-horizontal
              %dt= t 'student.attendance.programme'
              %dd=@studentattendances[0].student.course.programme_list
              
              - lecturer_count=WeeklytimetableDetail.where(id: @studentattendances.map(&:weeklytimetable_details_id).uniq).pluck(:lecturer_id).uniq.count
              - if lecturer_count==1
                %dt=t('student.attendance.lecturer')
                %dd=@studentattendances[0].weeklytimetable_detail.weeklytimetable_lecturer.staff_with_rank
                
              %dt= t 'student.attendance.intake'
              %dd=@studentattendances[0].college.code=='amsas' ? "Siri "+@studentattendances[0].student.intakestudent.monthyear_intake.try(:strftime, '%m/%Y') : @studentattendances[0].student.intakestudent.monthyear_intake.try(:strftime, '%b %Y')
            %br
            
            %table.table.table-bordered.table-condensed
              - @studentattendances_group.each do |student, studentattendances|   
                /- @sas = studentattendances.sort_by{|u|u.weeklytimetable_detail.get_time_slot}
                - @sas = studentattendances.sort_by{|u|[u.weeklytimetable_detail.get_date_day_of_schedule, u.weeklytimetable_detail.get_time_slot]}
                - if index2 == 0
                  = render 'sa_schedule_legend'
                  - index2+=1  
          
            %font{style: "color: blue;"}=t('student.attendance.edit_absent_by_class') unless @time_slot_main_count==1
    
          #attendance_details.tab-pane.active
            .col-md-11
              %br
              = render :partial => 'form_multiple', :f=>f
    
      .col-md-offset-1  
        .form-group
          .col-sm-offset-3.col-sm-1
            = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), student_student_attendances_path, :class => 'btn btn-default'
          .col-sm-2
            = submit_tag t('update'), :name => :student_attendance_submit_button, class: "btn btn-primary"         
 
- else
  .row
    .col-md-12
      .alert.alert-info
        = t('actions.select_one')
  .row
    .col-md-offset-1  
      .form-group
        .col-sm-offset-3.col-sm-1
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), student_student_attendances_path, :class => 'btn btn-default'