- model_class = StudentAttendance
.page-header
  %h1=t 'student.attendance.title'

= render 'shared/flashes'

.row
  = form_for [:student,@student_attendance], html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    .row
      .col-md-offset-1
        / Nav tabs
        %ul.nav.nav-tabs
          %li.active= link_to (t 'student.attendance.attendance_details'),"#attendance_details_edit", "data-toggle" => "tab"

        / display 
        .tab-content{style:"padding-top:1em"}
          #attendance_details_edit.tab-pane.active
            .col-md-10
              %br
              .col-md-offset-2 
                .form-group
                  .col-sm-2.control-label
                    =f.label t 'student.attendance.student_id' ,for: :student
                  .col-md-6
                    = f.collection_select :student_id, @student_list, :id, :matrix_name, {:prompt =>t('select')},{class: 'selectpicker', "data-width"=>'460px'}
                .form-group
                  .col-sm-2.control-label
                    =f.label t 'student.attendance.class_schedule' ,for: :class_schedule
                  .col-md-7
                    = f.collection_select :weeklytimetable_details_id, @schedule_list, :id, :day_time_slot, {:prompt =>t('select')},{class: 'selectpicker', "data-width"=>'460px'}
                .form-group
                  .col-sm-2.control-label
                    = f.label t 'student.attendance.attend'
                  .col-md-2
                    = f.check_box :attend, :id => 'check_attend'
                    =t 'student.attendance.tick_attend'
                #absent_details{:style=>"display: block;"}
                  .form-group
                    .col-sm-2.control-label
                      = f.label t 'student.attendance.reason'
                    .col-md-2
                      = f.select :reason, DropDown::ABSENT_REASON, {:prompt=>t('select')}, {class: 'selectpicker', "data-width"=>"200px"}
                  .form-group
                    .col-sm-2.control-label
                      = f.label t 'student.attendance.action_taken'
                    .col-md-2
                      = f.select :action, DropDown::ABSENT_ACTION, {:prompt=>t('select')}, {class: 'selectpicker', "data-width"=>"200px"}
                  .form-group
                    .col-sm-2.control-label
                      = f.label t 'student.attendance.action_close'
                    .col-md-2
                      = f.select :status, [[t('student.attendance.complete'),'Yes'],[t('student.attendance.incomplete'),'No']], {:prompt=>t('select')}, {class: 'selectpicker', "data-width"=>"200px"}
                  .form-group
                    .col-sm-2.control-label
                      = f.label t 'student.attendance.remark'
                    .col-md-4
                      = f.text_field :remark, class: 'form-control'

    %br
    .row
      .form-group
        .col-md-1.col-md-offset-2
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), student_student_attendances_path, :class => 'btn btn-default'
        .col-md-2
          .div{style: "margin-left:-40px;"}
            = f.submit t('create'), class: "btn btn-primary"

:javascript

$(document).ready(function(){
  $("input[id='check_attend']").change(function() {  
    if($('#check_attend').is(':checked')) { 
      $("#absent_details").hide(""); 
    }else{
      $("#absent_details").show("highlight"); 
    }
  });
  $("input[id='check_attend']").each(function() {  
    if($('#check_attend').is(':checked')) { 
      $("#absent_details").hide("");
    }else{
    $("#absent_details").show("highlight"); 
    }
  });

});