- model_class = StudentAttendance
.page-header
  %h1= t 'student.attendance.multiple_new'
= render 'shared/flashes'

.row
  = form_tag create_multiple_student_student_attendances_path, :id => "form1", :html => {:method => :put} do |f|
    = hidden_field_tag :redirect_location, student_student_attendances_path
 
    - @student_attendances.each_with_index do |student_attendance, index| 
      = fields_for "student_attendances[#{index}]", student_attendance do |f| 
        - if index==0
          
          .col-md-offset-1
            / Nav tabs
            %ul.nav.nav-tabs
              %li.active= link_to ((t 'student.attendance.attendance_details')),"#attendance_details", "data-toggle" => "tab"

            / display 
            .tab-content{style:"padding-top:1em"}
              .col-md-8.col-md-offset-1
                %dl.dl-horizontal
                  %dt= t 'student.attendance.programme'
                  %dd{style: 'padding-left: 70px;'}=current_user.college.code=='amsas' ? @selected_class.weeklytimetable_subject.programme_coursetype_name : @selected_class.weeklytimetable_topic.programme_coursetype_name
                  
                  %dt= t 'student.attendance.class_schedule'
                  %dd{style: 'padding-left: 70px;'}=@selected_class.day_time_slot
                  
                  %dt= t 'training.weeklytimetable_detail.lecture_method'
                  %dd=(DropDown::CLASS_METHOD.find_all{|disp, value| value == @selected_class.lecture_method}).map {|disp, value| disp}.first
                  
                  %dt= t 'student.attendance.intake'
                  %dd
                    =intake_name=@iii
                    - if @student_intake.count==0
                      %font{:style=>"color: red;"}=(t 'student.attendance.student_not_exist')
                    - else
                      %font{:style=>"color: blue;"}=" ("+@student_intake.count.to_s+" "+t('student.attendance.student_id')+") "
              
              #attendance_details.tab-pane.active 
                .col-md-9.col-md-offset-1
                  
                  /display new form if attendance not created yet (within this intake only)
                  - if @student_list.count > 0 || (@student_list.count==0 && @student_ids_att_exist.count ==0 && @student_intake.count>0)
                    %BR
                    %table.table
                      %tr
                        %th{:style => "width: 50px;"} No
                        %th{:style => "width: 400px;"}= t 'student.attendance.student_id'
                        %th{colspan: "6"}= t 'student.attendance.title2' 
                      - @student_listing.each_with_index do |student, nos| 
                        = hidden_field "student_attendances[#{nos}]",:student_id, :value=>student.id 
                        = hidden_field "student_attendances[#{nos}]",:weeklytimetable_details_id, :value=> @classid 
                        = hidden_field "student_attendances[#{nos}]",:college_id, value: current_user.college_id
                        %tr
                          %td=nos+1
                          %td= student.matrix_name 
                          %td= check_box_tag "student_attendances[#{nos}][attend]", true, true, class: "check" 
                          
                          /By default display details for not attend, otherwise - refer EACH -> of attends[] is checked
                          %td{:style=>"padding-left: 15px; width: 80px;", :id => "span_select_#{nos}"}= t('select')+" :"
                          %td{:style=>"padding-left: 5px; width: 115px;", :id => "span_reason_#{nos}"}= select_tag("student_attendances[#{nos}][reason]", options_for_select([[(t 'student.attendance.reason'),'0']]+DropDown::ABSENT_REASON), {class: 'selectpicker', "data-width"=>"100px"})
                          %td{:style=>"padding-left: 5px; width: 165px; ", :id => "span_action_taken_#{nos}"}= select_tag("student_attendances[#{nos}][action]", options_for_select([[(t 'student.attendance.action_taken'),'0']]+DropDown::ABSENT_ACTION), {class: 'selectpicker', "data-width"=>"150px"})
                          %td{:style=>"padding-left: 5px; width: 165px; ", :id => "span_action_close_#{nos}"}=select_tag("student_attendances[#{nos}][status]", options_for_select([[(t 'student.attendance.action_close'),'0'],[(t 'student.attendance.complete'),'Yes'],[(t 'student.attendance.incomplete'),'No']]), {class: 'selectpicker', "data-width"=>"150px"})
                          %td{:style=>"padding-left: 5px; width: 100px; ", :id => "span_remark_#{nos}"}= text_field_tag "student_attendances[#{nos}][remark]", "",  :class => 'form-control'
                    
                  /display existing attendance, all (including those from other intake)
                  - if @student_ids_att_exist.count>0
                    %BR
                    %table.table.table-bordered
                      %tr
                        %th{:style => "width: 50px;"} No
                        %th{:style => "width: 400px;"}= t 'student.attendance.student_id'
                        %th= t 'student.attendance.title2'
                        %th= t 'student.attendance.other_intake'
                      - @student_att_exist.each_with_index do |student_a, nos| 
                        %tr
                          %td=nos+1
                          %td= student_a.student.matrix_name 
                          %td
                            - if student_a.attend==true
                              =t 'student.attendance.attend2' 
                            - elsif student_a.attend==false
                              =t 'student.attendance.absent'
                          %td
                            - if current_user.college.code=='amsas'
                              - @iii2=student_a.student.intake.siri_name
                            - else
                              - @iii2=student_a.student.intake.try(:strftime, '%b %Y')
                            - if @iii2!=intake_name
                              %font{:style=>"color: red;"}= @iii2
                              
                  /- if @student_ids_att_exist.count > @student_intake.count
                  /  =@student_ids_att_exist.count-@student_intake.count
            
                  /display message if student of selected intake exist and all attendance already created * student_list - exclude existing one
                  - if @student_list.count <= 0 && @student_ids_att_exist.count>0 
                    %BR
                    - if @student_intake.count!=0
                      = t('student.attendance.attendance_exist')
                    - elsif @student_intake.count==0
                      = t('student.attendance.attendance_exist_not_default_intake')
                  - if @student_intake.count == 0
                    %BR
                    %font{:style=>"color: red;"}
                      = t('student.attendance.no_student_available')
                  
                  - if @student_listing && @student_listing.count > 0
                    %table
                      %tr
                        %td{:style=> "width:200px; text-align: right; padding:5px;"}
                        %td{:style=>"padding:5px;"}= check_box_tag :check_all
                        %td{:style=>"padding:5px;"}= t('actions.check_all') 
                  %BR

    .col-md-offset-1  
      .form-group
        .col-sm-offset-3.col-sm-1
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), student_student_attendances_path, :class => 'btn btn-default'
        .col-sm-3
          - unless @student_list.count <= 0 && @student_ids_att_exist.count>0
            = submit_tag t('student.attendance.create_by_class'), :name => :new_submit, class: "btn btn-primary"

:javascript
$(document).ready(function(){
  var checkbox =$("input:checkbox");

  $("input[id='check_all']").change(function() {  
    if($('#check_all').is(':checked')) { 
      for (var j=0; j<checkbox.length-1; j++) {
        var cc = document.getElementById('student_attendances_'+j+'_attend')
        cc.checked = true;
        $('#span_select_'+j).hide();
        $('#span_reason_'+j).hide();
        $('#span_action_taken_'+j).hide();
        $('#span_action_close_'+j).hide();
        $('#span_remark_'+j).hide();
      }

    }else{
      for (var j=0; j<checkbox.length-1; j++) {
        var cc = document.getElementById('student_attendances_'+j+'_attend')
        cc.checked = false;
        $('#span_select_'+j).show();
        $('#span_reason_'+j).show();
        $('#span_action_taken_'+j).show();
        $('#span_action_close_'+j).show();
        $('#span_remark_'+j).show();
      }
    }
  });

  $("input[id='check_all']").each(function() {  
    for (var j=0; j<checkbox.length-1; j++) {
      var cc = document.getElementById('student_attendances_'+j+'_attend')
      cc.checked = false;
    }
  });
 
  $('.check').click(function(){
    for (var k=0; k<checkbox.length-1; k++){
      var dd = document.getElementById('student_attendances_'+k+'_attend');
      if (dd.checked==true)
      {
        $('#span_select_'+k).hide();
        $('#span_reason_'+k).hide();
        $('#span_action_taken_'+k).hide();
        $('#span_action_close_'+k).hide();
        $('#span_remark_'+k).hide();
      }
      else
      {
        $('#span_select_'+k).show();
        $('#span_reason_'+k).show();
        $('#span_action_taken_'+k).show();
        $('#span_action_close_'+k).show();
        $('#span_remark_'+k).show();
      }
    }
  });

});