- model_class = StudentAttendance
.page-header
  %h1= t 'student.attendance.multiple_new'
= render 'shared/flashes'

.row
  = form_tag create_multiple_student_student_attendances_path, :id => "form1", :html => {:method => :put} do |f|
    = hidden_field_tag :redirect_location, student_student_attendances_path
 
    - @student_attendances.each_with_index do |student_attendance, index| 
      = fields_for "student_attendances[#{index}]", student_attendance do |f| 
        - if index==0
          
          .col-md-offset-1
            / Nav tabs
            %ul.nav.nav-tabs
              %li.active= link_to ((t 'student.attendance.attendance_details')),"#attendance_details", "data-toggle" => "tab"

            / display 
            .tab-content{style:"padding-top:1em"}
              .col-md-8.col-md-offset-1
                %dl.dl-horizontal
                  %dt= t 'student.attendance.programme'
                  %dd=@selected_class.weeklytimetable_topic.programme_coursetype_name
                  
                  %dt= t 'student.attendance.class_schedule'
                  %dd=@selected_class.day_time_slot
                  
                  %dt= t 'training.weeklytimetable_detail.lecture_method'
                  %dd=(DropDown::CLASS_METHOD.find_all{|disp, value| value == @selected_class.lecture_method}).map {|disp, value| disp}.first
                  
                  %dt= t 'student.attendance.intake'
                  %dd
                    =intake_name=@iii.try(:strftime,'%b %Y')
                    - if @student_intake.count==0
                      %font{:style=>"color: red;"}
                        ="("+t('no3')+" "+t('student.attendance.student_id')+")"
                    - else
                      %font{:style=>"color: blue;"}
                        =" ("+@student_intake.count.to_s+" "+t('student.attendance.student_id')+") "
              
              #attendance_details.tab-pane.active 
                .col-md-8.col-md-offset-1
                  
                  /display new form if attendance not created yet (within this intake only)
                  - if @student_list.count > 0 || (@student_list.count==0 && @student_ids_att_exist.count ==0 && @student_intake.count>0)
                    %BR
                    %table.table.table-bordered
                      %tr
                        %th{:style => "width: 50px;"} No
                        %th{:style => "width: 400px;"}= t 'student.attendance.student_id'
                        %th= t 'student.attendance.title2' 
                      - @student_listing.each_with_index do |student, nos| 
                        = hidden_field "student_attendances[#{nos}]",:student_id, :size=>2, :value=>student.id 
                        = hidden_field "student_attendances[#{nos}]",:weeklytimetable_details_id, :size=>2, :value=> @classid 
                        %tr
                          %td=nos+1
                          %td= student.matrix_name 
                          %td= check_box_tag "student_attendances[#{nos}][attend]", true 
                    
                  /display existing attendance, all (including those from other intake)
                  - if @student_ids_att_exist.count>0
                    %BR
                    %table.table.table-bordered
                      %tr
                        %th{:style => "width: 50px;"} No
                        %th{:style => "width: 400px;"}= t 'student.attendance.student_id'
                        %th= t 'student.attendance.title2'
                        %th= t 'student.attendance.other_intake'
                      - @student_att_exist.each_with_index do |student_a, nos| 
                        %tr
                          %td=nos+1
                          %td= student_a.student.matrix_name 
                          %td
                            - if student_a.attend==true
                              =t 'student.attendance.attend2' 
                            - elsif student_a.attend==false
                              =t 'student.attendance.absent'
                          %td
                            - @iii2=student_a.student.intake.try(:strftime, '%b %Y')
                            - if @iii2!=intake_name
                              %font{:style=>"color: red;"}= @iii2
                              
                  /- if @student_ids_att_exist.count > @student_intake.count
                  /  =@student_ids_att_exist.count-@student_intake.count
            
                  /display message if student of selected intake exist and all attendance already created * student_list - exclude existing one
                  - if @student_list.count <= 0 && @student_ids_att_exist.count>0 
                    %BR
                    - if @student_intake.count!=0
                      = t('student.attendance.attendance_exist')
                    - elsif @student_intake.count==0
                      = t('student.attendance.attendance_exist_not_default_intake')
                  - if @student_intake.count == 0
                    %BR
                    %font{:style=>"color: red;"}
                      = t('student.attendance.no_student_available')
                  
                  - if @student_listing && @student_listing.count > 0
                    %table
                      %tr
                        %td{:style=> "width:200px; text-align: right; padding:5px;"}
                        %td{:style=>"padding:5px;"}= check_box_tag :check_all
                        %td{:style=>"padding:5px;"}= t('actions.check_all') 
                  %BR

    .col-md-offset-1  
      .form-group
        .col-sm-offset-3.col-sm-1
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), student_student_attendances_path, :class => 'btn btn-default'
        .col-sm-3
          - unless @student_list.count <= 0 && @student_ids_att_exist.count>0
            = submit_tag t('student.attendance.create_by_class'), :name => :new_submit, class: "btn btn-primary"

:javascript
$(document).ready(function(){
  var checkbox =$("input:checkbox");

  $("input[id='check_all']").change(function() {  
    if($('#check_all').is(':checked')) { 
      for (var j=0; j<checkbox.length; j++) {
        var cc = document.getElementById('student_attendances_'+j+'_attend')
        cc.checked = true;
      }

    }else{
      for (var j=0; j<checkbox.length; j++) {
        var cc = document.getElementById('student_attendances_'+j+'_attend')
        cc.checked = false;
      }
    }
  });

  $("input[id='check_all']").each(function() {  
    if($('#check_all').is(':checked')) { 
      for (var j=0; j<checkbox.length; j++) {
        var cc = document.getElementById('student_attendances_'+j+'_attend')
        cc.checked = true;
      }
    }else{
      for (var j=0; j<checkbox.length; j++) {
        var cc = document.getElementById('student_attendances_'+j+'_attend')
        cc.checked = false;
      }
    }
  });

});