yg amsas
- model_class = Exam
.col-md-11
  %hr  
  %table.table.table-bordered
    %head
      %tr
        %th &nbsp;
        %th=t('student.name')
        %th=t('student.students.matrixno')
        %th=t('student.icno')
        - prog_id=Intake.find(@examresult.intake_id).programme_id
        - @subjects=Programme.find(prog_id).descendants.where(course_type: 'Subject')
        - @students = @examresult.retrieve_student
        - @subject_credits=[]
        - for subject in @subjects
          %th.centre{width: '5%'}=h subject.code
        %th.centre Status
    %body
      
      /BELOW - will display fields successfully
      - if @students.count > 0 
        - 0.upto(@students.count-1).each do |no|
          %tr
            %td=no+1
            = hidden_field "examresult[resultlines_attributes][#{no}]", :id, :size =>8, :value=>@value_id
            = hidden_field "examresult[resultlines_attributes][#{no}]", :student_id, :size =>8, :value=>@students[no].id
            %td=@students[no].name
            %td=@students[no].matrixno
            %td=@students[no].icno  
            /= hidden_field "examresult[resultlines_attributes][#{no}]", :pngk, :size =>8, :value => cgpa
            %td display marks here
            %td
              /= hidden_field "examresult[resultlines_attributes][#{no}]", :status, :size =>8, :value => @value_status
              = select_tag "examresult[resultlines_attributes][#{no}][status]", options_for_select([[t('select'), '0']]+DropDown::RESULT_STATUS_CONTRA, @value_status) 

              