<p>Staff <b><%= @leaveforstaff.applicant.mykad_with_staff_name %></b> apply for leave.</p>

<p>Details for apply leave.</p>

<pre>Staff Name  : <%=h @leaveforstaff.applicant.mykad_with_staff_name %>
   Leave Type  : <%=h (DropDown::STAFFLEAVETYPE.find_all{|disp, value| value == @leaveforstaff.leavetype}).map {|disp, value| disp} [0] %>
   From        : <%=h @leaveforstaff.leavestartdate.try(:strftime, "%d %b %Y") %>
   To          : <%=h @leaveforstaff.show_to_day %>
   For         : <%=h @leaveforstaff.leave_for.to_s + (" ")+(t 'staff_leave.days') %>
   Reason      : <%=h @leaveforstaff.reason %>
   Note        : <%=h @leaveforstaff.notes %></pre>

<p>Click the link below to make decision.</p>

<p><%= @url%></p>