.col-md-offset-1
  .form-group
    %label.col-sm-2.control-label= f.label t 'staff.training.course.name', for: :name
    .col-md-3
      = f.text_field :name, class: 'form-control mandatory'
      
  .form-group
    %label.col-sm-2.control-label= f.label t 'staff.training.course.training_classification', for: :name
    .col-md-3
      = f.select :training_classification, DropDown::PROGRAMME_CLASSIFICATION, {:include_blank => t('select')}, class: 'selectpicker'
  
  .form-group.training_level
    %label.col-sm-2.control-label=f.label t 'staff.training.course.level', for: :level
    /.col-md-3
    /  /Peringkat
    /  %label.radio-inline
    /    =f.radio_button :level, 1 
    /  =t('staff.training.course.domestic')
    /  %label.radio-inline
    /    =f.radio_button :level, 2
    /  =t('staff.training.course.overseas')
    ///   
    .col-md-8
      .row
        .col-md-1=f.radio_button :level, 1 
        .col-md-2=t('staff.training.course.domestic')
        .col-md-1=f.radio_button :level, 2
        .col-md-2=t('staff.training.course.overseas')
    ///
  .form-group
    %label.col-sm-2.control-label=f.label t 'staff.training.course.course_type', for: :classification 
    .col-md-8
      .training{:style=>"display: none;"}
        /Latihan
        /%label.radio-inline
        /  = f.radio_button :course_type, 1 
        /=t('staff.training.course.course')
        /%label.radio-inline
        /  = f.radio_button :course_type, 2 
        /=t('staff.training.course.seminar')
        /%label.radio-inline
        /  = f.radio_button :course_type, 3
        /=t('staff.training.course.convention')
        /%label.radio-inline
        /  = f.radio_button :course_type, 4 
        /=t('staff.training.course.workshop')
        /%label.radio-inline
        /  = f.radio_button :course_type, 5 
        /=t('staff.training.course.forum')
        /%label.radio-inline
        /  = f.radio_button :course_type, 6
        /=t('staff.training.course.symposium')
        .row 
          .col-md-1= f.radio_button :course_type, 1 
          .col-md-1=t('staff.training.course.course')
        .row
          .col-md-1= f.radio_button :course_type, 2
          .col-md-1=t('staff.training.course.seminar')
        .row
          .col-md-1= f.radio_button :course_type, 3
          .col-md-1=t('staff.training.course.convention')
        .row
          .col-md-1= f.radio_button :course_type, 4
          .col-md-1=t('staff.training.course.workshop')
        .row
          .col-md-1= f.radio_button :course_type, 5
          .col-md-1=t('staff.training.course.forum')
        .row
          .col-md-1= f.radio_button :course_type, 6
          .col-md-3=t('staff.training.course.symposium')
          
      .confront{:style=>"display: none;"}
        /bersemuka
        %label.radio-inline
          = f.radio_button :course_type, 7
        =t('staff.training.course.learning_session')
        %br
        %label.radio-inline
          = f.radio_button :course_type, 8 
        =t('staff.training.course.monthly_assembly')
        %br
        %label.radio-inline
          = f.radio_button :course_type, 9 
        =t('staff.training.course.special_talk')
        %br
        %label.radio-inline
          = f.radio_button :course_type, 10
        =t('staff.training.course.celebration')
        %br
        %label.radio-inline
          = f.radio_button :course_type, 11
        =t('staff.training.course.presentation')
        %br
        %label.radio-inline
          = f.radio_button :course_type, 11
        =t('staff.training.course.speaker')
      .non_confront{:style=>"display: none;"}
        /tidak bersemuka
        %label.radio-inline
          = f.radio_button :course_type, 7
        =t('staff.training.course.job_visit')
        %br
        %label.radio-inline
          = f.radio_button :course_type, 8 
        =t('staff.training.course.on_job_training')
        %br
        %label.radio-inline
          = f.radio_button :course_type, 9 
        =t('staff.training.course.attachment_training')
        %br
        %label.radio-inline
          = f.radio_button :course_type, 10
        =t('staff.training.course.simulation')
        %br
        %label.radio-inline
          = f.radio_button :course_type, 11
        =t('staff.training.course.others')
      .self_training{:style=>"display: none;"}
        /pembelajaran kendiri
        %label.radio-inline
          = f.radio_button :course_type, 7
        =t('staff.training.course.epsa_portal')
        %br
        %label.radio-inline
          = f.radio_button :course_type, 8 
        =t('staff.training.course.e_learning_portal')
        %br
        %label.radio-inline
          = f.radio_button :course_type, 9 
        =t('staff.training.course.hr_knowledge_repo')
        %br
        %label.radio-inline
          = f.radio_button :course_type, 10
        =t('staff.training.course.book_reading')
        %br
        %label.radio-inline
          = f.radio_button :course_type, 11
        =t('staff.training.course.jurnal_reading')
        
  .form-group
    %label.col-sm-2.control-label= f.label t 'staff.training.course.provider', for: :provider
    .col-md-5
      = f.collection_select :provider_id, AddressBook.all, :id, :name, {:prompt => "Select" }, class: 'selectpicker'
      
  .form-group
    %label.col-sm-2.control-label= f.label t 'staff.training.course.duration', for: :provider
    .col-md-1
      = f.text_field :duration, class: 'form-control'
    .col-md-2
      = f.select :duration_type, DropDown::DURATION_TYPE, {prompt: "Select"}, class: 'selectpicker'
      
  .form-group
    %label.col-sm-2.control-label= f.label t 'staff.training.course.description', for: :name
    .col-md-6
      = f.text_area :description, class: 'form-control', rows: "6"
      
  .form-group
    %label.col-sm-2.control-label= f.label t 'staff.training.course.costs', for: :cost
    .col-md-3
      .input-group
        .input-group-addon $
        = f.text_field :cost, class: 'form-control'
        
:javascript
  $(document).ready(function(){
    $('#ptcourse_training_classification').change(function() {
      if($(this).val() == 1) {
        $('.training').show();
        $('.training_level').show();
        $('.confront').hide();
        $('.non_confront').hide();
        $('.self_training').hide();
      }else if ($(this).val() == 2) {
        $('.training').hide();
        $('.training_level').hide();
        $('.confront').show();
        $('.non_confront').hide();
        $('.self_training').hide();
      }else if ($(this).val() == 3) {
        $('.training').hide();
        $('.training_level').hide();
        $('.confront').hide();
        $('.non_confront').show();
        $('.self_training').hide();
      }else if ($(this).val() == 4) {
        $('.training').hide();
        $('.training_level').hide();
        $('.confront').hide();
        $('.non_confront').hide();
        $('.self_training').show();
      }else {
        $('.training').hide();
        $('.training_level').hide();
        $('.confront').hide();
        $('.non_confront').hide();
        $('.self_training').hide();
      }
    });
    $('#ptcourse_training_classification').each(function() {
      if($(this).val() == 1) {
        $('.training').show();
        $('.training_level').show();
        $('.confront').hide();
        $('.non_confront').hide();
        $('.self_training').hide();
      }else if ($(this).val() == 2) {
        $('.training').hide();
        $('.training_level').hide();
        $('.confront').show();
        $('.non_confront').hide();
        $('.self_training').hide();
      }else if ($(this).val() == 3) {
        $('.training').hide();
        $('.training_level').hide();
        $('.confront').hide();
        $('.non_confront').show();
        $('.self_training').hide();
      }else if ($(this).val() == 4) {
        $('.training').hide();
        $('.training_level').hide();
        $('.confront').hide();
        $('.non_confront').hide();
        $('.self_training').show();
      }else {
        $('.training').hide();
        $('.training_level').hide();
        $('.confront').hide();
        $('.non_confront').hide();
        $('.self_training').hide();
      }
    });
  });

