- model_class = Ptcourse
.page-header
  %h1= t('staff.training.course.title')

.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_staff_training_ptcourse_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
    %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#", class: 'bogus'
    
    
%table.table-striped.table-hover.ogma
  %thead
    %tr
      %th= t('staff.training.course.name')
      %th= t('staff.training.course.provider')
      %th= t('staff.training.course.duration')
      %th= t('staff.training.course.cost')
      %th= t('staff.training.course.description')
      %th= t('staff.training.course.approval')
    - @ptcourses.each do |course|
      %tbody
        %tr
          %td= link_to course.name, staff_training_ptcourse_path(course)
          %td= course.provider.try(:name)
          %td
            = number_with_precision(course.duration, precision: 0)
            = duration_type(course)
          %td.number= ringgols(course.cost)
          %td= truncate(course.description, :length => 80) {link_to '... [more]', staff_training_ptcourse_path(course)}
          %td= course.approved? ? "Approved" : ""
          
