- model_class = Location
.page-header
  %h1
    = t('location.damage.new')
    = @damage.location.combo_code

= render 'shared/flashes'

.row
  = form_for [:campus, @damage], :html => { :class => 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    = f.hidden_field :location_id, :value => @locationid
    = f.hidden_field :document_id, :value => 2
    .form-group
      %label.col-sm-2.control-label{:for => "Location"}= t 'location.title'
      .col-md-3
        %input#disabledInput.form-control{:disabled => "", :value => "#{@damage.location.combo_code}", :type => "text"}
      
    .form-group
      %label.col-sm-2.control-label{:for => "reported_on"}= t 'location.damage.reported_on'
      .col-md-2
        = f.text_field :reported_on, type: "text", :class => 'form-control date_picker_after_reverse', value: @damage.try(:reported_on).try(:strftime, '%d-%m-%Y')
    
    .form-group
      %label.col-sm-2.control-label{:for => "code"}= t 'location.damage.description'
      .col-md-6
        = f.text_field :description, class: 'form-control'
        
    .form-group
      %label.col-sm-2.control-label{:for => "code"}= t 'location.damage.match_asset'
      .col-md-6
        = f.collection_select :college_id, @damage.location.assets, :id, :code_asset, {:prompt=>((t 'select')+" "+(t 'asset.assetcode')+" - "+(t 'asset.name'))}, {class: 'selectpicker', "data-width"=>"380px" }
        
    .form-group
      .col-md-6.col-sm-offset-2
        .col-sm-2
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("back")), campus_location_path(@damage.location), class: "btn btn-default"
        .col-sm-3
          = f.submit t('create'), class: "btn btn-primary"

