- model_class = Postinfo
.page-header
  %h1= current_user.college.code=='amsas' ? t('staff.postinfos.title2') :  t('staff.postinfos.title')
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    - permitted_to? :create, :staff_postinfos do
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_staff_postinfo_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
    %li= link_to  (fa_icon "file-pdf-o", text: (t 'print')),  postinfo_list_staff_postinfos_path(params.merge(format: 'pdf' ))

.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th{width: '25%'}=sort_link(@search, :details, (t 'staff.postinfos.details'))
        %th{width: '45%'}=(t 'staff.postinfos.position')+", Unit"
        %th{width: '15%'}=sort_link(@search, :staffgrade_id, (t 'staff.postinfos.staffgrade_id'))
        %th{width: '10%'}=sort_link(@search, :post_count, (t 'staff.postinfos.post_count'))
        %th{width: '5%'}=t('actions.delete')
        
    %tbody
    = render "index_search"
    - @postinfos.sort_by{|x|[x.details_start, x.employgrade.gred_no]}.reverse.each do |postinfo|
      %tr
        %td=link_to postinfo.details, edit_staff_postinfo_path(postinfo)
        %td
          - plist=""
          - postinfo.positions.each {|post|plist+="<li>"+post.name_unit+"</li>"}
          =h postinfo.positions.blank? ? "" : "<ol>#{plist}</ol>".html_safe
        %td=h postinfo.employgrade.name 
        %td=h postinfo.post_count
        %td= postinfo.valid_for_removal==true ? (link_to content_tag(:i, "", class: "fa fa-trash-o"), staff_postinfo_path(postinfo), :method => 'delete',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }) : ""

  .right{style:"padding:0 30px; margin:0;"}= paginate @postinfos, :theme => 'twitter-bootstrap-3'