- model_class = Postinfo
.page-header
  %h1=current_user.college.code=='amsas' ?  (t 'staff.postinfos.new2') : (t 'staff.postinfos.new')
  
.row
  = form_for [:staff, @postinfo],  html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    .col-md-9.col-md-offset-3
      %br
      = render 'form', :f => f
      = f.hidden_field :college_id, value: current_user.college_id
      
      .col-md-8.col-md-offset-1
        .form-group
          .col-sm-offset-1.col-sm-2
            = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staff_postinfos_path, :class => 'btn btn-default'
          .col-sm-4
            = f.submit t('create'), class: "btn btn-primary" 
 
