.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label :hod_approved
    .col-md-1
      = f.check_box :hod_approved, :id => 'check_hod_accept'
    .col-md-2
      #span_hod_endorse{:style=>"display:none;"}
        = f.text_field :hod_approved_on, class: 'form-control date_picker'
  .form-group
    .col-sm-2.control-label
      = f.label :hod_rejected
    .col-md-1
      = f.check_box :hod_rejected, :id => 'check_hod_reject'
    .col-md-2
      #span_hod_endorse2{:style=>"display:none;"}
        = f.text_field :hod_rejected_on, class: 'form-control date_picker'  
        %br= f.text_area :reason, :col=>30, :rows=> 3, :placeholder => "State reason for rejection."