/- a_condition = (@weeklytimetable.id.nil? || @weeklytimetable.id.blank?) || (@weeklytimetable.prepared_by == @staffid && @weeklytimetable.is_submitted != true) || (@weeklytimetable.prepared_by == @current_user.userable_id && @weeklytimetable.hod_rejected? == true ) || (@is_admin==true && @weeklytimetable.is_submitted != true)
/- b_condition = (@weeklytimetable.is_submitted == true && @weeklytimetable.endorsed_by == @staffid) || (@is_admin==true && @weeklytimetable.is_submitted == true)
= f.hidden_field :college_id, value: current_user.college_id
.row
  .col-md-10.col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to ((t 'training.weeklytimetable.details')),"#weeklytimetable_details", "data-toggle" => "tab"
      %li= link_to ((t 'training.weeklytimetable.daily_details')), "#daily_details", "data-toggle" => "tab"
      - unless @weeklytimetable.id.nil? || @weeklytimetable.id.blank?
        %li= link_to ((t 'training.weeklytimetable.submission_approval')), "#submit_approve", "data-toggle" => "tab"

    .tab-content{style:"padding-top:1em"}
      #weeklytimetable_details.tab-pane.active
        %br
        - if @weeklytimetable.new_record?
          = render :partial => 'tab_weeklytimetable_details_edit', :locals => {:f => f}  
        - else
          =render :partial => 'show_main'   
      #daily_details.tab-pane
        %br
        - unless @weeklytimetable.is_submitted==true
          - unless @weeklytimetable.id.nil? || @weeklytimetable.id.blank?
            = render :partial => 'tab_daily_details_edit', :locals => {:f => f}
          - else
            = t 'training.weeklytimetable.activate_format'
          %BR
        - else
          = render :partial => 'tab_daily_details'
      #submit_approve.tab-pane
        %br
        /is_creator - previously saved (prepared_by)
        - if @is_coordinator || @is_admin || @is_creator
          = render :partial => 'submission', :locals => {:f => f}
        - else
          .col-md-8.col-md-offset-1
            = t('training.weeklytimetable.submission_by_coordinator')
            %br
          %BR
          %BR
          %BR
 