/@is_admin conditions ADDED
/- if (@weeklytimetable.prepared_by == User.current_user.staff_id && @weeklytimetable.is_submitted != true) || (@weeklytimetable.prepared_by == User.current_user.staff_id && @weeklytimetable.hod_rejected? == true )
- a_condition = (@weeklytimetable.id.nil? || @weeklytimetable.id.blank?) || (@weeklytimetable.prepared_by == current_user.staff_id && @weeklytimetable.is_submitted != true) || (@weeklytimetable.prepared_by == current_user.staff_id && @weeklytimetable.hod_rejected? == true ) || (@is_admin==true && @weeklytimetable.is_submitted != true)
/- if @weeklytimetable.is_submitted == true && @weeklytimetable.endorsed_by == User.current_user.staff_id 
- b_condition = (@weeklytimetable.is_submitted == true && @weeklytimetable.endorsed_by == current_user.staff_id) || (@is_admin==true && @weeklytimetable.is_submitted == true)

.row
  .col-md-10.col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to ((t 'training.weeklytimetable.details')),"#weeklytimetable_details", "data-toggle" => "tab"
      %li= link_to ((t 'training.weeklytimetable.daily_details')), "#daily_details", "data-toggle" => "tab"
      - unless @weeklytimetable.id.nil? || @weeklytimetable.id.blank?
        %li= link_to ((t 'training.weeklytimetable.submission_approval')), "#submit_approve", "data-toggle" => "tab"

    .tab-content{style:"padding-top:1em"}
      #weeklytimetable_details.tab-pane.active
        %br
        - if a_condition 
          = render :partial => 'tab_weeklytimetable_details_edit', :locals => {:f => f}  
        - if b_condition
          =render :partial => 'show_main'   
      #daily_details.tab-pane
        %br
        - if a_condition 
          - unless @weeklytimetable.id.nil? || @weeklytimetable.id.blank?
            = render :partial => 'tab_daily_details_edit', :locals => {:f => f}
          - else
            = t 'training.weeklytimetable.activate_format'
          %BR
        - if b_condition
          = render :partial => 'tab_daily_details'
      #submit_approve.tab-pane
        %br
        - if a_condition 
          = render :partial => 'submission', :locals => {:f => f}
        - if b_condition 
          =render :partial => 'approval', :locals => {:f => f} 
 