= search_form_for @search, url: training_weeklytimetables_path,  class: "form-inline" do |f|
  %tr.search_row.hidden
    %td= f.text_field :schedule_programme_name_cont, size: 2,  :class => "form-control"
    %td= f.text_field :schedule_intake_description_cont, size: 2,  :class => "form-control"
    %td= f.text_field :startdate_gteq, size: 2,  :class => "form-control"
    %td= f.text_field :enddate_gteq, size: 2,  :class => "form-control"
    %td= f.text_field :academic_semester_semester_cont, size: 2,  :class => "form-control"
    %td= f.text_field :schedule_creator_name_cont, size: 2, :class => "form-control"

    %td.input-group
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw