- if j.weeklytimetable_topic.ancestry_depth == 4 
  = j.weeklytimetable_topic.parent.parent.code
  %br= j.weeklytimetable_topic.parent.name
- else
  = j.weeklytimetable_topic.parent.code
  %br= j.weeklytimetable_topic.name
= j.weeklytimetable_location.try(:name)
= "(K)" if j.lecture_method == 1
= "(T)" if j.lecture_method == 2
= "(A)" if j.lecture_method == 3
%br
= j.weeklytimetable.schedule_programme.programme_list
= j.weeklytimetable.schedule_intake.description
%br= t('training.weeklytimetable.intake')+ " ("+ j.weeklytimetable.schedule_intake.name+")"