- model_class = Weeklytimetable
.col-md-8.col-md-offset-1
  %dl.dl-horizontal
    %dt= t 'training.weeklytimetable.programme_id' , :default => model_class.human_attribute_name(:programme_id) + ":"
    %dd= @weeklytimetable.schedule_programme.programme_list

    %dt= t 'training.weeklytimetable.intake_id' , :default => model_class.human_attribute_name(:intake_id) + ":"
    %dd= @weeklytimetable.schedule_intake.group_with_intake_name
		  
    %dt= t 'training.weeklytimetable.startdate' , :default => model_class.human_attribute_name(:startdate) + ":"
    %dd= @weeklytimetable.startdate.try(:strftime, "%d %b %Y") 

    %dt= t 'training.weeklytimetable.enddate' , :default => model_class.human_attribute_name(:enddate) + ":"
    %dd= @weeklytimetable.enddate.try(:strftime, "%d %b %Y") 

    %dt= t 'training.weeklytimetable.semester' , :default => model_class.human_attribute_name(:semester) + ":"
    %dd= @weeklytimetable.academic_semester.semester.split("/").join(" / ")

    %dt= t 'training.weeklytimetable.week' , :default => model_class.human_attribute_name(:week) + ":"
    %dd= @weeklytimetable.week.to_s+" / "+@weeklytimetable.academic_semester.total_week.to_s

    %dt= t 'training.weeklytimetable.prepared_by' , :default => model_class.human_attribute_name(:prepared_by) + ":"
    %dd= @weeklytimetable.college.code=="amsas" ? @weeklytimetable.schedule_creator.staff_with_rank : @weeklytimetable.schedule_creator.name

    %dt= t 'training.weeklytimetable.endorsed_by' , :default => model_class.human_attribute_name(:endorsed_by) + ":"
    %dd= @weeklytimetable.endorsed_by? ? @weeklytimetable.schedule_approver.name : "-"
	  
    %dt= t 'training.weeklytimetable.format1' , :default => model_class.human_attribute_name(:format1) + ":"
    %dd= @weeklytimetable.timetable_monthurs.name

    %dt= t 'training.weeklytimetable.format2' , :default => model_class.human_attribute_name(:format2) + ":"
    %dd= @weeklytimetable.timetable_friday.name
	
    %br	  
