=render "sstab_timeslot_edit", {:rowno=>rowno, :colno=>colno}

/topic (sem-subject-topic)
%font{:color => "green"}= t 'training.weeklytimetable_detail.topic'
%font{:color=>"blue"}*
=select_tag "weeklytimetable[weeklytimetable_details_attributes][#{@ind}][topic]",content_tag(:option,'select one',:value=>"0")+options_from_collection_for_select(@semester_subject_topic_list, :id,:semester_subject_topic, xx.topic)
/:prompt=>(t 'helpers.prompt.select_sem_subject_topic')

/lecturer_id
%font{:color => "green"}= t 'training.weeklytimetable_detail.lecturer_id'
%font{:color=>"blue"}*
=select_tag "weeklytimetable[weeklytimetable_details_attributes][#{@ind}][lecturer_id]", options_from_collection_for_select(Staff.joins(:positions).where('positions.name=?','Pengajar').sort_by(&:name), :id,:name, xx.lecturer_id), :prompt=>(t 'helpers.prompt.select_lecturer')
	
/location
%font{:color => "green"}= t 'training.weeklytimetable_detail.location'
/=select_tag "weeklytimetable[weeklytimetable_details_attributes][#{@ind}][location]", options_from_collection_for_select(Weeklytimetable.location_list.sort_by{|x|x.name}, :id, :name, xx.location), :prompt=>(t 'helpers.prompt.select_location')
=text_field_tag "weeklytimetable[weeklytimetable_details_attributes][#{@ind}][location_desc]"
	
/lecture method
%font{:color => "green"}= t 'training.weeklytimetable_detail.lecture_method'
%font{:color=>"blue"}*
= select_tag "weeklytimetable[weeklytimetable_details_attributes][#{@ind}][lecture_method]", options_for_select(DropDown::CLASS_METHOD,  xx.lecture_method), :prompt=> (t 'helpers.prompt.select_lecture_method')

- unless xx.id.nil?|| xx.id.blank?
  /destroy?
  %font{:color => "red"}=t 'training.weeklytimetable_detail.remove'
  = select_tag "weeklytimetable[weeklytimetable_details_attributes][#{@ind}][subject]", content_tag(:option,"#{t'helpers.prompt.maintain'}",:value=>'0')+options_for_select([["#{t'helpers.prompt.remove'}", '1']])

  /weeklytimetable_details ID
  =hidden_field_tag "weeklytimetable[weeklytimetable_details_attributes][#{@ind}][id]",xx.id
