.col-md-offset-1
  .form-group
    .col-sm-2.control-label
      = f.label :is_submitted
    .col-md-1
      = f.check_box :is_submitted, :id => 'check_submitted'
    .col-md-2
      #span_submitted{:style=>"display:none;"}
        = @weeklytimetable.is_submitted? ? @weeklytimetable.submitted_on.try(:strftime, "%d %b %Y") : Date.today.try(:strftime, "%d %b %Y")
        
  .form-group
    .col-sm-2.control-label
      %b= t 'training.weeklytimetable.hod'
    .col-md-4
      - if current_user.college.code=="amsas"
        = f.collection_select :endorsed_by, Staff.all.order('rank_id ASC, name ASC'), :id, :staff_with_rank, {:include_blank =>(t 'select')},{class: 'selectpicker mandatory', "data-width"=>'280px'}
      - else
        = f.collection_select :endorsed_by, Staff.where('id IN (?)', @weeklytimetable.hods).order('name ASC'), :id, :name, {:include_blank => (t 'helpers.prompt.select_hod')},{class: 'selectpicker', "data-width"=>'260px'}
