- model_class = Weeklytimetable
- break_format1 = @weeklytimetable.timetable_monthurs.timetable_periods.pluck(:is_break)
- break_format2 = @weeklytimetable.timetable_friday.timetable_periods.pluck(:is_break)
.col-md-8.col-md-offset-1
  %br

  .showform
    %table#subtable
      - daycount=4	
      - weekdays_end = @weeklytimetable.startdate.to_date+4.days
      /Header(row) : sequence & time period (Sunday - Wednesday)  
      - @weeklytimetable.timetable_monthurs.timetable_periods.in_groups_of(@count1, false) do |row_things|
        %tr
          %th{:align => "center", :style=>"border:1px solid black; text-align:center; padding:4px; vertical-align:middle;background-color:#FEE;font-size:12px;"} 
            &nbsp;
          - for periods in row_things
            %th{:align => "center", :style=>"border:1px solid black; text-align:center; padding:4px;background-color:#FEE;font-size:12px;"} 
              =periods.sequence
              %BR= periods.timing

        /Day & date(column) : (Sunday - Wednesday) - row starts after timeslot header
        - 1.upto(daycount) do |row|
          %tr
            %td{:align =>"center", :style=> "border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"} 
              =(@weeklytimetable.startdate+(row-1)).try(:strftime, "%A")
              %br=(@weeklytimetable.startdate+(row-1)).try(:strftime, "%d-%b-%Y")

            /Content - (Sunday - Wednesday)
            /span BREAK fields & display CLASSES fields accordingly - col (column) starts after day/date column
            - 1.upto(@count1) do |col|
              - if break_format1[col-1]==true && row==1
                %td{:align =>"center", :rowspan=>"#{daycount}", :style=>"border:1px solid black; text-align:center; padding:4px;vertical-align:middle;font-size:12px;" } 
                  =t 'training.weeklytimetable.break'
              - elsif break_format1[col-1]==true && row!=1
                /do-not-remove : should not have any field or value
              - elsif break_format1[col-1]==false
                %td{:align=>"center", :style=>"border:1px solid black; text-align:center; padding:4px;font-size:12px;"}
                  - @weeklytimetable.weeklytimetable_details.each do |xx|
                    - if xx.day2 == row && xx.time_slot2 == col 
                      %b= render 'subtab_class_details', {:xx=>xx}

      /Header(row) : sequence & time period THURSDAY (fixed - 5 time slot)-duration for 2 last columns = 2 hours each, span ABOVE 2 columns
      - break_tospan=4	
      - classes_tospan=[5,7]
      - span_count="2"
      - @weeklytimetable.timetable_friday.timetable_periods.in_groups_of(@count2, false) do |row_things|
        %tr
          %th{:align=>"center", :style=>"border:1px solid black; text-align:center; padding:4px; vertical-align:middle;background-color:#FEE;font-size:12px;"}
            &nbsp;
            - colfriday=1
          - for periods in row_things
            - if colfriday == break_tospan || colfriday == classes_tospan[0] || colfriday == classes_tospan[1] 
              %th{:colspan=>span_count, :style=>"border:1px solid black; text-align:center; padding:4px;background-color:#FEE;font-size:12px;"}
                %b=periods.sequence
                %BR= periods.timing
            - else
              %th{:align=>"center", :style=>"border:1px solid black; text-align:center; padding:4px;background-color:#FEE;font-size:12px;"} 
                =periods.sequence
                %BR= periods.timing
            -colfriday+=1

        /Content for THURSDAY-(start) - COMPULSORY long break on the fouth time slot
        %tr
          %td{:align=>"center", :style=>"border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"}
            =weekdays_end.try(:strftime, "%A")
            %br=weekdays_end.try(:strftime, "%d-%b-%Y")
            - 1.upto(@count2) do |col2|
              - if break_format2[col2-1]==true
                /BREAK columns
                - if col2 == break_tospan
                  %td{:colspan=>span_count, :align=>"center", :style=>"border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"}
                    =t 'training.weeklytimetable.break'
                - else
                  %td{:align=>"center", :style=>"border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"}
                    =t 'training.weeklytimetable.break' 
              - elsif break_format2[col2-1]==false 
                /Non-break columns
                - if classes_tospan.include?(col2)
                  %td{:colspan=>span_count, :align=>"center", :style=>"border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"}
                    - @weeklytimetable.weeklytimetable_details.each do |xx|
                      /- if xx.is_friday == true && xx.time_slot == @count1+col2 
                      - if xx.is_friday == true && xx.time_slot == col2
                        %b= render 'subtab_class_details', {:xx=>xx}               
                - else
                  %td{:align=>"center", :style=>"border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"}
                    - @weeklytimetable.weeklytimetable_details.each do |xx|
                      /- if xx.is_friday == true && xx.time_slot == @count1+col2
                      - if xx.is_friday == true && xx.time_slot == col2
                        %b= render 'subtab_class_details', {:xx=>xx}

      /Header(row) : sequence & time period (ADDITIONAL - Weekends classes)
      - weekdays_end = @weeklytimetable.startdate.to_date+4.days
      - daycount2 = (@weeklytimetable.enddate.to_date - weekdays_end).to_i 
      - if daycount2 > 0
        - @weeklytimetable.timetable_monthurs.timetable_periods.in_groups_of(@count1, false) do |row_things|
          %tr
            %th{:align => "center", :style=>"border:1px solid black; text-align:center; padding:4px; vertical-align:middle;background-color:#FEE;font-size:12px;"} 
              &nbsp;
            - for periods in row_things
              %th{:align => "center", :style=>"border:1px solid black; text-align:center; padding:4px;background-color:#FEE;font-size:12px;"} 
                =periods.sequence
                %BR= periods.timing
				
          /Day & date(column) : (ADDITIONAL - Weekends classes) - row starts after timeslot header
          - 1.upto(daycount2) do |row2|
            %tr
              %td{:align =>"center", :style=> "border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"} 
                =(weekdays_end+row2).try(:strftime, "%A")
                %br=(weekdays_end+row2).try(:strftime, "%d-%b-%Y")

              /Content - (ADDITIONAL - Weekends classes)
              /span BREAK fields & display CLASSES fields accordingly - col (column) starts after day/date column
              - 1.upto(@count1) do |col2|
                - if break_format1[col2-1]==true && row2==1
                  %td{:align =>"center", :rowspan=>"#{daycount2}", :style=>"border:1px solid black; text-align:center; padding:4px;vertical-align:middle;font-size:12px;" } 
                    =t 'training.weeklytimetable.break'
                - elsif break_format1[col2-1]==true && row2!=1
                  /do-not-remove : should not have any field or value
                - elsif break_format1[col2-1]==false
                  %td{:align=>"center", :style=>"border:1px solid black; text-align:center; padding:4px;font-size:12px;"}
                    - @weeklytimetable.weeklytimetable_details.each do |xx|
                      - if xx.day2 == row2+daycount+1 && xx.time_slot2 == col2 
                        %b= render 'subtab_class_details', {:xx=>xx}    