- model_class = Weeklytimetable
.page-header
  %h1=t 'training.weeklytimetable.personalize_timetable'
  
= render 'shared/flashes'
.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      /%li.active= link_to ((t 'training.weeklytimetable.details')),"#weeklytimetable_details", "data-toggle" => "tab"
      %li.active= link_to ((t 'training.weeklytimetable.daily_details')), "#daily_details", "data-toggle" => "tab"
    .tab-content{style:"padding-top:1em"}
      .col-md-8.col-md-offset-1
        %dl.dl-horizontal
          - detailing=[]
          - detailing_monthurs=[]
          - detailing_friday=[]
          - @personalize.each do |sdate, items2|       
            - items2.each_with_index do |item, index|
              - if sdate.to_s == @selected_date.to_s
                - if index == 0 
                  %dt= t 'training.weeklytimetable.lecturer_name'
                  %dd=h @test_lecturer.userable.name
      
                  %dt= t 'training.weeklytimetable.startdate' , :default => model_class.human_attribute_name(:startdate) + ":"
                  %dd=h item.try(:startdate).try(:strftime, "%d %b %Y") 
		  
                  %dt= t 'training.weeklytimetable.enddate' , :default => model_class.human_attribute_name(:enddate) + ":"
                  %dd=h item.try(:enddate).try(:strftime, "%d %b %Y")  

                - item.weeklytimetable_details.each do |h| 
                  - if h.lecturer_id == @test_lecturer.userable_id
                    - detailing << h 
                    - if h.day2 != 0 
                      - detailing_monthurs<<h
                    - elsif h.is_friday == true 
                      - detailing_friday<<h 

        %br
        .showform
          %table#subtable

            - j = detailing[0]
            - @column_count_friday=j.weeklytimetable.timetable_friday.timetable_periods.count
            - @column_count_monthur=j.weeklytimetable.timetable_monthurs.timetable_periods.count
            - break_format1 = j.weeklytimetable.timetable_monthurs.timetable_periods.pluck(:is_break)
            - @break_format2 = j.weeklytimetable.timetable_friday.timetable_periods.pluck(:is_break)
            /- @column_count=j.weeklytimetable.timetable_monthurs.timetable_periods.count	
            - daycount=4
            - weekdays_end = j.weeklytimetable.startdate.to_date+4.days

            /Header(row) : sequence & time period (Sunday - Wednesday)
            - detailing.each_with_index do |j,index|
              - if index==0
                - j.weeklytimetable.timetable_monthurs.timetable_periods.in_groups_of(@column_count_monthur, false) do |row_things|
                  %tr
                    %th{:align => "center", :style=>"width:200px; border:1px solid black; text-align:center; padding:4px; vertical-align:middle;background-color:#FEE;font-size:12px;"} 
                      &nbsp;
                    - for periods in row_things
                      - if periods.day_name == 1
                        %th{:align => "center", :style=>"width:200px; border:1px solid black; text-align:center; padding:4px;background-color:#FEE;font-size:12px;"} 
                          =periods.sequence
                          %BR= periods.timing

            /Content - (Sunday - Wednesday)
            - 1.upto(daycount) do |row|
              %tr
                - detailing.each_with_index do |j,index|
                  - if index==0
                    %td{:align =>"center", :style=> "border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"} 
                      =(j.weeklytimetable.startdate+(row-1)).try(:strftime, "%A")
                      %br=(j.weeklytimetable.startdate+(row-1)).try(:strftime, "%d-%b-%Y")
					
                  /span BREAK fields & display CLASSES fields accordingly-(start)
                - 1.upto(@column_count_monthur) do |col|
                  - if break_format1[col-1]==true && row==1
                    /- if (count3==2 && count2==1) || (count3==5 && count2==1)
                    %td{:align =>"center", :rowspan=>"#{daycount}", :style=>"border:1px solid black; text-align:center; padding:4px;vertical-align:middle;font-size:12px;" } 
                      =t 'training.weeklytimetable.break'
                  - elsif break_format1[col-1]==true && row!=1
                    /- elsif count3==5&&count2!=1
                    /do-not-remove should not have any field or value
                  - elsif break_format1[col-1]==false
                    /- elsif count3!=2
                    %td{:align=>"center", :style=>"border:1px solid black; text-align:center; padding:4px;font-size:12px;"}	
                      - nos=0
                      /26Jul2013-toavoid multiple display:5 times of the same value in 1 field
                      - detailing_monthurs.each do |j|
                        - if j.day2 == row  && j.time_slot2 == col 
                          /&& j.weeklytimetable.hod_approved == true
                          - if nos==0
                            - nos+=1
                            /26Jul2013-toavoid multiple display:5times of the same value in 1 field
                            - if j.weeklytimetable.hod_approved == true 
                              %font{color: "#000000"}
                                %b= render 'p_class_details', {:j=>j}
                            - else 
                              %font{color: "grey"}
                                %b= render 'p_class_details', {:j=>j}
                          

            /Header for Thursday-(start)
            - break_tospan=4	
            /- classes_tospan=[5,7]
            /refer to screen capture -- PDF limitation-schedule.png - temp solution- as below:
            - if @count1==9 && @count2==7 #excluding 1st column 
              - classes_tospan=[5]
            - else
              - classes_tospan=[5,7]
            - span_count="2"
            - detailing.each_with_index do |j,index|
              - if index==0
                - j.weeklytimetable.timetable_friday.timetable_periods.in_groups_of(@column_count_friday, false) do |row_things|
                  %tr
                    %th{:align => "center", :style=>"border:1px solid black; text-align:center; padding:4px; vertical-align:middle;background-color:#FEE;font-size:12px;"} 
                      &nbsp;

                    - colfriday=1
                    - for periods in row_things
                      - if periods.day_name == 2
                        - if colfriday == 4 || colfriday == 5 || classes_tospan.include?(colfriday)
                          %th{:align => "center", :colspan=>"2", :style=>"border:1px solid black; text-align:center; padding:4px;background-color:#FEE;font-size:12px;"} 
                            =periods.sequence
                            %BR= periods.timing
                        - else
                          %th{:align => "center", :style=>"border:1px solid black; text-align:center; padding:4px;background-color:#FEE;font-size:12px;"} 
                            =periods.sequence
                            %BR= periods.timing
                        - colfriday+=1
 
            /Content for Thursday-(start)
            %tr
              - detailing.each_with_index do |j,index|
                - if index==0
                  %td{:align=>"center", :style=>"border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"}
                    =weekdays_end.try(:strftime, "%A")
                    %br=weekdays_end.try(:strftime, "%d-%b-%Y")

		
              - 1.upto(@column_count_friday) do |col2|
                - if @break_format2[col2-1]==true
                  /BREAK COLUMNS
                  - if col2 == break_tospan
                    /- if count4 == 4
                    %td{:colspan=>span_count, :align=>"center", :style=>"border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"}
                      =t 'training.weeklytimetable.break'
                  - else
                    /- elsif count4 == 2
                    %td{:align=>"center", :style=>"border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"}
                      =t 'training.weeklytimetable.break'
                - elsif @break_format2[col2-1]==false 
                  /NON BREAK COLUMNS
                  - if classes_tospan.include?(col2)
                    /- elsif count4 == 5 
                    %td{:colspan=>span_count, :align=>"center", :style=>"border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"}
                      - nos=0
                      - detailing_friday.each do |j|
                        - if j.is_friday == true && j.time_slot == col2 
                          /&& j.weeklytimetable.hod_approved == true
                          - if nos==0
                            - nos+=1
                            - if j.weeklytimetable.hod_approved == true 
                              %font{color: "#000000"}
                                %b= render 'p_class_details', {:j=>j}
                            - else
                              %font{color: "grey"}
                                %b= render 'p_class_details', {:j=>j}

                  - else
                    %td{:align=>"center", :style=>"border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"}
                      - nos=0
                      - detailing_friday.each do |j|
                        - if j.is_friday == true  && j.time_slot == col2 
                          /&& j.weeklytimetable.hod_approved == true
                          - if nos==0
                            - nos+=1
                            - if j.weeklytimetable.hod_approved == true 
                              %font{color: "#000000"}
                                %b= render 'p_class_details', {:j=>j}
                            - else
                              %font{color: "grey"}
                                %b= render 'p_class_details', {:j=>j}
                              
            /Header(row) : sequence & time period (ADDITIONAL - Weekends classes)
            - weekdays_end = j.weeklytimetable.startdate.to_date+4.days
            - daycount2 = (j.weeklytimetable.enddate.to_date - weekdays_end).to_i 
            - if daycount2 > 0
			
              - detailing.each_with_index do |j,index|
                - if index==0
                  - j.weeklytimetable.timetable_monthurs.timetable_periods.in_groups_of(@column_count_monthur, false) do |row_things|
                    %tr
                      %th{:align => "center", :style=>"border:1px solid black; text-align:center; padding:4px; vertical-align:middle;background-color:#FEE;font-size:12px;"} 
                        &nbsp;
                      - for periods in row_things
                        - if periods.day_name == 1
                          %th{:align => "center", :style=>"border:1px solid black; text-align:center; padding:4px;background-color:#FEE;font-size:12px;"} 
                            =periods.sequence
                            %BR= periods.timing			

				
              /Day & date(column) : (ADDITIONAL - Weekends classes) - row starts after timeslot header
              - 1.upto(daycount2) do |row2|
                %tr
                  %td{:align =>"center", :style=> "border:1px solid black;text-align:center; padding:4px; vertical-align:middle;font-size:12px;"} 
                    =(weekdays_end+row2).try(:strftime, "%A")
                    %br=(weekdays_end+row2).try(:strftime, "%d-%b-%Y")

                  /Content - (ADDITIONAL - Weekends classes)
                  /span BREAK fields & display CLASSES fields accordingly - col (column) starts after day/date column
                  - 1.upto(@column_count_monthur) do |col2|
                    - if break_format1[col2-1]==true && row2==1
                      %td{:align =>"center", :rowspan=>"#{daycount2}", :style=>"border:1px solid black; text-align:center; padding:4px;vertical-align:middle;font-size:12px;" } 
                        =t 'training.weeklytimetable.break'
                    - elsif break_format1[col2-1]==true && row2!=1
                      /do-not-remove : should not have any field or value
                    - elsif break_format1[col2-1]==false
                      %td{:align=>"center", :style=>"border:1px solid black; text-align:center; padding:4px;font-size:12px;"}
                        - nos=0
                        /- j.weeklytimetable.weeklytimetable_details.each do |j2|
                        - detailing_monthurs.each do |j2|
                          - if j2.day2 == row2+daycount+1 && j2.time_slot2 == col2 
                            /&& j.weeklytimetable.hod_approved == true					  
                            - if nos==0
                              - nos+=1
                              - if j.weeklytimetable.hod_approved == true 
                                %font{color: "#000000"}
                                  %b= render 'p_class_details', {:j=>j}
                              - else
                                %font{color: "grey"}
                                  %b= render 'p_class_details', {:j=>j2}   		
                              
.row
  .col-md-4.col-md-offset-3
    %hr
    .form-actions
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), personalize_index_training_weeklytimetables_path, :class => 'btn btn-default'
      = link_to content_tag(:i, "", class: "fa fa-file-pdf-o"), personalizetimetable_training_weeklytimetable_path(@selected_date, format: "pdf"), class: "btn btn-default", "data-toggle" => "tooltip", title: "Personalize Timetable"
