- model_class = Weeklytimetable
.page-header
  %h1=t 'training.weeklytimetable.title'
  
= render 'shared/flashes'
- @count1=@weeklytimetable.timetable_monthurs.timetable_periods.count
- @count2=@weeklytimetable.timetable_friday.timetable_periods.count 
.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to ((t 'training.weeklytimetable.details')),"#weeklytimetable_details", "data-toggle" => "tab"
      %li= link_to ((t 'training.weeklytimetable.daily_details')), "#daily_details", "data-toggle" => "tab"
    .tab-content{style:"padding-top:1em"}
      .col-md-8.col-md-offset-1
        %dl.dl-horizontal
          %dt= t 'training.weeklytimetable.programme_id' , :default => model_class.human_attribute_name(:programme_id) + ":"
          %dd= @weeklytimetable.schedule_programme.programme_list
      
          %dt= t 'training.weeklytimetable.intake_id' , :default => model_class.human_attribute_name(:intake_id) + ":"
          %dd= @weeklytimetable.schedule_intake.group_with_intake_name
		  
          %dt= t 'training.weeklytimetable.startdate' , :default => model_class.human_attribute_name(:startdate) + ":"
          %dd= @weeklytimetable.startdate.try(:strftime, "%d %b %Y") 

          %dt= t 'training.weeklytimetable.enddate' , :default => model_class.human_attribute_name(:enddate) + ":"
          %dd= @weeklytimetable.enddate.try(:strftime, "%d %b %Y") 

          %dt= t 'training.weeklytimetable.semester' , :default => model_class.human_attribute_name(:semester) + ":"
          %dd= @weeklytimetable.academic_semester.semester.split("/").join(" / ")

          %dt= t 'training.weeklytimetable.week' , :default => model_class.human_attribute_name(:week) + ":"
          %dd= @weeklytimetable.week.to_s+" / "+@weeklytimetable.academic_semester.total_week.to_s

          %dt= t 'training.weeklytimetable.prepared_by' , :default => model_class.human_attribute_name(:prepared_by) + ":"
          %dd= @weeklytimetable.schedule_creator.name

          %dt= t 'training.weeklytimetable.endorsed_by' , :default => model_class.human_attribute_name(:endorsed_by) + ":"
          %dd= @weeklytimetable.endorsed_by? ? @weeklytimetable.schedule_approver.name : "-"
		  
      #weeklytimetable_details.tab-pane.active
        = render 'tab_timetable_period'
      #daily_details.tab-pane
        = render 'tab_daily_details'

.row
  .col-md-4.col-md-offset-3
    %hr
    .form-actions
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), training_weeklytimetables_path, :class => 'btn btn-default'

      - if (@weeklytimetable.is_submitted != true && @weeklytimetable.prepared_by == current_user.staff_id) || (@weeklytimetable.prepared_by == current_user.staff_id && @weeklytimetable.hod_rejected? == true && @weeklytimetable.is_submitted==nil)
        /- if (@weeklytimetable.is_submitted != true && @weeklytimetable.prepared_by == User.current_user.staff_id) || (@weeklytimetable.prepared_by == User.current_user.staff_id && @weeklytimetable.hod_rejected? == true && weeklytimetable.is_submitted==nil) 
        = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), edit_training_weeklytimetable_path(@weeklytimetable),  :class => 'btn btn-primary'        
        
      - elsif (@weeklytimetable.is_submitted == true && @weeklytimetable.endorsed_by == current_user.staff_id && @weeklytimetable.hod_approved!= true) 
        /- elsif (weeklytimetable.is_submitted == true && weeklytimetable.endorsed_by == User.current_user.staff_id && weeklytimetable.hod_approved!= true) 
        = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.approve")), edit_training_weeklytimetable_path(@weeklytimetable),  :class => 'btn btn-primary' 
		
      - elsif (@is_admin==true) 
        = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit_admin")), edit_training_weeklytimetable_path(@weeklytimetable),  :class => 'btn btn-primary' 

      = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
        training_weeklytimetable_path(@weeklytimetable),                                                                                                    |
        :method => 'delete',                                                                                                           |
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
        :class => 'btn btn-danger'