.col-md-8.col-md-offset-1
  %dl.dl-horizontal 
    %dt= t 'student.leaveforstudent.address'
    %dd=h @leaveforstudent.address

    %dt= t 'student.leaveforstudent.telno'
    %dd=h @leaveforstudent.telno 
    
    %dt= t 'student.leaveforstudent.leave_startdate'
    %dd=h @leaveforstudent.leave_startdate.strftime("%a, %d %b %Y")
    
    %dt=t 'student.leaveforstudent.leave_enddate'  
    %dd=h @leaveforstudent.leave_enddate.strftime("%a, %d %b %Y")
	
    %dt= t 'student.leaveforstudent.submit_approval'
    %dd=h @leaveforstudent.studentsubmit? ? (t 'submitted') : (t 'not_submitted')
    
    - if @leaveforstudent.student.kins.count>0
      - @leaveforstudent.student.kins.each do |x|
        %hr
          %dt= t 'student.students.name'
          %dd= x.name
      
          %dt=  t 'student.students.kintype_id'
          %dd= x.display_ktype
      
          %dt= t 'student.students.stelno' 
          %dd= x.phone
    - else
      %BR
      = t('student.leaveforstudent.has_no_kin')
      &nbsp;
      %b= link_to t('student.leaveforstudent.update_kin'), edit_student_path(@leaveforstudent.student_id)