.col-md-offset-2   
  %dl.dl-horizontal 
    %dt= t 'student.leaveforstudent.student_id'
    %dd=h @leaveforstudent.student_id.blank? ? "No Student" : @leaveforstudent.student.formatted_mykad_and_student_name
	
    %dt= t 'student.leaveforstudent.leavetype'
    %dd=h @leaveforstudent.leavetype
	
    %dt= t 'student.leaveforstudent.requestdate'
    %dd=h @leaveforstudent.requestdate.strftime("%d - %b - %Y")
	
    %dt= t 'student.leaveforstudent.reason'
    %dd=h  @leaveforstudent.reason
	
    %dt= t 'student.leaveforstudent.address'
    %dd=h @leaveforstudent.address

    %dt= t 'student.leaveforstudent.telno'
    %dd=h @leaveforstudent.telno 
    
    - @leaveforstudent.student.kins.each do |x|
      %dt= t 'student.leaveforstudent.guardian_parents_name'
      %dd= x.name
      %dt= t 'student.leaveforstudent.guardian_parents_phone'
      %dd= x.phone
      %dt= t 'student.leaveforstudent.relationship'
      %dd= x.display_ktype
    
    %dt= t 'student.leaveforstudent.leave_startdate'
    %dd=h @leaveforstudent.leave_startdate.strftime("%a, %d %b")
    
    %dt=t 'student.leaveforstudent.leave_enddate'  
    %dd=h @leaveforstudent.leave_enddate.strftime("%a, %d %b %Y")
	
    %dt= t 'student.leaveforstudent.submit_approval'
    %dd=h @leaveforstudent.studentsubmit? ? (t 'submitted') : (t 'not_submitted')
    
.row
  .col-md-4.col-md-offset-2
    %hr
    .form-actions
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), student_leaveforstudents_path, :class => 'btn btn-default'
      = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), edit_student_leaveforstudent_path(@leaveforstudent), :class => 'btn btn-primary'
      = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('helpers.links.destroy'), |
        student_leaveforstudent_path(@leaveforstudent),                                                                                                    |
        :method => 'delete',                                                                                                           |
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
        :class => 'btn btn-danger'
        

  
    
 

