.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label t 'student.leaveforstudent.approve_student_leave'
    .col-md-7
      .form-inline
        .form-group
          = t 'student.leaveforstudent.approve'
          = f.radio_button :approved, true
        .form-group
          = t 'student.leaveforstudent.not_approve'
          = f.radio_button :approved, false

  .form-group
    .col-sm-2.control-label
      = f.label t 'student.leaveforstudent.approved_by'
    .col-md-4
      = f.collection_select :staff_id, Staff.where('id IN(?)', Position.where(id: [2,55]).pluck(:staff_id)).order(name: :asc), :id,  :staff_name_with_position, {:include_blank => t('helpers.prompt.select_staff')}, {class: 'selectpicker', "data-width"=>"auto"}

  .form-group
    .col-sm-2.control-label
      = f.label t 'student.leaveforstudent.approvedate'
    .col-md-3
      = f.text_field :approvedate, class: 'date_picker_reverse form-control', value: @leaveforstudent.approvedate.try(:strftime, '%d-%m-%Y')
