- model_class = Leaveforstudent
.page-header
  %h1= t('student.leaveforstudent.list')
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_student_leaveforstudent_path
  %ul.nav.navbar-nav.navbar-right
    %li= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
    %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"
  
.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th= sort_link(@search, :student_name, (t 'student.leaveforstudent.student_id'))
        %th= sort_link(@search, :student_course_name, (t 'student.students.course_id'))
        %th= sort_link(@search, :student_intake, (t 'student.students.intake_id'))
        %th= sort_link(@search, :leavetype, (t 'student.leaveforstudent.leavetype'))
        %th= sort_link(@search, :requestdate, (t 'student.leaveforstudent.request_date'))
        %th= sort_link(@search, :leave_startdate, (t 'student.leaveforstudent.leaves_date'))
        %th= sort_link(@search, :studentsubmit, (t 'student.leaveforstudent.studentsubmit'))
        %th= sort_link(@search, :staff_name, (t 'student.leaveforstudent.coordinator'))
        %th= sort_link(@search, :approved, (t 'student.leaveforstudent.approved'))
        %th= sort_link(@search, :second_approver_name, (t 'student.leaveforstudent.warden'))
        %th= sort_link(@search, :approved2, (t 'student.leaveforstudent.approved'))
    %tbody
    = render "index_search"
    - @leaveforstudent.each do |leaveforstudent|
      %tr
        %td= link_to leaveforstudent.student_details, student_leaveforstudent_path(leaveforstudent)
        %td=h leaveforstudent.student.course.name
        %td=h leaveforstudent.student.intake.try(:strftime, '%b %Y')
        %td=h ((DropDown::STUDENTLEAVETYPE.find_all{|disp, value| value ==leaveforstudent.leavetype }).map {|disp, value| disp}).first
        %td=h leaveforstudent.requestdate.try(:strftime, '%d %b %Y')
        %td=h leaveforstudent.leave_startdate.try(:strftime, '%d %b %Y')+" - "+ leaveforstudent.leave_enddate.try(:strftime, '%d %b %Y')
        %td=h leaveforstudent.studentsubmit? ? image_tag("tick.png") : image_tag("cross.png") 
        %td=h leaveforstudent.staff_id? ? leaveforstudent.approver_details : ""
        %td
          - unless leaveforstudent.leave_startdate < Date.tomorrow && leaveforstudent.approved==nil 
            =h leaveforstudent.approved? ? image_tag("tick.png") : image_tag("cross.png")
          - else
            %font{:color =>"red"}=t('leaveforstudent.expired')
        %td=h leaveforstudent.staff_id2? ? leaveforstudent.approver_details2 : ""
        %td
          - unless leaveforstudent.leave_startdate < Date.tomorrow && leaveforstudent.approved2==nil 
            =h leaveforstudent.approved2? ? image_tag("tick.png") : image_tag("cross.png")
          - else
            %font{:color=>"red"}=t('leaveforstudent.expired')

        
