- model_class = Leaveforstudent
.page-header
  %h1= t('student.leaveforstudent.list')
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_student_leaveforstudent_path
  %ul.nav.navbar-nav.navbar-right
    %li= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "load_search_bar"
    %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"
	
.search{style: "display:none;"}
  //= render "index_search"
  
.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th=t 'student.leaveforstudent.student_id'
        %th=t 'student.leaveforstudent.leavetype'
        %th=t 'student.leaveforstudent.requestdate'
        %th=t 'student.leaveforstudent.leave_startdate'
        %th=t 'student.leaveforstudent.studentsubmit'
        %th=t 'student.leaveforstudent.approved'
        %th=t 'student.leaveforstudent.staff_id'
		
    %tbody
    - @leaveforstudent.each do |leaveforstudent|
      %tr
        %td= link_to leaveforstudent.student_details, student_leaveforstudent_path(leaveforstudent)
        %td= leaveforstudent.leavetype
        %td= leaveforstudent.requestdate
        %td= leaveforstudent.leave_startdate
        %td= leaveforstudent.studentsubmit? ? "Submitted" : ""
        %td= leaveforstudent.approved? ? "Approved" : ""
        %td= leaveforstudent.staff_id? ? leaveforstudent.approver_details : ""
