%ul.nav.nav-pills.nav-stacked{role: "tablist"}
 - if leave_notifications > 0
  %li= link_to content_tag(:span, "#{leave_notifications}", class: "badge") + "  Leave application for approval", staff_leaveforstaffs_path
 - if my_leave_approvals.size > 0
  - counter = 0
  - my_leave_approvals.each do |leave|
   %li= link_to "Your leave request for #{leave[1]} has been approved", staff_leaveforstaff_path("#{leave[0]}")
 - if skts_endorse_ready > 0
  %li= link_to content_tag(:span, "#{skts_endorse_ready}", class: "badge") + " Staff SKT ready for endorsement", staff_staff_appraisals_path
 - if skt_review_ready > 0
  %li= link_to content_tag(:span, "#{skt_review_ready}", class: "badge") + " Staff SKT ready for Annual Review", staff_staff_appraisals_path
 - if appraisal_requests > 0
  %li= link_to content_tag(:span, "#{appraisal_requests}", class: "badge") + " Staff appraisal for processing", staff_staff_appraisals_path
 - if late_require_approval > 0
  %li= link_to content_tag(:span, "#{late_require_approval}", class: "badge") + " Late/early attendance for approval", attendance_manager_path
 - if late_need_a_reason > 0
  %li= link_to content_tag(:span, "#{late_need_a_reason}", class: "badge") + " Late/early attendance require reason submission", attendance_manager_path
 - if travel_request_needs_approval > 0
  %li= link_to content_tag(:span, "#{travel_request_needs_approval}", class: "badge") + " Travel request that requires your approval", staff_travel_requests_path
 - if my_leave_approvals.size > 0
  - counter = 0
  - your_travel_approved.each do |travel|
   %li= link_to "Your travel request for #{travel[1].strftime("%b-%d")} has been approved", staff_travel_request_path("#{travel[0]}")

 - permitted_to? :manage, :asset_defects do
  - if asset_with_defects > 0
   %li= link_to content_tag(:span, "#{asset_with_defects}", class: "badge") + "  Defect reports require processing", asset_defects_path
  - if defect_actions_for_approval > 0
   %li= link_to content_tag(:span, "#{defect_actions_for_approval}", class: "badge") + " Defect reports for decision", asset_defects_path

 - if current_user.roles.pluck(:id).include?(7) || current_user.roles.pluck(:id).include?(14) || current_user.roles.pluck(:id).include?(2) 
  - if staff_notifications_of_student_leave > 0
   %li= link_to content_tag(:span, "#{staff_notifications_of_student_leave}", class: "badge") + " Student leaves require approval", student_leaveforstudents_path
   
 #25Oct2016
 - if ks_student_discipline > 0
  %li=link_to content_tag(:span, "#{ks_student_discipline}", class: "badge") + (t 'notifications.discipline_process'), student_student_discipline_cases_path
  
 - if tphep_mentor_counselor_student_discipline > 0
  %li=link_to content_tag(:span, "#{tphep_mentor_counselor_student_discipline}", class: "badge") + (t 'notifications.discipline_action'), student_student_discipline_cases_path
  
 - if comandant_student_discipline > 0
  %li=link_to content_tag(:span, "#{comandant_student_discipline}", class: "badge") + (t 'notications.discipline_action'), student_student_discipline_cases_path
  
 #27Oct2016
 - if cc1staff_document > 0
  %li=link_to content_tag(:span, "#{cc1staff_document}", class: "badge") + (t 'notifications.document_forwarded'), documents_path
  
 - if recipient_document > 0
  %li=link_to content_tag(:span, "#{recipient_document}", class: "badge") + (t 'notifications.document_action'), documents_path

 #28Oct2016
 - if checker_instructor_appraisal > 0
  %li=link_to content_tag(:span, "#{checker_instructor_appraisal}", class: "badge") + (t 'notifications.instructor_appraisal_check'), staff_instructor_appraisals_path  

 - if owner_instructor_appraisal > 0
  %li=link_to content_tag(:span, "#{owner_instructor_appraisal}", class: "badge") + (t 'notifications.instructor_appraisal_checked'), staff_instructor_appraisals_path  
  
 #30Oct2016
 - if approver_booking_facility > 0
  %li=link_to content_tag(:span, "#{approver_booking_facility}", class: "badge") + (t 'notifications.booking_facility_approval'), campus_bookingfacilities_path  
 
 - if officer_booking_facility > 0
  %li=link_to content_tag(:span, "#{officer_booking_facility}", class: "badge") + (t 'notifications.booking_facility_process'), campus_bookingfacilities_path
  
 - if applicant_booking_facility > 0
  %li=link_to content_tag(:span, "#{applicant_booking_facility}", class: "badge") + (t 'notifications.booking_facility_approved'), campus_bookingfacilities_path
  
 #31Oct2016
 - if librarian_staff_late_library_books > 0
  %li=link_to content_tag(:span, "#{librarian_staff_late_library_books}", class: "badge") + (t 'notifications.late_book_staff'), library_librarytransactions_path
  
 - if librarian_student_late_library_books > 0
  %li=link_to content_tag(:span, "#{librarian_student_late_library_books}", class: "badge") + (t 'notifications.late_book_student'), library_librarytransactions_path
  
 - if borrower_staff_late_library_books > 0
  %li=link_to content_tag(:span, "#{borrower_staff_late_library_books}", class: "badge") +((t 'notifications.late_return_book')+ "<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+(t 'notifications.check_email')).html_safe, "#"
  
 #1Nov2016
 - if tenancy_admin_staff_late_keys_return > 0
  %li=link_to content_tag(:span, "#{tenancy_admin_staff_late_keys_return}", class: "badge") +(t 'notifications.late_return_keys_staff'), index_staff_student_tenants_path

 - if tenancy_admin_student_late_keys_return > 0
  %li=link_to content_tag(:span, "#{tenancy_admin_student_late_keys_return}", class: "badge") +(t 'notifications.late_return_keys_student'), student_tenants_path

 - if tenant_staff_late_keys_return > 0
  %li=link_to content_tag(:span, "#{tenant_staff_late_keys_return}", class: "badge") +(t 'notifications.late_return_keys_staff') +"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(#{Tenant.where(staff_id: current_staff_id).last.location.combo_code})".html_safe, "#"

 - if approver_weeklytimetable > 0
  %li=link_to content_tag(:span, "#{approver_weeklytimetable}", class: "badge") +(t 'notifications.approver_weeklytimetable'), training_weeklytimetables_path
  
 - if creator_approved_weeklytimetable > 0
  %li=link_to content_tag(:span, "#{creator_approved_weeklytimetable}", class: "badge") +(t 'notifications.creator_approved_weeklytimetable'), training_weeklytimetables_path

 - if creator_rejected_weeklytimetable > 0
  %li=link_to content_tag(:span, "#{creator_rejected_weeklytimetable}", class: "badge") +(t 'notifications.creator_rejected_weeklytimetable'), training_weeklytimetables_path
  
 #3Nov2016
 - if lecturer_approved_personalize_weeklytimetable > 0
  %li=link_to content_tag(:span, "#{lecturer_approved_personalize_weeklytimetable}", class: "badge") +(t 'notifications.lecturer_approved_personalize'), personalize_index_training_weeklytimetables_path
  
 #4Nov2016
 - if lecturer_rejected_lesson_plan > 0
  %li=link_to content_tag(:span, "#{lecturer_rejected_lesson_plan}", class: "badge") +(t 'notifications.lecturer_rejected_lesson_plan'), training_lesson_plans_path
  
 - if endorser_lesson_plan > 0
  %li=link_to content_tag(:span, "#{endorser_lesson_plan}", class: "badge") +(t 'notifications.endorser_lesson_plan'), training_lesson_plans_path
  
 #8Nov2016
 - if lecturer_approved_lesson_plan > 0
  %li=link_to content_tag(:span, "#{lecturer_approved_lesson_plan}", class: "badge") +(t 'notifications.lecturer_approved_lesson_plan'), training_lesson_plans_path

 - if endorser_lesson_report > 0
  %li=link_to content_tag(:span, "#{endorser_lesson_report}", class: "badge") +(t 'notifications.endorser_lesson_report'), training_lesson_plans_path
  
 - if lecturer_approved_lesson_report > 0
  %li=link_to content_tag(:span, "#{lecturer_approved_lesson_report}", class: "badge") +(t 'notifications.lecturer_approved_lesson_report'), training_lesson_plans_path
  
 #12Nov2016
 - if editors_submitted_examquestion > 0
  %li=link_to content_tag(:span, "#{editors_submitted_examquestion}", class: "badge") +(t 'notifications.editors_submitted_examquestion'), exam_examquestions_path
  
 - if approver_submitted_examquestion > 0
  %li=link_to content_tag(:span, "#{approver_submitted_examquestion}", class: "badge") +(t 'notifications.approver_submitted_examquestion'), exam_examquestions_path
  
 - if editors_rejected_examquestion > 0
  %li=link_to content_tag(:span, "#{editors_rejected_examquestion}", class: "badge") +(t 'notifications.editors_rejected_examquestion'), exam_examquestions_path
  
 #14Nov2016
 - if editors_pending_submission_for_approval > 0
  %li=link_to content_tag(:span, "#{editors_pending_submission_for_approval}", class: "badge") +(t 'notifications.editors_pending_submission_for_approval'), exam_examquestions_path