.page-header

- if user_signed_in?
 .row
  - staffexist = Staff.where(coemail: current_user.email)
  - studentexist = Student.where(semail: current_user.email)
  - if studentexist.first.nil?
   - existing = staffexist
  - elsif staffexist.first.nil?
   - existing = studentexist
  - if current_user.userable_id.nil?
   - if existing.count > 0
    .alert.alert-info
     Your login email matches the following account :
     %strong #{existing.first.name}
     Click
     = link_to 'here', link_user_path(current_user)
     to link these accounts
   - else
    .alert.alert-info
     Warning: Your user account is currently not associated with any staff or student record. Please contact your ICMS system administrator. Below are a list of people authorised to do so:
     %ul
      %li Pn Maslinda binti Wahab (Unit : Teknologi Maklumat)
      %li Pn Nor Hairun Nisa binti Mohamad Ali (Unit : Teknologi Maklumat)

.row
 .col-md-3
  .row
   .panel.panel-danger
    .panel-heading Notifications
    .panel-body.notifications{style: "padding:0;"}
     = render 'notifications'

  .row{:style => "background-color:#D0E8F5;"}
   = render 'bulletin'

 .col-md-6
  .panel.panel-warning
   .panel-heading Day Calendar
   .panel-body{:style => "min-height:150px;"}
    Calendar Goes Here <BR>
    - @bulletins.each do |bulletin|
     = bulletin.content




 .col-md-3.centre
  .panel.panel-info
   .panel-heading Events
   .panel-body
    We'll put events stuff here
