.page-header

- if user_signed_in?
 = render 'shared/flashes'
 .row
  - staffexist = Staff.where(coemail: current_user.email)
  - studentexist = Student.where(semail: current_user.email)
  - if studentexist.first.nil?
   - existing = staffexist
  - elsif staffexist.first.nil?
   - existing = studentexist
  - if current_user.userable_id.nil?
   - if existing.count > 0
    .alert.alert-info
     =(t 'dashboard.email_matches')+" : "
     %strong #{existing.first.name}
     Click
     = link_to (t 'dashboard.here'), link_user_path(current_user)
     =t('dashboard.link_account')
   - else
    .alert.alert-info
     =t('dashboard.warning')
     %ul
      /%li Pn Maslinda binti Wahab (Unit : Teknologi Maklumat)
      %li Pn Beby Rossdianty binti Ramli (Unit : Teknologi Maklumat)

.row
 .col-md-3
  .row
   .panel.panel-danger
    .panel-heading=(t 'dashboard.notifications')
    .panel-body.notifications{style: "padding:0;"}
     - if is_staff?
      = render 'staff_notifications'
     - if !is_staff?
      = render 'student_notifications'

  .row{:style => "background-color:#D0E8F5;"}
   = render 'bulletin'

 .col-md-6
  .panel.panel-primary
   .panel-heading=t('dashboard.day_calendar')
   .panel-body{:style => "min-height:150px;"}
    Calendar Goes Here <BR>
    - @bulletins.each do |bulletin|
     = bulletin.content


 .col-md-3
  .row
   .panel.panel-warning
    .panel-heading=t('dashboard.messages')
    .panel-body
     - if mailbox.inbox.count == 0
      /We'll put messages here
      =(t 'dashboard.message_you_have')
      %b 0 
      =t('dashboard.message_incoming')
     - else
      =(t 'dashboard.message_you_have')
      %b=unread_messages_count.to_s+' / '+mailbox.inbox.count.to_s
      =t('dashboard.unread_messages')
      /mailbox refers to Mailbox::Conversation
      .small
       %ul
        - count=0
        - for conversation in mailbox.inbox.order(created_at: :desc)
         - count+=1
         - if count < 6
          %li
           =conversation.created_at.strftime('%d %b %Y')+", "
           %b=conversation.originator.userable.name
           = link_to ("- "+(t 'view')), conversation_path(conversation) 
  = render "dash_events"
