- provide(:title, (t 'equery.list'))
.page-header
  %h1=t ('equery.list')
  
.tab-content
  .col-md-7.col-md-offset-2
    #home.tab-pane.fade.in.active
      %table.table-striped.table-hover.ogma
        %thead
          %tr
            %th{width: '10%'} No
            %th{width: '70%'}=t 'equery.reports'
            %th{width: '20%'}=t 'equery.advance_search' 
        %body
          - no=0
          - if @query_module=='1'
            %tr
              %td.group{colspan: 3}= (t 'equery.module')+" : "+(t 'staff.title')
            - permitted_to? :create, :equery_report_staffsearch2s do
              %tr
                %td.centre=no+=1
                %td= link_to (t "position.index"), staff_positions_path
                %td.centre= link_to (fa_icon "search"), new_equery_report_staffsearch2_path
            - permitted_to? :create, :equery_report_staffattendancesearches do
              %tr
                %td.centre=no+=1
                %td
                  = (link_to t('staff_attendance.status_pcard'), '/attendance/status')
                  |
                  = link_to t('staff_attendance.report'), attendance_report_staff_staff_attendances_path
                %td.centre= link_to (fa_icon "search"), new_equery_report_staffattendancesearch_path
                /%td.centre= link_to (fa_icon "search"), "#", class: "bogus"
            - permitted_to? :create, :equery_report_ptdosearches do
              %tr
                %td.centre=no+=1
                %td= link_to (t 'staff.training.application_status.viewsummary'), show_total_days_staff_training_ptdos_path(:id=>current_user.userable_id)
                %td.centre= link_to (fa_icon "search"), new_equery_report_ptdosearch_path
                
          - elsif @query_module=='7'
            %tr
              %td.group{colspan: 3}= (t 'equery.module')+" : "+(t 'library.title')
            %tr
              %td.centre=no+=1 
              %td= link_to (t 'library.book.list'), library_books_path
              %td.centre= link_to (fa_icon "search"), new_equery_report_booksearch_path(searchbooktype: 1)

            - permitted_to? :create, :equery_report_librarytransactionsearches do
              /booksearches part
              %tr
                %td.centre=no+=1
                %td= link_to (t 'library.book.stock_listing'), stock_listing_library_books_path(params.merge(format: 'pdf'))
                %td.centre= link_to (fa_icon "search"), new_equery_report_booksearch_path(searchbooktype: 2)
              %tr
                %td.centre=no+=1 
                %td= link_to (t 'library.book.book_summary'), book_summary_library_books_path(params.merge(format: 'pdf'))
                %td.centre= link_to (fa_icon "search"), new_equery_report_booksearch_path(searchbooktype: 3)
              /librarytransactionsearches part
              %tr
                %td.centre=no+=1
                %td= link_to (t "library.transaction.analysis_statistic"), analysis_statistic_library_librarytransactions_path
                %td.centre= link_to (fa_icon "search"), new_equery_report_librarytransactionsearch_path

          - elsif @query_module=='8'
            %tr
              %td.centre=no+=1
              %td= link_to (t 'repositories.list'), repositories_path
              %td.centre= link_to (fa_icon "search"), new_equery_report_repositorysearch_path(searchrepotype: '1')
            %tr
              %td.centre=no+=1
              %td= link_to (t 'repositories.list2'), index2_repositories_path
              %td.centre= link_to (fa_icon "search"), new_equery_report_repositorysearch_path(searchrepotype: '2')