- provide(:title, (t 'equery.list'))
.page-header
  %h1=t ('equery.list')
  
.tab-content
  .col-md-7.col-md-offset-2
    #home.tab-pane.fade.in.active
      %table.table-striped.table-hover.ogma
        %thead
          %tr
            %th{width: '10%'} No
            %th{width: '70%'}=t 'equery.reports'
            %th{width: '20%'}=t 'equery.advance_search' 
        %body
          - no=0
          - if @query_module=='1'
            %tr
              %td.group{colspan: 3}= (t 'equery.module')+" : "+(t 'staff.title')
            - permitted_to? :create, :equery_report_staffsearch2s do
              %tr
                %td.centre=no+=1
                %td= link_to (t "position.index"), staff_positions_path
                %td.centre= link_to (fa_icon "search"), new_equery_report_staffsearch2_path
            - permitted_to? :create, :equery_report_staffattendancesearches do
              %tr
                %td.centre=no+=1
                %td
                  = (link_to t('staff_attendance.status_pcard'), '/attendance/status')
                  |
                  = link_to t('staff_attendance.report'), attendance_report_staff_staff_attendances_path
                %td.centre= link_to (fa_icon "search"), new_equery_report_staffattendancesearch_path
                /%td.centre= link_to (fa_icon "search"), "#", class: "bogus"
            - permitted_to? :create, :equery_report_ptdosearches do
              %tr
                %td.centre=no+=1
                %td= link_to (t 'staff.training.application_status.viewsummary'), show_total_days_staff_training_ptdos_path(:id=>current_user.userable_id)
                %td.centre= link_to (fa_icon "search"), new_equery_report_ptdosearch_path
          
          - elsif @query_module=='2'
            - permitted_to? :read, :stationerysearches do 
              %tr
                %td.group{colspan: 3}= (t 'equery.module')+" : "+(t 'asset.title')
              %tr
                %td.centre=no+=1
                %td= link_to (t "stationery.title_menu"), asset_stationeries_path
                %td.centre= link_to (fa_icon "search"), new_equery_report_stationerysearch_path(searchstationerytype: 1)

            /////////////////////
            - permitted_to? :read, :assetsearches do
              - unless permitted_to? :read, :stationerysearches
                %tr
                  %td.group{colspan: 3}= (t 'equery.module')+" : "+(t 'asset.title')
              %tr
                %td.centre=no+=1
                %td= link_to "KEW.PA-2 (Daftar Harta Modal) / KEW.PA-3 (Daftar Inventori)", asset_assets_path
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 1)
              /%tr
              /  %td.centre=no+=1
              /  %td= link_to "KEW.PA-3 (Daftar Inventori)", asset_assets_path
              /  %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 1)
              %tr
                %td.centre=no+=1
                %td 
                  KEW.PA-4 (Senarai Daftar Harta Modal)
                  %br
                  - yeartab=[]
                  - for x in Asset.hm.map{|d| d.assetcode.split("/")[4]}
                    - if x.size==2
                      - yeartab << "20"+x
                    - else
                      - yeartab << x
                  |
                  - yeartab.uniq.sort.each do |ytab|
                    = link_to "#{ytab} | ", kewpa4_asset_assets_path(format: "pdf", search_year: ytab)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 2)
              %tr
                %td.centre=no+=1
                %td
                  KEW.PA-5 (Senarai Daftar Inventori)
                  %br
                  - yeartab=[]
                  - for x in Asset.inv.map{|d| d.assetcode.split("/")[4]}
                    - if x.size==2
                      - yeartab << "20"+x
                    - else
                      - yeartab << x
                  |
                  - yeartab.uniq.sort.each do |ytab|
                    = link_to "#{ytab} | ", kewpa5_asset_assets_path(format: "pdf", search_year: ytab)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 3)
              %tr
                %td.centre=no+=1
                %td KEW.PA-6 (Daftar Pergerakan Harta Modal dan Inventori)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 4)
              %tr
                %td.centre=no+=1
                %td KEW.PA-7 (Senarai Aset Alih Kerajaan (mengikut lokasi))
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 5)
              %tr
                %td.centre=no+=1
                %td 
                  KEW.PA-8 (Laporan Tahunan Harta Modal Dan Inventori Bagi Tahun .........)
                  %br
                  - yeartab=[]
                  /=Asset.where.not(purchaseprice: nil).where.not(receiveddate: nil).map{|d|d.receiveddate.strftime('%Y-%m-%d')}
                  - for x in Asset.where.not(purchaseprice: nil).where.not(receiveddate: nil).map{|d|d.receiveddate.strftime('%Y-%m-%d').split("-")[0]}
                    - if x.size==2
                      - yeartab << "20"+x
                    - else
                      - yeartab << x
                  |
                  - yeartab.uniq.sort.each do |ytab|
                    = link_to "#{ytab} | ", kewpa8_asset_assets_path(format: "pdf", search_year: ytab)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 6)
              %tr
                %td.centre=no+=1
                %td KEW.PA-9 (Borang Aduan Kerosakan Aset Alih Kerajaan)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 7)
              %tr
                %td.centre=no+=1
                %td KEW.PA-13 (Senarai Aset Alih Kerajaan yang Memerlukan Penyelenggaraan)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 8)
              %tr
                %td.centre=no+=1
                %td KEW.PA-14 (Daftar Penyelenggaraan Harta Modal)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 9)
              %tr
                %td.centre=no+=1
                %td KEW.PA-16 (Perakuan Pelupusan (PEP) Aset Alih Kerajaan)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 10)
              %tr
                %td.centre=no+=1
                %td KEW.PA-17 (Laporan Lembaga Pemeriksa Aset Alih Kerajaan)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 11)
              %tr
                %td.centre=no+=1
                %td KEW.PA-18 (Sijil Penyaksian Pemusnahan Aset Alih Kerajaan)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 12)
              %tr
                %td.centre=no+=1
                %td KEW.PA-19 (Sijil Pelupusan Pemusnahan Aset Alih Kerajaan)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 13)
              %tr
                %td.centre=no+=1
                %td KEW.PA-20 (Laporan Tahunan Pemusnahan Aset Alih Kerajaan)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 14)
              %tr
                %td.centre=no+=1
                %td KEW.PA-28 (Laporan Awal Kehilangan Aset Alih Kerajaan)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 15)
              %tr
                %td.centre=no+=1
                %td KEW.PA-30 (Laporan Akhir Kehilangan Aset Alih Kerajaan)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 16)
              %tr
                %td.centre=no+=1
                %td KEW.PA-31 (Sijil Hapus Kira Aset Alih Kerajaan)
                %td.centre= link_to (fa_icon "search"), new_equery_report_assetsearch_path(searchtype: 17)
                
            /////////////////////
            
          - elsif @query_module=='3'
            %tr
              %td.group{colspan: 3}= (t 'equery.module')+" : "+(t 'document.title')
            %tr
              %td.centre=no+=1 
              %td= link_to (t 'document.title'), documents_path
              %td.centre= link_to (fa_icon "search"), new_equery_report_documentsearch_path(searchdoctype: 1)
              
          
          - elsif @query_module=='4'
            - permitted_to? :read, :students do
              %tr
                %td.group{colspan: 3}= (t 'equery.module')+" : "+(t 'student.title')
            - permitted_to? :create, :equery_report_studentsearches do
              %tr
                %td=no+=1 
                %td= link_to (t 'student.students.title'), students_path
                %td.centre= link_to (fa_icon "search"), new_equery_report_studentsearch_path(searchstudenttype: 1)
            - permitted_to? :read, :equery_report_studentattendancesearches do
              %tr
                %td=no+=1
                %td= link_to (t 'student.attendance.title'), student_student_attendances_path
                %td.centre= link_to (fa_icon "search"), new_equery_report_studentattendancesearch_path(searchstudentattendancetype: 1)
            - permitted_to? :read, :equery_report_studentdisciplinesearches do
              %tr
                %td=no+=1
                %td= link_to (t 'student.discipline.title')+" ("+(t 'student.discipline.counselor_feedback')+")", student_student_discipline_cases_path
                %td.centre= link_to (fa_icon "search"), new_equery_report_studentdisciplinesearch_path(searchstudentdisciplinetype: 1)
            - permitted_to? :read, :equery_report_studentcounselingsearches do
              %tr
                %td=no+=1
                %td= link_to (t 'student.counseling.title')+" ("+(t 'student.counseling.feedback_to')+")", student_student_counseling_sessions_path
                %td.centre= link_to (fa_icon "search"), new_equery_report_studentcounselingsearch_path(searchstudentcounselingtype: 1)
          
          - elsif @query_module=='7'
            %tr
              %td.group{colspan: 3}= (t 'equery.module')+" : "+(t 'library.title')
            %tr
              %td.centre=no+=1 
              %td= link_to (t 'library.book.list'), library_books_path
              %td.centre= link_to (fa_icon "search"), new_equery_report_booksearch_path(searchbooktype: 1)

            - permitted_to? :create, :equery_report_librarytransactionsearches do
              /booksearches part
              %tr
                %td.centre=no+=1
                %td= link_to (t 'library.book.stock_listing'), stock_listing_library_books_path(params.merge(format: 'pdf'))
                %td.centre= link_to (fa_icon "search"), new_equery_report_booksearch_path(searchbooktype: 2)
              %tr
                %td.centre=no+=1 
                %td= link_to (t 'library.book.book_summary'), book_summary_library_books_path(params.merge(format: 'pdf'))
                %td.centre= link_to (fa_icon "search"), new_equery_report_booksearch_path(searchbooktype: 3)
              /librarytransactionsearches part
              %tr
                %td.centre=no+=1
                %td= link_to (t "library.transaction.analysis_statistic"), analysis_statistic_library_librarytransactions_path
                %td.centre= link_to (fa_icon "search"), new_equery_report_librarytransactionsearch_path

          - elsif @query_module=='8'
            %tr
              %td.centre=no+=1
              %td= link_to (t 'repositories.list'), repositories_path
              %td.centre= link_to (fa_icon "search"), new_equery_report_repositorysearch_path(searchrepotype: '1')
            %tr
              %td.centre=no+=1
              %td= link_to (t 'repositories.list2'), index2_repositories_path
              %td.centre= link_to (fa_icon "search"), new_equery_report_repositorysearch_path(searchrepotype: '2')