/- if @defective.process_type == "dispose" && @defective.decision == true
/= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_asset_disposal_path(:asset_id => @defective.asset) 
/select asset to dispose among 'marked for disposed' asset       
.row
  .col-md-10.col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t "asset.details"), "#details", "data-toggle" => "tab"
      %li= link_to (t "asset.disposal.revalue_title"), "#value", "data-toggle" => "tab"
      %li= link_to (t "asset.disposal.details"), "#disposaldetails", "data-toggle" => "tab"
      
    .tab-content{style:"padding-top:1em"}
      .col-md-offset-2 
        .form-group
          .col-sm-2.control-label
            = f.label :asset_id
          .col-md-3
            = f.collection_select :asset_id, Asset.where('id IN (?)',@disposal.for_disposal).order(assetcode: :asc), :id, :code_asset, {:include_blank =>t('helpers.prompt.select_marked_asset')},{class: 'selectpicker', "data-width"=>'230px'} 

      #details.tab-pane.active
        %br
        = render 'tab_details_edit.html.haml', :f => f

      #value.tab-pane
        %br
        = render 'tab_value_edit.html.haml', :f => f
        
      #disposaldetails.tab-pane
        %br
        = render 'tab_disposaldetails_edit.html.haml', :f => f 
              
:javascript

//<![CDATA[
bkLib.onDomLoaded(function() {
  new nicEditor().panelInstance('myNicEditor3');
  new nicEditor().panelInstance('myNicEditor4');
});
//]]>

  function add_fields(link, association, content) {  
    var new_id = new Date().getTime();  
    var regexp = new RegExp("new_" + association, "g");  
    $(link).parent().before(content.replace(regexp, new_id));  
  }
  
 
