/note - same as partial PROCESS in catechumen
.col-md-offset-2 
  .form-group
    .col-sm-2.control-label
      = f.label :current_condition
    .col-md-6
      = f.text_field :current_condition, class: 'form-control'   
.col-md-offset-2   
  .form-group
    .col-sm-2.control-label
      = f.label :usage
    .col-md-3
      = f.text_field :running_hours, class: 'form-control', placeholder: 'Running hours'   
      = f.text_field :mileage, class: 'form-control', placeholder: 'Mileage (km)'
  .form-group
    .col-sm-2.control-label
      = f.label :current_value
    .col-md-3
      = f.text_field :current_value, class: 'form-control', placeholder: 'RM '
  .form-group
    .col-sm-2.control-label
      = f.label :est_repair_cost
    .col-md-3
      = f.text_field :est_repair_cost, class: 'form-control', placeholder: 'RM'
  .form-group
    .col-sm-2.control-label
      = f.label :est_value_post_repair
    .col-md-3
      = f.text_field :est_value_post_repair, class: 'form-control', placeholder: 'RM'  
  .form-group
    .col-sm-2.control-label
      =f.label :est_time_next_fail
    .col-md-3
      = f.text_field :est_time_next_fail, class: 'form-control', placeholder: 'in months'
  .form-group
    .col-sm-2.control-label
      %b= t 'asset.disposal.repair_needed'
    .col-md-6
      %ol
        %li= f.text_field :repair1_needed, class: 'form-control'
        %li= f.text_field :repair2_needed, class: 'form-control'
        %li= f.text_field :repair3_needed, class: 'form-control'
  .form-group
    .col-sm-2.control-label
      %b= t 'asset.disposal.justification_disposal'
    .col-md-6
      %ol
        %li= f.text_field :justify1_disposal, class: 'form-control'
        %li= f.text_field :justify2_disposal, class: 'form-control'
        %li= f.text_field :justify3_disposal, class: 'form-control'
  .form-group
    .col-sm-2.control-label 
      %b= t 'asset.disposal.board_examiners'
    .col-md-3
      =f.text_field :checked_on, class: 'date_picker form-control', placeholder: 'Select Examination Date'
  .form-group
    .col-sm-2.control-label
      = f.label :examiner1
    .col-md-1
      = f.check_box :is_staff1, :id => 'is_staff1'
    .col-md-4
      .span_staff1_on{:style=>"display: none;"}
        = f.collection_select :examiner_staff1, Staff.all.order(name: :asc), :id, :staff_name_with_position, {:include_blank =>t('helpers.prompt.select_staff'), :selected=>@disposal.examiner_staff1},{class: 'selectpicker', "data-width"=>'357px'} 
      .span_staff1_off{:style=>"display: none;"}
        = f.text_field :examiner1, class: 'form-control'
       
  .form-group
    .col-sm-2.control-label
      = f.label :examiner2
    .col-md-1
      = f.check_box :is_staff2, :id => 'is_staff2' 
    .col-md-4
      .span_staff2_on{:style=>"display: none;"}
        = f.collection_select :examiner_staff2, Staff.all.order(name: :asc), :id, :staff_name_with_position, {:include_blank =>t('helpers.prompt.select_staff'), :selected=>@disposal.examiner_staff2},{class: 'selectpicker', "data-width"=>'357px'} 
      .span_staff2_off{:style=>"display: none;"}
        = f.text_field :examiner2, class: 'form-control'
        
  .form-group
    .col-sm-2.control-label
      =f.label :is_checked
    .col-md-1
      = f.check_box :is_checked, :id => 'is_checked' 
    .col-md-2
      .span_is_checked{:style=>"display: none;"}
        = f.text_field :checked_on, class: 'date_picker form-control', placeholder: 'Date checked'
  .form-group
    .col-sm-2.control-label
      .span_is_checked{:style=>"display: none;"}
        = f.label :checked_by
    .col-md-4
      .span_is_checked{:style=>"display: none;"}
        = f.collection_select :checked_by, Staff.where("id = ?", current_user.userable_id), :id, :staff_name_with_position,{:include_blank =>t('helpers.prompt.select_staff'), :selected=>@disposal.checked_by},{class: 'selectpicker', "data-width"=>'260px'}
        - bosses = current_user.userable.positions.first.ancestor_ids
        - myhod = Position.where('id IN (?)', bosses ).pluck(:staff_id) 
  .form-group
    .col-sm-2.control-label
      .span_is_checked{:style=>"display: none;"}
        = f.label :verified_by
    .col-md-3
      .span_is_checked{:style=>"display: none;"}
        = f.collection_select :verified_by, Staff.where('id IN (?)', myhod), :id, :name,{:include_blank =>t('helpers.prompt.select_staff'), :selected=>@disposal.verified_by},{class: 'selectpicker', "data-width"=>'260px'}

:javascript

$(document).ready(function(){
  $("input[id='is_checked']").change(function() {  
    if($('#is_checked').is(':checked')) { 
      $(".span_is_checked").show("highlight"); 
    }else{
      $(".span_is_checked").hide(""); 
    }
  });
  $("input[id='is_checked']").each(function() {  
    if($('#is_checked').is(':checked')) { 
      $(".span_is_checked").show("highlight"); 
    }else{
      $(".span_is_checked").hide(""); 
    }
  });

  $("input[id='is_staff1']").change(function() {  
    if($('#is_staff1').is(':checked')) { 
      $(".span_staff1_on").show("highlight"); 
      $(".span_staff1_off").hide(""); 
    }else{
      $(".span_staff1_on").hide(""); 
      $(".span_staff1_off").show("highlight"); 
    }
  });
  $("input[id='is_staff1']").each(function() {  
    if($('#is_staff1').is(':checked')) { 
      $(".span_staff1_on").show("highlight"); 
      $(".span_staff1_off").hide(""); 
    }else{
      $(".span_staff1_on").hide(""); 
      $(".span_staff1_off").show("highlight"); 
    }
  });

  $("input[id='is_staff2']").change(function() {  
    if($('#is_staff2').is(':checked')) { 
      $(".span_staff2_on").show("highlight"); 
      $(".span_staff2_off").hide(""); 
    }else{
      $(".span_staff2_on").hide(""); 
      $(".span_staff2_off").show("highlight"); 
    }
  });
  $("input[id='is_staff2']").each(function() {  
    if($('#is_staff2').is(':checked')) { 
      $(".span_staff2_on").show("highlight"); 
      $(".span_staff2_off").hide(""); 
    }else{
      $(".span_staff2_on").hide(""); 
      $(".span_staff2_off").show("highlight"); 
    }
  });
});