.col-md-8.col-md-offset-1
  %dl.dl-horizontal
    %dt= t 'asset.disposal.disposed_by'
    %dd= @disposed.disposed_on.nil? ? "" : "#{@disposed.staff.try(:staff_with_rank)} #{(t 'on2')}  #{l(@disposed.disposed_on)}"

