<%= form_for(@insurance_policy) do |f| %>
  <% if @insurance_policy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insurance_policy.errors.count, "error") %> prohibited this insurance_policy from being saved:</h2>

      <ul>
      <% @insurance_policy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :insurance_type %><br>
    <%= f.number_field :insurance_type %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :policy_no %><br>
    <%= f.text_field :policy_no %>
  </div>
  <div class="field">
    <%= f.label :college_id %><br>
    <%= f.number_field :college_id %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_area :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
