<h1>Listing insurance_policies</h1>

<table>
  <thead>
    <tr>
      <th>Insurance type</th>
      <th>Company</th>
      <th>Policy no</th>
      <th>College</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insurance_policies.each do |insurance_policy| %>
      <tr>
        <td><%= insurance_policy.insurance_type %></td>
        <td><%= insurance_policy.company_id %></td>
        <td><%= insurance_policy.policy_no %></td>
        <td><%= insurance_policy.college_id %></td>
        <td><%= insurance_policy.data %></td>
        <td><%= link_to 'Show', insurance_policy %></td>
        <td><%= link_to 'Edit', edit_insurance_policy_path(insurance_policy) %></td>
        <td><%= link_to 'Destroy', insurance_policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insurance policy', new_insurance_policy_path %>
