- model_class = Cofile
.page-header
  %h1= t('cofile.index')#, :default => model_class.model_name.human.pluralize
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_cofile_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
    %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#", class: 'bogus'


.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th= sort_link(@search, :cofileno, (t 'cofiles.cofileno'))
        %th= sort_link(@search, :name, (t 'cofiles.name'))
        %th= sort_link(@search, :location, (t 'cofiles.location'))
        %th= sort_link(@search, :owner, (t 'cofiles.owner'))
        %th{style: "width:20%;"}= sort_link(@search, :onloan_to, (t 'cofiles.onloan_to'))
        %th{style: "width:10%;"}= sort_link(@search, :onloandt,(t 'cofiles.onloandt'))
        //%th.ac{:colspan => "2"}= t 'control'
		

    %tbody
    = render "index_search"
    - @cofiles.each do |cofile|
      %tr
        %td= link_to cofile.cofileno, cofile_path(cofile)
        %td= cofile.name
        %td= cofile.location
        %td= cofile.owner.mykad_with_staff_name
        %td= cofile.staffloan_id? ? check_kin {cofile.borrower.mykad_with_staff_name} : ""
        //%td= cofile.onloan? ? cofile.onloandt : ""
        %td= cofile.onloandt
        //%td{:width => "10px"}= link_to fa_icon("eye", :border => 0), :action => 'show', :id => cofile
        //%td{:width => "10px"}= link_to fa_icon("trash-o", :border => 0, :title => 'Delete'), cofile, :confirm => 'Are you sure?', :method => :delete

  .right{style:"padding:0 30px; margin:0;"}= paginate @cofiles, :theme => 'twitter-bootstrap-3'