//Heres the code in erb, change it to haml. refer /app/views/library/transactions/index.html.haml for new layout design.
- model_class = Cofile
.page-header
  %h1= t('cofiles.index')#, :default => model_class.model_name.human.pluralize
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'new'))), new_cofile_path
    //%li= link_to content_tag(:li, fa_icon("info-circle", text: (t 'library.check.status'))), check_status_library_librarytransactions_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'search'))), "#", class: "toga"
    %li= link_to content_tag(:li, fa_icon("print", text: (t 'print'))), "#"


%h2.left Lists of Files	
.right
  = form_tag cofiles_path, :method => 'get' do
    = text_field_tag :search, params[:search], :placeholder => "FileName"
    = submit_tag I18n.t('search'), :name => nil

.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th= t 'cofile.cofileno'
        %th= t 'cofile.name'
        %th= t 'cofile.location'
        %th= t 'cofile.owner'
        %th= t 'cofile.onloan_to'
        %th= t 'cofile.onloandt'
        %th.ac{:colspan => "3"}= t 'control'
        %th.action= fa_icon "cogs"

    %tbody 
    - @cofiles.each do |cofile|
      %tr
        %td= h cofile.cofileno
        %td= h cofile.name
        %td= h cofile.location
        %td= h cofile.owner.mykad_with_staff_name
        %td= h cofile.staffloan_id? ? check_kin {cofile.borrower.mykad_with_staff_name} : ""
        %td= h cofile.onloan? ? cofile.onloandt : ""
        %td{:width => "10px"}= link_to fa_icon("eye", :border => 0), :action => 'show', :id => cofile
        %td{:width => "10px"}= link_to fa_icon("pencil", :border => 0), :action => 'edit', :id => cofile
        %td{:width => "10px"}= link_to fa_icon("trash-o", :border => 0, :title => 'Delete'), cofile, :confirm => 'Are you sure?', :method => :delete

