- model_class = Cofile
.page-header
  %h1= t 'cofile.new'

= render 'shared/flashes'

.row
  = form_for @cofile, html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
	
    .col-md-offset-3
      = render :partial => 'form', :locals => {:f => f}
      .form-group
        .col-sm-offset-3.col-sm-1
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), cofiles_path, :class => 'btn btn-default'
        .col-sm-2
          = f.submit t('create'), class: "btn btn-primary"
		 