/.row
/  .col-md-offset-2
/    .form-group
/      .col-sm-2.control-label
/        %b= t 'exam.exammark.title'
/      .col-md-6
/        = text_field_tag "exammark_ids[]", 7, class: 'form-control'
/.row
/  .col-md-offset-2
/    .form-group
/      .col-sm-2.control-label
/        %b= t 'exam.exammark.title'
/      .col-md-6
/        = text_field_tag "exammark_ids[]", 7, class: 'form-control'
           
/retrieve data first
- @examid = @exammarks[0].exam_id 
- exam_template=Exam.find(@examid).exam_template
- exam_template.question_count.each do |k, v|
  - if v['count']!='' || v['count']!=nil #&& v['weight']!=''                          
    - qty=(v['count']).to_i
    - if k=="mcq"
      - @mcqcount=qty
      - if v['weight']!=''
        = @mcqweight_rate=  v['weight'].to_f/@mcqcount*1
      - else
        = @mcqweight_rate=0
      /or (1/@mcqcount*1) * v['weight']
    - elsif k=="meq"
      - @meqcount=qty
      - if v['weight']!=''
        - @meqweight_rate=v['weight'].to_f/(@meqcount*20)
      - else
        - @meqweight_rate=0
    - elsif k=="seq" 
      - @seqcount=qty
      - if v['weight']!=''
        = @seqweight_rate=  v['weight'].to_f/(@seqcount*10)
      - else
        - @seqweight_rate=0
    - elsif k=="acq"
      - @acqcount=qty 
      - if v['weight']!=''
        = @acqweight_rate=  v['weight'].to_f/(@acqcount*1)
      - else
        - @acqweight_rate=0
    - elsif k=="osci"
      - @oscicount=qty
      - if v['weight']!=''
        = @osciweight_rate=  v['weight'].to_f/(@oscicount*1)
      - else
        - @osciweight_rate=0
    - elsif k=="oscii"
      - @osciicount=qty
      - if v['weight']!=''
        = @osciiweight_rate=  v['weight'].to_f/(@osciicount*1)
      - else
        - @osciiweight_rate=0
    - elsif k=="osce"
      - @oscecount=qty
      - if v['weight']!=''
        = @osceweight_rate=  v['weight'].to_f/(@oscecount*1)
      - else
        - @osceweight_rate=0
    - elsif k=="ospe"
      - @ospecount=qty
      - if v['weight']!=''
        = @ospeweight_rate=  v['weight'].to_f/(@ospecount*10)
      - else
        - @ospeweight_rate=0
    - elsif k=="viva"
      - @vivacount=qty
      - if v['weight']!=''
        = @vivaweight_rate=  v['weight'].to_f/(@vivacount*1)
      - else
        - @vivaweight_rate=0
    - elsif k=="truefalse"
      - @truefalsecount=qty
      - if v['weight']!=''
        = @truefalseweight_rate=  v['weight'].to_f/(@truefalsecount*1)
      - else
        - @truefalseweight_rate=0

- @allcount= @mcqcount+@meqcount+@seqcount+@acqcount+@oscicount+@osciicount+@oscecount+@ospecount+@vivacount+@truefalsecount
- @fullmarks = Exammark.fullmarks(@examid)
- @b_count=0
- @diff_total_mcq=0

- diploma=Programme.where(course_type: 'Diploma')
- radiografi=diploma.where('name ILIKE?', '%Radiografi%').first.id
- carakerja=diploma.where('name ILIKE?', '%Jurupulih Perubatan Cara Kerja%').first.id

.row
  %table.table
    %thead
      %tr
        %th No
        %th=t 'exam.exammark.student_id'
        %th=t 'student.icno'
        - if @exampaper_of_exammarks==1 
        - else
          %th Examination
        %th.centre
          =t 'exam.exammark.total_mcq'
          .small="/"+(@mcqcount*1).to_s
        - if @meqcount
          - 1.upto(@meqcount) do |count|
            %th.centre 
              MEQ
              %br="Q-"+count.to_s
              .small /20
        - if @seqcount
          - 1.upto(@seqcount) do |count|
            %th.centre 
              SEQ
              %br="Q-"+count.to_s
              .small /10
        - if @acqcount
          - 1.upto(@acqcount) do |count|
            %th.centre 
              ACQ
              %br="Q-"+count.to_s
        - if @oscicount
          - 1.upto(@oscicount) do |count|
            %th.centre 
              OSCI
              %br="Q-"+count.to_s
        - if @osciicount
          - 1.upto(@osciicount) do |count|
            %th.centre 
              OSCII
              %br="Q-"+count.to_s
        - if @oscecount 
          - 1.upto(@oscecount) do |count|
            %th.centre 
              OSCE
              %br="Q-"+count.to_s
        - if @ospecount 
          - 1.upto(@ospecount) do |count|
            %th.centre 
              OSPE
              %br="Q-"+count.to_s
              .small /10
        - if @vivacount 
          - 1.upto(@vivacount) do |count|
            %th.centre 
              VIVA
              %br="Q-"+count.to_s
        - if @truefalsecount
          - 1.upto(@truefalsecount) do |count|
            %th.centre
              =t 'exam.exammark.true_false1'
              %br="Q-"+count.to_s
        /HIDE - just to avoid confusion (same value as summative, coz data already in weightage - but MCQ, SEQ- marks by WEIGHTAGE still PENDING)
        - if @exammarks[0].exampaper.subject.root_id==radiografi || @exammarks[0].exampaper.subject.root_id==carakerja
          %th.centre
            /#error_display_total{:style => "display: none;"}
            /  %font{color: "red"}*
            =t 'exam.exammark.total'
          %font{:style=>"size:-2;"}="("+(number_with_precision(@fullmarks, precision: 2)).to_s+")"
        /hide end
        - if @exammarks[0].exampaper.name=='F'
          - if @exammarks[0].exampaper.subject.root_id==radiografi || @exammarks[0].exampaper.subject.root_id==carakerja
            %th.centre 
              /#error_display{:style => "display: none;"}
              /  %font{color: "red"}*
              &nbsp;&nbsp;&nbsp;&nbsp;100%&nbsp;&nbsp;&nbsp;&nbsp;
              
          %th.centre
            /#error_display_70{:style => "display: none;"}
            /  %font{color: "red"}*
            =t 'exam.exammark.summative'
            ="("+@exammarks[0].exampaper.exam_template.total_in_weight.to_s+" %)"
        - else
          %th
            /#error_display_total{:style => "display: none;"}
            /  %font{color: "red"}*
            =t 'exam.exammark.total'

    %tbody
      - @exammarks.sort_by{|x|x.studentmark.name}.each_with_index do |exammark,no|
        = hidden_field_tag "exammark_ids[]", exammark.id
        %tr{:style=>"background-color:#EFE;"}
          %td=no+1
          %td=h exammark.studentmark.matrix_name   
          %td=h exammark.studentmark.icno
          - if @exampaper_of_exammarks==1
          - else
            %td=h exammark.exampaper.subject_date
          - if @edit_type == "Edit Checked" || @edit_type.nil? 
          - elsif @edit_type == "Edit by Subject" 
            = hidden_field_tag "exam_ids[]", @exam_id 
          %td.centre
            /TODO - Check if exam_template in use contains WEIGHTAGE
            /MCQ type - contains weightage? if yes - (entered total_mcq / qty*1mark)*weightage -- contribute to - 70% weightage
            /other type - contains weightage? if yes (check marks 4 each question -- + column total mark(of this type) + column ((total other type/total mark)*weightage)
            
            = text_field_tag "total_mcqs[]", exammark.total_mcq.to_i,:id=>"total"+@b_count.to_s, :size=> 4,:class=>'j1' 
          - aaa=exammark.marks 
          - @a_count=0
          - aaa.sort_by{|x|x.created_at}.each_with_index do |aa, index|
            %td.centre
              = text_field_tag "marks_attributes[#{index}][student_marks][]", number_with_precision(aa.student_mark,:precision=>2),:id=>"student_mark_"+"#{@b_count}"+"_"+@a_count.to_s,:class=>'j1', :size=> 4 
              - @a_count+=1

          /- if @exammarks[0].exampaper.name=='F'
          /HIDE - just to avoid confusion (same value as summative, coz data already in weightage - but MCQ, SEQ- marks by WEIGHTAGE still PENDING)
          /- if @exammarks[0].exampaper.subject.root_id==radiografi || @exammarks[0].exampaper.subject.root_id==carakerja
          
          - if !(@exammarks[0].exampaper.subject.root_id==radiografi || @exammarks[0].exampaper.subject.root_id==carakerja) && @exammarks[0].exampaper.name=='F'
            = hidden_field_tag "total_marks_view[]", number_with_precision(exammark.total_marks,precision:2) ,:id=>"total_marks_view"+@b_count.to_s, :size=> 5, :readonly=>true, :class => 'form-control'
          - else
            %td.centre{:style=>"background-color:#C3E9BF;"}
              /ssiiinnnii - mid sem+other than radiografi & cara kerja
              = text_field_tag "total_marks_view[]", number_with_precision(exammark.total_marks,precision:2) ,:id=>"total_marks_view"+@b_count.to_s, :size=> 5, :readonly=>true, :class => 'form-control'

          /hide end
          - if (@exammarks[0].exampaper.subject.root_id==radiografi || @exammarks[0].exampaper.subject.root_id==carakerja) && @exammarks[0].exampaper.name=='F'
            %td.centre{:style=>"background-color:#C3E9BF;"}
              /sinipun
              = text_field_tag "marks_in_hundred[]", number_with_precision((exammark.total_marks/Exammark.fullmarks(@examid))*100, precision: 2), :id=>"marks_in_hundred"+@b_count.to_s, :size=> 5, :readonly=>true, :class => 'form-control'
          
          /- else
          /  %td{:style=>"background-color:#C3E9BF;"}= text_field_tag "total_marks_view[]", number_with_precision(exammark.total_marks,precision:2) ,:id=>"total_marks_view"+@b_count.to_s, :size=> 5, :readonly=>true, :class => 'form-control'
          - if @exammarks[0].exampaper.name=='F'
            %td.centre{:style=>"background-color:#C3E9BF;"}
              /sinika
              /=@mcqweight_rate
              = text_field_tag "total_summative[]", number_with_precision(exammark.totalsummative, precision: 2) ,:id=>"total_summative"+@b_count.to_s, :size=> 5, :readonly=>true, :class => 'form-control'
          - else
            /TEMPORARY - ADD THIS JUST TO MAKE SURE total_marks_view display correctly, or only first student/line works for Repeat Papers(NGYN-Kejururawatan)-8Dec15
            = hidden_field_tag "total_summative[]", number_with_precision(exammark.totalsummative, precision: 2) ,:id=>"total_summative"+@b_count.to_s, :size=> 5, :readonly=>true, :class => 'form-control'
         
         
          - @b_count+=1
          
/TRIAL  
=hidden_field_tag "mcqweight_rate", @mcqweight_rate
=hidden_field_tag "seqweight_rate", @seqweight_rate
=hidden_field_tag "meqweight_rate", @meqweight_rate
=hidden_field_tag "acqweight_rate", @acqweight_rate
=hidden_field_tag "osciweight_rate", @osciweight_rate
=hidden_field_tag "osciiweight_rate", @osciiweight_rate
=hidden_field_tag "osceweight_rate", @osceweight_rate
=hidden_field_tag "ospeweight_rate", @ospeweight_rate
=hidden_field_tag "vivaweight_rate", @vivaweight_rate
=hidden_field_tag "truefalseweight_rate", @truefalseweight_rate
=hidden_field_tag "exammark[trial2]", @mcqcount
=hidden_field_tag "seqcount", @seqcount
=hidden_field_tag "meqcount", @meqcount
=hidden_field_tag "acqcount", @acqcount
=hidden_field_tag "oscicount", @oscicount
=hidden_field_tag "osciicount", @osciicount
=hidden_field_tag "oscecount", @oscecount
=hidden_field_tag "ospecount", @ospecount
=hidden_field_tag "vivacount", @vivacount
=hidden_field_tag "truefalsecount", @truefalsecount
=hidden_field_tag "exammark[trial1]", @exammarks.count
=hidden_field_tag "exammark[trial3]", @allcount
=hidden_field_tag "exammark[trial4]", @fullmarks
=hidden_field_tag "programme_name", Programme.where(id: @exammarks[0].exampaper.subject.root_id).first.name

/#error_display_remark{:style => "display: none;"}
/  %font{color: "red"}* 
/  =t 'exam.exammark.error_remark'
%BR

:javascript

$(document).ready(function(){
  $(".j1").keyup(function() {  
    
    var mcqweight_rate= document.getElementById("mcqweight_rate").value;
    var seqweight_rate= document.getElementById("seqweight_rate").value;
    var meqweight_rate= document.getElementById("meqweight_rate").value;
    var acqweight_rate= document.getElementById("acqweight_rate").value;
    var osciweight_rate= document.getElementById("osciweight_rate").value;
    var osciiweight_rate= document.getElementById("osciiweight_rate").value;
    var osceweight_rate= document.getElementById("osceweight_rate").value;
    var ospeweight_rate= document.getElementById("ospeweight_rate").value;
    var vivaweight_rate= document.getElementById("vivaweight_rate").value;
    var truefalseweight_rate= document.getElementById("truefalseweight_rate").value;
    var seq_count= document.getElementById("seqcount").value;
    var meq_count= document.getElementById("meqcount").value;
    var acq_count= document.getElementById("acqcount").value;
    var osci_count= document.getElementById("oscicount").value;
    var oscii_count= document.getElementById("osciicount").value;
    var osce_count= document.getElementById("oscecount").value;
    var ospe_count= document.getElementById("ospecount").value;
    var viva_count= document.getElementById("vivacount").value;
    var truefalse_count= document.getElementById("truefalsecount").value;
    var studentcount =document.getElementById("exammark_trial1").value;
    var mcqcount = $("#exammark_trial2").val();
    var allcount = $("#exammark_trial3").val();
    var fullmarks = $("#exammark_trial4").val();
    var programme = $("#programme_name").val();
    
    total_weight=mcqweight_rate*mcqcount+meqweight_rate*20*meq_count+seqweight_rate*10*seq_count+acqweight_rate*1+osciweight_rate*1+osciiweight_rate*1+osceweight_rate*1+ospeweight_rate*1+vivaweight_rate*1+truefalseweight_rate*1
    
    for (var i=0;i<studentcount;i++)
    {
      
      var total_mcq = document.getElementById("total"+i).value;
      window["totalmarksview"+i]= document.getElementById("total_marks_view"+i);
      window["totalsummative"+i]= document.getElementById("total_summative"+i);
      window["marksinhundred"+i]= document.getElementById("marks_in_hundred"+i);
      var a = 0;
      
      for (var k=0;k<allcount-mcqcount;k++)
      {
        var other = document.getElementById("student_mark_"+i+"_"+k).value;
        meq_count2=meq_count;
        seq_count2=meq_count2+seq_count;
        acq_count2=seq_count2+acq_count;
        osci_count2=acq_count2+osci_count;
        oscii_count2=osci_count2+oscii_count;
        osce_count2=oscii_count2+osce_count;
        ospe_count2=osce_count2+ospe_count;
        viva_count2=ospe_count2+viva_count;
        truefalse_count2=viva_count2+truefalse_count;
        if (k < meq_count2)
        {  rate=meqweight_rate;}
        else
        {
          if ((k >= meq_count2) && (k < seq_count2))
          { rate=seqweight_rate;}
          else if ((k >= seq_count2) && (k < acq_count2))
          { rate=acqweight_rate;}
          else if ((k >= acq_count2) && (k < osci_count2))
          { rate=osciweight_rate;}
          else if ((k >= osci_count2) && (k < oscii_count2))
          { rate=osciiweight_rate;}
          else if ((k >= oscii_count2) && (k < osce_count2))
          { rate=osceweight_rate;}
          else if ((k >= osce_count2) && (k < ospe_count2))
          { rate=ospeweight_rate;}
          else if ((k >= ospe_count2) && (k < viva_count2))
          { rate=vivaweight_rate;}
          else if ((k >= viva_count2) && (k < truefalse_count2))
          { rate=truefalseweight_rate;}
        }
        if (rate!='0')
        {  a=a*1+(other*rate);}
        else
        {  a=a*1+(other*1);}
      }
      
      if (mcqweight_rate!='0')
      {aaa=(total_mcq*mcqweight_rate+a)}
      else
      {aaa=(total_mcq*1+a)/fullmarks*100*0.70}
      
      if ((programme=="Radiografi") || (programme=="Jurupulih Perubatan Cara Kerja"))
      {
        
        if (  aaa > 70) 
          {
            window["totalmarksview"+i].value = 'Max value is '+fullmarks;
            window["totalsummative"+i].value='Max value is 70';
            window["marksinhundred"+i].value='Max value is 100';
            window["totalmarksview"+i].style.color="red";
            window["totalsummative"+i].style.color="red";
            window["marksinhundred"+i].style.color="red";
          }
          else
          {
            window["totalmarksview"+i].value = (total_mcq*1+a);
            window["marksinhundred"+i].value = (total_mcq*1+a)/fullmarks*100;
            window["totalsummative"+i].value = aaa;
            window["totalmarksview"+i].style.color="black";
            window["totalsummative"+i].style.color="black";
            window["marksinhundred"+i].style.color="black";
          }
      }
      else
      {

        /*BELOW : total marks view shall display total marks entered if weightage not exist, otherwise display total in weightage %*/      
        if (mcqweight_rate!='0')
        {  bbb=(total_mcq*mcqweight_rate+a);}
        else
        {  bbb=(total_mcq*1+a);}
        
        if (bbb > total_weight)
        {  
          window["totalmarksview"+i].value='Max value is '+total_weight;
          window["totalmarksview"+i].style.color="red";
        }
        else
        {  
          window["totalmarksview"+i].value = bbb;
          window["totalmarksview"+i].style.color="black";
         }

        if (fullmarks==70)
        {  
          if ( aaa > 70)
          {
            window["totalsummative"+i].value='Max value is 70j';
            window["totalsummative"+i].style.color="red";
          }
          else
          {
             window["totalsummative"+i].value =aaa;
             window["totalsummative"+i].style.color="black";
          }
        }
        else
        { 
           if ( aaa > total_weight)
          {
            window["totalsummative"+i].value='Max value is '+total_weight;
            window["totalsummative"+i].style.color="red";
          }
          else
          {
             window["totalsummative"+i].value = aaa;
             window["totalsummative"+i].style.color="black";
          }
        }
      }
    }
    
  });
});


/if ( (total_mcq*mcqweight_rate+a)/fullmarks*100*0.70 > 70)
/window["totalsummative"+i].value = (total_mcq*1+a)/fullmarks*100*0.70;

/       if ((programme=="Radiografi") || (programme=="Jurupulih Perubatan Cara Kerja"))
/       {
/         var value_100 = document.getElementById("marks_in_hundred"+i).value;
/       }
/ if (value_70 > 70)
/       {
/         $("#error_display").show();
/         $("#error_display_70").show();
/         $("#error_display_total").show();
/         $("#error_display_remark").show();
/       }
/       else
/       { 
/         $("#error_display").hide(); 
/         $("#error_display_70").hide(); 
/         $("#error_display_total").hide();
/         $("#error_display_remark").hide();
/       } 