/.row
/  .col-md-offset-2
/    .form-group
/      .col-sm-2.control-label
/        %b= t 'exam.exammark.title'
/      .col-md-6
/        = text_field_tag "exammark_ids[]", 7, class: 'form-control'
/.row
/  .col-md-offset-2
/    .form-group
/      .col-sm-2.control-label
/        %b= t 'exam.exammark.title'
/      .col-md-6
/        = text_field_tag "exammark_ids[]", 7, class: 'form-control'
           
/retrieve data first
- @examid = @exammarks[0].exam_id 
- @istemplate = Exam.find(@examid).klass_id
- if @istemplate == 0
  /- @examtemplates = Exam.find(@examid).examtemplates
  /- qty_ary = @examtemplates.map(&:quantity)
  /- @questioncount = qty_ary.inject{|sum,x|sum+x}
  /- @mcqcount = @examtemplates.mcqq[0].quantity 
  /- @meqcount = @examtemplates.meqq[0].quantity if @examtemplates.map(&:questiontype).include?("MEQ")
  /- @seqcount = @examtemplates.seqq[0].quantity if @examtemplates.map(&:questiontype).include?("SEQ")
  /- @acqcount = @examtemplates.acqq[0].quantity if @examtemplates.map(&:questiontype).include?("ACQ")
  /- @oscicount = @examtemplates.osci2q[0].quantity if @examtemplates.map(&:questiontype).include?("OSCI") 
  /- @osciicount = @examtemplates.osci3q[0].quantity if @examtemplates.map(&:questiontype).include?("OSCII")
  /- @oscecount = @examtemplates.osceq[0].quantity if @examtemplates.map(&:questiontype).include?("OSCE")
  /- @ospecount = @examtemplates.ospeq[0].quantity if @examtemplates.map(&:questiontype).include?("OSPE")
  /- @vivacount = @examtemplates.vivaq[0].quantity if @examtemplates.map(&:questiontype).include?("VIVA") 
  /- @truefalsecount = @examtemplates.truefalseq[0].quantity if @examtemplates.map(&:questiontype).include?("TRUEFALSE") 
  /- @allcount = @questioncount

  - exam_template=Exam.find(@examid).exam_template
  - exam_template.question_count.each do |k, v|
    - if v['count']!='' || v['count']!=nil #&& v['weight']!=''                          
      - qty=(v['count']).to_i
      - if k=="mcq"
        - @mcqcount=qty
      - elsif k=="meq"
        - @meqcount=qty
      - elsif k=="seq" 
        - @seqcount=qty
      - elsif k=="acq"
        - @acqcount=qty 
      - elsif k=="osci"
        - @oscicount=qty
      - elsif k=="oscii"
        - @osciicount=qty
      - elsif k=="osce"
        - @oscecount=qty
      - elsif k=="ospe"
        - @ospecount=qty
      - elsif k=="viva"
        - @vivacount=qty
      - elsif k=="truefalse"
        - @truefalsecount=qty
  - @allcount= @mcqcount+@meqcount+@seqcount+@acqcount+@oscicount+@osciicount+@oscecount+@ospecount+@vivacount+@truefalsecount
  /@exammarks[0].get_questions_count(@examid)

- else 
  - @mcqcount = Examquestion.joins(:exams).where('questiontype=? and exam_id=?',"MCQ", @examid).count
  - @meqcount = Examquestion.joins(:exams).where('questiontype=? and exam_id=?',"MEQ", @examid).count
  - @seqcount= Examquestion.joins(:exams).where('questiontype=? and exam_id=?',"SEQ", @examid).count
  - @acqcount= Examquestion.joins(:exams).where('questiontype=? and exam_id=?',"ACQ", @examid).count
  - @oscicount= Examquestion.joins(:exams).where('questiontype=? and exam_id=?',"OSCI", @examid).count
  - @osciicount= Examquestion.joins(:exams).where('questiontype=? and exam_id=?',"OSCII", @examid).count
  - @oscecount= Examquestion.joins(:exams).where('questiontype=? and exam_id=?',"OSCE", @examid).count
  - @ospecount= Examquestion.joins(:exams).where('questiontype=? and exam_id=?',"OSPE", @examid).count
  - @vivacount= Examquestion.joins(:exams).where('questiontype=? and exam_id=?',"VIVA", @examid).count
  - @truefalsecount= Examquestion.joins(:exams).where('questiontype=? and exam_id=?',"TRUEFALSE", @examid).count
  - @allcount = Examquestion.joins(:exams).where('exam_id=?',@examid).count

- @fullmarks = Exammark.fullmarks(@examid)
- @b_count=0
- @diff_total_mcq=0

- diploma=Programme.where(course_type: 'Diploma')
- radiografi=diploma.where('name ILIKE?', '%Radiografi%').first.id
- carakerja=diploma.where('name ILIKE?', '%Jurupulih Perubatan Cara Kerja%').first.id

.row
  %table.table
    %thead
      %tr
        %th No
        %th=t 'exam.exammark.student_id'
        %th=t 'student.icno'
        - if @exampaper_of_exammarks==1 
        - else
          %th Examination
        %th=t 'exam.exammark.total_mcq'
        - if @meqcount
          - 1.upto(@meqcount) do |count|
            %th 
              MEQ
              %br="Q-"+count.to_s
        - if @seqcount
          - 1.upto(@seqcount) do |count|
            %th 
              SEQ
              %br="Q-"+count.to_s
        - if @acqcount
          - 1.upto(@acqcount) do |count|
            %th 
              ACQ
              %br="Q-"+count.to_s
        - if @oscicount
          - 1.upto(@oscicount) do |count|
            %th 
              OSCI
              %br="Q-"+count.to_s
        - if @osciicount
          - 1.upto(@osciicount) do |count|
            %th 
              OSCII
              %br="Q-"+count.to_s
        - if @oscecount 
          - 1.upto(@oscecount) do |count|
            %th 
              OSCE
              %br="Q-"+count.to_s
        - if @ospecount 
          - 1.upto(@ospecount) do |count|
            %th 
              OSPE
              %br="Q-"+count.to_s
        - if @vivacount 
          - 1.upto(@vivacount) do |count|
            %th 
              VIVA
              %br="Q-"+count.to_s
        - if @truefalsecount
          - 1.upto(@truefalsecount) do |count|
            %th 
              =t 'exam.exammark.true_false1'
              %br="Q-"+count.to_s
        /HIDE - just to avoid confusion (same value as summative, coz data already in weightage - but MCQ, SEQ- marks by WEIGHTAGE still PENDING)
        - if @exammarks[0].exampaper.subject.root_id==radiografi || @exammarks[0].exampaper.subject.root_id==carakerja
          %th
            #error_display_total{:style => "display: none;"}
              %font{color: "red"}*
            =t 'exam.exammark.total'
          %font{:style=>"size:-2;"}="("+(number_with_precision(@fullmarks, precision: 2)).to_s+")"
        /hide end
        - if @exammarks[0].exampaper.name=='F'
          - if @exammarks[0].exampaper.subject.root_id==radiografi || @exammarks[0].exampaper.subject.root_id==carakerja
            %th 
              #error_display{:style => "display: none;"}
                %font{color: "red"}*
              &nbsp;&nbsp;&nbsp;&nbsp;100%&nbsp;&nbsp;&nbsp;&nbsp;
              
          %th
            #error_display_70{:style => "display: none;"}
              %font{color: "red"}*
            =t 'exam.exammark.summative'
            (70%)
        - else
          %th
            #error_display_total{:style => "display: none;"}
              %font{color: "red"}*
            =t 'exam.exammark.total'

    %tbody
      - @exammarks.sort_by{|x|x.studentmark.name}.each_with_index do |exammark,no|
        = hidden_field_tag "exammark_ids[]", exammark.id
        %tr{:style=>"background-color:#EFE;"}
          %td=no+1
          %td=h exammark.studentmark.matrix_name   
          %td=h exammark.studentmark.icno
          - if @exampaper_of_exammarks==1
          - else
            %td=h exammark.exampaper.subject_date 
          - if @edit_type == "Edit Checked" || @edit_type.nil? 	
          - elsif @edit_type == "Edit by Subject" 
            = hidden_field_tag "exam_ids[]", @exam_id 
          %td
            /TODO - Check if exam_template in use contains WEIGHTAGE
            /MCQ type - contains weightage? if yes - (entered total_mcq / qty*1mark)*weightage -- contribute to - 70% weightage
            /other type - contains weightage? if yes (check marks 4 each question -- + column total mark(of this type) + column ((total other type/total mark)*weightage)
            
            = text_field_tag "total_mcqs[]", exammark.total_mcq.to_i,:id=>"total"+@b_count.to_s, :size=> 4,:class=>'j1' 
          - aaa=exammark.marks 
          - @a_count=0
          - aaa.sort_by{|x|x.created_at}.each_with_index do |aa, index|
            %td
              = text_field_tag "marks_attributes[#{index}][student_marks][]", number_with_precision(aa.student_mark,:precision=>2),:id=>"student_mark_"+"#{@b_count}"+"_"+@a_count.to_s,:class=>'j1', :size=> 4 
              - @a_count+=1

          /- if @exammarks[0].exampaper.name=='F'
          /HIDE - just to avoid confusion (same value as summative, coz data already in weightage - but MCQ, SEQ- marks by WEIGHTAGE still PENDING)
          /- if @exammarks[0].exampaper.subject.root_id==radiografi || @exammarks[0].exampaper.subject.root_id==carakerja
          
          - if !(@exammarks[0].exampaper.subject.root_id==radiografi || @exammarks[0].exampaper.subject.root_id==carakerja) && @exammarks[0].exampaper.name=='F'
            = hidden_field_tag "total_marks_view[]", number_with_precision(exammark.total_marks,precision:2) ,:id=>"total_marks_view"+@b_count.to_s, :size=> 5, :readonly=>true, :class => 'form-control'
          - else
            %td{:style=>"background-color:#C3E9BF;"}
              /oklak
              = text_field_tag "total_marks_view[]", number_with_precision(exammark.total_marks,precision:2) ,:id=>"total_marks_view"+@b_count.to_s, :size=> 5, :readonly=>true, :class => 'form-control'

          /hide end
          - if (@exammarks[0].exampaper.subject.root_id==radiografi || @exammarks[0].exampaper.subject.root_id==carakerja) && @exammarks[0].exampaper.name=='F'
            %td{:style=>"background-color:#C3E9BF;"}
              /sinipun
              = text_field_tag "marks_in_hundred[]", number_with_precision((exammark.total_marks/Exammark.fullmarks(@examid))*100, precision: 2), :id=>"marks_in_hundred"+@b_count.to_s, :size=> 5, :readonly=>true, :class => 'form-control'
          
          /- else
          /  %td{:style=>"background-color:#C3E9BF;"}= text_field_tag "total_marks_view[]", number_with_precision(exammark.total_marks,precision:2) ,:id=>"total_marks_view"+@b_count.to_s, :size=> 5, :readonly=>true, :class => 'form-control'
          - if @exammarks[0].exampaper.name=='F'
            %td{:style=>"background-color:#C3E9BF;"}
              /sinika
              = text_field_tag "total_summative[]", number_with_precision((exammark.total_marks/Exammark.fullmarks(@examid))*100*0.70, precision: 2) ,:id=>"total_summative"+@b_count.to_s, :size=> 5, :readonly=>true, :class => 'form-control'
          - else
            /TEMPORARY - ADD THIS JUST TO MAKE SURE total_marks_view display correctly, or only first student/line works for Repeat Papers(NGYN-Kejururawatan)-8Dec15
            = hidden_field_tag "total_summative[]", number_with_precision((exammark.total_marks/Exammark.fullmarks(@examid))*100*0.70, precision: 2) ,:id=>"total_summative"+@b_count.to_s, :size=> 5, :readonly=>true, :class => 'form-control'
         
         
          - @b_count+=1
          
/TRIAL      
=hidden_field_tag "exammark[trial2]", @mcqcount
=hidden_field_tag "exammark[trial1]", @exammarks.count
=hidden_field_tag "exammark[trial3]", @allcount
=hidden_field_tag "exammark[trial4]", @fullmarks
=hidden_field_tag "programme_name", Programme.where(id: @exammarks[0].exampaper.subject.root_id).first.name

#error_display_remark{:style => "display: none;"}
  %font{color: "red"}* 
  =t 'exam.exammark.error_remark'
%BR

:javascript

$(document).ready(function(){
  $(".j1").keyup(function() {  
    
    var studentcount =document.getElementById("exammark_trial1").value;
    var mcqcount = $("#exammark_trial2").val();
    var allcount = $("#exammark_trial3").val();
    var fullmarks = $("#exammark_trial4").val();
    var programme = $("#programme_name").val();
    
    for (var i=0;i<studentcount;i++)
    {
      
      var total_mcq = document.getElementById("total"+i).value;
      window["totalmarksview"+i]= document.getElementById("total_marks_view"+i);
      window["totalsummative"+i]= document.getElementById("total_summative"+i);
      window["marksinhundred"+i]= document.getElementById("marks_in_hundred"+i);
      var a = 0;
      
      for (var k=0;k<allcount-mcqcount;k++)
      {
        var other = document.getElementById("student_mark_"+i+"_"+k).value;
        a=a*1+(other*1);
      }
      window["totalmarksview"+i].value = (total_mcq*1+a);
      if ((programme=="Radiografi") || (programme=="Jurupulih Perubatan Cara Kerja"))
      {
        window["marksinhundred"+i].value = (total_mcq*1+a)/fullmarks*100;
        window["totalsummative"+i].value = (total_mcq*1+a)/fullmarks*100*0.70;
      }
      else
      {
        if (fullmarks==70)
        {  window["totalsummative"+i].value = (total_mcq*1+a);}
        else
        { window["totalsummative"+i].value = (total_mcq*1+a)/fullmarks*100*0.70;}
      }
      
      if ((programme=="Radiografi") || (programme=="Jurupulih Perubatan Cara Kerja"))
      {
        var value_100 = document.getElementById("marks_in_hundred"+i).value;
      }
      
      var value_70 = document.getElementById("total_summative"+i).value;
      if (value_70 > 70)
      {
        $("#error_display").show();
        $("#error_display_70").show();
        $("#error_display_total").show();
        $("#error_display_remark").show();
      }
      else
      { 
        $("#error_display").hide(); 
        $("#error_display_70").hide(); 
        $("#error_display_total").hide();
        $("#error_display_remark").hide();
      }
      
    }
    
  });
});

 
/ if (value_70 > 70)
/       {
/         $("#error_display").show();
/         $("#error_display_70").show();
/         $("#error_display_total").show();
/         $("#error_display_remark").show();
/       }
/       else
/       { 
/         $("#error_display").hide(); 
/         $("#error_display_70").hide(); 
/         $("#error_display_total").hide();
/         $("#error_display_remark").hide();
/       } 