= search_form_for [:exammark, @search], url: exam_exammarks_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td &nbsp;
    %td
      .col-md-6= f.text_field :keyword_search, class: 'form-control', placeholder: 'Student Name'
      .col-md-5
        - subject_ids=Exam.where(id: @exams_list_exist_mark).pluck(:subject_id)
        - subjects=[]
        - Programme.where(id: subject_ids).sort_by{|x|(x.code.strip[-4,4]).to_i}.each do |x|
          - subjects << [x.subject_list, x.id]
        = select_tag('q[exampaper_subject_id_eq]', options_for_select([[(t 'exam.grade.existing_subject'),'']]+subjects), class: 'selectpicker',"data-width"=>"250px")
    %td= f.text_field :studentmark_icno_cont, class: 'form-control'
    %td= f.text_field :totalmarks_search, :class=> "form-control"
    %td
      .input-group
        
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw
