%tr
  - if count == 0
    - if @examquestions.count>0
      %td{:rowspan=>"#{@examquestions.acqq.count}"} ACQ
    - else
      %td{:rowspan=>"#{@qcount[3]}"} ACQ
  %td=count+1
  %td
    =@examquestions.acqq[count].question.html_safe if @examquestions.count>0
    - if @examtemplates
      \-
  %td
    /- @acq_totalmarks=0
    /- @exam_template.question_count.each{|k,v|@acq_totalmarks=v['count'].to_i*1 if k=="acq"}
    - @acq_totalmarks=@qmarks_ea[3]*@qcount[3]
    - if task==1
      = number_with_precision(@marks_for_questions[count2].student_mark, precision: 2)
    - elsif task==2
      = text_field "exammark[marks_attributes][#{count2}]", :student_mark,:value=>number_with_precision(@exist_mark,:precision=>2) , :size=>2, :class=>'k1'
      /HIDDEN FIELD FOR ID OF EXISTING RECORD-edit existing record instead of creating a new one
      - if @exammark  && @marks_for_questions.count!=0
        = hidden_field "exammark[marks_attributes][#{count2}]", :id, :value => @marks_for_questions[count2].id
  %td
    \/ 
    / NOTE - examquestions marks - no longer in use - use exam_template - full_marks instead
    /- if @examquestions.count>0
    /  =number_with_precision(@examquestions.acqq[count].marks, precision: 2)
    /- else
    =number_with_precision(@acq_totalmarks/@qcount[3], precision: 2)


