%tr
  - if count == 0
    %td{:rowspan=>"#{@examquestions.acqq.count}"} ACQ
  %td=count+1
  %td=@examquestions.acqq[count].question
  %td
    - if task==1
      = @marks_for_questions[count2].student_mark
    - elsif task==2
      = text_field "exammark[marks_attributes][#{count2}]", :student_mark,:value=>number_with_precision(@exist_mark,:precision=>2) , :size=>4, :class=>'he'
      /HIDDEN FIELD FOR ID OF EXISTING RECORD-edit existing record instead of creating a new one
      - if @exammark  && @marks_for_questions.count!=0
        = hidden_field "exammark[marks_attributes][#{count2}]", :id, :value => @marks_for_questions[count2].id
  %td
    \/ 
    =number_with_precision(@examquestions.acqq[count].marks, precision: 2)