- model_class = Exammark
.col-md-8.col-md-offset-1
  %dl.dl-horizontal

    %dt= t 'exam.exammark.marks' , :default => model_class.human_attribute_name(:marks) + ":"
    %dd
      - unless (@exammark.exampaper.klass_id == 1|| @exammark.exampaper.klass_id == 0)
        =number_with_precision(@exammark.total_marks, precision: 2)
        \/
        =number_with_precision(@exammark.exampaper.examtemplates.pluck(:total_marks).inject{|sum, x|sum+x}, precision: 2) 
      - else
        /################################################
        %table.table
          - @examquestions = @exammark.exampaper.examquestions
          - @examtemplates = Exam.where(id: @exammark.exam_id).first.examtemplates
          %thead
            %tr
              %th=t 'exam.examquestion.questiontype'
              %th No
              %th=t 'exam.exammark.question'
              %th=t 'exam.exammark.mark'
          %tbody
            - if @exammark
              - @marks_for_questions = Mark.where(exammark_id: @exammark.id).sort_by{|x|x.created_at}
 
              /start-display MCQ questions details
              - if @examquestions.mcqq.count > 0 || @examtemplates.mcqq.count > 0
                = render 'show_mcq', :task=>1

              /start-display MEQ questions details
              - count2 = 0
              - if @examquestions.meqq.count > 0 || @examtemplates.meqq.count > 0
                - if @examquestions.meqq.count > 0
                  - meq_count = @examquestions.meqq.count-1
                - else
                  - meq_count = @examtemplates.meqq[0].try(:quantity)-1
                - 0.upto(meq_count) do |count|
                  = render 'show_meq', :count=>count, :count2=>count2, :task=>1
                  - count2+=1
                
              /start-display SEQ questions details
              - if @examquestions.seqq.count > 0 || @examtemplates.seqq.count > 0
                - if @examquestions.seqq.count > 0
                  - seq_count = @examquestions.seqq.count-1
                - else
                  - seq_count = @examtemplates.seqq[0].quantity-1 
                - 0.upto(seq_count) do |count| 
                  = render 'show_seq', :count=>count, :count2=>count2, :task=>1
                  - count2+=1 
                
              /start-display ACQ questions details
              - if @examquestions.acqq.count > 0 || @examtemplates.acqq.count > 0 
                - if @examquestions.acqq.count > 0
                  - acq_count = @examquestions.acqq.count-1
                - else
                  - acq_count = @examtemplates.acqq[0].quantity-1
                - 0.upto(acq_count) do |count|
                  = render 'show_acq', :count=>count, :count2=>count2, :task=>1
                  - count2+=1 
                
              /start-display OSCI questions details
              - if @examquestions.osci2q.count > 0 || @examtemplates.osci2q.count > 0
                - if @examquestions.osci2q.count > 0
                  - osci_count = @examquestions.osci2q.count-1 
                - else
                  - osci_count = @examtemplates.osci2q[0].quantity-1        
                - 0.upto(osci_count) do |count|
                  = render 'show_osci', :count=>count, :count2=>count2, :task=>1
                  - count2+=1 
                
              /start-display OSCII questions details
              - if @examquestions.osci3q.count > 0 || @examtemplates.osci3q.count > 0  
                - if @examquestions.osci3q.count > 0
                  - oscii_count = @examquestions.osci3q.count-1
                - else
                  - oscii_count = @examtemplates.osci3q[0].quantity-1
                - 0.upto(oscii_count) do |count|
                  = render 'show_oscii', :count=>count, :count2=>count2, :task=>1
                  - count2+=1

              /start-display OSCE questions details
              - if @examquestions.osceq.count > 0 || @examtemplates.osceq.count > 0   
                - if @examquestions.osceq.count > 0
                  - osce_count = @examquestions.osceq.count-1 
                - else
                  - osce_count = @examtemplates.osceq[0].quantity-1
                - 0.upto(osce_count) do |count|
                  = render 'show_osce', :count=>count, :count2=>count2, :task=>1
                  - count2+=1

              /start-display OSPE questions details
              - if @examquestions.ospeq.count > 0 || @examtemplates.ospeq.count > 0   
                - if @examquestions.ospeq.count > 0
                  - ospe_count = @examquestions.ospeq.count-1
                - else
                  - ospe_count = @examtemplates.ospeq[0].quantity-1
                - 0.upto(ospe_count) do |count|
                  = render 'show_ospe', :count=>count, :count2=>count2, :task=>1
                  - count2+=1

              /start-display VIVA questions details
              - if @examquestions.vivaq.count > 0 || @examtemplates.vivaq.count > 0 
                - if @examquestions.vivaq.count > 0
                  - viva_count = @examquestions.vivaq.count-1 
                - else
                  - viva_count = @examtemplates.vivaq[0].quantity-1 
                - 0.upto(viva_count) do |count|
                  = render 'show_viva', :count=>count, :count2=>count2, :task=>1
                  - count2+=1
                
              /start-display TRUEFALSE questions details
              - if @examquestions.truefalseq.count > 0 || @examtemplates.truefalseq.count > 0  
                - if @examquestions.truefalseq.count > 0
                  - truefalse_count = @examquestions.truefalseq.count-1 
                - else
                  - truefalse_count = @examtemplates.truefalseq[0].quantity-1 
                - 0.upto(truefalse_count) do |count| 
                  = render 'show_truefalse', :count=>count, :count2=>count2, :task=>1
                  - count2+=1
              
              - diploma=Programme.where(course_type: 'Diploma')
              - radiografi=diploma.where('name ILIKE?', '%Radiografi%').first.id
              - carakerja=diploma.where('name ILIKE?', '%Jurupulih Perubatan Cara Kerja%').first.id

              %tr
                - if @exammark.exampaper.subject.root_id==radiografi || @exammark.exampaper.subject.root_id==carakerja
                  %td{rowspan: 3, colspan: 3, align: "right"}
                    %b=t 'exam.exammark.total'
                  %td
                    = number_with_precision(@exammark.total_marks, precision: 2)
                - else
                  %td{colspan: 3, align: "right"}
                    %b=t 'exam.exammark.total'
                  %td
                    - @fullmarks = Exammark.fullmarks(@exammark.exam_id)
                    - if @fullmarks==70
                      /total marks already in 70% weightage
                      - marks_70=@exammark.total_marks
                    - else
                      - marks_70=number_with_precision((@exammark.total_marks/@fullmarks)*100*0.7, precision: 2) 
                    = number_with_precision(marks_70, precision: 2)
                  %td (70%)
                - if @exammark.exampaper.subject.root_id==radiografi || @exammark.exampaper.subject.root_id==carakerja
                  %td
                    \/ 
                    - if @examquestions.count > 0
                      =number_with_precision(@examquestions.all.map(&:marks).inject{|sum, x|sum+x}, precision: 2)
                    - else
                      =number_with_precision(@examtemplates.all.map(&:total_marks).inject{|sum, x|sum+x}, precision: 2)
                    
              - if @exammark.exampaper.name=='F'
                - if @exammark.exampaper.subject.root_id==radiografi || @exammark.exampaper.subject.root_id==carakerja
                  %tr
                    %td=number_with_precision((@exammark.total_marks/Exammark.fullmarks(@exammark.exam_id))*100, precision: 2)
                    %td (100.00 %)
                  %tr
                    %td=number_with_precision((@exammark.total_marks/Exammark.fullmarks(@exammark.exam_id))*100*0.7, precision: 2)
                    %td (70.00 %)
        /################################################
