%tr
  - if count == 0
    - if @examquestions.count>0
      %td{:rowspan=>"#{@examquestions.truefalseq.count}"} TRUE or FALSE
    - else
      %td{:rowspan=>"#{@qcount[9]}"} TRUE or FALSE
  %td=count+1
  %td
    - if @examquestions.count>0
      =simple_format(@examquestions.truefalseq[count].question) 
    - else
      \-
  %td
    /- @truefalse_totalmarks=0
    /- @exam_template.question_count.each{|k,v|@truefalse_totalmarks=v['full_marks'].to_f if k=="truefalse"}
    - @truefalse_totalmarks=@qmarks_ea[9]*@qcount[9]
    - if task==1
      = number_with_precision(@marks_for_questions[count2].student_mark, precision: 2)
    - elsif task==2
      = text_field "exammark[marks_attributes][#{count2}]",:student_mark, :value=>number_with_precision(@exist_mark,:precision=>2), :size=>2, :class=>'k1'
      /HIDDEN FIELD FOR ID OF EXISTING RECORD-edit existing record instead of creating a new one
      - if @exammark && @marks_for_questions.count!=0
        = hidden_field "exammark[marks_attributes][#{count2}]", :id, :value => @marks_for_questions[count2].id
  %td
    \/ 
    - if @examquestions.count>0
      =number_with_precision(@examquestions.truefalseq[count].marks, precision: 2)
    - else
      =number_with_precision(@truefalse_totalmarks/@qcount[9], precision: 2)


