%tr
  - if count == 0 
    %td{:rowspan=>"#{@examquestions.seqq.count}"} SEQ
  %td=count+1
  %td=@examquestions.seqq[count].question
  %td
    - if task == 1
      /= @exammark.marks[count2].student_mark
      = number_with_precision(@marks_for_questions[count2].student_mark, precision: 2) 
    - elsif task == 2
      = text_field "exammark[marks_attributes][#{count2}]",:student_mark , :value=>number_with_precision(@exist_mark,:precision=>2), :size=>4, :class=>'he1' 
      /HIDDEN FIELD FOR ID OF EXISTING RECORD-edit existing record instead of creating a new one
      - if @exammark && @marks_for_questions.count!=0
        = hidden_field "exammark[marks_attributes][#{count2}]", :id, :value => @marks_for_questions[count2].id
  %td
    \/
    =number_with_precision(@examquestions.seqq[count].marks, precision: 2)
