= search_form_for @search, url: training_intakes_path,  class: "form-inline" do |f|
  %tr.search_row.hidden
    %td= f.text_field :description_cont, size: 2,  :class => "form-control"
    %td= f.text_field :register_on_gteq, class: 'form-control mandatory', 'data-behaviour' => 'datepicker_today'
    %td= f.text_field :programme_name_cont, size: 2,  :class => "form-control"
    %td= f.text_field :is_active_cont, size: 2,  :class => "form-control"
    %td.input-group
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw