= search_form_for @search, url: training_intakes_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    - if current_user.college.code=="amsas"
      %td= f.text_field :name_cont, size: 2, class: "form-control"
    %td
      - if current_user.college.code!="amsas"
        = f.text_field :description_cont, size: 2, class: "form-control"
      - else
        = f.text_field :division_search, size: 2, class: "form-control"
    %td= f.text_field :register_on_gteq, size: 2, class: 'form-control date_picker'
    %td= f.text_field :programme_name_cont, size: 2,  class: "form-control"
    %td= f.text_field :coordinator_name_cont, size: 2,  class: "form-control" 
    %td
      .input-group
        =select_tag('q[is_active_eq]', options_for_select([[t('actions.all_records'),''],[t('active'), true],[t('not_active'), false]]), class: 'selectpicker',"data-width"=>'60px') 
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw
