%br
%strong=t 'exam.evaluate_course.average_scores'
- if @evs_int!=@evs_act
  .right.small{style: "color: red; font-style: italic;"}
    =t('exam.average_course.score_rounded_actual')
    =@evs_act.split(",").join(",")+")"

%table.table.table-bordered
  %tr
    %th{:colspan=>"5"}=t 'exam.evaluate_course.evaluation_scale'
  %tr
    %td.centre{:width=>"80px;"} 0 &#x2194;  1 
    %td.centre{:width=>"80px;"} 2 &#x2194;  3 
    %td.centre{:width=>"80px;"} 4 &#x2194;  5 
    %td.centre{:width=>"80px;"} 6 &#x2194;  7
    %td.centre{:width=>"80px;"} 8 &#x2194;  9 
  %tr
    %td.centre=t 'exam.evaluate_course.unsatisfactory'   
    %td.centre=t 'exam.evaluate_course.average'    
    %td.centre=t 'exam.evaluate_course.satisfactory'    
    %td.centre=t 'exam.evaluate_course.good'    
    %td.centre=t 'exam.evaluate_course.excellent'    
      
%table.table.table-bordered
  %tr
    %th{:width=>"20px;"} No
    %th{:width=>"300px;"}= t 'exam.evaluate_course.description'
    %th{:colspan=>"9"}= t 'exam.evaluate_course.score'
  %tr
    %td{:width=>"20px;"} 1
    %td{:width=>"300px;"}=t 'exam.evaluate_course.objective_achieved'
    - 1.upto(9) do |count|
      %td{:width=>"20px;"}
        - if @evs_int[0] == count  
          %b= @evs_int[0]
        - else 
          %font{:style=>"color: #D5D3D3;"}=count
  %tr
    %td 2
    %td=t 'exam.evaluate_course.lecturer_knowledge'
    - 1.upto(9) do |count|
      %td{:width=>"20px;"}
        - if @evs_int[1]  == count
          %b= @evs_int[1]
        - else 
          %font{:style=>"color: #D5D3D3;"}=count
  %tr
    %td 3
    %td=t 'exam.evaluate_course.lecturer_q_achievement'
    - 1.upto(9) do |count|
      %td{:width=>"20px;"}
        - if @evs_int[2] == count
          %b= @evs_int[2]
        - else 
          %font{:style=>"color: #D5D3D3;"}=count  
  %tr
    %td 4
    %td=t 'exam.evaluate_course.content'
    - 1.upto(9) do |count|
      %td{:width=>"20px;"}
        - if @evs_int[3] == count  
          %b= @evs_int[3]
        - else 
          %font{:style=>"color: #D5D3D3;"}=count   
  %tr
    %td 5
    %td=t 'exam.evaluate_course.training_aids_quality'
    - 1.upto(9) do |count|
      %td{:width=>"20px;"}
        - if @evs_int[4] == count
          %b= @evs_int[4]
        - else 
          %font{:style=>"color: #D5D3D3;"}=count    
  %tr
    %td 6
    %td=t 'exam.evaluate_course.suitability_topic_sequence'
    - 1.upto(9) do |count|
      %td{:width=>"20px;"}
        - if @evs_int[5]  == count
          %b= @evs_int[5]
        - else 
          %font{:style=>"color: #D5D3D3;"}=count    
  %tr
    %td 7
    %td=t 'exam.evaluate_course.effectiveness_teaching_learning'
    - 1.upto(9) do |count|
      %td{:width=>"20px;"}
        - if @evs_int[6] == count  
          %b= @evs_int[6]
        - else 
          %font{:style=>"color: #D5D3D3;"}=count  
  %tr
    %td 8
    %td=t 'exam.evaluate_course.benefit_notes'
    - 1.upto(9) do |count|
      %td{:width=>"20px;"}
        - if @evs_int[7]== count
          %b= @evs_int[7]
        - else 
          %font{:style=>"color: #D5D3D3;"}=count

  %tr
    %td 9
    %td=t 'exam.evaluate_course.suitable_assessment'
    - 1.upto(9) do |count|
      %td{:width=>"20px;"}
        - if @evs_int[8]== count
          %b= @evs_int[8]
        - else 
          %font{:style=>"color: #D5D3D3;"}=count