%fieldset
  .row
    .col-sm-8
      = f.hidden_field :_destroy
      - if f.object.document_file_name
        %b=t('training.trainingnote.current_file')
        = f.object.document_file_name
        %br
        = link_to (t 'training.trainingnote.download'), f.object.document.url
        ||
        = link_to "ALT", f.object.document.url 
        %b=t('training.trainingnote.or')
      - else
        = f.label :document
    .col-sm-4
      %br
      = f.label :release
  .row
    .col-sm-8
      = f.file_field :document, class: 'form-control'
    .col-sm-4
      = f.text_field :release,  class: 'date_picker_reverse form-control', value: f.object.try(:release).try(:strftime, '%d-%m-%Y')
  .row 
    .col-sm-8
      = f.label :title
      = f.text_field :title, :placeholder => t('training.trainingnote.title'), :size => '5', class: 'form-control'
    .col-sm-2
      = f.label :version
      = f.text_field :version, :placeholder => t('training.trainingnote.version'), :size => '2', class: 'form-control'
  .row    
    .col-sm-8
      = f.label (t 'activerecord.attributes.trainingnotes.staff_id')
      - if current_user.college.code=='amsas'
        = f.collection_select :staff_id, Staff.joins(:positions).where('positions.name=?', 'Jurulatih').order(rank_id: :asc, name: :asc), :id, :staff_with_rank, {:include_blank => (t 'select')}, {class: 'selectpicker mandatory', "data_width" => "auto"}
      - else
        = f.collection_select :staff_id, Staff.joins(:positions).where('positions.name=?', 'Pengajar').order(rank_id: :asc, name: :asc), :id, :staff_with_rank, {:include_blank => (t 'select')}, {class: 'selectpicker mandatory', "data_width" => "auto"}

    .col-sm-2
    .col-sm-2
      /= link_to image_tag("delete.png", :border => 0, :title => 'Remove'), class: "remove_fields"
      /= link_to content_tag(:i, "", class: "fa fa-trash-o"), data: {"data-toggle" => "tooltip", title: "Delete"}, class: "btn btn-danger remove_fields"
      = link_to content_tag(:i, "", class: "fa fa-trash-o"), "#", class: "removing_fields"
  %hr

  :javascript
    /*$('.date_picker_reverse').date_picker_reverse('render');*/
    $('.date_picker_reverse').datetimepicker({
      timepicker:false,
      format:'d-m-Y',
      formatDate:'Y-m-d'
    });

    $('.removing_fields').click(function(){
      var fieldset=$(this).parent().parent().parent();
      var row=$(this).parent().parent();
      var all_fields=row.children().children();
      var destroyer=all_fields[0];
      destroyer.value=true;    
      fieldset.hide();
    });
