- model_class = Topicdetail
.page-header
  %h1= t('training.topicdetail.title')
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_training_topicdetail_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
    %li= link_to  (fa_icon "file-pdf-o", text: (t 'print')),  topicdetail_report_training_topicdetails_path(params.merge(format: 'pdf' ))

.row.filter{style: "display:none;"}
  .col-md-2
    
.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th{width: '30%'}=(t 'training.topicdetail.programme')+" | "+(t 'training.topicdetail.subject')
        %th{width: '20%'}= sort_link(@search, :topic_code, (t 'training.topicdetail.topic_code'))
        %th{width: '5%'}= t 'training.topicdetail.version_no'
        %th{width: '10%'}= t 'training.topicdetail.duration'
        %th{width: '5%'}= t 'training.topicdetail.theory'
        %th{width: '5%'}= t 'training.topicdetail.tutorial'
        %th{width: '5%'}= t 'training.topicdetail.practical'
        %th{width: '5%'}= t 'training.topicdetail.training_notes'
        %th{width: '15%'}= sort_link(@search, :prepared_by, (t 'training.topicdetail.prepared_by'))
        
    %tbody
    = render "index_search"
    
    - @topicdetails.sort.reverse.each do |topicdetail|
      %tr
        /subject column
        %td
          =topicdetail.subject_topic.root.programme_list+" | "
          - if topicdetail.subject_topic.ancestry_depth == 3
            = topicdetail.subject_topic.parent.code
          - elsif topicdetail.subject_topic.ancestry_depth == 4
            = topicdetail.subject_topic.parent.parent.code
          - else 
            = topicdetail.subject_topic.ancestors.where(course_type: "Subject").first.subject_list

        /topic @ subtopic column
        %td
          - if topicdetail.subject_topic.ancestry_depth == 3
            ="("+topicdetail.subject_topic.code+")"
          - elsif topicdetail.subject_topic.ancestry_depth == 4
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            =topicdetail.subject_topic.code+" - "   
          =h link_to topicdetail.subject_topic.name, training_topicdetail_path(topicdetail)

        %td=h topicdetail.version_no
        %td=h topicdetail.subject_topic.try(:total_duration)
        %td=h topicdetail.subject_topic.try(:lecture_duration) if topicdetail.subject_topic.lecture_d?
        %td=h topicdetail.subject_topic.try(:tutorial_duration) if topicdetail.subject_topic.tutorial_d?
        %td=h topicdetail.subject_topic.try(:practical_duration) if topicdetail.subject_topic.practical_d?
        %td.centre=h topicdetail.trainingnotes.count > 0 ? fa_icon("check") : fa_icon("minus")
        %td=h topicdetail.topic_creator.rank_id? ? topicdetail.topic_creator.try(:staff_with_rank) : topicdetail.topic_creator.try(:name)

  .right{style:"padding:0 30px; margin:0;"}= paginate @topicdetails, :theme => 'twitter-bootstrap-3'

:javascript
$(document).ready(function(){
  $('.toga').click(function() {
    $('.search_row').toggle(); 
  });
})

