- model_class = Repository
.page-header
  %h1=@repository.data.blank? ? (t 'repositories.edit') : (t 'repositories.edit2')
    
.row.fluid
  = form_for @repository, html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    
    - if @repository.data.blank?
      = render :partial => 'repositories/iso/form', :locals => {:f => f}
    - else
      = render :partial => 'repositories/digital_library/form', :locals => {:f => f}
    
    .col-md-offset-1
      .form-group
        .col-sm-offset-3.col-sm-1
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), repository_path(@repository), :class => 'btn btn-default'
        .col-sm-offset-0.col-sm-2
          = f.submit t('update'), class: "btn btn-primary"