- model_class = Repository
.page-header
  %h1= t('repositories.list')#, :default => model_class.model_name.human.pluralize
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    /- permitted_to? :create, :repositories do
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_repository_path
  %ul.nav.navbar-nav.navbar-right
    %li= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
      
.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th{width: '45%'}= sort_link(@search, :title, (t 'repositories.title2'))
        %th{width: '45%'}= sort_link(@search, :title, (t 'repositories.uploaded'))
        %th{width: '10%'}= (t 'download')
    %tbody
      = render "index_search"
      - @repositories.group_by{|x|x.render_category}.each do |cat, repositories|
        %tr
          %td.group{colspan: 3}=cat
        - for repository in repositories
          %tr
            %td= link_to repository.title, repository_path(repository)
            %td= repository.uploaded_file_name
            %td= link_to fa_icon("download"), download_repository_path(repository)
     
  .right{style:"padding:0 30px; margin:0;"}= paginate @repositories, :theme => 'twitter-bootstrap-3'