/=@rep.count
/=@repos.count
/=@repositories.count
/%br
/= @per_vessel
/- if params[:page]
/  =params[:page]
/- else
/  page satu
/%BR
/=@per_vessel_count_arr
/[10, 10, 38, 38, 8, 8, 8, 8, 8, 8, 8, 46, 0] 
/%br
/=@per_vessel_count_arr2
/[0, 10, 20, 58, 96, 104, 112, 120, 128, 136, 144, 152, 198, 198]

/=@search.vessel_search
/=@actual_records.count
- model_class = Repository
.page-header
  %h1= t('repositories.list2')

.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li=link_to fa_icon("backward"), library_main_path, {title: (t 'library.main')}
    %li="<a href=http://#{request.host}:3003/repositories/index2><span class='badge'>#{@repos.count}</span> #{t('records').titleize}</a>".html_safe
    - permitted_to? :create, :repositories do
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new2_repositories_path
    - permitted_to? :manage, :library_librarytransactions do
      %li= link_to content_tag(:li, fa_icon("th-list", text: (t 'library.transaction.title'))), repository_loan_library_librarytransactions_path
  %ul.nav.navbar-nav.navbar-right
    %li= link_to content_tag(:li, fa_icon("search-plus", text: (t 'equery.title2'))), new_equery_report_repositorysearch_path(searchrepotype: '2')
    %li= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
    %li= link_to  (fa_icon "file-pdf-o", text: (t 'print')), repository_list2_repositories_path(params.merge(format: 'pdf' ))

.row
  .col-md-12
    .alert.alert-warning.small
      %strong=t 'repositories.legend'
      %table
        %tr
          %td{colspan: 2}="<u>#{(t 'column')} : #{(t 'repositories.loan')}</u>".html_safe
          %td
          %td{colspan: 2}="<u>#{(t 'column')} : #{(t 'repositories.e_document')}</u>".html_safe
          %td
          %td{colspan: 8}="<u>#{(t 'document_hierachy')}</u>".html_safe
        %tr
          %td.centre{width: '5%', style: 'color: black;'}=fa_icon("plus-circle")
          %td{width: '15%'}=(t 'repositories.loan_allowed')
          %td{width: '5%'}
          %td.centre{width: '5%', style: 'color: black;'}=fa_icon("file-pdf-o")
          %td{width: '15%'}=(t 'repositories.available')
          %td{width: '5%'}
          /%td{width: '40%'}
        %tr
          %td.centre.text-red=fa_icon("exclamation-circle")
          %td=(t 'repositories.loan_prohibited')
          %td
          %td.centre.text-red=fa_icon("chain-broken")
          %td=(t 'repositories.not_available')
          %td
          %td{width: '4%', style: 'padding-left: 10px;'} Vessel
          %td{width: '2%', style: 'padding-left: 10px;'} -->
          %td{width: '8%', style: 'padding-left: 10px;'} Document Type
          %td{width: '2%', style: 'padding-left: 10px;'} -->
          %td{width: '15%', style: 'padding-left: 10px;'} Documentation Group / System
          %td{width: '2%', style: 'padding-left: 10px;'} -->
          %td{width: '7%', style: 'padding-left: 10px;'} Equipment
          %td{width: '10%'}
          /%td{width: '4%', style: 'background-color: #999; color: white; font-weight: bold; padding-left: 10px;'} Vessel
          /%td{width: '2%', style: 'background-color: #999; color: white; font-weight: bold; padding-left: 10px;'} 
          /%td{width: '8%', style: 'background-color: #999; color: black; font-weight: bold; padding-left: 10px;'} Document Type
          /%td{width: '2%', style: 'background-color: #999; color: white; font-weight: bold; padding-left: 10px;'} 
          /%td{width: '15%', style: 'background-color: #999; color: blue; font-weight: bold; padding-left: 10px;'} Documentation Group / System
          /%td{width: '2%', style: 'background-color: #999; color: white; font-weight: bold; padding-left: 10px;'} 
          /%td{width: '7%', style: 'background-color: #999; color: #fcdcbe; font-style: italic; padding-left: 10px;'} Equipment
          /%td{width: '10%'}
            
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th{width: '5%'} No
        %th{width: '40%'}=(t 'repositories.document_title')
        %th{width: '20%'}=(t 'repositories.refno2')
        %th{width: '9%'}=(t 'repositories.publish_date')
        %th{width: '5%'}=(t 'repositories.master')+"?"
        %th{width: '8%'}=(t 'repositories.classification')
        %th{width: '7%'}=(t 'repositories.loan')
        %th{width: '6%'}=(t 'repositories.e_document')
        
    %tbody
      = render "repositories/digital_library/index_search"
      - cnt=0

      /[10, 10, 38, 38, 8, 8, 8, 8, 8, 8, 8, 46, 0] 
      /[0, 10, 20, 58, 96, 104, 112, 120, 128, 136, 144, 152, 198, 198]
      
      /complete vessel
      /- vessel_sort=['KD Jebat', 'KD Lekiu', 'KD Kasturi', 'KD Lekir', 'KD Pahang', 'KD Kelantan', 'KD Selangor', 'KD Terengganu', 'KD Kedah', 'KD Perak', 'KD Mahawangsa', 'KLD Tunas Samudera', 'KD Perantau']
      
      /vessel list based on Ransack search result
      - unless @search.vessel_search.blank?
        - vessel_sort=[@search.vessel_search]
      - else
        - vessel_sort=[]
        - @per_vessel.each do |vess|
          - vessel_sort << vess[0]
  
      - if params[:page]
        - no=(params[:page].to_i-1)*20
      - else
        - no=0 
      
      /starting value for document_type(BRs, Drawings, Test & Trials) & subdocument_type(systems)
      - doctype=""
      - subdoctype=""
      - equip=""
      
      - for repository in @repositories
        //1) heading - vessel (name)
        /1a-display heading (vessel name) - before first record of each vessel - start
        - @per_vessel_count_arr2.each_with_index do |x, ind|
          - if x==no
            %tr
              %td.group{colspan: 8}=vessel_sort[ind]
            /reset value for document_type(BRs, Drawings, Test & Trials) & subdocument_type(systems) - for every NEW vessel
            - doctype=""
            - subdoctype=""
            - equip=""
        /display heading (vessel name) - before first record of each vessel - end
        
        /1b-rescue for pages w/o heading (vessel name) before the first record - start
        - if cnt==0 && @per_vessel_count_arr2.include?(no)==false
          %tr
            %td.group{colspan: 8}
              /=no
              - checker=0
              - @per_vessel_count_arr2.each_with_index do |x, ind|
                - if x > no && checker==0
                  - checker+=1
                  =vessel_sort[ind-1]
                  .small{style: 'font-weight: normal; font-style: italic;'}=(t 'repositories.continued_from')
        /rescue for pages w/o heading (vessel name) before the first record - end 
        
        //2) heading - document_type (BRs, Drawings, Test & Trials) & subdocument_type (system)
        - if repository.render_document!= doctype
          %tr
            %td.document{colspan: 8}=doctype=repository.render_document
          - if repository.render_subdocument!= subdoctype
            %tr
              %td.system{colspan: 8}=subdoctype=repository.render_subdocument
              - if repository.render_equipment!=equip
                %tr
                  %td.tech_equipment{colspan: 8}=equip=repository.render_equipment
              - else
                %tr
                  %td.tech_equipment{colspan: 8}=equip
          - else
            %tr
              %td.group{colspan: 8, style: 'color: blue;'}=subdoctype
              - if repository.render_equipment!=equip
                %tr
                  %td.tech_equipment{colspan: 8}=equip=repository.render_equipment
              - else
                %tr
                  %td.tech_equipment{colspan: 8}=equip
        - else
          - if repository.render_subdocument!= subdoctype
            %tr
              %td.system{colspan: 8}=subdoctype=repository.render_subdocument
            - if repository.render_equipment!=equip
              %tr
                %td.tech_equipment{colspan: 8}=equip=repository.render_equipment
            - else
              %tr
                %td.tech_equipment{colspan: 8}=equip
          - else
            - if repository.render_equipment!=equip
              %tr
                %td.tech_equipment{colspan: 8}=equip=repository.render_equipment
            

        //3) display all records
        - no+=1
        - cnt+=1
        %tr
          %td.centre=cnt
          %td= link_to repository.title, repository_path(repository)
          %td
            /=repository.id
            =repository.refno
            .text-grey.small{style: 'font-style: italic;'}="("+(t 'repositories.serial_no')+": "+repository.code+")"
            /=repository.render_document
            /=repository.render_subdocument
          %td.centre=repository.publish_date
          %td.centre.small=repository.vessel.blank? ? fa_icon("check") : fa_icon("times")
          %td.centre=repository.render_classification
          %td.centre
            - if repository.classification=="3"
              .text-red= fa_icon("exclamation-circle")
            - else
              - loaned=Librarytransaction.marine_loaned_serial
              - if loaned.include?(repository.code)
                =t 'repositories.on_loan'
              - else
                =link_to (fa_icon "plus-circle"), loan_repository_path(repository)
          %td.centre
            - unless repository.uploaded.blank?
              =link_to (fa_icon "file-pdf-o"), repository.uploaded.url 
            - else
              .text-red= fa_icon("chain-broken")      

.right{style:"padding:0 30px; margin:0;"}= paginate @repositories, :theme => 'twitter-bootstrap-3'
