- model_class = Repository
.page-header
  %h1=@repository.data.blank? ? (t 'repositories.details') : (t 'repositories.details2')
= render 'shared/flashes'

.tab-content.col-md-offset-3
  - unless @repository.data.blank?
    = render partial: "repositories/digital_library/show", locals: {repository: @repository}
  - else
    = render partial: "repositories/iso/show", locals: {repository: @repository}
    
.row
  .col-md-6.col-md-offset-4
    .form-actions
      - if @repository.data.blank?
        = link_to content_tag(:i, "", class: "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), repositories_path, class: 'btn btn-default'
      - else
        = link_to content_tag(:i, "", class: "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), index2_repositories_path, class: 'btn btn-default'
      = link_to content_tag(:i, "", class: "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), edit_repository_path(@repository), class: 'btn btn-primary'
      - permitted_to? :manage, :repositories do
        = link_to content_tag(:i, "", class: "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
          repository_path(@repository),                                                                                                    |
          :method => 'delete',                                                                                                           |
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
          class: 'btn btn-danger'