.col-md-offset-2     
  .form-group
    .col-sm-2.control-label
      = f.label  t('activerecord.attributes.user.email'), for: :email
    .col-md-7
      = f.email_field :email, autofocus: true, class: 'form-control'

  .form-group
    .col-sm-2.control-label
      = f.label t('activerecord.attributes.user.password'), for: :password
      
    .col-md-7
      = f.password_field :password, autocomplete: "off", class: 'form-control'
      .small=t('activerecord.attributes.user.leaves_blank')
    
  .form-group
    .col-sm-2.control-label
      = f.label t('activerecord.attributes.user.password_confirmation'), for: :password_confirmation
    .col-md-7
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      
  .form-group
    .col-sm-2.control-label
      = f.label t('activerecord.attributes.user.current_password'), for:  :current_password
     
    .col-md-7
      = f.password_field :current_password, autocomplete: "off", class: 'form-control'
      .small=t('activerecord.attributes.user.current_required')
    
- if devise_mapping.confirmable? && resource.pending_reconfirmation?
  %div
    Currently waiting confirmation for: 
    = resource.unconfirmed_email

