.row
 .col-md-6.col-md-offset-2
  .panel.panel-info
   .panel-body
    .row
     .col-md-8.col-md-offset-1
      %h1=(t 'activerecord.attributes.user.sign_up')

      = form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-horizontal') do |f|
       = devise_error_messages!

       .form-group
        .col-md-4.control-label
         = f.label :email
        .col-md-8
         = f.email_field :email, autofocus: true, class: 'form-control'
         %br

       .form-group
        .col-md-4.control-label
         = f.label :password
        .col-md-8
         = f.password_field :password, autocomplete: "off", class: 'form-control'
         .help-block
          - if @validatable
           (#{@minimum_password_length} #{(t 'activerecord.attributes.user.characters_minimum')})
         %br

       .form-group
        .col-md-4.control-label
         = f.label :password_confirmation
        .col-md-8
         = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

       .col-md-3.col-md-offset-9
        = f.submit (t 'activerecord.attributes.user.sign_up'), class: "btn btn-primary"

       = render "devise/shared/links"
