= search_form_for @search, url: training_trainingnotes_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td{:colspan=>'2'}
    %td= f.text_field :topicdetail_subject_topic_name_cont, size: 2, :class => "form-control"
    %td= f.text_field :title_cont, size: 2,  :class => "form-control"
    %td= f.text_field :reference_cont, size: 2,  :class => "form-control"
    %td= f.text_field :version_cont, size:2, :class => "form-control"
    %td= f.text_field :release_cont, size:2, :class => "form-control"
    %td &nbsp;
    %td
      .input-group 
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw
       
  :javascript
    $('.date-picker').datetimepicker({
     timepicker:false,
       format: "Y-m-d",
       autoclose: true
     });