- model_class = Exam
.col-md-11
  %hr  
  %table.table.table-bordered
    %head
      %tr
        %th{rowspan: 2} &nbsp;
        %th{rowspan: 2}=t('student.name')
        %th{rowspan: 2}=t('student.students.matrixno')
        %th{rowspan: 2}=t('student.icno')
        - @subjects = Examresult.get_subjects(@examresult.programme_id,@examresult.semester)
        - for subject in @subjects
          %th.centre{colspan: 2}=h subject.code
        %th.centre{rowspan: 2}= t 'examresult.total' 
        %th.centre{rowspan: 2} PNGS17
        %th.centre{rowspan: 2} PNGK
        %th.centre{rowspan: 2} Status
        %th.centre{rowspan: 2}= t 'examresult.remark'
      %tr
        - 0.upto(@subjects.count-1) do |count|
          %th=t('grade.grade')
          %th NG
    %body
      - @nos=0
      = f.fields_for :resultlines do |builder|
        - @nos+=1
        = render 'resultline_fields', {:f => builder, :nos => @nos}
      - if @students.count > 0 && @examresult.resultlines.count==0
        - 0.upto(@students.count-1).each do |no|
          %tr
            %td=no
            = hidden_field "examresult[resultlines_attributes][#{no}]", :student_id, :size =>8, :value=>@students[no].id
            %td=@students[no].name
            %td=@students[no].matrixno
            %td=@students[no].icno
            - for subject in @subjects
              - @student_grade = Grade.where('student_id=? and subject_id=?', @students[no].id,subject.id).first
              - @student_finale = Grade.where('student_id=? and subject_id=?', @students[no].id,subject.id).first
              %td.center
                - unless @student_grade.nil? || @student_grade.blank?
                  =@student_grade.set_gred
              %td.center
                - unless @student_finale.nil? || @student_finale.blank? 
                  =number_with_precision(@student_finale.set_NG.to_f,:precision=>2)
                - else 
                  = number_with_precision(0.00,:precision=>2) 
            %td= text_field "examresult[resultlines_attributes][#{no}]", :total, :size =>8, :value=>0
            %td= text_field "examresult[resultlines_attributes][#{no}]", :pngs17, :size =>8, :value=>0
            %td= text_field "examresult[resultlines_attributes][#{no}]", :pngk, :size =>8, :value=>0
            %td= select_tag "examresult[resultlines_attributes][#{no}][status]", options_for_select(DropDown::RESULT_STATUS) 
            %td= text_field "examresult[resultlines_attributes][#{no}]", :remark, :size =>8