= search_form_for [:examresult, @search], url: exam_examresults_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td= f.text_field :keyword_search, class: 'form-control'
    %td= f.text_field :examdts_gteq, class: 'form-control date_picker', size: 2
    %td= f.text_field :examdte_gteq, class: 'form-control date_picker', size: 2
    %td= select_tag('q[semester_eq]',options_for_select([[t('all_records'),'']]+DropDown::SEMESTER),class: 'selectpicker',"data-width"=>'100px')
    %td
      .input-group
        
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw
