- model_class = Examresult
.page-header
  %h1= t('exam.examresult.title')#, :default => model_class.model_name.human.pluralize
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    - permitted_to? :create, :exam_examresults do
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_exam_examresult_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
    %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), examresult_list_exam_examresults_path(params.merge(format: 'pdf'))

= render 'shared/flashes'
.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th{width: '50%'}= sort_link(@search, :programme_id, (t 'exam.examresult.programme_id'))
        %th{width: '20%'}= sort_link(@search, :examdts, (t 'exam.examresult.examdts'))
        %th{width: '20%'}= sort_link(@search, :examdte, (t 'exam.examresult.examdte'))
        - if current_user.college.code=="kskbjb"
          %th{width: '10%'} Semester

    %tbody
      = render "search_bar"
      - if current_user.college.code=="kskbjb"
        - grouping=@examresults.group_by{|x|x.intake_group}
      - elsif current_user.college.code=="amsas"
        - grouping=@examresults.group_by{|x|x.intake}
      - grouping.each do |intake, examresults|
        %tr
          %td.group{colspan: 5}
            %span
              =(t 'exam.examresult.intake')+" :"
              - if current_user.college.code=="kskbjb"
                =Date.new(intake[0,4].to_i, intake[5,2].to_i, intake[8,2].to_i).try(:strftime, '%b %Y').upcase
              - else
                = intake.siri_name
        /- examresults.group_by {|y|y.programmestudent.programme_list}.each do |programme, examresults2|
        /%tr
        /  - if current_user.college.code=="kskbjb"
        /    %td.group{colspan: 5}=programme
        /  - else
        /    %td.group{colspan: 4}=programme
        /- for examresult in examresults2.sort_by{|x|x.semester}
        - for examresult in examresults.sort_by{|x|x.semester}
          %tr
            %td= link_to examresult.programmestudent.programme_list, exam_examresult_path(examresult)
            %td=h l(examresult.examdts)
            %td=h l(examresult.examdte)
            - if current_user.college.code=="kskbjb"
              %td=h examresult.render_semester

  .right{style:"padding:0 30px; margin:0;"}= paginate @examresults, :theme => 'twitter-bootstrap-3'

