- model_class = Examresult
.page-header
  %h1= t('exam.examresult.title')#, :default => model_class.model_name.human.pluralize
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    /HACK - restrict common_subjects lecturers - still accessible via direct url
    - unless @common_subjects.include?(@current_user.userable.positions[0].unit)
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_exam_examresult_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
    %li.toga= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#", class: 'bogus'  

= render 'shared/flashes'
.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th= sort_link(@search, :programme_id, (t 'exam.examresult.programme_id'))
        %th= sort_link(@search, :examdts, (t 'exam.examresult.examdts'))
        %th= sort_link(@search, :examdte, (t 'exam.examresult.examdte'))
        %th Semester

    %tbody
      = render "search_bar"
      - @examresults.each do |examresult|
        %tr
          %td= link_to examresult.programmestudent.programme_list, exam_examresult_path(examresult)
          %td=h examresult.examdts
          %td=h examresult.examdte
          %td=h examresult.render_semester
        
  .right{style:"padding:0 30px; margin:0;"}= paginate @examresults, :theme => 'twitter-bootstrap-3'

