- model_class = Examanalysissearch
.page-header
  %h1=t('equery.examanalysis.search')
= render 'shared/flashes'

.row
  .col-md-offset-1
    /= render :partial =>"equery_report/examanalysissearches/kskbjb/examanalysis_listing", locals: {examanalysissearch: @examanalysissearch, examanalyses: @examanalyses}
    = render :partial =>"equery_report/examanalysissearches/#{current_user.college.code}/examanalysis_listing", locals: {examanalysissearch: @examanalysissearch, examanalyses: @examanalyses}
.row
  .col-md-6.col-md-offset-4
    %hr
    .form-actions
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left") +" #{t('equery.title')} - #{t('exam.title')}", "/equery_reports/examination", class: 'btn btn-primary'
      %span{style: 'padding-left: 20px;'}= link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), new_equery_report_examanalysissearch_path(searchexamanalysistype: 1),  :class => 'btn btn-default'
