.form-group
  %label.col-sm-2.control-label{:for => "code"}= t 'location.code'
  .col-md-2
    = f.text_field :code, class: 'form-control'
    
.form-group
  %label.col-sm-2.control-label{:for => "code"}= t 'location.name'
  .col-md-6
    = f.text_field :name, class: 'form-control'

- parent = :parent_id
- if !parent == nil
  .form-group
    %label.col-sm-2.control-label{:for => "parent"}= t 'location.parent'
    .col-md-6
      = f.collection_select :parent_id, Location.order(:name), :id, :name, class: 'form-control', :include_blank => true
    
.form-group
  %label.col-sm-2.control-label{:for => "code"}= t 'location.administrator'
  .col-md-6
    = f.text_field :staff_name, class: 'form-control', data: {autocomplete_source: Staff.order(:name).map(&:name)}

- if @location.parent.lclass == 1; @location.lclass = 2; elsif @location.parent.lclass == 2; @location.lclass = 3; end
- if parent != nil

  .form-group
    %label.col-sm-2.control-label{:for => "code"}= t 'location.lclass'
    .col-md-6
      = f.select :lclass, DropDown::LOCATION_CATEGORIES, html_options: {:include_blank => "", class: "form-control", type: "input"}

.form-group{id: "form3",  style: "display: none;"}
  %label.col-sm-2.control-label{:for => "code"}= t 'location.lclass'
  .col-md-6
    = f.select :typename, DropDown::LOCATION_TYPE, {class: 'selectpicker'}, 'data-live-search' => 'true', include_blank: true
    
