.form-group
  .col-sm-2.control-label
    = f.label t 'location.code', for: :code
  .col-md-4
    .input-group
      .input-group-addon= @location.parent.combo_code unless @location.parent.nil?
      = f.text_field :code, class: 'form-control mandatory'
    
.form-group
  %label.col-sm-2.control-label{:for => "code"}= t 'location.name'
  .col-md-6
    = f.text_field :name, class: 'form-control mandatory'

//- parent = :parent_id
//- if !parent == nil
.form-group
  %label.col-sm-2.control-label{:for => "parent"}= t 'location.parent'
  .col-md-6
    = f.text_field :parent_code, class: 'form-control', data: {autocomplete_source: Location.where("combo_code IS NOT ?", nil).order(:combo_code).map(&:combo_code)} 
    
.form-group
  %label.col-sm-2.control-label{:for => "code"}= t 'location.administrator'
  .col-md-6
    = f.text_field :staff_name, class: 'form-control', data: {autocomplete_source: Staff.order(:name).map(&:name)}

//- if parent != nil
- if @location.parent == nil; @location.lclass = 1; elsif @location.parent.lclass == 1; @location.lclass = 2; elsif @location.parent.lclass == 2; @location.lclass = 3; end
.form-group
  %label.col-sm-2.control-label{:for => "code"}= t 'class'
  .col-md-6
    = f.select :lclass, DropDown::LOCATION_CATEGORIES, {:include_blank => ""}, {class: "selectpicker"}

.form-group{id: "form3",  style: "display: none;"}
  %label.col-sm-2.control-label{:for => "code"}
    = t 'type'
  .col-md-6
    = f.select :typename, DropDown::LOCATION_TYPE, {include_blank: true}, {class: 'selectpicker', 'data-live-search' => 'true'}

- if [1,2,8].include?(@location.typename) 
  .form-group
    %label.col-sm-2.control-label{:for => "occupied"}
      = t 'location.damage'
    .col-md-6
      %span.switch-left 
        Rosak
        = f.check_box :occupied, {type: "checkbox", id: "my_checkbox", "data-off-color"=>"danger"}, "true", "false"
      
      