%fieldset
  = f.hidden_field :_destroy
  .row
    .col-sm-2= f.text_field :actdt, class: 'form-control date_picker'
    .col-sm-6= f.text_field :evactivity, :size => 40, placeholder: 'Enter Details of Activity', class: 'form-control'
    .col-sm-3= f.select :actlevel, DropDown::EVACT,{ :include_blank => (t 'helpers.prompt.select_level')}, {class: 'form-control'}
    .col-sm-1
      = link_to content_tag(:i, "", class: "fa fa-trash-o"), data: {"data-toggle" => "tooltip", title: "Delete"}, class: "btn btn-danger remove_fields"
      /= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f 
      /= link_to content_tag(:i,"", class: "fa-fa-trash-o"), '#', :onclick => 'rmv_field($(this))', title: "Delete", class: "btn btn-danger remove_fields"

:javascript
  
  function rmv_field(curr_fieldset) {
    $(curr_fieldset).parent().parent().hide();
  }

  $('.date_picker').datetimepicker({
    timepicker:false,
    format:'Y-m-d',
    formatDate:'Y-m-d'
  });

  function remove_fields(link,fm) {
    $(link).parent().parent().hide();
    $(fm).$("input[type=hidden]").value = "1";
  }
/document.getElementByName(fm+'[_destroy]').val()=true;
/$(fm).value= '1'; 
