.row
  .col-md-10.col-md-offset-1
    / Nav tabs 
    %ul.nav.nav-tabs
      - if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.skt_being_formulated')
        %li= link_to (t 'staff.staff_appraisal.skt'),"#skt", "data-toggle" => "tab"  
      /- if @staff_appraisal.evaluation_status == "SKT awaiting PPP endorsement" && @staff_appraisal.eval1_by == Login.current_login.staff_id
      -  if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.skt_awaiting_ppp_endorsement')
        %li=link_to (t 'staff.staff_appraisal.skt_endorse'), "#skt_endorse", "data-toggle" => "tab" 
      /- if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.skt_review') && @staff_appraisal.staff_id == Login.current_login.staff_id 
      /- if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.skt_review')
      - if (@staff_appraisal.evaluation_status == t('staff.staff_appraisal.skt_review')) || (@job_type="redo_performance" && @job_level="skt_revision" && @staff_appraisal.is_skt_ppp_report_done!=true)
        %li=link_to (t 'staff.staff_appraisal.skt_review_staff'), "#skt_review_staff", "data-toggle" => "tab"
      /- if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ready_for_ppp_skt_report') && @staff_appraisal.eval1_by == Login.current_login.staff_id 
      - if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ready_for_ppp_skt_report')
        %li=link_to (t 'staff.staff_appraisal.skt_review_eval1'), "#skt_review_eval1", "data-toggle" => "tab"
      /- if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ppp_report_complete') && @staff_appraisal.staff_id == Login.current_login.staff_id 
      - if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ppp_report_complete') 
        %li=link_to (t 'staff.staff_appraisal.activity'), "#activity", "data-toggle" => "tab"
      /- if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_for_evaluation_by_ppp')  && @staff_appraisal.eval1_by == Login.current_login.staff_id 
      /- if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_for_evaluation_by_ppp')  
      - if (@staff_appraisal.evaluation_status == t('evaluation.appraisal.submitted_for_evaluation_by_ppp') || (@staff_appraisal.is_submit_e2==true && (@staff_appraisal.e1_performance=="" || @staff_appraisal.e1_progress=="" || @staff_appraisal.submit_e2_on.nil? || (@staff_appraisal.e1_months <1 && @staff_appraisal.e1_years==0)))
        %li=link_to (t 'staff.staff_appraisal.eval1_1_17_41'), "#eval1_1_17_14", "data-toggle" => "tab"
        %li=link_to (t 'staff.staff_appraisal.eval1_review'), "#eval1_review", "data-toggle" => "tab"
      /- if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_by_ppp_for_evaluation_to_PPK')  && @staff_appraisal.eval2_by == Login.current_login.staff_id 
      - if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_by_ppp_for_evaluation_to_PPK') 
        %li=link_to (t 'staff.staff_appraisal.eval2_1_17_41'), "#eval2_1_17_14", "data-toggle" => "tab"
      ////%li=link_to (t 'staff.staff_appraisal.eval2_review'), "#eval2_review", "data-toggle" => "tab"

      
    .tab-content{style:"padding-top:1em"}
      %br
      = render 'tab_show_start'
            
      #skt.tab-pane
        %br
        = render 'tab_skt_edit', :f => f  if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.skt_being_formulated')
        
      #skt_endorse.tab-pane
        -  if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.skt_awaiting_ppp_endorsement')
          %br
          = render 'tab_show_skt'
          = render 'tab_skt_endorse_edit', :f => f
        
      #skt_review_staff.tab-pane
        /- if @staff_appraisal.evaluation_status == "SKT Review" && @staff_appraisal.staff_id == Login.current_login.staff_id 
        - if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.skt_review')
          %br
          = render 'tab_skt_review_staff_edit', :f => f 

      #skt_review_eval1.tab-pane
        /-if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ready_for_ppp_skt_report') && @staff_appraisal.eval1_by == Login.current_login.staff_id 
        - if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ready_for_ppp_skt_report')
          %br
          = render 'tab_show_skt'
          = render 'tab_skt_review_eval1_edit', :f => f
 
      #activity.tab-pane
        /- if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ppp_report_complete') && @staff_appraisal.staff_id == Login.current_login.staff_id 
        - if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ppp_report_complete')
          %br
          = render 'tab_show_skt'
          = render 'tab_activity_edit', :f => f

      /- if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_for_evaluation_by_ppp')  && @staff_appraisal.eval1_by == Login.current_login.staff_id 
      - if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_for_evaluation_by_ppp')
        #eval1_1_17_14.tab-pane
          %br
          = render 'tab_show_skt'
          = render 'tab_show_activity'
          - if @staff_appraisal.person_type == 5
            = render 'tab_eval1_1_edit', :f => f
          - elsif @staff_appraisal.person_type == 4
            = render 'tab_eval1_17_edit', :f => f
          - elsif @staff_appraisal.person_type == 3
            = render 'tab_eval1_41_edit', :f => f
        #eval1_review.tab-pane
          %br
          = render 'tab_eval1_review_edit', :f => f

      /- if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_by_ppp_for_evaluation_to_PPK')  && @staff_appraisal.eval2_by == Login.current_login.staff_id 
      - if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_by_ppp_for_evaluation_to_PPK')
        #eval2_1_17_14.tab-pane
          %br
          = render 'tab_show_skt'
          = render 'tab_show_activity'
          - if @staff_appraisal.person_type == 5
            = render 'tab_eval2_1_edit', :f => f
          - elsif @staff_appraisal.person_type == 4
            = render 'tab_eval2_17_edit', :f => f
          - elsif @staff_appraisal.person_type == 3  
            = render 'tab_eval2_41_edit', :f => f
          %br
          = render 'show_eval_review1'
          /= render 'tab_eval1_review_edit'

        #eval2_review.tab-pane
          = render 'tab_eval2_review_edit', :f => f

              
:javascript

//<![CDATA[
bkLib.onDomLoaded(function() {
  new nicEditor().panelInstance('myNicEditor3');
  new nicEditor().panelInstance('myNicEditor4');
});
//]]>

  function add_fields(link, association, content) {  
    var new_id = new Date().getTime();  
    var regexp = new RegExp("new_" + association, "g");  
    $(link).parent().before(content.replace(regexp, new_id));  
  }