%fieldset
  %legend.togvis= t 'evaluation.skt.title'
  %table{:width => "85%"}
    %tr
      %th S/N
      %th= t 'evaluation.skt.description'
      %th= t 'evaluation.skt.performance'
    - just_a_counter = 0
      - for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.find(:all, :conditions => ['half =?', 1], :order => :priority)
        - just_a_counter += 1
        - if staff_appraisal_skt.is_dropped == true
          - format = 'style="text-decoration: line-through;"'
        - else format = ""
        %tr
          <td #{format}>#{just_a_counter}
          <td #{format}>#{staff_appraisal_skt.description}
          <td #{format}>#{staff_appraisal_skt.indicator}
- if @staff_appraisal.is_skt_submit == true && @staff_appraisal.is_skt_endorsed == true
  %fieldset
    %legend.togvis= t 'evaluation.skt_review.title'
    %p
      %i= t 'evaluation.skt_review.add'
    %table{:width => "85%"}
      %tr
        %th S/N
        %th= t 'evaluation.skt.description'
        %th= t 'evaluation.skt.performance'
      - just_a_counter = 0
      - for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.find(:all, :conditions => ['half = ?', 2], :order => :priority)
        - just_a_counter += 1
        %tr
          %td= just_a_counter
          %td= staff_appraisal_skt.description
          %td= staff_appraisal_skt.indicator
    %p
      %i= t 'evaluation.skt_review.drop'
    %table{:width => "85%"}
      %tr
        %th S/N
        %th= t 'evaluation.skt.description'
        %th= t 'evaluation.skt.performance'
      - just_a_counter = 0
      - for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.find(:all, :conditions => ['is_dropped = ?', true], :order => :priority)
        - just_a_counter += 1
        %tr
          %td= just_a_counter
          %td= staff_appraisal_skt.description
          %td= staff_appraisal_skt.indicator
  %fieldset
    %legend.togvis= t 'evaluation.skt_review.title3'
    %table{:width => "85%"}
      %tr
        %td.leftcol= t 'evaluation.skt_review.pyd_report'
        %td= h @staff_appraisal.skt_pyd_report
      %tr
        %td.leftcol Sent to PPP for Report
        %td= h @staff_appraisal.is_skt_pyd_report_done? ? "Yes, on " + l(@staff_appraisal.skt_pyd_report_on) : "No"
      - if @staff_appraisal.is_skt_ppp_report_done ==  true
        %tr
          %td.leftcol= t 'evaluation.skt_review.ppp_report'
          %td= h @staff_appraisal.skt_ppp_report
        %tr
          %td.leftcol PPP Completed Report
          %td= h @staff_appraisal.is_skt_ppp_report_done? ? "Yes, on " + l(@staff_appraisal.skt_ppp_report_on)   : "No"