.col-md-9.col-md-offset-1
  %br
  .col-md-9
    %b= t 'evaluation.skt.title'
  %hr

  %dl.dl-horizontal
    - for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.where('half =?', 1).order(priority: :asc)
      
      %dt=t 'evaluation.skt.priority'
      %dd= staff_appraisal_skt.priority
      
      %dt= t 'evaluation.skt.description'
      - if staff_appraisal_skt.is_dropped == true
        %dd{:style => "text-decoration: line-through;"}= staff_appraisal_skt.description
      - else
        %dd= staff_appraisal_skt.description

      %br
      %table.table-striped.table-bordered
        %tr
          %th{:width => "10%"} 
          %th{:width => "20%"}=t 'evaluation.skt.performance'
          %th{:width => "20%"}=t 'evaluation.skt.target'
          %th{:width => "20%"}=t 'evaluation.skt.achievement'
          %th{:width => "10%"}=t 'evaluation.skt.progress'
          %th{:width => "20%"}=t 'evaluation.skt.notes'
        %tr
          %th=t 'evaluation.skt.quality'
          - if staff_appraisal_skt.is_dropped == true
            %td{:style => "text-decoration: line-through;"}= staff_appraisal_skt.indicator_desc_quality
            %td{:style => "text-decoration: line-through;"}= staff_appraisal_skt.target_quality
          - else
            %td= staff_appraisal_skt.indicator_desc_quality
            %td= staff_appraisal_skt.target_quality
          %td= staff_appraisal_skt.achievement_quality
          %td= number_with_precision(staff_appraisal_skt.progress_quality, precision: 2)
          %td= staff_appraisal_skt.notes_quality
        %tr
          %th=t 'evaluation.skt.time'
          - if staff_appraisal_skt.is_dropped == true
            %td{:style => "text-decoration: line-through;"}= staff_appraisal_skt.indicator_desc_time
            %td{:style => "text-decoration: line-through;"}= staff_appraisal_skt.target_time
          - else
            %td= staff_appraisal_skt.indicator_desc_time
            %td= staff_appraisal_skt.target_time
          %td= staff_appraisal_skt.achievement_time
          %td= number_with_precision(staff_appraisal_skt.progress_time, precision: 2)
          %td= staff_appraisal_skt.notes_time
        %tr
          %th=t 'evaluation.skt.quantity'
          - if staff_appraisal_skt.is_dropped == true
            %td{:style => "text-decoration: line-through;"}= staff_appraisal_skt.indicator_desc_quantity
            %td{:style => "text-decoration: line-through;"}= staff_appraisal_skt.target_quantity
          - else
            %td= staff_appraisal_skt.indicator_desc_quantity
            %td= staff_appraisal_skt.target_quantity
          %td= staff_appraisal_skt.achievement_quantity
          %td= number_with_precision(staff_appraisal_skt.progress_quantity, precision: 2)
          %td= staff_appraisal_skt.notes_quantity
        %tr
          %th=t 'evaluation.skt.cost'
          - if staff_appraisal_skt.is_dropped == true
            %td{:style => "text-decoration: line-through;"}= staff_appraisal_skt.indicator_desc_cost
            %td{:style => "text-decoration: line-through;"}= staff_appraisal_skt.target_cost
          - else
            %td= staff_appraisal_skt.indicator_desc_cost
            %td= staff_appraisal_skt.target_cost
          %td= staff_appraisal_skt.achievement_cost
          %td= number_with_precision(staff_appraisal_skt.progress_cost, precision: 2)
          %td= staff_appraisal_skt.notes_cost
      %hr 