.col-md-9.col-md-offset-1 
  - if @staff_appraisal.is_skt_submit == true && @staff_appraisal.is_skt_endorsed == true
    %br
    .col-md-9
      %b= t 'evaluation.skt_review.title'
    %hr

    .col-md-9
      %font{:style=>"font-style: italic; text-decoration: underline;"}= t 'evaluation.skt_review.add'
    %dl.dl-horizontal     
      - for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.where('half = ?', 2).order(priority: :asc)
        %dt=t 'evaluation.skt.priority'
        %dd= staff_appraisal_skt.priority
  
        %dt= t 'evaluation.skt.description'
        %dd= staff_appraisal_skt.description
  
        %dt= t 'evaluation.skt.performance'
        %dd= staff_appraisal_skt.indicator
        %hr
        
    .col-md-9
      %font{:style=>"font-style: italic; text-decoration: underline;"}= t 'evaluation.skt_review.drop'
    %dl.dl-horizontal     
      - for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.where('is_dropped = ?', true).order(priority: :asc)
        %dt=t 'evaluation.skt.priority'
        %dd= staff_appraisal_skt.priority
  
        %dt= t 'evaluation.skt.description'
        %dd= staff_appraisal_skt.description

        %dt= t 'evaluation.skt.performance'
        %dd= staff_appraisal_skt.indicator 
        %hr
        
      %br
      
    .col-md-9
      %b= t 'evaluation.skt_review.title3'
    %hr
    
    %dl.dl-horizontal 
      %dt= t 'helpers.label.staff_appraisal.skt_pyd_report'
      %dd= h @staff_appraisal.skt_pyd_report

      %dt= t 'helpers.label.staff_appraisal.is_skt_pyd_report_done'
      %dd= h @staff_appraisal.is_skt_pyd_report_done? ? t('yes_on') + (@staff_appraisal.skt_pyd_report_on.try(:strftime, '%d %b %Y')) : t('on2')
    %br
