.col-md-9.col-md-offset-1 
  - if @staff_appraisal.is_skt_submit == true && @staff_appraisal.is_skt_endorsed == true
    %br
    .col-md-9
      %b= t 'evaluation.skt_review.title'
    %hr

    .col-md-9
      %font{:style=>"font-style: italic; text-decoration: underline;"}= t 'evaluation.skt_review.add'
    %dl.dl-horizontal     
      - for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.where('half = ?', 2).order(priority: :asc)
        %dt=t 'evaluation.skt.priority'
        %dd= staff_appraisal_skt.priority
  
        %dt= t 'evaluation.skt.description'
        %dd= staff_appraisal_skt.description
  
        %table.table-striped.table-bordered
          %tr
            %th &nbsp;
            %th=t 'evaluation.skt.performance'
            %th=t 'evaluation.skt.target'
            %th=t 'evaluation.skt.achievement'
            %th=t 'evaluation.skt.progress'
            %th=t 'evaluation.skt.notes'
          %tr
            %th=t 'evaluation.skt.quality'
            %td= staff_appraisal_skt.indicator_desc_quality
            %td= staff_appraisal_skt.target_quality
            %td= staff_appraisal_skt.achievement_quality
            %td= staff_appraisal_skt.progress_quality
            %td= staff_appraisal_skt.notes_quality
          %tr
            %th=t 'evaluation.skt.time'
            %td= staff_appraisal_skt.indicator_desc_time
            %td= staff_appraisal_skt.target_time
            %td= staff_appraisal_skt.achievement_time
            %td= staff_appraisal_skt.progress_time
            %td= staff_appraisal_skt.notes_time
          %tr
            %th=t 'evaluation.skt.quantity'
            %td= staff_appraisal_skt.indicator_desc_quantity
            %td= staff_appraisal_skt.target_quantity
            %td= staff_appraisal_skt.achievement_quantity
            %td= staff_appraisal_skt.progress_quantity
            %td= staff_appraisal_skt.notes_quantity
          %tr
            %th=t 'evaluation.skt.cost'
            %td= staff_appraisal_skt.indicator_desc_cost
            %td= staff_appraisal_skt.target_cost
            %td= staff_appraisal_skt.achievement_cost
            %td= staff_appraisal_skt.progress_cost
            %td= staff_appraisal_skt.notes_cost
        %hr
        
    .col-md-9
      %font{:style=>"font-style: italic; text-decoration: underline;"}= t 'evaluation.skt_review.drop'
    %dl.dl-horizontal     
      - for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.where('is_dropped = ?', true).order(priority: :asc)
        %dt=t 'evaluation.skt.priority'
        %dd= staff_appraisal_skt.priority
  
        %dt= t 'evaluation.skt.description'
        %dd= staff_appraisal_skt.description

        %table.table-striped.table-bordered
          %tr
            %th &nbsp;
            %th=t 'evaluation.skt.performance'
            %th=t 'evaluation.skt.target'
            %th=t 'evaluation.skt.achievement'
            %th=t 'evaluation.skt.progress'
            %th=t 'evaluation.skt.notes'
          %tr
            %th=t 'evaluation.skt.quality'
            %td= staff_appraisal_skt.indicator_desc_quality
            %td= staff_appraisal_skt.target_quality
            %td &nbsp;
            %td &nbsp;
            %td &nbsp;
          %tr
            %th=t 'evaluation.skt.time'
            %td= staff_appraisal_skt.indicator_desc_time
            %td= staff_appraisal_skt.target_time
            %td &nbsp;
            %td &nbsp;
            %td &nbsp;
          %tr
            %th=t 'evaluation.skt.quantity'
            %td= staff_appraisal_skt.indicator_desc_quantity
            %td= staff_appraisal_skt.target_quantity
            %td &nbsp;
            %td &nbsp;
            %td &nbsp;
          %tr
            %th=t 'evaluation.skt.cost'
            %td= staff_appraisal_skt.indicator_desc_cost
            %td= staff_appraisal_skt.target_cost
            %td &nbsp;
            %td &nbsp;
            %td &nbsp;
      
        %hr
        
      %br
      
    .col-md-9
      %b= t 'evaluation.skt_review.title3'
    %hr
    
    %dl.dl-horizontal 
      %dt= t 'helpers.label.staff_appraisal.skt_pyd_report'
      %dd= h @staff_appraisal.skt_pyd_report

      %dt= t 'helpers.label.staff_appraisal.is_skt_pyd_report_done'
      %dd= h @staff_appraisal.is_skt_pyd_report_done? ? t('yes_on') + (@staff_appraisal.skt_pyd_report_on.try(:strftime, '%d %b %Y')) : t('on2')
    %br