.col-md-9.col-md-offset-1 
  %h4= t 'evaluation.skt_review.title3'
  %dl.dl-horizontal 
    %dt= t 'helpers.label.staff_appraisal.skt_ppp_report'
    %dd= h @staff_appraisal.skt_ppp_report

    %dt= t 'helpers.label.staff_appraisal.is_skt_ppp_report_done'
    %dd= h @staff_appraisal.is_skt_ppp_report_done? ? "Yes, on " + (@staff_appraisal.skt_pyd_report_on.try(:strftime, '%d %b %Y')) : "No"
    %br 
