.col-md-8.col-md-offset-1
  %b=t 'evaluation.skt.title'
  %br
  .row
    .col-sm-1= t 'evaluation.skt..priority'
    .col-sm-5= t 'evaluation.skt.description'
    .col-sm-5= t 'evaluation.skt.performance'
    %hr
  = f.fields_for :staff_appraisal_skts do |builder|
    - if builder.object.description.blank? != true && builder.object.half == 1
      = render 'staff_appraisal_skt_fields', :f => builder
  %br
  .row
    /= link_to_add_fields image_tag("add.png", :border => 0, :title => t('addmore')), f, :travel_claim_logs
    = link_to_add_fields t('helpers.label.staff_appraisal.add_activity'), f, :staff_appraisal_skts, "",  t('helpers.label.staff_appraisal.add_activity')
  %br  
  
.col-md-10.col-md-offset-2 
  .form-group
    .col-sm-2.control-label
      = f.label :is_skt_submit
    .col-md-1
      = f.check_box :is_skt_submit, :id => 'is_skt_submit'
    .col-md-2
      #span_skt_submit{:style=>"display: none;"}
        = f.text_field :skt_submit_on, :class => 'date_picker form-control'   
  .form-group
    .col-sm-2
      &nbsp;
    .col-md-5
      = t 'evaluation.skt.submit_notify'
  %br
        
  /113 - Pn Nabila, 58 - Tn Hj Mohd Zulkiflie (dah tukar Pengarah?)
  /- if Login.current_login.staff.position.is_root? == true -> wait 4 login/user - staff relationship revised, assume - PYD : Maslinda (staff_id=25)
  - if @staff_appraisal.staff_id == 58
    = f.hidden_field :eval1_by, value: 58
    /= f.hidden_field :eval1_by, :value => Login.current_login.staff.position.staff_id 
  - else
    = f.hidden_field :eval1_by, value: 113
    /= f.hidden_field :eval1_by, :value => Login.current_login.staff.position.parent.staff_id

:javascript
$(document).ready(function(){
  $("input[id='is_skt_submit']").change(function() {  
    if($('#is_skt_submit').is(':checked')) { 
      $("#span_skt_submit").show("highlight"); 
    }else{
      $("#span_skt_submit").hide(""); 
    }
  });
  $("input[id='is_skt_submit']").each(function() {  
    if($('#is_skt_submit').is(':checked')) { 
      $("#span_skt_submit").show("highlight"); 
    }else{
      $("#span_skt_submit").hide(""); 
    }
  });
});
