.col-md-10.col-md-offset-1
  %b=t 'evaluation.skt.title'
  %br
  .row
    .col-sm-1= t 'evaluation.skt..priority'
    .col-sm-5= t 'evaluation.skt.description'
    .col-sm-3= t 'evaluation.skt.performance'
    .col-sm-3= t 'evaluation.skt.target'
    .col-sm-1
    %hr
  = f.fields_for :staff_appraisal_skts do |builder|
    - if builder.object.description.blank? != true && builder.object.half == 1
      /= render 'staff_appraisal_skt_fields', :f => builder
      = render 'staff_appraisal_skt_fields',{:f => builder, :joblevel=>"skt_issuance"} 
  %br
  .row
    /= link_to_add_fields image_tag("add.png", :border => 0, :title => t('addmore')), f, :travel_claim_logs
    = link_to_add_fields t('helpers.label.staff_appraisal.add_activity'), f, :staff_appraisal_skts, "",  t('helpers.label.staff_appraisal.add_activity')
  %br  
    
/.col-md-10.col-md-offset-2 
.col-md-10
  .col-md-10.col-md-offset-2
    .form-group
      .col-sm-2.control-label
        = f.label :is_skt_submit
      .col-md-1
        = f.check_box :is_skt_submit, :id => 'is_skt_submit'
      .col-md-2
        #span_skt_submit{:style=>"display: none;"}
          = f.text_field :skt_submit_on, :class => 'date_picker_reverse form-control', :value => Date.today.strftime('%d-%m-%Y')
    .form-group
      .col-sm-2
        &nbsp;
      .col-md-5
        = t 'evaluation.skt.submit_notify'
    %br
    
  - if @current_user.userable.positions.first.is_root? == true
    = f.hidden_field :eval1_by, :value => @current_user.userable_id
  - else
    /= f.hidden_field :eval1_by, :value => Login.current_login.staff.position.parent.staff_id 
    = f.hidden_field :eval1_by, :value => @staff_appraisal.set_approver1(@current_user)

:javascript
$(document).ready(function(){
  $("input[id='is_skt_submit']").change(function() {  
    if($('#is_skt_submit').is(':checked')) { 
      $("#span_skt_submit").show("highlight"); 
    }else{
      $("#span_skt_submit").hide(""); 
    }
  });
  $("input[id='is_skt_submit']").each(function() {  
    if($('#is_skt_submit').is(':checked')) { 
      $("#span_skt_submit").show("highlight"); 
    }else{
      $("#span_skt_submit").hide(""); 
    }
  });
});
