.col-md-9.col-md-offset-1
  %br
  .col-md-8
    %b= t 'evaluation.form.title_partIIa'
  %hr
  = t 'evaluation.form.label_001'
  %dl.dl-horizontal
    - for evactivity in @staff_appraisal.evactivities
      %dt= t 'evaluation.form.date'
      %dd= l(evactivity.actdt) if evactivity.actdt.blank? == false

      %dt= t 'staff.staff_appraisal.activity'
      %dd= evactivity.evactivity
	  
      %dt= t 'evaluation.form.level'
      %dd= (DropDown::EVACT.find_all{|disp, value| value == evactivity.actlevel}).map {|disp, value| disp}[0]
      %hr

  %br
  .col-md-8
    %b= t 'evaluation.form.title_part2b'
  %hr
  = t 'evaluation.form.label_003'
  %dl.dl-horizontal 
    - for ptdo in Ptdo.where('staff_id = ?',@staff_appraisal.appraised)
      - if ptdo.ptschedule.start.year==@staff_appraisal.evaluation_year.year
        %dt= t 'evaluation.form.training_name'
        %dd= ptdo.ptschedule.course.name
        	 
        %dt= t 'evaluation.form.type'
        %dd= (DropDown::COURSE_TYPE.find_all{|disp, value| value == ptdo.ptschedule.course.course_type}).map {|disp, value| disp}[0]
        
        %dt= t 'evaluation.form.date'
        %dd= l(ptdo.ptschedule.start)
   
        %dt= t 'evaluation.form.duration'
        %dd
          = ptdo.ptschedule.course.duration
          = t 'evaluation.form.days'
        %hr

  = t 'evaluation.form.label_004'
  %dl.dl-horizontal
    - for trainneed in @staff_appraisal.trainneeds
      %dt= t 'evaluation.form.training_name'
      %dd= trainneed.name
      
      %dt= t 'evaluation.form.reason'
      %dd= trainneed.reason

  %br
  .col-md-8
    %b= t 'staff.staff_appraisal.submission'
  %hr
  
  %dl.dl-horizontal
    %dt= t 'helpers.label.staff_appraisal.is_skt_pyd_report_done'
    %dd= h @staff_appraisal.is_submit_for_evaluation? ? t('yes_on') + l(@staff_appraisal.submit_for_evaluation_on)   : t('no2')

  %br
