- params[:job_level]= "skt_revision"
.col-md-12
  /.col-md-offset-1
  %b=t 'evaluation.skt_review.title'
  %BR
  %b=t 'evaluation.skt_review.drop'
  .row
    .col-sm-1= t 'evaluation.skt.priority'
    .col-sm-2= t 'evaluation.skt.description2'
    .col-sm-2= t 'evaluation.skt.performance'
    .col-sm-2= t 'evaluation.skt.target'
    .col-sm-2= t 'evaluation.skt.achievement'
    .col-sm-1= t 'evaluation.skt.progress'
    .col-sm-2
      = (t 'evaluation.skt.notes')+" / "+(t 'evaluation.skt_review.drop2')
    /.col-sm-1= t 'evaluation.skt_review.drop2'
    %hr
  = f.fields_for :staff_appraisal_skts do |builder|
    - if builder.object.description.blank? != true && builder.object.half == 1 
      /= render 'staff_appraisal_skt_fields', :f => builder
      = render 'staff_appraisal_skt_fields', {:f => builder, :joblevel=>"skt_revision"}
  %br
  %b=t 'evaluation.skt_review.add'
  .row
    .col-sm-1= t 'evaluation.skt.priority'
    .col-sm-2= t 'evaluation.skt.description2'
    .col-sm-2= t 'evaluation.skt.performance'
    .col-sm-2= t 'evaluation.skt.target'
    .col-sm-2= t 'evaluation.skt.achievement'
    .col-sm-1= t 'evaluation.skt.progress'
    .col-sm-2
      = (t 'evaluation.skt.notes')+" / "+(t 'evaluation.skt_review.drop2')
    %hr
  = f.fields_for :staff_appraisal_skts do |builder|
    - if builder.object.description.blank? != true && builder.object.half == 2
      /= render 'staff_appraisal_skt_fields', :f => builder
      = render 'staff_appraisal_skt_fields', {:f => builder, :joblevel=>"skt_revision"}
  %br
  .row
    /= link_to_add_fields image_tag("add.png", :border => 0, :title => t('addmore')), f, :travel_claim_logs
    = link_to_add_fields t('helpers.label.staff_appraisal.add_activity'), f, :staff_appraisal_skts, "",  t('helpers.label.staff_appraisal.add_activity')
  %br  

.col-md-10.col-md-offset-1 
  .form-group
    .col-md-6
      %b=t 'evaluation.skt_review.title3'
    .col-md-2
      &nbsp;
.col-md-10
  .col-md-10.col-md-offset-2 
    .form-group
      .col-sm-2.control-label
        = f.label :skt_pyd_report
      .col-md-6
        = f.text_area :skt_pyd_report, :size => '70x6' 
    .form-group
      .col-sm-2.control-label
        = f.label :is_skt_pyd_report_done
      .col-md-1
        = f.check_box :is_skt_pyd_report_done, :id => 'is_skt_pyd_report_done' 
      .col-md-2
        #span_skt_pyd_report_on{:style=>"display: none;"}
          = f.text_field :skt_pyd_report_on, :class => 'date_picker form-control', :value => Date.today
    .form-group
      .col-sm-2
        &nbsp;
      .col-md-5
        = t 'evaluation.skt.submit_report'
    %br

:javascript
$(document).ready(function(){
  $("input[id='is_skt_pyd_report_done']").change(function() {  
    if($('#is_skt_pyd_report_done').is(':checked')) { 
      $("#span_skt_pyd_report_on").show("highlight"); 
    }else{
      $("#span_skt_pyd_report_on").hide(""); 
    }
  });
  $("input[id='is_skt_pyd_report_done']").each(function() {  
    if($('#is_skt_pyd_report_done').is(':checked')) { 
      $("#span_skt_pyd_report_on").show("highlight"); 
    }else{
     $("#span_skt_pyd_report_on").hide(""); 
    }
  });
});
