&nbsp
%fieldset
  %legend.togvis= t 'evaluation.form.title_partIIa'
  %table{:width => "100%"}
    %tr
      %td.leftcol{:colspan => "2"}= t 'evaluation.form.label_001'
    %tr
      %td{:colspan => "2"}
        %table{:width => "90%"}
          %tr
            %th Date
            %th Activity
            %th Level
          - for evactivity in @staff_appraisal.evactivities
            %tr
              %td
                -#- evactivity.actdt.blank? ? "-" : l(evactivity.actdt)
      -#%td= evactivity.evactivity
      -#%td= (Evactivity::EVACT.find_all{|disp, value| value == evactivity.actlevel}).map {|disp, value| disp}

&nbsp
%fieldset
  %legend.togvis= t 'evaluation.form.title_part2b'
  %table{:width => "100%"}
    %tr
      %td.leftcol{:colspan => "2"}= t 'evaluation.form.label_003'
    %tr
      %td{:colspan => "2"}
        %table{:width => "90%"}
          %tr
            %th Name
            %th Type
            %th Date
            %th Duration
          -#- for ptdo in Ptdo.find(:all, :conditions => ['staff_id = ?', @staff_appraisal.appraised])
            -#- if ptdo.ptschedule.start.year==@staff_appraisal.evaluation_year.year
              %tr
                %td= ptdo.ptschedule.ptcourse.name
                %td= (Ptcourse::COURSE_TYPE.find_all{|disp, value| value == ptdo.ptschedule.ptcourse.course_type}).map {|disp, value| disp}
                %td= l(ptdo.ptschedule.start)
                %td
                  = ptdo.ptschedule.ptcourse.duration
                  Days 
    %tr
      %td.leftcol{:colspan => "2"}= t 'evaluation.form.label_004'
    %tr
      %td{:colspan => "2"}
        %table{:width => "90%"}
          %tr
            %th Activity
            %th Reason
          - for trainneed in @staff_appraisal.trainneeds
            %tr
              %td= trainneed.name
              %td= trainneed.reason

&nbsp
%fieldset
  %legend.togvis Submission
  %table{:width => "100%"}
    %tr
      %td.leftcol
        %label{:for => "submit_for_appraisal1_on"} Submit for evaluation
      %td= h @staff_appraisal.is_submit_for_evaluation? ? "Yes, on " + l(@staff_appraisal.submit_for_evaluation_on)   : "No"