.col-md-9.col-md-offset-1
  - if @staff_appraisal.is_submit_e2 == true
    %br
    .col-md-9
      %b= t 'evaluation.form.title_part8'
    %hr

    %dl.dl-horizontal
      %dt= t 'staff.staff_appraisal.endorsed_on_ppp'
      %dd= l(@staff_appraisal.submit_e2_on) if @staff_appraisal.submit_e2_on!=nil
         
      %dt= t 'evaluation.form.part8_desc'
      %dd 
        = @staff_appraisal.e1_years
        = t 'years_label'
        = @staff_appraisal.e1_months
        = t 'months_label'
      %br
    %b= t 'evaluation.form.part8i_desc'
    %dl.dl-horizontal
      %dt= t 'evaluation.form.part8i'
      %dd= h @staff_appraisal.e1_performance
	  
      %dt= t 'evaluation.form.part8ii'
      %dd= @staff_appraisal.e1_progress
	  
  - if @staff_appraisal.is_submit_e2 == true
    %br
    %font{:style=>"color: green; font-weight: bold;"}
      = t 'evaluation.form.ppp_statement'
      on #{l(@staff_appraisal.submit_e2_on) if @staff_appraisal.submit_e2_on!=nil} 
    %dl.dl-horizontal  
      %dt= t 'evaluation.form.pppid'
      %dd= h @staff_appraisal.eval1_officer.name

  - if @staff_appraisal.is_submit_e2 != nil
    %br
    - if @staff_appraisal.is_complete == true
      %br
      .col-md-9
        %b=t 'evaluation.form.title_part9'
      %hr

      %dl.dl-horizontal
        %dt= t 'staff.staff_appraisal.endorsed_on_ppk'
        %dd= l(@staff_appraisal.is_completed_on) if @staff_appraisal.is_completed_on!=nil
		
        %dt= t 'evaluation.form.part8_desc'
        %dd 
          = h @staff_appraisal.e2_years
          = t 'years_label'
          = h @staff_appraisal.e2_months
          = t 'months_label'
		  
        %dt= t 'evaluation.form.part9_desc'
        %dd= h @staff_appraisal.e2_performance 
		
  - if @staff_appraisal.is_complete == true
    %dl.dl-horizontal
      %dt= t 'evaluation.form.pppid'
      %dd= h @staff_appraisal.eval1_officer.name
	
      %dt= t 'evaluation.form.ppkid'
      %dd= h @staff_appraisal.eval2_officer.blank? ? "-" : @staff_appraisal.eval2_officer.name
      %hr



        
 
 
  
 
        
        
      
	  
	  
       
        
       
	   
       
          
        