/ Part VIII
%h2
  = t 'evaluation.form.title_part8'
  - if @staff_appraisal.is_submit_e2 == true
    .right
      Endorsed on #{l(@staff_appraisal.submit_e2_on)}
%table{:width => "90%"}
  %tr{:valign => "bottom"}
    %td.leftcolwide
      %label{:for => "pppyears"}= t 'evaluation.form.part8_desc'
    %td
      = @staff_appraisal.e1_years
      \ 
      %label= t 'years_label'
      \      
      \#{@staff_appraisal.e1_months}  
      %label= t 'months_label'
      %br/
      %br/
    %td
  %tr
    %td{:colspan => "3"}
      %label{:for => "pppoverall"}
        %b= t 'evaluation.form.part8i_desc'
  %tr
    %td.leftcolwide
      %label{:for => "pppoverall"}= t 'evaluation.form.part8i'
    %td{:colspan => "2"}= h @staff_appraisal.e1_performance
  %tr
    %td.leftcolwide
      %label{:for => "pppadvancemet"}= t 'evaluation.form.part8ii'
    %td{:colspan => "2"}= @staff_appraisal.e1_progress
  - if @staff_appraisal.is_submit_e2 == true
    %tr
      %td{:colspan => "3"}
        = t 'evaluation.form.ppp_statement'
        on #{l(@staff_appraisal.submit_e2_on)}
  %tr
    %td.leftcolwide
      %label{:for => "ppp_id"}= t 'evaluation.form.pppid'
    %td= h @staff_appraisal.eval1_officer.name
    %td
  - if @staff_appraisal.is_submit_e2 != nil
    / Part VIII
    %h2
      = t 'evaluation.form.title_part9'
      - if @staff_appraisal.is_complete == true
        .right
          Endorsed on #{l(@staff_appraisal.is_completed_on)}
    %table{:width => "90%"}
      %tr{:valign => "bottom"}
        %td.leftcolwide
          %label{:for => "PPKyears"}= t 'evaluation.form.part8_desc'
        %td
          = h @staff_appraisal.e2_years
          \ 
          %label= t 'years_label'
          \      
          \#{h @staff_appraisal.e2_months}  
          %label
            = t 'months_label'
            %br/
            %br/
        %td
      %tr
        %td.leftcolwide
          %label{:for => "PPKoverall"}= t 'evaluation.form.part9_desc'
        %td{:colspan => "2"}= h @staff_appraisal.e2_performance
      - if @staff_appraisal.is_complete == true
        %tr
          %td{:colspan => "3"}
      %tr
        %td.leftcolwide
          %label{:for => "ppp_id"}= t 'evaluation.form.pppid'
        %td= h @staff_appraisal.eval1_officer.name
        %td
      %tr
        %td.leftcolwide
          %label{:for => "PPK_id"}= t 'evaluation.form.ppkid'
        %td
          = h @staff_appraisal.eval2_officer.blank? ? "-" : @staff_appraisal.eval2_officer.name
        %td