.col-md-9.col-md-offset-1
  %h4= t 'evaluation.skt.title'
  %dl.dl-horizontal
    - just_a_counter = 0
    - for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.where('half =?', 1).order(priority: :asc)
      - just_a_counter += 1
      
      %dt S/N
      %dd= just_a_counter
      
      %dt= t 'evaluation.skt.description'
      - if staff_appraisal_skt.is_dropped == true
        %dd{:style => "text-decoration: line-through;"}= staff_appraisal_skt.description
      - else
        %dd= staff_appraisal_skt.description

      %dt= t 'evaluation.skt.performance'
      %dd= staff_appraisal_skt.indicator
      %hr 
