.col-md-10.col-md-offset-1
  .row
    .col-sm-3
      %b= t 'evaluation.form.title_part3'
    .col-sm-1
      %b PPP
    .col-sm-1
      %b PPK
    .col-sm-6
      %b= t 'evaluation.form.description'
    %hr
  .row
    .col-md-3= (t 'evaluation.form.one')+(t 'evaluation.form.quantity')
    .col-md-1= f.text_field :e1g1q1, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g1q1, :class => "g1",  :placeholder => 0
    .col-md-6= t 'evaluation.form.quantity_desc' 
  .row
    .col-md-3=(t 'evaluation.form.two')+(t 'evaluation.form.quality')
    .col-md-1= f.text_field :e1g1q2, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g1q2, :class => "g1",  :placeholder => 0 
    .col-md-6= t 'evaluation.form.quanlity_desc1' 
  .row
    .col-md-3 &nbsp;
    .col-md-1= f.text_field :e1g1q3, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g1q3, :class => "g1",  :placeholder => 0 
    .col-md-6= t 'evaluation.form.quanlity_desc2' 
  .row
    .col-md-3= (t 'evaluation.form.three')+(t 'evaluation.form.ontime')
    .col-md-1= f.text_field :e1g1q4, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g1q4, :class => "g1",  :placeholder => 0 
    .col-md-6= t 'evaluation.form.ontime_desc' 
  .row
    .col-md-3= (t 'evaluation.form.four')+(t 'evaluation.form.effective')
    .col-md-1= f.text_field :e1g1q5, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g1q5, :class => "g1",  :placeholder => 0 
    .col-md-6= t 'evaluation.form.effective_desc'
  %br
  .row
    .col-md-3= t 'evaluation.form.total'
    .col-md-1= f.text_field :e1g1_total, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g1_total, readonly: 'readonly', class:'form-control'
    .col-md-1 
      x 50 = 
    .col-md-1
      = f.text_field :e2g1_percent, readonly: 'readonly', class:'form-control'
    .col-md-1
      = t 'evaluation.form.percent'
  .row
    .col-md-3 &nbsp;
    .col-md-1=(t 'evaluation.form.division')+((@staff_appraisal.g1_questions)*10).to_s
    .col-md-1=(t 'evaluation.form.division')+((@staff_appraisal.g1_questions)*10).to_s
    .col-md-6 &nbsp;
  %br
  .row
    .col-sm-3
      %b= t 'evaluation.form.title_part4'
    .col-sm-1
      %b PPP
    .col-sm-1
      %b PPK
    .col-sm-6
      %b= t 'evaluation.form.description'
    %br
    %hr
  .row
    .col-md-3= (t 'evaluation.form.one')+(t 'evaluation.form.knowledge')
    .col-md-1= f.text_field :e1g2q1, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g2q1, :class => "e2g2",  :placeholder => 0 
    .col-md-6= t 'evaluation.form.knowledge_desc'
  .row
    .col-md-3= (t 'evaluation.form.two')+(t 'evaluation.form.rules')
    .col-md-1= f.text_field :e1g2q2, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g2q2, :class => "e2g2",  :placeholder => 0 
    .col-md-6= t 'evaluation.form.rules_desc'
  .row
    .col-md-3= (t 'evaluation.form.three')+(t 'evaluation.form.communication')
    .col-md-1= f.text_field :e1g2q3, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g2q3, :class => "e2g2", :placeholder => 0 
    .col-md-6= t 'evaluation.form.communication_desc' 
  %br
  .row
    .col-md-3= t 'evaluation.form.total'
    .col-md-1= f.text_field :e1g2_total, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g2_total, readonly: 'readonly', class:'form-control'
    .col-md-1 
      x 25 = 
    .col-md-1
      = f.text_field :e2g2_percent, readonly: 'readonly', class:'form-control'
    .col-md-1
      = t 'evaluation.form.percent'
  .row
    .col-md-3 &nbsp;
    .col-md-1=(t 'evaluation.form.division')+((@staff_appraisal.g2_questions)*10).to_s
    .col-md-1=(t 'evaluation.form.division')+((@staff_appraisal.g2_questions)*10).to_s
    .col-md-6 &nbsp;
  %br
  .row
    .col-sm-3
      %b= t 'evaluation.form.title_part5'
    .col-sm-1
      %b PPP
    .col-sm-1
      %b PPK
    .col-sm-6
      %b= t 'evaluation.form.description'
    %hr
  .row
    .col-md-3= (t 'evaluation.form.one')+(t 'evaluation.form.leadership')
    .col-md-1= f.text_field :e1g3q1, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g3q1, :class => "e2g3", :placeholder => 0
    .col-md-6= t 'evaluation.form.leadership_desc'
  .row
    .col-md-3= (t 'evaluation.form.two')+(t 'evaluation.form.management')
    .col-md-1= f.text_field :e1g3q2, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g3q2, :class => "e2g3", :placeholder => 0
    .col-md-6= t 'evaluation.form.management_desc'
  .row
    .col-md-3= (t 'evaluation.form.three')+(t 'evaluation.form.discipline')
    .col-md-1= f.text_field :e1g3q3, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g3q3, :class => "e2g3",  :placeholder => 0 
    .col-md-6= t 'evaluation.form.discipline_desc' 
  .row
    .col-md-3= (t 'evaluation.form.four')+(t 'evaluation.form.proactive')
    .col-md-1= f.text_field :e1g3q4, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g3q4, :class => "e2g3", :placeholder => 0
    .col-md-6= t 'evaluation.form.proactive_desc'
  .row
    .col-md-3= (t 'evaluation.form.five')+(t 'evaluation.form.relate')
    .col-md-1= f.text_field :e1g3q5, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g3q5, :class => "e2g3", :placeholder => 0
    .col-md-6= t 'evaluation.form.relate_desc'
  %br
  .row
    .col-md-3= t 'evaluation.form.total'
    .col-md-1= f.text_field :e1g3_total, readonly: 'readonly', class:'form-control'
    .col-md-1= f.text_field :e2g3_total, readonly: 'readonly', class:'form-control'
    .col-md-1 
      x 20 = 
    .col-md-1
      = f.text_field :e2g3_percent, readonly: 'readonly', class:'form-control'
    .col-md-1
      = t 'evaluation.form.percent'
  .row
    .col-md-3 &nbsp;
    .col-md-1=(t 'evaluation.form.division')+((@staff_appraisal.g3_questions)*10).to_s
    .col-md-1=(t 'evaluation.form.division')+((@staff_appraisal.g3_questions)*10).to_s
    .col-md-6 &nbsp;
  %br
  .row
    .col-sm-3
      %b= t 'evaluation.form.title_part6'
    .col-sm-1
      %b PPP
    .col-sm-1
      %b PPK
    .col-sm-6
      %b= t 'evaluation.form.description'
    %hr
  .row
    .col-md-3= t 'evaluation.form.parttwo'
    .col-md-1
      = f.text_field :e1g4, readonly: 'readonly', class:'form-control'
      x 5 =
      = f.text_field :e1g4_percent, readonly: 'readonly', class:'form-control'
      = t 'evaluation.form.percent'
    .col-md-1 
      = f.text_field :e2g4, :class => "e2g4", :placeholder => 0
      x 5 =
      = f.text_field :e2g4_percent, readonly: 'readonly', class:'form-control'
      = t 'evaluation.form.percent'
    .col-md-6
      = t 'evaluation.form.parttwo_desc'
  %br
  .row
    .col-sm-3
      %b= t 'evaluation.form.total'
    .col-sm-1
      %b PPP
    .col-sm-1
      %b PPK
    .col-sm-6
      %b= t 'evaluation.form.description'
    %hr
  .row
    .col-md-3
      = t 'evaluation.form.total'
    .col-md-1= f.text_field :e2_total, readonly: 'readonly', class:'form-control'
    .col-md-1
      = f.text_field :e2_total, readonly: 'readonly', class:'form-control'
    .col-md-6
      = t 'evaluation.form.total_percent'
  %br   

:javascript
$(document).ready(function(){
  $(".g1").keyup(function() {  
    var e2g1q1 = $("#staff_appraisal_e2g1q1").val();
    var e2g1q2 = $("#staff_appraisal_e2g1q2").val();
    var e2g1q3 = $("#staff_appraisal_e2g1q3").val();
    var e2g1q4 = $("#staff_appraisal_e2g1q4").val();
    var e2g1q5 = $("#staff_appraisal_e2g1q5").val();
    
    var ansP = document.getElementById("staff_appraisal_e2g1_percent");
    ansP.value = (((e2g1q1*1) + (e2g1q2*1) + (e2g1q3*1) + (e2g1q4*1) + (e2g1q5*1))*0.02)*50;

    var ansG = document.getElementById("staff_appraisal_e2g1_total");
    ansG.value = (e2g1q1*1) + (e2g1q2*1) + (e2g1q3*1) + (e2g1q4*1) + (e2g1q5*1);
  });

  $(".e2g2").keyup(function() {  
    var e2g2q1 = $("#staff_appraisal_e2g2q1").val();
    var e2g2q2 = $("#staff_appraisal_e2g2q2").val();
    var e2g2q3 = $("#staff_appraisal_e2g2q3").val();

    var ansH = document.getElementById("staff_appraisal_e2g2_total");
    ansH.value = (e2g2q1*1) + (e2g2q2*1) + (e2g2q3*1);

    var ansK = document.getElementById("staff_appraisal_e2g2_percent");
    ansK.value = (((e2g2q1*1) + (e2g2q2*1) + (e2g2q3*1))*0.0333333333)*25;
  });

  $(".e2g3").keyup(function() {  
    var e2g3q1 = $("#staff_appraisal_e2g3q1").val();
    var e2g3q2 = $("#staff_appraisal_e2g3q2").val();
    var e2g3q3 = $("#staff_appraisal_e2g3q3").val();
    var e2g3q4 = $("#staff_appraisal_e2g3q4").val();
    var e2g3q5 = $("#staff_appraisal_e2g3q5").val();

    var ansL = document.getElementById("staff_appraisal_e2g3_total");
    ansL.value = (e2g3q1*1) + (e2g3q2*1) + (e2g3q3*1) + (e2g3q4*1) + (e2g3q5*1);

    var ansM = document.getElementById("staff_appraisal_e2g3_percent");
    ansM.value = (((e2g3q1*1) + (e2g3q2*1) + (e2g3q3*1) + (e2g3q4*1) + (e2g3q5*1))*0.02)*20;			
  });

  $(".e2g4").keyup(function() {  
    var e2g4q1 = $("#staff_appraisal_e2g4").val();

    var ansN = document.getElementById("staff_appraisal_e2g4_percent");
    ansN.value = ((e2g4q1*1)/10)*5;
  });

  $(".g1,.e2g2,.e2g3,.e2g4").keyup(function() {  
    var sub1 = $("#staff_appraisal_e2g1_percent").val();
    var sub2 = $("#staff_appraisal_e2g2_percent").val();
    var sub3 = $("#staff_appraisal_e2g3_percent").val();
    var sub4 = $("#staff_appraisal_e2g4_percent").val();

    var ansQ = document.getElementById("staff_appraisal_e2_total");
    ansQ.value = (sub1*1) + (sub2*1) + (sub3*1) + (sub4*1);
  });
});