- model_class = StaffAppraisal
.page-header
  %h1= t('staff.staff_appraisal.edit')

= render 'shared/flashes'

.row
  = form_for [:staff, @staff_appraisal], html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    /= render :partial => 'form', :locals => {:f => f}

    = render 'skt', :f => f  if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.skt_being_formulated')
    = render 'skt_endorse', :f=>f  if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.skt_awaiting_ppp_endorsement')
    = render 'skt_review_staff', :f => f  if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.skt_review')
    = render 'skt_review_eval1', :f=> f  if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ready_for_ppp_skt_report')
    = render 'activity', :f=> f  if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ppp_report_complete') 
    /e1_performance, :e1_progress, :submit_e2_on
    - if (@staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_for_evaluation_by_ppp') || (@staff_appraisal.is_submit_e2==true && (@staff_appraisal.e1_performance=="" || @staff_appraisal.e1_progress=="" || @staff_appraisal.submit_e2_on.nil? || (@staff_appraisal.e1_months <1 && @staff_appraisal.e1_years==0))))
      = render 'evaluation', :f=> f
    
    - if ((@staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_by_ppp_for_evaluation_to_PPK') && !@staff_appraisal.submit_e2_on.nil? && !@staff_appraisal.e1_performance.nil? && !@staff_appraisal.e1_progress.nil? ) || (@staff_appraisal.is_complete==true && (@staff_appraisal.e2_performance=="" || @staff_appraisal.is_completed_on.nil? || (@staff_appraisal.e2_months <1 && @staff_appraisal.e2_years==0))))  
      /!@staff_appraisal.submit_e2_on.nil? && !@staff_appraisal.e1_performance.nil? && !@staff_appraisal.e1_progress.nil? -- added, so this part won't appear unnecessarily - when above conditions **
      = render 'evaluation2', :f =>f

    .row
      .form-group
        .col-md-1.col-md-offset-2
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staff_staff_appraisal_path(@staff_appraisal), :class => 'btn btn-default'
        .col-md-2
          .div{style: "margin-left:-40px;"}
            = f.submit t('update'), class: "btn btn-primary"
