- model_class = StaffAppraisal
.page-header
  %h1=t 'staff.staff_appraisal.title'
  
= render 'shared/flashes'

.row
  = form_for [:staff, @staff_appraisal], html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    = render :partial => 'show_form', :locals => {:f => f}

.row
  .col-md-4.col-md-offset-4
    %hr
    .form-actions
      = link_to content_tag(:i, "", class: "fa fa-arrow-left ") + " " + t('back', :default => t("helpers.links.back")), staff_staff_appraisals_path, class: 'btn btn-default'    
      = link_to content_tag(:i, "", class: "fa fa-file-pdf-o"), appraisal_form_staff_staff_appraisal_path(@staff_appraisal, format: "pdf"), class: "btn btn-default", "data-toggle" => "tooltip", title: "Appraisal Form" 
      = link_to content_tag(:i, "", class: "fa fa-edit") + " " + t('actions.edit', :default => t("helpers.links.edit")), edit_staff_staff_appraisal_path(@staff_appraisal), class: 'btn btn-primary'
      = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('helpers.links.destroy'), |
      staff_staff_appraisal_path(@staff_appraisal),                                                                                                    |
      :method => 'delete',                                                                                                           |
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
      :class => 'btn btn-danger'
