- model_class = Studentcounselingsearch
.page-header
  %h1=t('equery.student_counseling.search')
= render 'shared/flashes'

.row
  .col-md-offset-1
    =render partial: 'counseling_listing', locals: {studentcounselingsearch: @studentcounselingsearch, studentcounselings: @studentcounselings, bycases: @bycases}

.row
  .col-md-6.col-md-offset-4
    %hr
    .form-actions
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left") +" #{t('equery.title')} - #{t('student.title')}", "/equery_reports?query_module=4", class: 'btn btn-primary'
      %span{style: 'padding-left: 20px;'}= link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), new_equery_report_studentcounselingsearch_path(searchstudentcounselingtype: 1),  :class => 'btn btn-default'
      
