= f.hidden_field :parent_id
- if current_user.college.code=='kskbjb'
  - course_type=Programme::COURSE_TYPES_PROG1
  - course_type_sub=Programme::COURSE_TYPES_SUB1
- else
  - course_type=Programme::COURSE_TYPES_PROG2
  - course_type_sub=Programme::COURSE_TYPES_SUB2
  
.col-md-offset-1
  .form-group
    .col-sm-2.control-label
      = f.label t 'training.programme.code'
    .col-md-5
      /= f.text_field :combo_code, :size => '6' ,class: 'form-control'
      %table
        %tr
          %td{:style=>"padding: 0 6px 0 0;"}=h @programme.is_root? ? "" : @programme.parent.combo_code + "-" 
          %td{:style=>"padding: 0 6px 0 0;"}= f.text_field :code, :size => '8', class: 'form-control'
  
  .form-group
    .col-sm-2.control-label
      = f.label t 'training.programme.course_type'
    .col-md-9
      - if @programme.parent_id == nil
        = f.select :course_type, course_type,{:include_blank => t('helpers.prompt.select_course_type')},{ class: 'selectpicker', "data-width"=>'160px'} 
      - else
        %table
          %tr
            %td{:style=>"padding: 0 12px 0 0;  vertical-align: top;"}= f.select :course_type, course_type_sub,{:include_blank => t('helpers.prompt.select_course_type')},{ class: 'selectpicker', "data-width"=>'160px'} 
            %td.bbb{:style=>"padding: 0 12px 0 0;"}= f.label t 'training.programme.lecture'
            %td.bbb{:style=>"padding: 0 12px 0 0;"}= f.text_field :lecture_d, :size => '4', class: 'form-control time_picker_duration', value: @programme.try(:lecture_d).try(:strftime, '%H:%M')
            %td.bbb{:style=>"padding: 0 12px 0 0;"}=f.label t 'training.programme.tutorial'
            %td.bbb{:style=>"padding: 0 12px 0 0;"}= f.text_field :tutorial_d, :size => '4', class: 'form-control time_picker_duration', value: @programme.try(:tutorial_d).try(:strftime, '%H:%M') 
            %td.bbb{:style=>"padding: 0 12px 0 0;"}=f.label t 'training.programme.practical'
            %td.bbb{:style=>"padding: 0 12px 0 0;"}= f.text_field :practical_d, :size => '4', class: 'form-control time_picker_duration', value: @programme.try(:practical_d).try(:strftime, '%H:%M')
            /%td.bbb{:style=>"padding: 0 12px 0 0;"}= f.select :practical_time, DropDown::LECTURE_TIME,{:prompt =>t('select')},{ class: 'selectpicker', "data-width"=>'80px'}
            %td.bbb
              .help-block.small
                Format : HH:MM
                =" (prev rec: "+@programme.lecture.to_s+", "+@programme.tutorial.to_s+", "+@programme.practical.to_s+")" if @programme.lecture? || @programme.tutorial? || @programme.practical?

  - unless @programme.parent_id == nil        
    .form-group
      .col-sm-2.control-label
        = f.label t 'training.programme.subject_abbreviation'
      .col-md-1
        = f.text_field :subject_abbreviation, class: 'form-control'
      
  .form-group
    .col-sm-2.control-label
      = f.label t 'training.programme.name'
    .col-md-5
      = f.text_field :name, :size => '50' , class: 'form-control'
  
  .form-group
    .col-sm-2.control-label
      = f.label t 'training.programme.duration'
    .col-md-8
      %table
        %tr
          %td{:style=>"padding: 0 6px 0 0;"}= f.text_field :duration, :size=>'10', class: 'form-control'
          /%td{:style=>"padding: 0 6px 0 0;"}= f.select :duration_type, DropDown::DURATION_TYPES,{:prompt => t('helpers.prompt.select_duration')},{ class: 'selectpicker', "data-width"=>'100px'}
          %td{:style=>"padding: 0 6px 0 0;"}= f.select :durationtype, DropDown::DURATIONTYPES,{:include_blank => t('helpers.prompt.select_duration')},{ class: 'selectpicker', "data-width"=>'100px'}

  - if current_user.college.code=="amsas" && @programme.is_root?
    .form-group
      .col-sm-2.control-label
        = f.label t 'training.programme.level'
      .col-md-3
        = f.select :level, Programme::COURSE_LEVEL,{:include_blank => t('select')},{ class: 'selectpicker', "data-width"=>'160px'} 
     
  .form-group
    .col-sm-2.control-label
      = f.label t 'training.programme.credits'
    .col-md-3
      = f.select :credits, 0..8 ,{:prompt => t('helpers.prompt.select_credit')},{ class: 'selectpicker', "data-width"=>'160px'} 
      
  .form-group
    .col-sm-2.control-label
      = f.label t 'training.programme.status'
    .col-md-3
      = f.select :status, DropDown::COURSE_STATUS,{:prompt => t('helpers.prompt.select_status')},{ class: 'selectpicker', "data-width"=>'160px'} 


:javascript

$(document).ready(function(){
  $('#programme_course_type').on('change',function() {
    if(this.value=='Topic')
      $('.bbb').show(); 
    else if(this.value=='Subtopic')
      $('.bbb').show();
    else
      $('.bbb').hide();
  }).trigger('change');
});

/on change - http://stackoverflow.com/questions/21584752/want-to-show-hide-div-based-on-dropdown-box-selection

/on load - trigger je - http://stackoverflow.com/questions/18063686/show-hide-div-section-onchange-and-onload-with-javascript

      
/<font size=-2>* <strong>TOPIC DETAILS</strong> will be automatically created upon creation/update of topic/subtopic.</font></td></tr> 