
.col-md-offset-1
  .form-group
    .col-sm-2.control-label
      = f.label t 'buletin.headline', for: :headline
    .col-md-5
      = f.text_field :headline, class: 'form-control mandatory'

  .form-group
    .col-sm-2.control-label
      = f.label t 'buletin.content', for: :content
    .col-md-7
      = f.text_area :content, :size => "30x7", class: 'form-control mandatory'
            
  .form-group
    .col-sm-2.control-label
      = f.label t 'buletin.posted_by', for: :postedby_id
    .col-md-5
      - selected=@bulletin.new_record? ? current_user.userable_id : @bulletin.postedby_id
      = f.collection_select :postedby_id, Staff.valid_staffs.order(rank_id: :asc, name: :asc), :id, :staff_with_rank, {:include_blank => (t 'select'), :selected => selected}, {class: 'selectpicker', "data-width"=>"300px"}
		  
  .form-group
    .col-sm-2.control-label
      = f.label t 'buletin.publish_date', for: :publishdt
    .col-md-3
      = f.text_field :publishdt, value: @bulletin.publishdt.try(:strftime, '%d-%m-%Y'), class: 'form-control mandatory date_picker_reverse'
	  
  .form-group
    .col-sm-2.control-label
      = f.label t 'buletin.upload_file', for: :data
    .col-md-3
      %font{:color => "#444", :size => "-2"} Current file is :
      - if @bulletin.data.exists? then
        = @bulletin.data_file_name
      %font{:color => "#444", :size => "-2"} Or
      = f.file_field :data, :style=>"width: 400px", class: 'form-control'
      %font{:color => "#AAA", :size => "-2"} pdf/txt/doc/xls/jpg.  Max : 5MB
	  
		 