.row
  .col-md-10.col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to ((t 'student.students.mandatory')),"#mandatory_edit", "data-toggle" => "tab"
      %li= link_to ((t 'student.students.students_details')), "#student_details_edit", "data-toggle" => "tab"
      %li= link_to ((t 'student.students.course_details')), "#course_details_edit", "data-toggle" => "tab"
      %li= link_to ((t 'student.students.health_status')), "#health_status_edit", "data-toggle" => "tab"
      %li= link_to ((t 'student.students.qualifications')), "#qualifications_edit", "data-toggle" => "tab"
      %li= link_to ((t 'student.students.result')), "#result_edit", "data-toggle" => "tab"
      %li= link_to ((t 'staff.contacts.emergency')), "#contacts_edit",  "data-toggle" => "tab"

    .tab-content{style:"padding-top:1em"}
      #mandatory_edit.tab-pane.active
        %br
        = render :partial => 'tab_mandatory_edit', :locals => {:f => f}
      #student_details_edit.tab-pane
        %br
        = render :partial => 'tab_student_details_edit', :locals => {:f => f}
      #course_details_edit.tab-pane
        %br
        = render :partial => 'tab_course_details_edit', :locals => {:f => f}

      #health_status_edit.tab-pane
        %br
        = render :partial => 'tab_health_status_edit', :locals => {:f => f}

      #qualifications_edit.tab-pane
        %br
        = render :partial => 'tab_qualifications_edit', :locals => {:f => f}			

      #result_edit.tab-pane
        %br
        = render :partial => 'tab_result_edit', :locals => {:f => f}

      #contacts_edit.tab-pane
        .row
          .col-sm-offset-1.col-sm-1= t 'staff.contacts.kintype_id'
          .col-sm-2= t 'staff.contacts.name'
          .col-sm-1= t 'staff.contacts.icno'
          .col-sm-1= t 'staff.contacts.phone'
          .col-sm-2= t 'staff.contacts.profession'
          .col-sm-4= t 'staff.contacts.address'
        = f.fields_for :kins do |builder|
          = render 'kin_fields', :f => builder
        .row
          /= link_to_add_fields image_tag("add.png", :border => 0, :title => t('addmore')), f, :kins
          = link_to_add_fields t('addmore'), f, :kins, "",  t('addmore')
          
:javascript

  function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(link).parent().before(content.replace(regexp, new_id));
  }
