= f.hidden_field :college_id, value: current_user.college_id
.row
  .col-md-10.col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to ((t 'student.students.mandatory')),"#mandatory_edit", "data-toggle" => "tab"
      %li= link_to ((t 'student.students.students_details')), "#student_details_edit", "data-toggle" => "tab"
      %li= link_to ((t 'student.students.course_details')), "#course_details_edit", "data-toggle" => "tab"
      %li= link_to ((t 'student.students.health_status')), "#health_status_edit", "data-toggle" => "tab"
      %li= link_to ((t 'student.students.qualifications')), "#qualifications_edit", "data-toggle" => "tab"
      %li= link_to ((t 'student.students.spm_results')), "#result_edit", "data-toggle" => "tab"
      %li= link_to ((t 'staff.contacts.emergency')), "#contacts_edit",  "data-toggle" => "tab"

    .tab-content{style:"padding-top:1em"}
      #mandatory_edit.tab-pane.active
        %br
        = render :partial => 'tab_mandatory_edit', :locals => {:f => f}
      #student_details_edit.tab-pane
        %br
        = render :partial => 'tab_student_details_edit', :locals => {:f => f}
      #course_details_edit.tab-pane
        %br
        /= render :partial => 'tab_course_details_edit', :locals => {:f => f}
        = render :partial => "students/#{current_user.college.code}/tab_course_details_edit", :locals => {:f => f}

      #health_status_edit.tab-pane
        %br
        = render :partial => 'tab_health_status_edit', :locals => {:f => f}

      #qualifications_edit.tab-pane
        %br
        = render :partial => 'tab_qualifications_edit', :locals => {:f => f}

      #result_edit.tab-pane
        %br
        = render :partial => 'tab_result_edit', :locals => {:f => f}

      #contacts_edit.tab-pane
        %br
        = render :partial => 'tab_contact_edit', :locals => {:f => f}
          
:javascript

  function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(link).parent().before(content.replace(regexp, new_id));
  }

