= search_form_for @search, url: students_path,  class: "form-inline" do |f|
  %tr.search_row{:style => "display: none;"}
    %td= f.text_field :icno_cont, size: 2,  :class => "form-control"
    %td
      .col-md-5= f.text_field :name_cont, class: "form-control", placeholder: "Student Name"
      .col-md-5
        - unless current_user.college.code=='amsas'
          =f.collection_select :course_id_eq, Programme.roots, :id, :programme_list, {include_blank: (t 'actions.all_programmes'), "data-width"=> "auto"}, {class: 'selectpicker'}
        - intakes=[]
        - if current_user.college.code=='amsas'
          - if is_developer?
            - intakes_all=Intake.all.order(monthyear_intake: :desc, id: :desc)
            - intakes_divisions=Intake.division_list
          - else
            - intakes_all=Intake.where.not('name ILIKE(?)', "%ICMS%").order(monthyear_intake: :desc, id: :desc)
            - intakes_divisions=Intake.where.not('name ILIKE(?)', "%ICMS%").division_list
          = f.select :intakestudent_name_eq, intakes_all.map(&:intake_list_name), {include_blank: (t 'actions.all_intakes')}, {class: 'selectpicker'}
          = f.select :division_search, intakes_divisions, {include_blank: (t 'actions.all_groups')}, {class: 'selectpicker'}
        - else
          - intakes=Intake.all.map(&:intake_list).uniq
          /- Intake.select('DISTINCT monthyear_intake').each{|x|intakes << [x.monthyear_intake.strftime('%b %Y'), x.monthyear_intake]}
          =f.select :intakestudent_monthyear_intake_eq, intakes, {include_blank: (t 'actions.all_intakes')}, {class: 'selectpicker'}
    %td= f.text_field :matrixno_start, size: 2,  :class => "form-control"
    %td.input-group
      = f.text_field :race_cont, size: 2,  :class => "form-control"    	  
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw
          
