= search_form_for @search, url: students_path,  class: "form-inline" do |f|
  %tr.search_row{:style => "display: none;"}
    %td= f.text_field :icno_cont, size: 2,  :class => "form-control"
    %td
      .col-md-5= f.text_field :name_cont, class: "form-control", placeholder: "Student Name"
      .col-md-4=f.collection_select :course_id_eq, Programme.roots, :id, :programme_list, {include_blank: (t 'actions.all_records')}, {class: 'selectpicker'}
    %td= f.text_field :matrixno_start, size: 2,  :class => "form-control"
    %td.input-group
      = f.text_field :race_cont, size: 2,  :class => "form-control"    	  
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw