.col-md-offset-2  
  .form-group
    .col-sm-2.control-label
      - if current_user.college.code=="amsas"
        = f.label t 'student.students.apmmno', for: :apmmno
      - else
        = f.label t 'student.students.matrixno', for: :matrixno
    .col-md-2
      = f.text_field :matrixno, class: 'form-control'

  .form-group
    .col-sm-2.control-label
      = f.label t 'student.students.rank_id', for: :rank_id
    .col-md-2
      = f.collection_select :rank_id, Rank.order(id: :asc), :id, :short_full_name, {:include_blank => (t 'select')}, {class: 'selectpicker', "data-width"=>"280px"}

  /required for AMSAS /:position, :department, :vehicle_no, :vehicle_type
  - if current_user.college.code=="amsas"
    .form-group
      .col-sm-2.control-label
        = f.label t 'student.students.position', for: :position
      .col-md-3
        = f.text_field :position, class: 'form-control'

    .form-group
      .col-sm-2.control-label
        = f.label t 'student.students.department', for: :department
      .col-md-3
        = f.text_field :department, class: 'form-control'

    .form-group
      .col-sm-2.control-label
        = f.label t 'student.students.vehicle_no', for: :vehicle_no
      .col-md-2
        = f.text_field :vehicle_no, class: 'form-control'

    .form-group
      .col-sm-2.control-label
        = f.label t 'student.students.vehicle_type', for: :vehicle_type
      .col-md-3
        = f.text_field :vehicle_type, class: 'form-control'
  
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.address', for: :remarks
    .col-md-5
      = f.text_area :address, :size => "40x5", class: 'form-control'

  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.address_posbasik', for: :remarks
    .col-md-5
      = f.text_area :address_posbasik, :size => "40x5", class: 'form-control'

  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.race', for: :race2
    .col-md-2 
      - if current_user.college.code=='amsas'
        = f.select :race2, Student::RACE_AMSAS, {:include_blank =>t('helpers.prompt.select_race')} , {class: 'form-control'}
      - else
        = f.select :race2, Student::RACE, {:include_blank =>t('helpers.prompt.select_race')} , {class: 'form-control'}
        %font{:color => "blue"} Previous race entered: #{@student.race.blank? ? "" : @student.race}

  .form-group
    .col-sm-2.control-label
      .bong{:style=> "display: none;"}
        = f.label t 'student.students.ethnic', for: :race
    .col-md-2
      .bong{:style=> "display: none;"}
        = f.text_field :race, class: 'form-control'
 
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.offer_letter_serial', for: :offer_letter_serial
    .col-md-3
      =f.text_field :offer_letter_serial, class: 'form-control'

  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.upload', for: :upload
    .col-md-3
      =f.file_field :photo, class: 'form-control'
      %b= t'exam.examquestion.uploaded_file'
      = @student.photo_file_name
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.semail', for: :semail
    .col-md-3
      =f.text_field :semail, class: 'form-control', 'data-behaviour' => 'datepicker_today'
  
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.regdate', for: :regdate
    .col-md-2
      =f.text_field :regdate, class: 'form-control date_picker_reverse', 'data-behaviour' => 'datepicker_today', value: @student.try(:regdate).try(:strftime, '%d-%m-%Y')
      
:javascript
$(document).ready(function(){
  $('#student_race2').change(function() {
    if($(this).val() == 21) {
      $('.bong').show();
    }else {
         $('.bong').hide();
    }
  });
});