.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label t 'student.students.icno', for: :icno
    .col-md-2
      = f.text_field :icno, class: 'form-control mandatory', maxlength:12
      .help-block.small Format:79XXXXXXXXXX, 9099XX

  .form-group
    .col-sm-2.control-label
      = f.label t 'student.students.name', for: :name
    .col-md-4
      = f.text_field :name, class: 'form-control mandatory'

  .form-group
    .col-sm-2.control-label
      = f.label t 'student.students.sstatus', for: :sstatus
    .col-md-3
      - if current_user.college.code=="amsas"
        = f.select :sstatus, Student::STATUS_AMSAS, {:include_blank =>t('helpers.prompt.select_student_status')}, {class: 'selectpicker mandatory'}
      - else
        = f.select :sstatus, Student::STATUS, {:include_blank =>t('helpers.prompt.select_student_status')}, {class: 'selectpicker mandatory'}

  .form-group.bong2{style: "display: none;"}
    .col-sm-2.control-label
      = f.label t 'student.students.sstatus_remark', for: :sstatus_remark
    .col-md-4
      = f.text_field :sstatus_remark, class: 'form-control'

  .form-group.bong3{style: "display: none;"}
    .col-sm-2.control-label
      = f.label t 'student.students.semester_repeated', for: :sstatus_remark
    .col-md-4
      = f.text_field :sstatus_remark, class: 'form-control'
    .col-md-4
      =t 'student.students.repeated_notes'

  .form-group
    .col-sm-2.control-label
      = f.label t 'student.students.stelno', for: :stelno
    .col-md-2
      = f.text_field :stelno, class: 'form-control mandatory'

  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.ssponsor', for: :ssponsor
    .col-md-3
      - if current_user.college.code=='kskbjb'
        - sponsoring_body=Student::SPONSOR
      - else 
        -sponsoring_body=Student::SPONSOR_AMSAS
      = f.select :ssponsor, sponsoring_body, {:include_blank =>t('helpers.prompt.select_sponsor')}, {class: 'selectpicker mandatory', 'data-width' => "auto"}

  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.gender', for: :gender
      -#.col-md-1
      /= f.select :gender, Student::GENDER, :prompt => "Select", class: 'form-control mandatory'
    .col-md-7
      .form-inline
        .form-group
          = t('student.students.male')
          = f.radio_button :gender,'1'
        .form-group
          = t('student.students.female')
          = f.radio_button :gender,'2'

  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.sbirthd', for: :sbirthdt
    .col-md-2
      = f.text_field :sbirthdt, class: 'form-control date_picker_reverse mandatory', 'data-behaviour' => 'datepicker_today', value: @student.try(:sbirthdt).try(:strftime, '%d-%m-%Y')

  - if current_user.college.code=="amsas"
    .form-group
      .col-sm-2.control-label
        =f.label t 'student.students.birthplace', for: :birthplace
      .col-md-2
        =f.select :birthplace, Student::STATECD, {:include_blank => (t 'select')}, {class: 'selectpicker mandatory'}
    
    .form-group
      .col-sm-2.control-label
        =f.label t 'student.students.religion', for: :religion
      .col-md-2
        =f.select :religion, Student::RELIGION, {:include_blank => (t 'select')}, {class: 'selectpicker mandatory'}
    
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.mrtlstatuscd', for: :mrtlstatuscd
    .col-md-3
      = f.select :mrtlstatuscd, Student::MARITAL_STATUS, {:include_blank =>t('helpers.prompt.select_maritial_status')}, {class: 'selectpicker mandatory'}

/ TODO - kskbjb - to update manually (intake -> intake_id), may require new Intake creation - 17Oct2016
- if !@student.id.blank? && @student.college.code=='kskbjb' && !@student.intake.blank?
  .col-md-offset-2
    .form-group
      .col-sm-2.control-label
        =f.label t 'student.students.intake_id', for: :intake
      .col-md-2
        = f.text_field :intake, class: 'form-control date_picker_reverse mandatory', 'data-behaviour' => 'datepicker_today', value: @student.try(:intake).try(:strftime, '%d-%m-%Y')
