- model_class = Student
.col-md-8.col-md-offset-1
  %dl.dl-horizontal
    %dt= t 'student.students.sstatus' , :default => model_class.human_attribute_name(:sstatus) + ":"
    %dd
      = (t('student.students.'+@student.sstatus.downcase)).titleize
      = " ("+@student.sstatus_remark+")" if @student.sstatus=="Transfer College" && @student.sstatus_remark!=""
      =" ("+(t 'student.students.semester_repeated')+": "+@student.sstatus_remark+")" if @student.sstatus=="Repeat" && @student.sstatus_remark!="" 
    %dt= t 'student.students.stelno' , :default => model_class.human_attribute_name(:stelno) + ":"
    %dd=  @student.stelno
		  
    %dt= t 'student.students.address' , :default => model_class.human_attribute_name(:address) + ":"
    %dd= @student.address
 
    %dt= t 'student.students.address_posbasik' , :default => model_class.human_attribute_name(:address_posbasik) + ":"
    %dd= @student.address_posbasik

    %dt= t 'student.students.ssponsor' , :default => model_class.human_attribute_name(:ssponsor) + ":"
    %dd=  @student.ssponsor

    %dt= t 'student.students.gender' , :default => model_class.human_attribute_name(:gender) + ":"
    %dd= (Student::GENDER.find_all{|disp, value| value == @student.gender.to_s}).map {|disp, value| disp} [0]
		  
    %dt= t 'student.students.sbirthd' , :default => model_class.human_attribute_name(:sbirthd) + ":"
    %dd= @student.sbirthdt.try(:strftime, '%d-%m-%Y')
    %dt= t 'student.students.age' , :default => model_class.human_attribute_name(:age) + ":"
    %dd= @student.age
 
    %dt= t 'student.students.mrtlstatuscd' , :default => model_class.human_attribute_name(:mrtlstatuscd) + ":"
    %dd= (Student::MARITAL_STATUS.find_all{|disp, value| value == @student.mrtlstatuscd.to_s}).map {|disp, value| disp} [0]

    %dt= t 'student.students.race' , :default => model_class.human_attribute_name(:race2) + ":"
    %dd= (Student::RACE.find_all{|disp, value| value == @student.race2.to_i}).map {|disp, value| disp} [0]
   
    - if @student.race2 == 21
      %dt= t 'student.students.ethnic'
      %dd= h @student.race
	
    %dt= t 'student.students.semail' , :default => model_class.human_attribute_name(:semail) + ":"
    %dd= @student.semail

    %dt= t 'student.students.regdate' , :default => model_class.human_attribute_name(:regdate) + ":"
    %dd= @student.regdate.try(:strftime, '%d-%m-%Y')
    
    %dt= t 'student.students.offer_letter_serial' , :default => model_class.human_attribute_name(:offer_letter_serial) + ":"
    %dd= @student.offer_letter_serial
       
   