.row.fluid
  = form_for [:student, @student], url: student_path(@student), :html => { :class => 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    .col-md-offset-3

          
      .form-group
        .col-sm-2.control-label
          = f.label t 'student.students.matrixno', for: :matrixno
        .col-md-2
          = f.text_field :matrixno, class: 'form-control'
          



      .form-group
        .col-sm-2.control-label
          =f.label t 'student.students.address', for: :remarks
        .col-md-3
          = f.text_area :address, :size => "40x7", class: 'form-control'

      .form-group
        .col-sm-2.control-label
          =f.label t 'student.students.address_posbasik', for: :remarks
        .col-md-3
          = f.text_area :address_posbasik, :size => "40x7", class: 'form-control'


      .form-group
        .col-sm-2.control-label
          =f.label t 'student.students.gender', for: :gender
        -#.col-md-1
          /= f.select :gender, Student::GENDER, :prompt => "Select", class: 'form-control mandatory'
        .col-md-1
          = f.radio_button :gender,'1' 
          = t('student.students.male')
        .col-md-1
          = f.radio_button :gender,'2'
          = t('student.students.female')


      .form-group
        .col-sm-2.control-label
          = f.label t 'student.students.etnic', for: :etnic
        .col-md-2
          = f.text_field :race, class: 'form-control'



      .form-group#bong{:style => "display: none;"}
        .col-sm-2.control-label
          =f.label t 'student.students.etnic', for: :race
        .col-md-2
          =f.text_field :race #class: 'selectpicker', "data-width"=>"350px"
 

      .form-group
        .col-sm-2.control-label
          =f.label t 'student.students.offer_letter_serial', for: :offer_letter_serial
        .col-md-3
          =f.text_field :offer_letter_serial, class: 'form-control'

      .form-group
        .col-sm-2.control-label
          =f.label t 'student.students.upload', for: :upload
        .col-md-2
          =f.file_field :photo, class: 'form-control'
  