.row.fluid
  = form_for [:student, @student], url: student_path(@student), :html => { :class => 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    .col-md-offset-3
      .form-group
        .col-sm-2.control-label
          = f.label t 'student.students.icno', for: :icno
        .col-md-2
          = f.text_field :icno, class: 'form-control mandatory', :size => 12
       
      .form-group
        .col-sm-2.control-label
          = f.label t 'student.students.name', for: :name
        .col-md-3
          = f.text_field :name, class: 'form-control mandatory'
          
      .form-group
        .col-sm-2.control-label
          = f.label t 'student.students.sstatus', for: :sstatus
        .col-md-2
          = f.select :sstatus, Student::STATUS, :prompt => "Select", class: 'form-control mandatory'


      .form-group
        .col-sm-2.control-label
          = f.label t 'student.students.stelno', for: :stelno
        .col-md-2
          = f.text_field :stelno, class: 'form-control mandatory'




      .form-group
        .col-sm-2.control-label
          =f.label t 'student.students.ssponsor', for: :ssponsor
        .col-md-3
          = f.select :ssponsor, Student::SPONSOR, :prompt => "Select", class: 'form-control mandatory'



      .form-group
        .col-sm-2.control-label
          =f.label t 'student.students.sbirthd', for: :sbirthdt
        .col-md-2
          = f.text_field :sbirthdt, class: 'form-control mandatory', 'data-behaviour' => 'datepicker_today'
 

      .form-group
        .col-sm-2.control-label
          =f.label t 'student.students.mrtlstatuscd', for: :mrtlstatuscd
        .col-md-2
          = f.select :mrtlstatuscd, Student::MARITAL_STATUS, :prompt => "Select", class: 'form-control mandatory'

      .form-group
        .col-sm-2.control-label
          =f.label t 'student.students.mrtlstatuscd', for: :race2
        .col-md-2 
          = f.select :race2, Student::RACE, :prompt => "Select", class: 'form-control mandatory'
          %font{:color => "blue"} Previous race entered: #{@student.race.blank? ? "" : @student.race}


 
      .form-group
        .col-sm-2.control-label
          =f.label t 'student.students.semail', for: :semail
        .col-md-2
          =f.text_field :semail, class: 'form-control mandatory', 'data-behaviour' => 'datepicker_today'
 	  
      .form-group
        .col-sm-2.control-label
          =f.label t 'student.students.regdate', for: :regdate
        .col-md-2
          =f.text_field :regdate, class: 'form-control mandatory', 'data-behaviour' => 'datepicker_today'


  