.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label t 'student.students.matrixno', for: :matrixno
    .col-md-2
      = f.text_field :matrixno, class: 'form-control'


  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.address', for: :remarks
    .col-md-5
      = f.text_area :address, :size => "40x5", class: 'form-control'

  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.address_posbasik', for: :remarks
    .col-md-5
      = f.text_area :address_posbasik, :size => "40x5", class: 'form-control'

  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.sbirthd', for: :sbirthdt
    .col-md-4
      = f.text_field :sbirthdt, class: 'form-control', 'data-behaviour' => 'datepicker_today'
 

  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.race', for: :race2
    .col-md-2 
      = f.select :race2, Student::RACE, :prompt => "Select", class: 'form-control'
      %font{:color => "blue"} Previous race entered: #{@student.race.blank? ? "" : @student.race}

  .form-group
    .col-sm-2.control-label
      = f.label t 'student.students.etnic', for: :etnic
    .col-md-3
      = f.text_field :race, class: 'form-control'



  .form-group#bong{:style => "display: none;"}
    .col-sm-2.control-label
      =f.label t 'student.students.etnic', for: :race
    .col-md-4
      =f.text_field :race #class: 'selectpicker', "data-width"=>"350px"
 

  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.offer_letter_serial', for: :offer_letter_serial
    .col-md-3
      =f.text_field :offer_letter_serial, class: 'form-control'

  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.upload', for: :upload
    .col-md-4
      =f.file_field :photo, class: 'form-control'

  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.semail', for: :semail
    .col-md-4
      =f.text_field :semail, class: 'form-control', 'data-behaviour' => 'datepicker_today'
  
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.regdate', for: :regdate
    .col-md-4
      =f.text_field :regdate, class: 'form-control', 'data-behaviour' => 'datepicker_today'