- model_class = Student
.col-md-8.col-md-offset-1
  %dl.dl-horizontal
    %dt= t 'student.students.sstatus' , :default => model_class.human_attribute_name(:sstatus) + ":"
    %dd
      - if current_user.college.code=="amsas"
        =@student.sstatus.blank? ? "" : (Student::STATUS_AMSAS.find_all{|disp, value| value == @student.sstatus}).map {|disp, value| disp}[0]
      - else
        =@student.sstatus.blank? ? "" : (Student::STATUS.find_all{|disp, value| value == @student.sstatus}).map {|disp, value| disp}[0]
      /= (t('student.students.'+@student.sstatus.downcase)).try(:titleize)
      /= " ("+@student.sstatus_remark+")" if @student.sstatus=="Transfer College" && @student.sstatus_remark!=""
      /=" ("+(t 'student.students.semester_repeated')+": "+@student.sstatus_remark+")" if @student.sstatus=="Repeat" && @student.sstatus_remark!="" 
    %dt= t 'student.students.stelno' , :default => model_class.human_attribute_name(:stelno) + ":"
    %dd=  @student.stelno
		  
    %dt= t 'student.students.address' , :default => model_class.human_attribute_name(:address) + ":"
    %dd= @student.address
 
    %dt= t 'student.students.address_posbasik' , :default => model_class.human_attribute_name(:address_posbasik) + ":"
    %dd= @student.address_posbasik

    %dt= t 'student.students.ssponsor' , :default => model_class.human_attribute_name(:ssponsor) + ":"
    %dd=  @student.render_sponsor

    %dt= t 'student.students.gender' , :default => model_class.human_attribute_name(:gender) + ":"
    %dd=@student.render_gender
		  
    %dt= t 'student.students.sbirthd' , :default => model_class.human_attribute_name(:sbirthd) + ":"
    %dd= @student.sbirthdt.try(:strftime, '%d-%m-%Y')
    
    - if current_user.college.code=="amsas"
      %dt= t 'student.students.birthplace' , :default => model_class.human_attribute_name(:birthplace) + ":"
      %dd= @student.render_birthplace
      
      %dt= t 'student.students.religion' , :default => model_class.human_attribute_name(:sbirthd) + ":"
      %dd= @student.render_religion
    
    %dt= t 'student.students.age' , :default => model_class.human_attribute_name(:age) + ":"
    %dd= @student.age
 
    %dt= t 'student.students.mrtlstatuscd' , :default => model_class.human_attribute_name(:mrtlstatuscd) + ":"
    %dd= @student.render_marital

    %dt= t 'student.students.race' , :default => model_class.human_attribute_name(:race2) + ":"
    %dd=@student.race2? ? @student.render_race : @student.try(:race)
   
    - if @student.race2 == 21
      %dt= t 'student.students.ethnic'
      %dd= h @student.race
	
    %dt= t 'student.students.semail' , :default => model_class.human_attribute_name(:semail) + ":"
    %dd= @student.semail

    %dt= t 'student.students.regdate' , :default => model_class.human_attribute_name(:regdate) + ":"
    %dd= @student.regdate.try(:strftime, '%d-%m-%Y')
    
    %dt= t 'student.students.offer_letter_serial' , :default => model_class.human_attribute_name(:offer_letter_serial) + ":"
    %dd= @student.offer_letter_serial
       
   