.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label t 'student.students.course_id', for: :course_id
    .col-md-2
      = f.collection_select :course_id, Programme.roots.order(combo_code: :asc), :id, :name, {:include_blank => true}, {class: 'selectpicker', "data-width"=>"300px"}	
	  
	          
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.group_id', for: :group_id
    .col-md-3
      = f.text_field :group_id, class: 'form-control'

		  
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.end_training', for: :sbirthdt
    .col-md-3
      = f.text_field :end_training, class: 'form-control', 'data-behaviour' => 'datepicker_today'
		  
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.remarks', for: :remarks
    .col-md-3
      = f.text_field :course_remarks, class: 'form-control'