- model_class = Student
.col-md-8.col-md-offset-1
  %dl.dl-horizontal
    %dt= t 'student.students.course_id' , :default => model_class.human_attribute_name(:course_id) + ":"
    %dd= @student.course_id.blank? ? " " : @student.course.try(:code_course_type_name)

    %dt= t 'student.students.intake_id' , :default => model_class.human_attribute_name(:intake_id) + ":"
    %dd
      - unless @student.intake_id.blank? 
        = @student.intakestudent.monthyear_intake.strftime("%B %Y")
      - else
        = @student.intake.blank? ? "-" : @student.intake.strftime("%B %Y")
    
    /@student.intake.blank? ? "-" : @student.intake.strftime("%B %Y")
  
    %dt= t 'student.students.remarks' , :default => model_class.human_attribute_name(:address_posbasik) + ":"
    %dd= @student.course_remarks