- model_class = Student
.page-header
  %h1= @student.name
= render 'shared/flashes'


.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to ((t 'student.students.students_details')),"#student_details", "data-toggle" => "tab"
      %li= link_to ((t 'student.students.course_details')), "#course_details", "data-toggle" => "tab"
      %li= link_to ((t 'student.students.health_status')),"#health_status","data-toggle" => "tab"
      %li= link_to ((t 'student.students.qualifications')), "#qualifications", "data-toggle" => "tab"
      %li= link_to ((t 'student.students.guarantor')),"#guarantor","data-toggle" => "tab"
      %li= link_to ((t 'student.students.contact_information')), "#contact_information", "data-toggle" => "tab"
      
    .tab-content{style:"padding-top:1em"}
      .col-md-1
        - if @student.photo.exists? then
          = image_tag @student.photo.url(:original)
        - else
          %img{:src => "http://placekitten.com/150/200"}/
  
      .col-md-8.col-md-offset-1
        %dl.dl-horizontal
          %dt= t 'student.students.formatted_mykad' , :default => model_class.human_attribute_name(:serialno) + ":"
          %dd= @student.formatted_mykad
      
          %dt= t 'student.students.name' , :default => model_class.human_attribute_name(:refno) + ":"
          %dd=  @student.name
		  
          %dt
            - if current_user.college.code=="amsas"
              =  t 'student.students.apmmno'
            - else
              = t 'student.students.matrixno' , :default => model_class.human_attribute_name(:title) + ":"
          %dd= @student.matrixno
          
          %dt=t 'student.students.rank_id' , :default => model_class.human_attribute_name(:rank_id) + ":"
          %dd=@student.rank.try(:name)
          
          %dt=t 'student.students.position' , :default => model_class.human_attribute_name(:rank_id) + ":"
          %dd=@student.position
          
          %dt=t 'student.students.department' , :default => model_class.human_attribute_name(:rank_id) + ":"
          %dd=@student.department

      #student_details.tab-pane.active
        %br
        = render 'tab_student_details'
      #course_details.tab-pane
        %br
        = render 'tab_course_details'
      #health_status.tab-pane
        %br
        = render 'tab_health_status'
      #qualifications.tab-pane
        %br
        = render 'tab_qualifications'
      #guarantor.tab-pane
        %br
        = render 'tab_guarantor'
      #contact_information.tab-pane
        %br
        = render 'tab_contact_information'

	  
.row
  .col-md-4.col-md-offset-3
    %hr
    .form-actions
      - permitted_to? :read, :students do 
        = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), students_path, :class => 'btn btn-default'
      - permitted_to? :borang_maklumat_pelajar, :students do
        = link_to content_tag(:i, "", class: "fa fa-file-pdf-o"), borang_maklumat_pelajar_student_path(@student, format: "pdf"), class: "btn btn-default", "data-toggle" => "tooltip", title: "Borang Maklumat Pelajar"
      - permitted_to? :update, :students do
        = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), edit_student_path(@student),  :class => 'btn btn-primary' 
      - permitted_to? :manage, :students do
        = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
          student_path(@student),                                                                                                    |
          :method => 'delete',                                                                                                           |
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
          :class => 'btn btn-danger'


