- model_class = AssetLoss
.page-header
  %h1= t('asset.loss')#, :default => model_class.model_name.human.pluralize
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), '#'
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        = fa_icon "print", text: (t 'actions.print')

.search{style: "display:none;"}
  //= render "index_search"

.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th 
        %th Lost Type	
        %th Estimated Value
        %th Asset Name
        %th Lost Location 
        %th Loss Date $ Time
        %th Treasury Approval Ref No
    %tbody
      - @asset_losses.each do |asset_loss|
        %tr
          %td= check_box_tag "asset_loss_ids[]", asset_loss.id, :class => "check"
          %td= asset_loss.loss_type.capitalize
          %td= ringgols(asset_loss.est_value)
          %td= link_to "#{asset_loss.asset.try(:typename)} - #{asset_loss.asset.name} - #{asset_loss.asset.modelname}", asset_loss_path(asset_loss) 
          %td= asset_loss.try(:location).try(:name)	  
          %td= asset_loss.lost_at.strftime('%d %b %Y - %H:%M') unless asset_loss.lost_at.nil?
          %td= asset_loss.try(:document).try(:refno) 
