.media
  .media-left
    %a{:href => "#"}
      %img.media-object{:alt => "...", :src => "http://placehold.it/64x64"}
  .media-body
    %h4.media-heading
      /=(t 'from')+": "
      = conversation.originator.userable.name
      - @receipts = conversation.receipts_for(current_user)
      = "("+@receipts.count.to_s+") " if @receipts.count > 1
      /%br
      /=(t 'to2')+": "
      
      /- if @receipts.last.mailbox_type=="inbox"
      /  /= @receipts.last.receiver.userable.name 
      /  /%strong terima
      /- else
      /  Re :
      /  /= conversation.receipts_for(User.find(conversation.receipts.first.receiver_id)).first.receiver.userable.name
      /  /%strong balas
      /=conversation.receipts.first.id
      /=conversation.receipts.second.id
      /=conversation.receipts.first.receiver_id
      /=conversation.receipts.second.receiver_id

      %br
      .small
        %b=(t 'conversation.subject')+": "
        - if @receipts.last.mailbox_type=="inbox" && conversation.messages.count > 1
          = t 'conversation.reply2'
        = conversation.subject
      %br
      .small
        %strong=(t 'conversation.date')+": "
        =  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p")
    
    = truncate conversation.messages.last.body, length: 145
    %b
      = link_to ("- "+(t 'view')), conversation_path(conversation) 
      - if @receipts.first.is_read==false
        %font{style: 'color: red;'}
          *
    %hr