.media
  .media-left
    /%a{:href => "#"}
    /  %img.media-object{:alt => "...", :src => "http://placehold.it/64x64"}
    /- if current_page?(controller: 'mailbox', action: 'inbox')
    /  %a{:href => "/staff/staffs/#{conversation.originator.userable.id}"}
    /    %img.media-object{:alt => "...", :src => "#{conversation.originator.userable.photo.url}"} 
  .media-body
    %h4.media-heading   
      = conversation.originator.userable.name
      - @receipts = conversation.receipts_for(current_user)
      = "("+@receipts.group_by(&:notification_id).count.to_s+") " if @receipts.group_by(&:notification_id).count > 1

      /Check if REPLIES exist
      - receivers=[]
      - all_receivers=[]
      - conversation.receipts.order(created_at: :asc).group_by(&:notification_id).each do |message, receipts|
        - receivers << receipts.map(&:receiver_id) if receipts.map(&:receiver_id).include?(current_user.id)
        - all_receivers << receipts.map(&:receiver_id)
      /= receivers
      
      - replies=0
      - receivers.each do |receiver_set|
        - receivers.each do |rec_set2|
          //ref: sample usage [1,2]==[2,1].reverse
          - if rec_set2==receiver_set.reverse
            - replies = 1 if @receipts.group_by(&:notification_id).count > 1
      /=replies
      
      /Check if FORWARDS exist
      /= all_receivers
      - locate_currentusr=0
      - cnt=0
      - all_receivers.each_with_index do |rec, nos|
        - if rec.include?(current_user.id)
          - if locate_currentusr==0 && cnt==0
            - locate_currentusr=nos 
            - cnt+=1
      /msg is forwarded when locate_currentusr > 0
      /=locate_currentusr

      .small
        %b=(t 'conversation.subject')+": "
        /- if @receipts.last.mailbox_type=="inbox" && conversation.messages.count > 1
        = t 'conversation.reply2' if replies==1
        = t 'conversation.forward' if locate_currentusr > 0
        = conversation.subject
      .small
        %strong=(t 'conversation.date')+": "
        = conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p")

    /display uploaded files when exist 
    - notify_id=conversation.receipts.first.notification_id
    - uploaded_files=AttachmentUploader.where(msgnotification_id: notify_id)
    .small 
      - if uploaded_files && uploaded_files.count > 0 
        %u=t 'conversation.attachments'
        \: 
        - cnt=0
        - for upload_file in uploaded_files
          = " ("+(cnt+=1).to_s+") "
          = link_to upload_file.data_file_name, upload_file.data.url 
  
    = truncate conversation.messages.last.body, length: 145
    %b
      = link_to ("- "+(t 'view')), conversation_path(conversation) 
      - if current_page?(controller: 'mailbox', action: 'inbox') && @receipts.first.is_read==false
        %font{style: 'color: red;'}*

    %hr