= render 'shared/flashes'
- if params[:id]
  - thisurl=send_draft_conversation_path
- else
  - thisurl=:conversations
  
= form_for :conversation, url: thisurl, html: { class: "" } do |f|
  = f.hidden_field :id, value: params[:id] if params[:id]
  
  .form-group
    = f.label (t 'conversation.recipients')
    /= f.select(:recipients, User.all.collect {|p| [ p.email, p.id ] }, {}, { multiple: true , class: "chosen-select form-control" })
    = f.select(:recipients, @staff_list, {selected: @recv}, { multiple: true , class: "chosen-select form-control" })
    
  .form-group
    = f.label (t 'conversation.subject')
    = f.text_field :subject, placeholder: (t 'conversation.subject'), value: @subj, class: "form-control"

  .form-group
    = f.label (t 'conversation.message')
    = f.text_area :body, class: 'form-control',placeholder: (t 'conversation.message_here'), rows: 4, value: @bod
  
  .form-group
    = f.label (t 'conversation.attachments')
    .small=t 'conversation.allowed_format'
    = f.file_field :data, class: 'uploads'
  
  - if params[:id]
    .small 
      =t 'conversation.attachments'
      - cnt=0
      - for upload_file in @uploaded_files
        = " ("+(cnt+=1).to_s+") "
        = link_to upload_file.data_file_name, upload_file.data.url
        
  %br
    .col-md-12.centre
      .col-md-3= f.submit (t 'conversation.send_message'), class: "btn btn-success",  :name => :submit_button

:javascript
  $(document).ready(function() {
    $('.uploads').on('change', function() {
      this.form.submit();
    });
  });

/     UPLOAD Attachment
/     
/   = form_for @attachment_uploader, url: upload_conversations_path,  html: { multipart: true, class: 'form-horizontal' }  do |f|   
/     .form-group
/       = f.label "Attachment"
/       = f.file_field :data
/     = f.submit "Upload file"