= render 'shared/flashes'
.row
  .spacer
  .col-md-6
    = link_to (t 'conversation.compose'), new_conversation_path, class: "btn btn-success"
  .col-md-6.text-right
    - if conversation.is_trashed?(current_user)
      = link_to (t 'conversation.untrash'), untrash_conversation_path(conversation), class: 'btn btn-info', method: :post
    - else
      = link_to (t 'conversation.move_to_trash'), trash_conversation_path(conversation), class: 'btn btn-danger', method: :post, |
        data: {confirm: (t 'actions.are_you_sure')}                                                                        |
.row
  .spacer
  .col-md-4
    .panel.panel-default
      .panel-body
        = render 'mailbox/folders'
  .col-md-8
    .panel.panel-default
      .panel-body
        = render partial: 'messages'
 
      /currently not a sender of the FIRST message OR (a sender of FIRST message, whereby FIRST message is not the ONLY message)
      - if ((@receipts.first.message.sender.userable_id != current_user.userable_id) ||(@receipts.first.message.sender.userable_id == current_user.userable_id && @receipts.count > 1))
        .panel-footer

          /Retrieve receipt for REPLYING message to last recipient of current user's messages
          - notification_id= @receipts.where(mailbox_type: 'inbox').where(receiver_id: current_user.id).last.notification_id
          - receipt_toreply=conversation.receipts.where(mailbox_type: 'sentbox').where(notification_id: notification_id).last 
          
          /when reply / forward DRAFT exist, NOTE - @receipts_rev = sent messages (w/o DRAFT)
          - draft=Mailboxer::Notification.where(conversation_id: conversation.id, draft: true, sender_id: current_user.id).first
          - if @receipts.count != @receipts_rev.count && draft && draft.sender_id==current_user.id
            /- draft=Mailboxer::Notification.where(conversation_id: conversation.id, draft: true).first
            /= draft.sender_id
            /= current_user.id
            /= draft.id
            - body_text=draft.body
            
            
            /#RECIPIENT by group and / or person
            /- latest_recipients=Mailboxer::Receipt.where(mailbox_type: 'inbox', notification_id: conversation.receipts.last.notification_id).pluck(:receiver_id)
            - latest_recipients=Mailboxer::Receipt.where(mailbox_type: 'inbox', notification_id: draft.id).pluck(:receiver_id)
            - included_group_ids=[]
            - Group.all.each do |x|
              - if x.listing.all? {|x| latest_recipients.include?(x)}
                - included_group_ids << x.listing
                - latest_recipients-= x.listing
            - include_group=included_group_ids.join(",")
            - latest_recipients+=[include_group]
            /=included_group_ids
            
            /when recipient is not sender of current message (notification)
            /=latest_recipients
            - if latest_recipients!=[receipt_toreply.receiver_id]
              /forward
              - reply_val="2"
              - recv=latest_recipients
            - else
              /reply
              - reply_val="1"
              - recv=[]
          - else
            - body_text=""
            - reply_val="0"
            - recv=[]

          / Reply / Forward Form (NEW / Edit draft)
          = form_for :message, url: reply_conversation_path(conversation) , html: {class: 'edit_form', id: 'form1'} do |f|
            = f.hidden_field :notify_id, value: draft.id if @receipts.count != @receipts_rev.count && draft && draft.sender_id==current_user.id
            = hidden_field_tag :reply_method, reply_val

            /forward section
            .form-group
              .col-md-1=radio_button_tag "reply", 2, {},class: 'replying'
              .col-md-2
                %b=t 'conversation.forward_to'
              .col-md-7= f.select(:recipients, @staff_list, {selected: recv}, { multiple: true , class: "chosen-select form-control" })
            =hidden_field_tag "forwardmsg", @forward_text

            %br
            /reply section
            .form-group
              .col-md-1=radio_button_tag "reply", 1, {}, class: 'replying'
              .col-md-2
                %b=t 'conversation.reply_to'
              .col-md-7= receipt_toreply.receiver.userable.name
              =hidden_field_tag "receiptid", receipt_toreply.id
              =hidden_field_tag "replymsg", body_text
            
            /sharing items
            = f.text_area :body, placeholder: "Reply / Forward Message", rows: 4, class: "form-control", value: body_text
            = f.label (t 'conversation.attachments')
            .small=t 'conversation.allowed_format'

            /draft-list of uploaded files if any
            - if @receipts.count != @receipts_rev.count && draft &&draft.sender_id==current_user.id
              .small 
                - cnt=0
                - uploaded_files=AttachmentUploader.where(msgnotification_id: draft.id)
                - for upload_file in uploaded_files
                  = " ("+(cnt+=1).to_s+") "
                  = link_to upload_file.data_file_name, upload_file.data.url
            
            /upload file for selection
            = f.file_field :data, class: 'uploads'
            %br
            .col-md-12
              .col-md-3= f.submit (t 'conversation.send_message'), class: 'btn btn-danger pull-right', :name => :submit_button
          .clearfix
    
:javascript

$(function(){
  $('.edit_form input[type=radio]').each(function(){
    var replymethod  =$("#reply_method").val();
    var reply_forward = document.getElementsByClassName('replying');
    
    if (replymethod=="2")
    {  
      reply_forward[0].checked=true;
      reply_forward[1].checked=false;
      reply_forward[1].disabled=true;
    }
    else if(replymethod=="1")
    {
      reply_forward[1].checked=true;
      reply_forward[0].checked=false;
      reply_forward[0].disabled=true;
    }
  });
  
  $('.edit_form input[type=radio]').click(function(){
    var reply_forward = document.getElementsByClassName('replying');
    var bodytofwd = document.getElementById('message_body');
    var toforward = $("#forwardmsg").val();
    var bodyreply = $("#replymsg").val();
    if (reply_forward[0].checked)
    { bodytofwd.value = toforward;}
    else if(reply_forward[1].checked)
    { bodytofwd.value = bodyreply;}
  });
});

$(document).ready(function() {
  $('.uploads').on('change', function() {
    $("#form1").submit();
  });
});