= render 'shared/flashes'
.row
  .spacer
  .col-md-6
    = link_to "Compose", new_conversation_path, class: "btn btn-success"
  .col-md-6.text-right
    - if conversation.is_trashed?(current_user)
      = link_to 'Untrash', untrash_conversation_path(conversation), class: 'btn btn-info', method: :post
    - else
      = link_to 'Move to trash', trash_conversation_path(conversation), class: 'btn btn-danger', method: :post, |
        data: {confirm: 'Are you sure?'}                                                                        |
.row
  .spacer
  .col-md-4
    .panel.panel-default
      .panel-body
        = render 'mailbox/folders'
  .col-md-8
    .panel.panel-default
      .panel-body
        = render partial: 'messages'
 
      - if ((@receipts.first.message.sender.userable_id != current_user.userable_id) ||(@receipts.first.message.sender.userable_id == current_user.userable_id && @receipts.count > 1))
        .panel-footer
          - user_ids=User.where(userable_type: 'Staff').where('userable_id is not null').order(userable_id: :asc).pluck(:id)
          - staff_list=[]
          - for user_id in user_ids
            - sname = Staff.joins(:users).where('users.id=?', user_id).first.name
            - staff_list << [sname, user_id]
            
          /Retrieve receipt for REPLYING message
          - notification_id= @receipts.where(mailbox_type: 'inbox').where(receiver_id: current_user.id).first.notification_id
          - receipt_toreply=conversation.receipts.where(mailbox_type: 'sentbox').where(notification_id: notification_id).last          

          / Reply Form
          = form_for :message, url: reply_conversation_path(conversation) do |f|
            /forward section
            .form-group
              .col-md-1=radio_button_tag "reply", 2, class: 'replying'
              .col-md-2
                %b Forward To :
              .col-md-7= f.select(:recipients, staff_list, {}, { multiple: true , class: "chosen-select form-control" })
            %br
            /reply section
            .form-group
              .col-md-1=radio_button_tag "reply", 1, class: 'replying'
              .col-md-2
                %b Reply To :
              .col-md-7= receipt_toreply.receiver.userable.name
              =hidden_field_tag "receiptid", receipt_toreply.id
            
            = f.text_area :body, placeholder: "Reply / Forward Message", rows: 4, class: "form-control"
            = f.submit (t 'conversation.send_message'), class: 'btn btn-danger pull-right'
          .clearfix