.form-group
  .col-sm-2.control-label
    = f.label (t 'location.code'), for: :code
  %label.col-md-4
    = f.text_field :location_combo_code, value: @tenant.try(:location).try(:combo_code), :class => 'form-control', readonly: true

.form-group
  %label.col-sm-2.control-label{:for => "location_id"}= t 'location.name'
  %label.col-md-4
    = f.text_field :location_name, value: @tenant.try(:location).try(:name), :class => 'form-control', readonly: true
  
    
- if [2].include? @tenant.try(:location).try(:typename)
  .form-group
    %label.col-sm-2.control-label{:for => "student_id"}= t 'student.icno'
    .col-md-3
      = f.text_field :student_icno, :class => 'form-control', data: {autocomplete_source: Student.where("id IN (?)", @potential2).order(icno: :asc).map(&:student_list)}
      /= f.text_field :student_icno, :class => 'form-control', data: {autocomplete_source: Student.order(icno: :asc).map(&:student_list)}
      //= f.text_field :student_icno, :class => 'form-control', data: {autocomplete_source: Student.where("id NOT IN (?) AND gender = ? AND end_training > ?", @current_tenant_ids, 2, Date.today).order(icno: :asc).map(&:icno)}


- if [8].include? @tenant.try(:location).try(:typename)
  .form-group
    %label.col-sm-2.control-label{:for => "student_id"}= t 'student.icno'
    .col-md-3
      = f.text_field :student_icno, :class => 'form-control', data: {autocomplete_source: Student.where("id IN (?)", @potential1).order(icno: :asc).map(&:student_list)}
      /= f.text_field :student_icno, :class => 'form-control', data: {autocomplete_source: Student.where("id NOT IN (?) AND gender = ? AND end_training > ?", @current_tenant_ids, 1, Date.today).order(icno: :asc).map(&:student_list)}
      
- if @tenant.try(:location).try(:typename) == 1
  .form-group
    %label.col-sm-2.control-label{:for => "staff_id"}= t 'staff.name'
    .col-md-4
      = f.collection_select :staff_id, Staff.find(:all), :id, :mykad_with_staff_name

.form-group
  %label.col-sm-2.control-label{:for => "returnduedate"}= t 'student.tenant.key.provided'
  .col-md-2
    = f.text_field :keyaccept, type: "text", :class => 'form-control date_picker_after'
    
.form-group
  %label.col-sm-2.control-label{:for => "keyexpectedreturn"}= t 'student.tenant.key.expected'
  .col-md-2
    = f.text_field :keyexpectedreturn, type: "text", :class => 'form-control date_picker'
    

