.form-group
  .col-sm-2.control-label
    = f.label (t 'location.code'), for: :code
  %label.col-md-4
    = f.text_field :location_combo_code, value: @tenant.try(:location).try(:combo_code), :class => 'form-control', readonly: true

.form-group
  %label.col-sm-2.control-label{:for => "location_id"}= t 'location.name'
  %label.col-md-4
    = f.text_field :location_name, value: @tenant.try(:location).try(:name), :class => 'form-control', readonly: true
  
    
- if [2].include? @tenant.try(:location).try(:typename)
  .form-group
    %label.col-sm-2.control-label{:for => "student_id"}= t 'student.icno'
    .col-md-3
      = f.text_field :student_icno, :class => 'form-control', data: {autocomplete_source: Student.where("id IN (?)", @potential2).order(icno: :asc).map(&:student_list)}
      /= f.text_field :student_icno, :class => 'form-control', data: {autocomplete_source: Student.order(icno: :asc).map(&:student_list)}
      //= f.text_field :student_icno, :class => 'form-control', data: {autocomplete_source: Student.where("id NOT IN (?) AND gender = ? AND end_training > ?", @current_tenant_ids, 2, Date.today).order(icno: :asc).map(&:icno)}


- if [8].include? @tenant.try(:location).try(:typename)
  .form-group
    %label.col-sm-2.control-label{:for => "student_id"}= t 'student.icno'
    .col-md-3
      = f.text_field :student_icno, :class => 'form-control', data: {autocomplete_source: Student.where("id IN (?)", @potential1).order(icno: :asc).map(&:student_list)}
      /= f.text_field :student_icno, :class => 'form-control', data: {autocomplete_source: Student.where("id NOT IN (?) AND gender = ? AND end_training > ?", @current_tenant_ids, 1, Date.today).order(icno: :asc).map(&:student_list)}
      
- if @tenant.try(:location).try(:typename) == 1
  .form-group
    %label.col-sm-2.control-label{:for => "staff_id"}= t 'staff.name'
    .col-md-4
      = f.text_field :staff_icno, :class => 'form-control', data: {autocomplete_source: Staff.where("id IN (?)", @potential3).order(icno: :asc).map(&:staff_list)}

.form-group
  %label.col-sm-2.control-label{:for => "keyprovided"}= t 'student.tenant.key.provided'
  .col-md-2
    = f.text_field :keyaccept, type: "text", :class => 'form-control date_picker_before_reverse', value: @tenant.try(:keyaccept).try(:strftime, '%d-%m-%Y')
    
.form-group
  %label.col-sm-2.control-label{:for => "keyexpectedreturn"}= t 'student.tenant.key.expected'
  .col-md-2
    = f.text_field :keyexpectedreturn, type: "text", :class => 'form-control date_picker_reverse', value: @tenant.try(:keyexpectedreturn).try(:strftime, '%d-%m-%Y')
    
- if current_user.college.code=="amsas"
  .form-group
    %label.col-sm-2.control-label{:for => "total_keys"}= t 'student.tenant.total_keys'
    .col-md-2
      = f.text_field :total_keys, class: 'form-control'

  .form-group
    %label.col-sm-2.control-label{:for => "deposit"} Deposit
    .col-md-2
      .input-group
        .input-group-addon RM
        = f.text_field :deposit, class: 'form-control'

  .form-group
    %label.col-sm-2.control-label{:for => "total_keys"}= t 'student.tenant.meal_requirement'
    .col-md-2
      .form-inline
        .form-group
          = t('student.tenant.meal_required')
          =f.radio_button :meal_requirement, true
        .form-group
          = t('student.tenant.meal_not_required')
          =f.radio_button :meal_requirement, false
