- model_class = Tenant
.page-header
  %h1
    - if [2,8].include? @tenant.try(:location).try(:typename)
      = t('student.tenant.edit')
    - if @tenant.try(:location).try(:typename)==1 
      = t('student.tenant.edit2')

.row
  = form_for [:student, @tenant], :html => { :class => 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    .col-md-offset-1
      = render :partial => 'form', :locals => {:f => f}
      .form-group
        .col-sm-offset-2
          /.col-sm-1
          - if [2,8].include? @tenant.try(:location).try(:typename)
            .col-sm-1= link_to t('back'), student_tenant_path(@tenant), class: "btn btn-primary"
            .col-sm-2= link_to t('back_to_room_map'), room_map_student_tenants_path,class: "btn btn-primary"
          - if @tenant.try(:location).try(:typename)==1
            .col-sm-1= link_to t('back'), room_map2_student_tenants_path,class: "btn btn-primary"
          .col-sm-2
            = f.submit t('update'), class: "btn btn-primary"