- model_class = Tenant
.page-header
  %h1= t('student.tenant.title')#, :default => model_class.model_name.human.pluralize

.row
  .col-md-offset-3
    .student_bed_female_occupied.legend_object
    .legend_title female occupied
    .student_bed_female_empty.legend_object
    .legend_title female empty
    .student_bed_male_occupied.legend_object
    .legend_title male occupied
    .student_bed_male_empty.legend_object
    .legend_title male empty
    .bed_damage.legend_object
    .legend_title damaged
  
  
  
.row
  - @residentials.each do |building|
    .tenancy_building{style: "width:#{@div_width}%;"}
      %h5= building.name
      - building.children.order(combo_code: :desc).each do |floor|
        .row.tenancy_floor
          - @bed = floor.descendants.where(typename: [2,8]).order(combo_code: :asc)
          - @room_nos = @bed.pluck(:combo_code).group_by{|x|x[0, x.size-2]}.count.to_s
          .floor_name= floor.name+" ("+@room_nos+" "+(t 'student.tenant.rooms').upcase+")"
          
          - @bed.each do |bed|
            = link_to (get_status_link(bed)) do
              .tenant{class: "#{bed.status}", title: "#{render 'tooltip', bed: bed}", 'data-toggle' => 'tooltip', 'data-html' => "true"}
                /for test
                /- bedc=bed.combo_code
                /%font{size: "-2px; color: black;"}=(bedc[bedc.size-4,2]).to_i.to_s+(bedc[bedc.size-1, 1])
                
