- provide(:title, 'Student Bed Allocation')
- model_class = Tenant
.page-header
  %h1
    - if [2,8].include? @tenant.location.typename
      = t 'student.tenant.title', :default => model_class.model_name.human
    - if @tenant.location.typename==1
      = t 'student.tenant.title2', :default => model_class.model_name.human
= render 'shared/flashes'

.row
  .col-md-offset-2
    %dl.dl-horizontal
      %dt
        - unless @tenant.student.blank?
          = t 'student.tenant.room', :default => model_class.human_attribute_name(:location) + ":"
        - else
          = t 'student.tenant.block'
      %dd= link_to @tenant.location.parent.combo_code, campus_location_path(@tenant.location.parent_id) unless @tenant.location.blank?
      
    %dl.dl-horizontal
      %dt
        - unless @tenant.student.blank?
          = t 'student.tenant.bed', :default => model_class.human_attribute_name(:location) + ":"
        - else
          = t 'student.tenant.unit_no'
      %dd= @tenant.try(:location).try(:name)
      
    %br

    - unless @tenant.student.blank?
      %dl.dl-horizontal
        %dt= t 'student.icno', :default =>  model_class.human_attribute_name(:student_id) + ":"
        %dd= link_to @tenant.student.formatted_mykad, student_path(@tenant.student_id)
        
      - if current_user.college.code=="kskbjb"
        %dl.dl-horizontal
          %dt= t 'student.matrixno', :default =>  model_class.human_attribute_name(:matrixno) + ":"
          %dd= @tenant.student.try(:matrixno)
        
      %dl.dl-horizontal
        %dt= t 'programme.name', :default =>  model_class.human_attribute_name(:name) + ":"
        %dd= @tenant.student.try(:course).try(:programme_list)#, programme_path(@tenant.student.course.id)
        
      %dl.dl-horizontal
        %dt= t 'student.intake', :default =>  model_class.human_attribute_name(:intake) + ":"
        %dd= @tenant.student.try(:intake).try(:strftime, "%b %Y")#.try(:name)#, student_path(@tenant.student_id)

      - if current_user.college.code=="kskbjb"
        %dl.dl-horizontal
          %dt= t 'student.semester', :default =>  model_class.human_attribute_name(:semester) + ":"
          %dd= @tenant.student.year_and_sem rescue ''
        
      %dl.dl-horizontal
        %dt= t 'student.name', :default =>  model_class.human_attribute_name(:student_id) + ":"
        %dd= link_to @tenant.student.name, student_path(@tenant.student_id)
    
    - unless @tenant.staff.blank?
      %dl.dl-horizontal
        %dt= t 'staff.name', :default =>  model_class.human_attribute_name(:staff_id) + ":"
        %dd= link_to @tenant.staff.staff_with_rank, staff_info_path(@tenant.staff_id)
        
      %dl.dl-horizontal
        %dt= t 'student.icno', :default =>  model_class.human_attribute_name(:icno) + ":"
        %dd=@tenant.staff.formatted_mykad

    %br

    %dl.dl-horizontal
      %dt= t 'student.tenant.key.provided', :default =>  model_class.human_attribute_name(:keyaccept) + ":"
      %dd= @tenant.keyaccept.try(:strftime, "%d %b %Y")

    %dl.dl-horizontal
      %dt= t 'student.tenant.key.expected', :default =>  model_class.human_attribute_name(:keyexpectedreturn) + ":"
      %dd= @tenant.keyexpectedreturn.try(:strftime, "%d %b %Y")
  
    %dl.dl-horizontal
      %dt= t 'student.tenant.key.returned', :default =>  model_class.human_attribute_name(:keyreturned) + ":"
      %dd= @tenant.keyreturned.try(:strftime, "%d/%m/%Y")
  
    %dl.dl-horizontal
      %dt= t 'student.tenant.vacate', :default =>  model_class.human_attribute_name(:force_vacate) + ":"
      %dd= @tenant.force_vacate? ? "Yes" : "No"
 
    - if current_user.college.code=="amsas"  
      %dl.dl-horizontal
        %dt= t 'student.tenant.total_keys', :default =>  model_class.human_attribute_name(:total_keys) + ":"
        %dd= @tenant.total_keys
      
      %dl.dl-horizontal
        %dt= t 'student.tenant.deposit', :default =>  model_class.human_attribute_name(:deposit) + ":"
        %dd= ringgols(@tenant.deposit)
    
      %dl.dl-horizontal
        %dt= t 'student.tenant.meal_requirement', :default =>  model_class.human_attribute_name(:meal_requirement) + ":"
        %dd= @tenant.meal_requirement==true ? fa_icon("check") : fa_icon("times")

.row
  %br
  .col-md-offset-3
    .form-actions
      - if [2,8].include? @tenant.location.typename
        = link_to content_tag(:i, "", :class => "fa fa-map-marker ") + " " + t('.back', :default => t("student.tenant.room_map")), room_map_student_tenants_path, :class => 'btn btn-default'
        = link_to content_tag(:i, "", :class => "fa fa-list-alt ") + " " + t('.back', :default => t("student.tenant.list")), student_tenants_path, :class => 'btn btn-default'
      - if @tenant.location.typename==1
        = link_to content_tag(:i, "", :class => "fa fa-map-marker ") + " " + t('.back', :default => t("student.tenant.unit_map")), room_map2_student_tenants_path, :class => 'btn btn-default'
        = link_to content_tag(:i, "", :class => "fa fa-list-alt ") + " " + t('.back', :default => t("student.tenant.list")), index_staff_student_tenants_path, :class => 'btn btn-default'
      - if @tenant.staff_id.blank?
        = link_to content_tag(:i, "", class: "fa fa-file-pdf-o"), tenant_form_student_tenant_path(@tenant, format: "pdf"), class: "btn btn-default", "data-toggle" => "tooltip", title: "Borang Kediaman Asrama"
      = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), edit_student_tenant_path(@tenant), :class => 'btn btn-primary'
      - unless @tenant.student.blank?
        = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("student.tenant.return_key")), return_key_student_tenant_path(@tenant), :class => 'btn btn-primary'
      - unless @tenant.staff.blank?
        = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("student.tenant.return_key")), return_key2_student_tenant_path(@tenant), :class => 'btn btn-primary'
      = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), student_tenant_path(@tenant), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'     
