%dl.dl-horizontal
  %dt= t 'asset.category.type_name_model'
  %dd= "#{@defective.asset.typename} : #{@defective.asset.name} : #{@defective.asset.modelname}" 
  %dt= t 'asset.serialno'
  %dd= @defective.asset.serialno
  %dt= t 'asset.defect.description'
  %dd= @defective.description
  %dt= t 'asset.defect.reported_by'
  %dd= link_to @defective.reporter.try(:staff_with_rank), (staff_info_path(@defective.reporter)) rescue nil