- model_class = AssetDefect
.page-header
  %h1= t('asset.defect.title')#, :default => model_class.model_name.human.pluralize

.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
    %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#", class: 'bogus'

.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th= sort_link(@search, :asset_assetcode, (t 'asset.assetcode'))
        %th= t('asset.category.type_name_model')
        %th= sort_link(@search, :asset_serialno, (t 'asset.serialno'))
        %th= sort_link(@search, :asset_location_location_name, (t 'location.title'))
        %th= t('asset.defect.notes')
    %tbody
    = render "index_search"
    - @defective.each do |defect|
      %tr
        %td= link_to defect.asset.try(:assetcode), asset_defect_path(defect)
        %td= "#{defect.asset.try(:typename)} - #{defect.try(:asset).try(:name)} - #{defect.try(:asset).try(:modelname)}"  
        %td= defect.asset.try(:serialno)
        %td= link_to defect.asset.asset_placements.last.try(:location).try(:location_list), (campus_location_path(defect.asset.asset_placements.last.location.id)) rescue nil
        %td
          /= defect.id

  .right{style:"padding:0 30px; margin:0;"}= paginate @defective, :theme => 'twitter-bootstrap-3'

:javascript
$(document).ready(function(){
  $('.toga').click(function() {
    $('.search_row').toggle();
  });
});
