- model_class = AssetDefect
.page-header
  %h1= @defective.asset.assetcode
= render 'shared/flashes'

%ul.nav.nav-tabs
  %li.active= link_to (t "asset.details"), "#details",     "data-toggle" => "tab"
  %li= link_to (t "asset.defect.process"), "#process",     "data-toggle" => "tab"
  - unless @defective.decision
    %li= link_to (t "asset.defect.decision"), "#decision",    "data-toggle" => "tab"
  %li= link_to (t "asset.placement"),      "#placement",   "data-toggle" => "tab"

  
.tab-content.col-md-offset-1
  %dl.dl-horizontal
    %dt= t 'asset.assetcode'
    %dd= @defective.asset.assetcode
  #details.tab-pane.fade.in.active
    %dl.dl-horizontal
      %dt= t 'asset.category'
      %dd= "#{@defective.asset.typename} : #{@defective.asset.name} : #{@defective.asset.modelname}" 
      %dt= t 'asset.serialno'
      %dd= @defective.asset.serialno
      %dt= t 'asset.defect.description'
      %dd= @defective.description
      %dt= t 'asset.defect.reported_by'
      %dd= link_to @defective.reporter.try(:name), (staff_info_path(@defective.reporter)) rescue nil
      
      
  #process.tab-pane.fade.in
    %dl.dl-horizontal
      %dt= t 'asset.defect.action_type'
      %dd= @defective.process_type.try(:titleize)
      %dt= t 'asset.defect.recommendation'
      %dd= @defective.recommendation
      %dt= t 'asset.defect.recommendation_submitted'
      %dd= @defective.description
      %dt= t 'asset.defect.reported_by'
      %dd= @defective.is_processed? ? "Yes, by  " + @defective.processor.name.to_s + " on  " + (l(@defective.processed_on)).to_s : "No"
  
  #decision.tab-pane.fade.in
    %dl.dl-horizontal
      %dt= t 'asset.defect.approval'
      %dd= @defective.decision? ? "Yes, by  " + @asset_defect.confimer.name.to_s + " on  " + (l(@asset_defect.decision_on)).to_s : "No"
  
  
  



.row
  .col-md-4.col-md-offset-2
    %hr
    .form-actions
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), asset_defects_path, :class => 'btn btn-default'
      = link_to content_tag(:i, "", :class => "fa fa-file "), kewpa9_asset_defect_path(@defective, format: "pdf"), {class: "btn btn-default", "data-toggle" => "tooltip", title: "KEW.PA 9 PDF"}
      = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), edit_asset_defect_path(@defective), :class => 'btn btn-primary'
      = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
        asset_defect_path(@defective),                                                                                                    |
        :method => 'delete',                                                                                                           |
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
        :class => 'btn btn-danger'