.row
  .col-md-10.col-md-offset-2
    /:programme_id, :semester, :subject, :topic
      
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t 'equery.search_by'),"#search", "data-toggle" => "tab"

    .tab-content{style:"padding-top:1em"}
      #search.tab-pane.active
        %br
        .col-md-offset-2
          .form-group
            .col-sm-2.control-label
              = f.label (t 'equery.curriculum.programme') 
            .col-md-5
              = f.collection_select :programme_id, Programme.roots, :id, :programme_list, {include_blank: (t 'select')}, {class: 'selectpicker', "data-width" => "auto"}
                
          .form-group
            .col-sm-2.control-label
              - aa=current_user.college.code=='amsas' ? (t 'equery.curriculum.module') : "Semester"
              =hidden_field_tag :sem_module, aa
              = f.label aa
                
            .col-md-4
              - abc=[]
              - Programme.roots.each{|course| abc << [course.programme_list, [[I18n.t("select"), ""]]+course.descendants.at_depth(1).order(:code).pluck(:name, :id)]}
              =f.select :semester, grouped_options_for_select(abc), {:include_blank => (t 'select')}, {:class => 'form-control'}
                
          .row.span_checkboxes
            .col-md-7
              %hr
              .small=t 'equery.curriculum.tick_include_subject_topic'
                
          .form-group.span_checkboxes
            .col-sm-2.control-label
              %label
            .col-md-4
              .col-md-4
                = f.check_box :subject
                =(t 'equery.curriculum.subject')
              .col-md-6
                = f.check_box :topic
                =(t 'equery.curriculum.topic')
