%fieldset
  = f.hidden_field :_destroy
  .row
    .col-sm-3= f.select :questiontype, DropDown::QTYPE,{prompt: (t 'select')}, {class: 'selectpicker', "data-width"=>"auto"}
    .col-sm-2= f.text_field :quantity, class: 'form-control'
    .col-sm-2= f.text_field :total_marks, class: 'form-control'
    .col-sm-1
      = link_to content_tag(:i, "", class: "fa fa-trash-o"), data: {"data-toggle" => "tooltip", title: "Delete"}, class: "btn btn-danger remove_fields"

:javascript

  function remove_fields(link,fm) {
    $(link).parent().parent().hide();
    $(fm).$("input[type=hidden]").value = "1";
  }
 
  $('.selectpicker').selectpicker('render');
/document.getElementByName(fm+'[_destroy]').val()=true;
/$(fm).value= '1'; 
