- model_class = Exam
.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to ((t 'exam.exams.exams_details')),"#exams_details", "data-toggle" => "tab"
      %li= link_to ((t 'exam.exams.questions_details')), "#questions_details_edit", "data-toggle" => "tab"

    / display 
    .tab-content{style:"padding-top:1em"}
      #exams_details.tab-pane.active
        %br
        = render 'show_exam'
        
      #questions_details_edit.tab-pane 
    
        - if @exam.klass_id == 0 
          .col-md-12.col-md-offset-1
            .form-group
              .col-sm-2.control-label
                = f.label t 'exam.exam_template.title', for: :exam_template
              .col-md-2
                = f.collection_select :topic_id, ExamTemplate.all, :id, :name, {include_blank: true, prompt: (t 'select')}, {class: 'selectpicker', "data-width"=>"auto"}
                     
          - if @exam.examtemplates && @exam.examtemplates.count > 0 && @exam.exam_template.nil?
            .col-md-8.col-md-offset-1
              %font{color: 'blue'}Please select above exampaper template accordingly. Should you found there's no suitable template for selection, please create one in Exampaper Template. 
              %font{color: 'red'}Clicking 'Update' button shall remove previous question template/structure (below). 
              / TODO - to remove PREVIOUS examtemplates repeating fields if & only if NO marks has been given for students.
              - exam_w_marks=Exammark.pluck(:exam_id)
              - examtempate_valid_for_removal=Examtemplate.where.not(exam_id: exam_w_marks)
              
              %br
              %h4=(t 'exam.exams.title2')+' (Expiring)'
              .row
                .col-sm-3= t 'exam.examquestion.questiontype'
                .col-sm-2= t 'exam.exams.quantity' 
                .col-sm-2= t 'exam.exams.total_marks'
              %hr
              = f.fields_for :examtemplates do |builder|
                = render 'examtemplate_fields', :f => builder
            
              %BR
              .row
                //= link_to_add_fields image_tag("add.png", :border => 0, :title => t('addmore')), f, :examtemplates
                /= link_to_add_fields t('addmore'), f, :examtemplates, "",  ""

          /- else
          /  .col-md-12.col-md-offset-1
          /    .form-group
          /      .col-sm-2.control-label
          /        = f.label t 'exam.exam_template.title', for: :exam_template
          /      .col-md-2
          /        = f.collection_select :topic_id, ExamTemplate.all, :id, :name, {include_blank: true, prompt: (t 'select')}, {class: 'selectpicker', "data-width"=>"auto"}

          .row
            .col-md-12.col-md-offset-2
              %font{:style=>"size:-2"}=t 'exam.exams.marks_each'
          %br
        - else
          %br
          = render :partial => 'tab_questions_details_edit', :locals => {:f => f}
            

:javascript
  function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(link).parent().before(content.replace(regexp, new_id));
  }
