/USE in ..exams/_tab_questions_details_edit(existing questions) & ..exams/_items_list(available questions of selected Topic)

/Display diagram (if any), refer: _sub_tab_questions_details
- if item.diagram.exists? then
  = link_to(image_tag(item.diagram.url(:thumbnail), :style => "border: solid 1px;"), image_path(item.diagram.url(:original)))
  %br          
/Display Question according to question type
- if item.questiontype=="MCQ"
  /MCQ Question:answerchoices & examanswers - start
  //if not exist at all OR exist but 1st item has no value-start (upto answerchoice.description)
  %b Question :
  /=simple_format(item.question)
  = item.question.html_safe
  - if item.answerchoices.count != 0 && item.answerchoices[0].description!=""
    %table.table.question
      - for answerchoice in item.answerchoices.sort_by{|x|x.item}
        %tr
          %td.item= answerchoice.item+"."
          %td.desc= answerchoice.description
    %br
  - if item.examanswers.count != 0 && item.examanswers[0].answer_desc!=""
    %table.table.question
      - for examanswer in item.examanswers.sort_by{|y|y.item}
        %tr
          %td.item= examanswer.item+"."
          %td.desc= examanswer.answer_desc
      %br
    %b Answer : 
    =h item.answer.to_s
            
- elsif item.questiontype=="SEQ"
  /SEQ Question:shortessay (subquestions, submarks, subanswer) - start
  /=simple_format(item.question)
  = item.question.html_safe
  - for shortessay in item.shortessays.sort_by{|x|x.item}
    %u= (t 'exam.examquestion.subquestion')+" "+shortessay.item+" :"
    %br
    =h shortessay.subquestion+" ("+ shortessay.submark.to_s+" "+(t 'exam.examquestion.marks')+")"
    %br
    %u= (t 'exam.examquestion.keyword')+" "+shortessay.item+" :"
    %br
    =h shortessay.keyword
    %br
    %u= (t 'exam.examquestion.subanswer')+" "+shortessay.item+" :"
    %br
    =h simple_format(shortessay.subanswer)
                
- elsif item.questiontype=="TRUEFALSE"
  /TRUEFALSE Question:boolean choices & boolean answers - start
  /=simple_format(item.question)
  = item.question.html_safe
  %u= t 'exam.examquestion.booleanchoices'
  %br
  %table.table.question
    - for booleanchoice in item.booleanchoices.sort_by{|x|x.item}
      %tr
        %td.item= booleanchoice.item+". "
        %td.desc= booleanchoice.description
  %u= t 'exam.examquestion.booleananswers'
  %br
  %table.table.question
    - for booleananswer in item.booleananswers.sort_by{|y|y.item}
      %tr
        %td.item= booleananswer.item+". "
        %td.desc= booleananswer.answer
    %br
         
- else
  %b=(t 'exam.examquestion.question')+" : "
  /= simple_format(item.question)
  = item.question.html_safe
  %b=(t 'exam.examquestion.answer')+" : "
  %br=h item.answer