.col-md-offset-2
  %b Filters
  .small * Select Programme, Subject, Topic and click 'Display Questions' link to view available questions.

  .form-group
    .col-sm-2.control-label
      = f.label :programme_id
    .col-md-6
      = select_tag("course_name", options_for_select(@programme_names), :include_blank => (t 'select'),  class: 'selectpicker')

  .form-group
    .col-sm-2.control-label
      = f.label :subject_id
    .col-md-5
      = select_tag("subjects", grouped_options_for_select(@subjects), :include_blank => (t 'select'), :class => 'form-control')
      /= @subjects

  .form-group
    .col-sm-2.control-label
      = f.label :topic_id
    .col-md-5
      = select_tag("topics", grouped_options_for_select(@topics), :include_blank => (t 'select'), :class => 'form-control')
      /= @topics
  
  /https://coderwall.com/p/kqb3xq/rails-4-how-to-partials-ajax-dead-easy   
  /= text_field_tag(:testing)
  /= text_field_tag(:test2)
  = hidden_field_tag(:current_exam, @exam.id)

  #question_title
  .col-md-10#question_list{:style=>"display: none;"}
    = render partial: 'item_grid', locals: {items: @items}
  
  