- model_class = Exam
.page-header
  %h1= t 'exam.exam.edit'
= render 'shared/flashes'

.row
  = form_for [:exam, @exam],  html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    =hidden_field "exam[course_id]", {},:value=>@exam.subject.root.id 
    =f.hidden_field :programme_id, :value=>@exam.subject.root.id 
    .col-md-offset-1  



 
    .row
      .form-group
        .col-sm-offset-4.col-sm-1
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), exam_exam_path(@exam), :class => 'btn btn-default'
        .col-sm-2
          = f.submit t('update'), class: "btn btn-primary"