- model_class = Exam
.page-header
  %h1= t('exam.exams.title')#, :default => model_class.model_name.human.pluralize
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_exam_exam_path
    %li= link_to (t 'actions.download_excel'), exam_exams_path(format: "xls"), class: 'bogus'
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: 'index_search_bar'
    %li.toga= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#", class: 'bogus'  

.row
  .col-md-12
    .alert.alert-warning
      %strong= t 'exam.exams.notes'
      %ol
        %li
          %span{:style=>"color:red;"}= "* "
          =t('exam.exams.remarks_bottom')
        %li
          %strong= t('exam.exams.separate_combine')
          =" - "+t('exam.exams.separate_combine_text')

  /=@programme_id
  /= @lecturer_programme
  /= @tasks_main

  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th= sort_link(@search, :name_cont, (t 'exam.exams.name'))
        %th=(t 'exam.exams.year_semester')
        %th=(t 'exam.exams.course_id')
        %th=(t 'exam.exams.subject_id')
        %th= sort_link(@search, :exam_on, (t 'exam.exams.exam_on'))
        %th= sort_link(@search, :starttime, (t 'exam.exams.time'))
        %th= sort_link(@search, :created_by, (t 'exam.exams.created_by'))
        /%th= sort_link(@search, :duration, (t 'exam.exams.duration'))
        %th=(t 'exam.exams.duration')
        /%th= sort_link(@search, :full_marks, (t 'exam.exams.full_marks'))
        %th=(t 'exam.exams.full_marks')
        %th=(t 'exam.exams.separate_combine')

    %tbody
      = render "search_bar"
      /- @programme_exams.each do |prog, examquestions|
      /- @exams.group_by{|x|x.subject.root}.each do |programme, exams|
      - @programme_exams.each do |programme, exams|
        - exams.each do |exam|
          /- if (exam.created_by == User.current_user.staff_id)||(@dept_unit==exam.subject.root.name) ||(@current_user_roles.include?(2))||@kupk == "yes" 
          /STAND BY:HIDE ABOVE LINE to view ALL EXAM paper
          
          %tr
            %td
              = link_to (DropDown::EXAMTYPE.find_all{|disp, value| value == exam.name}).map {|disp, value| disp}[0], exam_exam_path(exam)
              - if exam.klass_id == 0
                %span{:style=>"color:blue;"}
                  (Template)
              - if exam.ids_complete_exampaper.include?(exam.id)
              - else
                %span{:style=>"color:red;"}
                  *
            %td{:align=>"center"}=h exam.subject_id? ? exam.syear + exam.subject.parent.code.to_s : "" 
            %td=h exam.subject.try(:root).try(:course_type)+" "+exam.subject.try(:root).try(:name)
            %td=h exam.subject.try(:subject_list)
            %td=h exam.exam_on.try(:strftime, '%d %b %Y')
            %td=h exam.timing
            %td=h exam.creator_details 
            %td
              - if exam.duration!=nil
                =h (exam.duration/60).to_i.to_s+" hours "+(exam.duration%60).to_i.to_s+" mins"
              - else
                =h (((exam.endtime - exam.starttime)/60) / 60).to_i.to_s+" hours "+ (((exam.endtime - exam.starttime)/60) % 60).to_i.to_s+" mins"
            %td{:align=>"center"}
              /is examtemplate when exam.klass_id==0
              - if exam.klass_id == 0
                = exam.examtemplates.sum(:total_marks).to_i
              - else 
                =h exam.total_marks
            %td{:align=>"center"}
              - if exam.sequ!=nil
                - sequ = exam.sequ.split(",")
              - if sequ!=nil && sequ.uniq.length == sequ.length && exam.separate_cover.include?(exam.subject.root.id)
                S
              - if sequ!=nil && sequ.uniq.length == sequ.length && exam.combine_cover.include?(exam.subject.root.id)
                C

  .right{style:"padding:0 30px; margin:0;"}= paginate @exams, :theme => 'twitter-bootstrap-3'
