- model_class = Exam
.page-header
  %h1= t('exam.exams.title')#, :default => model_class.model_name.human.pluralize
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_exam_exam_path
    %li= link_to (t 'actions.download_excel'), exam_exams_path(format: "xls"), class: 'bogus'
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: 'bogus'
    %li.toga= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#", class: 'bogus'  

- unless @position_exist
  You have no position assigned yet.
  %br
  Please contact administrator.
- else 
  - if @lecturer_programme.nil? || @lecturer_programme.blank?
    Programme / Unit is not defined. <br>
  - else
    .row
      %table.table-striped.table-hover.ogma
        %thead
          %tr
            /%th &nbsp;
            /%th= sort_link(@search, :name_cont, (t 'exam.exams.name'))
            /%th= sort_link(@search, :___, (t 'exam.exams.year_semester'))
            /%th= sort_link(@search, :course_id, (t 'exam.exams.course_id'))
            /%th= sort_link(@search, :subject_id, (t 'exam.exams.subject_id'))
            /%th= sort_link(@search, :exam_on, (t 'exam.exams.exam_on'))
            /%th= sort_link(@search, :starttime, (t 'exam.exams.time'))
            /%th= sort_link(@search, :created_by, (t 'exam.exams.created_by'))
            /%th= sort_link(@search, :duration, (t 'exam.exams.duration'))
            /%th= sort_link(@search, :full_marks, (t 'exam.exams.full_marks'))
            %th=(t 'exam.exams.name')
            %th=(t 'exam.exams.year_semester')
            %th=(t 'exam.exams.course_id')
            %th=(t 'exam.exams.subject_id')
            %th=(t 'exam.exams.exam_on')
            %th=(t 'exam.exams.time')
            %th=(t 'exam.exams.created_by')
            %th=(t 'exam.exams.duration')
            %th=(t 'exam.exams.full_marks')
            %th.action_menu.group{:colspan => "2"}

        %tbody
          /= render "index_search"
          /- @programme_exams.each do |prog, examquestions|
          - @exams.group_by{|x|x.subject.root}.each do |programme, exams|
            - exams.each do |exam|
              /- if (exam.created_by == User.current_user.staff_id)||(@dept_unit==exam.subject.root.name) ||(@current_user_roles.include?(2))||@kupk == "yes" 
              /STAND BY:HIDE ABOVE LINE to view ALL EXAM paper
              - if exam.subject_id!=nil && (exam.subject.parent.code == '1' || exam.subject.parent.code == '2')
                - @year = "1 / " 
              - elsif exam.subject_id!=nil && (exam.subject.parent.code == '3' || exam.subject.parent.code == '4')
                - @year = "2 / "
              - elsif exam.subject_id!=nil && (exam.subject.parent.code == '5' || exam.subject.parent.code == '6')
                - @year = "3 / "
              %tr
                %td
                  =h (Exam::EXAMTYPE.find_all{|disp, value| value == exam.name}).map {|disp, value| disp}[0]
                  - if exam.klass_id == 0
                    %span{:style=>"color:blue;"}
                      (Template)
                  - if @ids_complete_exampaper.include?(exam.id)
                  - else
                    %span{:style=>"color:red;"}
                      *
                %td=h exam.subject_id? ? @year + exam.subject.parent.code.to_s : "" 
                %td=h exam.subject_id? ? exam.subject.root.course_type+" "+exam.subject.root.name : ""  
                %td=h exam.subject_id? ? exam.subject.subject_list : ""
                %td=h (exam.exam_on.blank? ? "-" : exam.exam_on.strftime("%d-%b-%Y"))  
                %td
                  =h exam.try(:starttime).strftime('%H:%M %p') 
                  =h exam.try(:endtime).strftime('%H:%M %p') 
                %td=h exam.creator_details 
                %td
                  =h (((exam.endtime - exam.starttime)/60) / 60).to_i  
                  &nbsp;hours
                  =h (((exam.endtime - exam.starttime)/60) % 60).to_i
                  &nbsp;mins
                  /%td=h exam.try(:full_marks)
                %td
                  /11June2013-TEMPLATE
                  - @istemplate = exam.klass_id
                  - if @istemplate == 0
                    - @grand_total = 0
                    - @examtemplates = exam.examtemplates 
                    - @examtemplates.each do |examtemplate|
                      - @grand_total+= examtemplate.total_marks
                    = @grand_total.to_i
                  - else 
                    =h exam.total_marks
                %td
                  - if exam.sequ!=nil
                    - sequ = exam.sequ.split(",")
                  - if sequ!=nil && sequ.uniq.length == sequ.length &&  (exam.subject.root.id == 3 || exam.subject.root.id == 5 || exam.subject.root.id == 6 || exam.subject.root.id == 7 || exam.subject.root.id == 8 || exam.subject.root.id == 9 || exam.subject.root.id == 10 || exam.subject.root.id == 11 || exam.subject.root.id == 12 || exam.subject.root.id == 13 || exam.subject.root.id == 14)
                    S
                  - if sequ!=nil && sequ.uniq.length == sequ.length && (exam.subject.root.id == 1 || exam.subject.root.id == 2 || exam.subject.root.id == 4)
                    C
                %td= link_to content_tag(:li, fa_icon("", text: (t 'actions.show'))), exam_exam_path(exam)

    %br				  
    %span{:style=>"color:red;"}
      *
    = t 'exam.exams.remarks_bottom'

    .right{style:"padding:0 30px; margin:0;"}= paginate @exams, :theme => 'twitter-bootstrap-3'
