- model_class = Exam
.page-header
  %h1= t('exam.exams.title')#, :default => model_class.model_name.human.pluralize
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    - permitted_to? :create, :exam_exams do
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_exam_exam_path
    %li= link_to (t 'actions.download_excel'), exam_exams_path(params.merge(format: "xls"))
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: 'index_search_bar'
    %li= link_to  (fa_icon "file-pdf-o", text: (t 'print')),  exam_list_exam_exams_path(params.merge(format: 'pdf' ))

.row
  .col-md-12
    .alert.alert-warning
      %strong= t 'exam.exams.notes'
      %ol
        %li
          %span{:style=>"color:red;"}= "* "
          =t('exam.exams.remarks_bottom')
        - if current_user.college.code=="kskbjb"
          %li
            %strong= t('exam.exams.separate_combine')
            =" - "+t('exam.exams.separate_combine_text')
        %li 
          %strong= t('exam.exams.repeat_exam')
          = t('exam.exams.requires_complete_final')

  /=@programme_id
  /= @lecturer_programme
  /= @tasks_main

  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th{width: '20%'}= sort_link(@search, :name_cont, (t 'exam.exams.name'))
        - if current_user.college.code=="kskbjb"
          %th=(t 'exam.exams.year_semester')
        %th{width: '15%'}=(t 'exam.exams.course_id')
        %th{width: '13%'}= sort_link(@search, :subject_id, (t 'exam.exams.subject_id'))
        %th{width: '6%'}= sort_link(@search, :exam_on, (t 'exam.exams.exam_on'))
        %th{width: '9%'}= sort_link(@search, :starttime, (t 'exam.exams.time'))
        %th{width: '10%'}= sort_link(@search, :created_by, (t 'exam.exams.created_by'))
        /%th= sort_link(@search, :duration, (t 'exam.exams.duration'))
        %th{width: '6%'}=(t 'exam.exams.duration')
        /%th= sort_link(@search, :full_marks, (t 'exam.exams.full_marks'))
        %th{width: '5%'}=(t 'exam.exams.full_marks')
        - if current_user.college.code=="kskbjb"
          %th{width: '7%'}=(t 'exam.exams.separate_combine')

    %tbody
      = render "search_bar"
      /- @programme_exams.each do |prog, examquestions|
      /- @exams.group_by{|x|x.subject.root}.each do |programme, exams|
      - @programme_exams.each do |programme, exams|
        - exams.each do |exam|
          /- if (exam.created_by == User.current_user.staff_id)||(@dept_unit==exam.subject.root.name) ||(@current_user_roles.include?(2))||@kupk == "yes" 
          /STAND BY:HIDE ABOVE LINE to view ALL EXAM paper
          
          %tr
            %td
              = link_to exam.render_examtype[0], exam_exam_path(exam)
              - if exam.klass_id == 1
                %span{:style=>"color:blue;"}
                  =t 'exam.exams.with_questions'
              - if exam.complete_paper==false
                %span{:style=>"color:red;"}
                  *
            - if current_user.college.code=="kskbjb" 
              - semno= exam.subject.parent.code.to_i%2 == 0 ? '2' : '1'
              %td{:align=>"center"}=h exam.subject_id? ? exam.syear + semno : "" 
            %td=h exam.subject.try(:root).try(:programme_list)
            %td
              =h exam.subject.try(:subject_list)
              .small.text-grey="(#{I18n.t('training.programme.module')} : #{exam.subject.parent.subject_list})"
            %td=h exam.exam_on.try(:strftime, '%d %b %Y')
            %td=h exam.timing
            %td=h exam.creator_details 
            %td=h exam.duration_in_str
            %td{:align=>"center"}=h exam.total_marks
            - if current_user.college.code=="kskbjb"
              %td{:align=>"center"}
                - if exam.sequ!=nil
                  - sequ = exam.sequ.split(",")
                - if sequ!=nil && sequ.uniq.length == sequ.length && exam.separate_cover.include?(exam.subject.root.id)
                  S
                - if sequ!=nil && sequ.uniq.length == sequ.length && exam.combine_cover.include?(exam.subject.root.id)
                  C

  .right{style:"padding:0 30px; margin:0;"}= paginate @exams, :theme => 'twitter-bootstrap-3'
