- model_class = Studentdisciplinesearch
.page-header
  %h1=t('equery.student_discipline.search')

= render 'shared/flashes'

.row.fluid
  = form_for [:equery_report, @studentdisciplinesearch], html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    = render :partial => 'form', :locals => {:f => f}
    = f.hidden_field :college_id, value: current_user.college_id

    .col-sm-8.col-md-offset-1
      .row
        .col-sm-offset-3
          %hr
        .form-group
          .col-sm-offset-4.col-sm-1
            = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), "/equery_reports?query_module=4", :class => 'btn btn-default'
          .col-sm-offset-1.col-sm-2
            = f.submit (t 'search') , class: "btn btn-primary"
