/ Nav tabs
%ul.nav.nav-tabs
  %li.active= link_to  (t 'equery.result'), "#search", "data-toggle" => "tab"

/ display 
.tab-content{style:"padding-top:1em"}
  #search_details.tab-pane.active  
  
    - if assetsearch.search_type==1
      = render partial: 'kewpa2n3_listing', locals: {assetsearch: assetsearch, assets: assets}
        
    - elsif assetsearch.search_type==2 || assetsearch.search_type==3
      = render partial: 'kewpa4n5_listing', locals: {assetsearch: assetsearch, assets: assets}
          
    - elsif assetsearch.search_type==4
      = render partial: 'kewpa6_listing', locals: {assetsearch: assetsearch, assets: assets}
          
    - elsif assetsearch.search_type==5
      = render partial: 'kewpa7_listing', locals: {assetsearch: assetsearch, assets: assets}
          
    - elsif assetsearch.search_type==6
      /kewpa 8
        
    - elsif assetsearch.search_type==7
      /kewpa 9
       
    - elsif assetsearch.search_type==8
      /kewpa 13
          
    - elsif assetsearch.search_type==9
      /kewpa 14
        
    - elsif assetsearch.search_type==10
      /kewpa 16
          
    - elsif assetsearch.search_type==11
      /kewpa 17
        
    - elsif assetsearch.search_type==12
      /kewpa 18
          
    - elsif assetsearch.search_type==13
      /kewpa 19
          
    - elsif assetsearch.search_type==14
      /kewpa 20
          
    - elsif assetsearch.search_type==15
      /kewpa 28
          
    - elsif assetsearch.search_type==16
      /kewpa 30
          
    - elsif assetsearch.search_type==17
      /kewpa 31
     
        
        


/       .right{style:"padding: 0 10px; margin:0;"}= paginate assets, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm'
        
         