.form-group
  .col-sm-2.control-label
    =f.label  (t 'asset.assetcode')
  .col-md-5
    = f.text_field :assetcode, class: 'form-control', data: {autocomplete_source: Asset.pluck(:assetcode).sort}
    .small
      =t('equery.asset.type_select')
      .text-blue=current_user.college.code=='kskbjb' ? "(Format : KKM/BPL/010619/H/10/395)" : "(Format: JPM/APMM/PL/H/2004/01-05)"
            
.row
  .text-red{style: 'padding-left: 320px;'}=(t 'or').upcase
              
.row
  .col-md-8
    %hr
                
.form-group
  .col-sm-2.control-label
    =f.label t('equery.asset.asset_name') 
  .col-md-5
    = f.text_field :name, class: 'form-control', data: {autocomplete_source: Asset.pluck(:name).sort}
                
.row
  .text-red{style: 'padding-left: 320px;'}=(t 'or').upcase

.row
  .col-md-8
    %hr
                
.form-group
  .col-sm-2.control-label
    =f.label t('asset.purchaseprice')
  .col-md-2
    .input-group
      .input-group-addon RM
      = f.text_field :purchaseprice, class: 'form-control'
  .col-md-1
    =t('to')
  .col-md-2 
    .input-group
      .input-group-addon RM
      = f.text_field :purchaseprice2, class: 'form-control'
                
.form-group              
  .col-sm-2.control-label
    %b= t('asset.purchasedate')
  .col-md-5
    .input-group
      = f.text_field :purchasedate, class: 'form-control date_picker_reverse'    
      .input-group-addon=t('to')
      = f.text_field :purchasedate2, class: 'form-control date_picker_reverse'