.col-md-offset-1
  .form-group
    %label.col-sm-2.control-label= f.label t 'staff.training.course.name', for: :name
    .col-md-3
      = @ptschedule.course.name

  .form-group
    %label.col-sm-2.control-label= f.label t 'staff.training.schedule.start', for: :start
    .col-md-2
      = f.text_field :start, class: 'form-control date_picker_reverse', value: @ptschedule.start.try(:strftime, '%d-%m-%Y')

  .form-group
    %label.col-sm-2.control-label= f.label t 'staff.training.schedule.participants', for: :min_participants
    .col-md-1
      = f.text_field :min_participants, class: 'form-control', placeholder: (t 'staff.training.schedule.min')
    .col-md-1
      = f.text_field :max_participants, class: 'form-control', placeholder: (t 'staff.training.schedule.max')


  .form-group
    %label.col-sm-2.control-label= f.label t 'staff.training.schedule.location', for: :location
    .col-md-4
      = f.text_field :location, class: 'form-control'

  .form-group
    %label.col-sm-2.control-label= f.label t 'staff.training.schedule.price', for: :final_price
    .col-md-2
      .input-group
        .input-group-addon $
        = f.text_field :final_price, class: 'form-control'
        

  - permitted_to? :approve, :staff_training_ptcourses do 
    .form-group
      %label.col-sm-2.control-label= f.label t 'staff.training.schedule.budget_ok', for: :budget_ok
      .col-md-4
        = f.check_box :budget_ok 
        %font{:color=>"grey", :size=>"-2"}=t('staff.training.schedule.tick_to_approve')
     
  - permitted_to? :manage, :staff_training_ptbudgets do
    - @participants_count = @ptschedule.ptdos.where('trainee_report is not null').count 
    - if @ptschedule.budget_ok==true && @participants_count >= @ptschedule.min_participants
      .form-group
        %label.col-sm-2.control-label= f.label t 'staff.training.schedule.payment_method', for: :payment_method
        .col-md-2
          = f.select :payment, DropDown::PAYMENT, {:include_blank => t('select')}, {class: 'form-control'}
          
      .form-group
        %label.col-sm-2.control-label= f.label t 'staff.training.schedule.remark', for: :remark
        .col-md-4
          = f.text_area :remark, :size => "50x2", class: 'form-control'
