.row
  .col-md-10.col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to ((t 'staff.mentors.details')),"#mentor_edit", "data-toggle" => "tab"

    .tab-content{style:"padding-top:1em"}
      #mentor_edit.tab-pane.active
        %br
        .col-md-offset-1
          .form-group
            .col-sm-2.control-label
              = f.label t 'staff.mentors.mentor_date', for: :mentor_date
            .col-md-2
              = f.text_field :mentor_date, class: 'form-control date_picker_reverse mandatory', value: @mentor.mentor_date.try(:strftime, '%d-%m-%Y')
              
          .form-group
            .col-sm-2.control-label
              = f.label t 'staff.mentors.staff_id', for: :staff_id
            .col-md-6
              - staff_list=@mentor.new_record? ? Staff.where.not(id: Mentor.pluck(:staff_id)) : Staff.all
              = f.collection_select :staff_id, staff_list.order(rank_id: :asc, name: :asc), :id, :staff_with_rank, { :include_blank => (t 'select')}, {class: 'selectpicker mandatory', "data-width" => "390px"}

          .form-group
            .col-sm-2.control-label
              = f.label t 'staff.mentors.remark', for: :remark
            .col-md-6
              = f.text_area :remark, class: 'form-control', size: '5x2'
         
        .col-md-8.col-md-offset-2
          %br
          .row
            .col-sm-6= t 'staff.mentors.mentee'
            .row
              %hr{width: '100%'}
              = f.fields_for :mentees do |builder|
                = render 'mentee_fields', :f => builder
              .row
                .col-sm-3
                  = link_to_add_fields content_tag(:i, "", class: "fa fa-plus-square")+" "+(t 'addmore'), f, :mentees, "", t('addmore')
            %BR
            
:javascript

  function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(link).parent().before(content.replace(regexp, new_id));
  }
