
.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t 'position.details'), "#details", "data-toggle" => "tab"

.row.fluid
  = form_for [:staff, @position], url: staff_position_path(@position), :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object

    / Tab panes
    .tab-content{style:"padding-top:1em"}

      //Info Tab
      #details.tab-pane.active
        .col-md-offset-2
          %br
          = render 'position_details_edit', :f => f

    %br
    .row
      .form-group
        .col-sm-offset-4.col-sm-1
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staff_position_path(@position), :class => 'btn btn-default'
        .col-sm-2
          = f.submit t('update'), class: "btn btn-primary"

:javascript
  $(document).ready(function(){
    $("#get_all").click(function(evt) {
      $("#person").hide();
      $("#person2").show();
    });
  });
  
  $(document).ready(function(){
    $("#get_matched").click(function(evt) {
      $("#person").show();
      $("#person2").hide();
    });
  });

