- model_class = Position
= stylesheet_link_tag    "jquery.orgchart", media: "all"
= javascript_include_tag "jquery"
= javascript_include_tag "jquery.orgchart.min"

:javascript
  $(function() {
    $('#myorgchart ul:first').attr('id', 'chart-source');
    $('#myorgchart ul:first').attr('class', 'hide');
    $("#chart-source").orgChart({
      container: $("#myorgchart"),
      interactive: true,
      showLevels: 2,
      stack    : true,
      depth    : 5
    });
    
  });




.page-header
  %h1= t('position.index')#, :default => model_class.model_name.human.pluralize
  
  
.row
  .orgchart
    = link_to (t 'pdf_format'), organisation_chart_staff_positions_path(format: "pdf")
    =# @positions.inspect
.row
  #myorgchart
    = nested_groups(@positions.order("combo_code ASC").arrange)
    
