- model_class = Position
.page-header
  %h1= @position.name

= render 'shared/flashes'

.row
  .col-md-8.col-md-offset-2
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t 'position.details'), "#details", "data-toggle" => "tab"

    / Tab panes
    .tab-content{style:"padding-top:1em"}
      #details.tab-pane.active
        %br
        = render 'position_details'
  
.row
  .col-md-7.col-md-offset-3
    %hr
    .col-md-offset-1
      .form-actions
        - permitted_to? :read, :staff_positions do 
          - if current_user.college.code=="kskbjb"
            = link_to content_tag(:i, "", class: "fa fa-arrow-left ") + " " + t('.back', :default => t('position.list')), "http://#{request.host}:3000/positions", class: 'btn btn-default'
          - else
            = link_to content_tag(:i, "", class: "fa fa-arrow-left ") + " " + t('.back', :default => t('position.list')), listing_staff_positions_path, class: 'btn btn-default'
          = link_to content_tag(:i, "", class: "fa fa-arrow-left ") + " " + t('.back', :default => t('position.index')), staff_positions_path, class: 'btn btn-default'
        - permitted_to? :update, :staff_positions do
          = link_to content_tag(:i, "", class: "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), edit_staff_position_path(@position), class: 'btn btn-primary'
        - permitted_to? :manage, :staff_positions do
          = link_to content_tag(:i, "", class: "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
            staff_position_path(@position),                                                                                                    |
            :method => 'delete',                                                                                                           |
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
            class: 'btn btn-danger'
 