- model_class = StudentDisciplineCase
.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li= link_to (t 'student.discipline.report_details'),"#report_details", "data-toggle" => "tab"
      /- if ["Open", "Closed", "No Case", "Refer to TPHEP", "Refer to BPL"].include? (@student_discipline_case.status) 
      - if ["New", "Open"].include? (@student_discipline_case.status)
        %li.active=link_to (t 'student.discipline.case_info'), "#case_info_edit", "data-toggle" => "tab" 

    .tab-content{style:"padding-top:1em"}
      .col-md-8.col-md-offset-1
        %dl.dl-horizontal
          %dt= t 'student.discipline.reported_by', :default => model_class.human_attribute_name(:reported_by) + ":"
          %dd=h @student_discipline_case.reporter_details
          
          %dt= t 'student.discipline.reported_on', :default => model_class.human_attribute_name(:reported_on) + ":"
          %dd=h @student_discipline_case.reported_on.try(:strftime, "%d %b %Y")
          
          %dt= t 'student.discipline.student_id', :default => model_class.human_attribute_name(:student_id)+":"
          %dd=h @student_discipline_case.student.try(:matrix_name)

      #report_details.tab-pane
        %br
        =render 'tab_details'
      /- if ["Open", "Closed", "No Case", "Refer to TPHEP", "Refer to BPL"].include? (@student_discipline_case.status) 
      - if ["New", "Open"].include? (@student_discipline_case.status)
        #case_info_edit.tab-pane.active
          .col-md-10
            %br
            = render 'tab_case_info_edit', :f=>f
      
%br