.col-md-offset-2   
  .form-group
    .col-sm-2.control-label
      = f.label  t 'student.discipline.action_type', for: :action_type
    /.col-md-1= f.radio_button :action_type, "counseling",	:id => 'co', :class => 'radio_action_type' 
    .col-md-1=f.check_box :action_type2, :id => 'co'
    .col-md-1=t('student.discipline.counseling')
    .col-md-1= f.radio_button :action_type, "Ref to BPL", 	:id => 'bpl', :class => 'radio_action_type'
    .col-md-1=t('student.discipline.refer_bpl')
    .col-md-1= f.radio_button :action_type, "Warning Letter", 	:id => 'warning', :class => 'radio_action_type'
    .col-md-1 Amaran Bertulis
    .col-md-1= f.radio_button :action_type, "Discharge Leave", 	:id => 'dl', :class => 'radio_action_type'
    .col-md-1 Lucut Cuti
    .col-md-1= f.radio_button :action_type, "Charity Works", 	:id => 'cw', :class => 'radio_action_type'
    .col-md-1 Kerja Amal

  / TODO
  /translation - action types as above
  /In SHOW -- revise action taken (action type) --- 
  /1) display if Warning letter, lucut cuti @ Charity works +(counseling)
  /2)+++ when counseling also occured - for BPL
  /3) if only -any of  these above 3 item selected & counseling NO LONGER required....
  
  .form-group.co_item{style: "display: none;"}
    .col-sm-2.control-label
      = f.label t 'student.discipline.action', for: :action_done
    .col-md-5
      = f.text_area :action, :size => "40x5"
 
  .form-group.co_item{style: "display: none;"}
    = f.fields_for :student_counseling_sessions do |builder|
      .col-sm-2.control-label
        = f.label t 'student.discipline.counseling_request', for: :counseling_request
      .col-md-2
        = builder.text_field :requested_at, class: 'datetime_picker3 form-control'
        = builder.hidden_field :student_id, :value => @student_discipline_case.student_id
        = builder.hidden_field :case_id, :value => @student_discipline_case.id
      
  .form-group.co_item2{style: "display: none;"}
    .col-sm-2.control-label
      = f.label t 'student.discipline.closed_at_college_on', for: :closed_at_college_on
    .col-md-2
      = f.text_field :closed_at_college_on, class: 'date_picker form-control'

  .form-group.bpl_item{style: "display: none;"}
    .col-sm-2.control-label
      = f.label t 'student.discipline.sent_to_board_on'
    .col-md-2
      = f.text_field :sent_to_board_on, class: 'date_picker form-control'

  /add in status assignment here? 19 dec 2012
  /=render :partial => 'status', :locals => {:f => f} 
  /compulsory to hv this - for refer to BPL partial to works
  /add in status assignment here? 19 dec 2012
  
 
:javascript

$(document).ready(function(){ 
  $("input[class='radio_action_type']").change(function() {  
    if($('#nc').is(':checked')) { 
      $("#nc_item").show();
      $("#ja_item").hide();
      $(".co_item").hide();
      $(".co_item2").hide();
      $(".au_item").hide();
 
      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Closed";

    }else if ($('#ja').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").show();
      $(".co_item").hide();
      $(".co_item2").hide();
      $(".au_item").hide();
 
      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Closed";
 
    }else if ($('#au').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").hide();
      $(".co_item").hide();
      $(".co_item2").hide();
      $(".au_item").show();
      $(".bpl_item").hide();

      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Refer to TPHEP";
 
    }else if ($('#bpl').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").hide();
      /*$(".co_item").hide();*/
      $(".co_item2").hide();
      $(".au_item").hide();
      $(".bpl_item").show();

      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Refer to BPL";

    }else if($('#warning').is(':checked')){ 
      $("#nc_item").hide();
      $("#ja_item").hide();
      /*$(".co_item").hide();*/
      $(".co_item2").show();
      $(".au_item").hide();
      $(".bpl_item").hide();
      
      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Closed";
    
    }else if($('#dl').is(':checked')){ 
      $("#nc_item").hide();
      $("#ja_item").hide();
      /*$(".co_item").hide();*/
      $(".co_item2").show();
      $(".au_item").hide();
      $(".bpl_item").hide();
      
      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Closed";
    
    }else if($('#cw').is(':checked')){ 
      $("#nc_item").hide();
      $("#ja_item").hide();
      /*$(".co_item").hide();*/
      $(".co_item2").show();
      $(".au_item").hide();
      $(".bpl_item").hide();
      
      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Closed";
    }
    
   
  });

  $("input[class='radio_action_type']").each(function() {  
    if($('#nc').is(':checked')) { 
      $("#nc_item").show();
      $("#ja_item").hide();
      $(".co_item").hide();
      $(".co_item2").hide();
      $(".au_item").hide();
    }else if ($('#ja').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").show();
      $(".co_item").hide();
      $(".co_item2").hide();
      $(".au_item").hide();
    }else if ($('#au').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").hide();
      $(".co_item").hide();
      $(".co_item2").hide();
      $(".au_item").show();
      $(".bpl_item").hide();
    }else if ($('#bpl').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").hide();
      /*$(".co_item").hide();*/
      $(".co_item2").hide();
      $(".au_item").hide();
      $(".bpl_item").show();
    }else if($('#warning').is(':checked')){ 
      $("#nc_item").hide();
      $("#ja_item").hide();
      /*$(".co_item").hide();*/
      $(".co_item2").show();
      $(".au_item").hide();
      $(".bpl_item").hide();
    }else if($('#dl').is(':checked')){ 
      $("#nc_item").hide();
      $("#ja_item").hide();
      /*$(".co_item").hide();*/
      $(".co_item2").show();
      $(".au_item").hide();
      $(".bpl_item").hide();
    }else if($('#cw').is(':checked')){ 
      $("#nc_item").hide();
      $("#ja_item").hide();
      /*$(".co_item").hide();*/
      $(".co_item2").show();
      $(".au_item").hide();
      $(".bpl_item").hide();
    }
  });

  $("input[id='co']").change(function() {  
    if($('#co').is(':checked')) 
    {  
      $(".co_item").show();
      if ((('#warning').is(':checked')) ||  (('#dl').is(':checked')) ||  (('#cw').is(':checked')))
      {  $(".co_item2").show();}
      else
      {  $(".co_item2").hide();}
      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Closed";
    }
    else
    {  
      $(".co_item").hide();
      if ((('#warning').is(':checked')) ||  (('#dl').is(':checked')) ||  (('#cw').is(':checked')))
      {  $(".co_item").show();}
      else
      {  $(".co_item2").hide();}
    }
  });

  $("input[id='co']").each(function() {  
    if($('#co').is(':checked')) 
    { 
      $(".co_item").show();
      if ((('#warning').is(':checked')) ||  (('#dl').is(':checked')) ||  (('#cw').is(':checked')))
      {  $(".co_item2").show();}
      else
      {  $(".co_item2").hide();}
      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Closed";}
    else
    {  
      $(".co_item").hide();
      if ((('#warning').is(':checked')) ||  (('#dl').is(':checked')) ||  (('#cw').is(':checked')))
      {  $(".co_item").show();}
      else
      {  $(".co_item2").hide();}
    }
  });
  
});





/     else if($('#co').is(':checked')){
/       $("#nc_item").hide();
/       $("#ja_item").hide();
/       $(".co_item").show();
/       $(".co_item2").show();
/       $(".au_item").hide();
/       $(".bpl_item").hide();
/ 
/       var ansM = document.getElementById("student_discipline_case_status");
/       ansM.value = "Closed";
/     
/     }
    
    
/ }else if($('#co').is(':checked')){
/       $("#nc_item").hide();
/       $("#ja_item").hide();
/       $(".co_item").show();
/       $(".co_item2").show();
/       $(".au_item").hide();
/       $(".bpl_item").hide();

