.col-md-offset-2   
  .form-group
    .col-sm-2.control-label
      = f.label t 'student.discipline.case_created_on', for: :case_created_on
    .col-md-2
      = f.text_field :case_created_on, class: 'date_picker form-control'
  .form-group
    .col-sm-2.control-label
      = f.label  t 'student.discipline.file_id', for: :file_id
    .col-md-5
      = f.collection_select :file_id, Cofile.all, :id, :file_no_and_name, {:prompt => t('select')}, {class: 'selectpicker', "data-width"=>'460px'}
  .form-group
    .col-sm-2.control-label
      = f.label  t 'student.discipline.investigation_notes', for: :investigation_notes
    .col-md-5
      = f.text_area :investigation_notes, :size => "60x5" 
  .form-group
    .col-sm-2.control-label
      = f.label  t 'student.discipline.action_type', for: :action_type
    .col-md-1= f.radio_button :action_type, "no_case", :id => 'nc', :class => 'radio_action_type'
    .col-md-1 No Case
    .col-md-1= f.radio_button :action_type, "advise", :id => 'ja', :class => 'radio_action_type' 
    .col-md-1 Advise
    .col-md-1= f.radio_button :action_type, "Ref TPHEP",	:id => 'au', :class => 'radio_action_type'
    .col-md-2 Refer to TPHEP
  .form-group#nc_item{style: "display: none;"}
    .col-sm-2.control-label
      = f.label  t 'student.discipline.closed_at_college_on', for: :closed_at_college_on
    .col-md-2
      = f.text_field :closed_at_college_on, class: 'date_picker form-control'
  .form-group#ja_item{style: "display: none;"}
    .col-sm-2.control-label
      = f.label  t 'student.discipline.other_info', for: :other_info
    .col-md-5
      = f.text_area :other_info, :size => "40x5"
      
  - myhod = Position.where(id: 3).first.staff_id
  .form-group.au_item{style: "display: none;"}
    .col-sm-2.control-label
      = f.label  t 'student.discipline.assigned2_to', for: :notify_hod
    .col-md-5
      = f.collection_select :assigned2_to, Staff.where('id IN (?)', myhod), :id, :name, {:prompt => t('select')}, {class: 'selectpicker', "data-width"=>'460px'}
      /replace this with - model/student_discipline_case.rb - line 46- self.assigned2_to = nil
      /= select_tag "student_discipline_case[assigned2_to]","<option value=''>"+'Please select'+"</option>"+options_from_collection_for_select(Staff.find(:all, :conditions => ['id IN (?)', myhod]), :id, :name)
  .form-group.au_item{style: "display: none;"}
    .col-sm-2.control-label
      = f.label  t 'student.discipline.assigned2_on', for: :notify_hod_date
    .col-md-2
      = f.text_field :assigned2_on, class: 'date_picker form-control'
      
 
:javascript

$(document).ready(function(){ 
  $("input[class='radio_action_type']").change(function() {  
    if($('#nc').is(':checked')) { 
      $("#nc_item").show();
      $("#ja_item").hide();
      $(".co_item").hide();
      $(".au_item").hide();
 
      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Closed";

    }else if ($('#ja').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").show();
      $(".co_item").hide();
      $(".au_item").hide();
 
      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Closed";
 
    }else if ($('#au').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").hide();
      $(".co_item").hide();
      $(".au_item").show();
      $(".bpl_item").hide();

      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Refer to TPHEP";
 
    }else if($('#co').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").hide();
      $(".co_item").show();
      $(".au_item").hide();
      $(".bpl_item").hide();

      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Closed";
    
    }else if ($('#bpl').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").hide();
      $(".co_item").hide();
      $(".au_item").hide();
      $(".bpl_item").show();

      var ansM = document.getElementById("student_discipline_case_status");
      ansM.value = "Refer to BPL";
    }
  });

  $("input[class='radio_action_type']").each(function() {  
    if($('#nc').is(':checked')) { 
      $("#nc_item").show();
      $("#ja_item").hide();
      $(".co_item").hide();
      $(".au_item").hide();
    }else if ($('#ja').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").show();
      $(".co_item").hide();
      $(".au_item").hide();
    }else if ($('#au').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").hide();
      $(".co_item").hide();
      $(".au_item").show();
      $(".bpl_item").hide();
    }else if($('#co').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").hide();
      $(".co_item").show();
      $(".au_item").hide();
      $(".bpl_item").hide();
    }else if ($('#bpl').is(':checked')){
      $("#nc_item").hide();
      $("#ja_item").hide();
      $(".co_item").hide();
      $(".au_item").hide();
      $(".bpl_item").show();
    }
  });

});
