/(case_created_on.nil? || investigation_notes.nil? || assigned2_to.nil? || assigned2_on.nil?)

.col-md-offset-2
  - if @student_discipline_case.action_type=="Ref Counselor" && @student_discipline_case.counselor_feedback.blank?
    /= f.hidden_field :is_counselor, value: @student_discipline_case.assigned2_to
    //display create counseling part
    .form-group
      = f.fields_for :student_counseling_sessions do |builder|
        .col-sm-2.control-label
          = f.label t 'student.discipline.counseling_request', for: :counseling_request
        .col-md-3
          /- if builder.object.id?
          /  = builder.text_field :requested_at, class: 'datetime_picker3_reverse form-control', value: builder.object.requested_at.try(:strftime, '%d-%m-%Y %H:%M'), readonly: 'readonly'
          
          = builder.text_field :requested_at, class: 'datetime_picker3_reverse form-control', value: builder.object.requested_at.try(:strftime, '%d-%m-%Y %H:%M')
          = builder.hidden_field :student_id, :value => @student_discipline_case.student_id
          = builder.hidden_field :case_id, :value => @student_discipline_case.id
          = builder.hidden_field :college_id, :value => current_user.college_id
  - else
    - if @student_discipline_case.action_type=="Ref Counselor"
      = f.hidden_field :is_counselor, value: @student_discipline_case.assigned2_to
      %hr
      .form-group
        .col-sm-2
        .col-sm-2.centre
          %b=t 'student.discipline.session_time'
        .col-sm-8
          %b=t 'student.discipline.counselor_action'
      .form-group
        .col-sm-2.control-label
          =f.label (t 'student.discipline.session_feedback')
        .col-sm-8
          %ol
            - for session in @student_discipline_case.student_counseling_sessions
              %li=session.confirmed_at.strftime('%d-%m-%Y %H:%M')+" | "+session.remark
          %b=(t 'student.discipline.final_feedback')+" : "
          =@student_discipline_case.counselor_feedback
        
  
  - if @student_discipline_case.action_type=="Ref Counselor" && @student_discipline_case.counselor_feedback.blank?
    
    /do not display 1) evaluate case, 2) tick - Refer to Comandant, 3) action & 4) closed date
    .form-group
      .col-sm-2
      .col-md-10
        =(t 'student.discipline.request_counseling')+" : "
        %ol
          %li=t 'student.discipline.confirm_appointment'
          %li=t 'student.discipline.log_session'
          %li=t 'student.discipline.add_session'
          %li=t 'student.discipline.complete_session'
        
  - else
    //evaluate case
    .form-group
      .col-sm-2.control-label
        = f.label t 'student.discipline.evaluate_case', for: :other_info
      .col-md-5
        = f.text_area :other_info, :size => "40x5", class: 'mandatory'

    //option for Mentor / Counselor 
    .form-group
      .col-sm-2.control-label
        /= f.label  t 'student.discipline.action_type', for: :action_type
        = f.label t 'student.discipline.refer_comandant'
      .col-md-1=f.check_box :action_type2, :id => 'com', checked: 'checked'
      .col-md-6.small=t 'student.discipline.tick_refer_comandant'

    //display this part when action taken by Mentor/Counselor
    .form-group.taking_action{style: "display: none;"}
      .col-sm-2.control-label
        = f.label t 'student.discipline.action', for: :action_done
      .col-md-5
        = f.text_area :action, :size => "40x5", class: 'mandatory'
     
    .form-group.taking_action{style: "display: none;"}
      .col-sm-2.control-label
        = f.label t 'student.discipline.closed_at_college_on', for: :closed_at_college_on
      .col-md-2
        = f.text_field :closed_at_college_on, class: 'date_picker_reverse form-control mandatory', value: @student_discipline_case.closed_at_college_on.try(:strftime, '%d-%m-%Y')
      
:javascript


/$(document).ready(function(){ 
  
  $("input[id='com']").change(function() {  
    if($('#com').is(':checked')) 
    {  
      $('.taking_action').hide();
      /*var ansM = document.getElementById("student_discipline_case_status");*/
      /*ansM.value = "Refer to Comandant";*/
      $("#student_discipline_case_status").val("Refer to Comandant").change();
    }
    else
    {  
      $('.taking_action').show();
      /*var ansM = document.getElementById("student_discipline_case_status");*/
      /*ansM.value ="Closed";*/
      $("#student_discipline_case_status").val("Closed").change();
    }
  });
  
  
/});



