- model_class = StudentDisciplineCase
.page-header
  %h1= t 'student.discipline.edit'

= render 'shared/flashes'

.row
  = form_for [:student, @student_discipline_case], html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    = hidden_field_tag :redirect_location, student_student_discipline_cases_path 
    = render :partial => 'form', :locals => {:f => f}
    = render 'status', :f => f
    .row
      .form-group
        .col-md-1.col-md-offset-2
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), student_student_discipline_case_path(@student_discipline_case), :class => 'btn btn-default'
        .col-md-2
          .div{style: "margin-left:-40px;"}
            = f.submit t('update'), class: "btn btn-primary"
