- model_class = StudentDisciplineCase
.page-header
  %h1= t('student.student_discipline_case.title')
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_student_student_discipline_case_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
    %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#", class: 'bogus'

.row.filter{style: "display:none;"}
  .col-md-2
    
.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th= sort_link(@search, :status, (t 'student.student_discipline_case.status'))
        %th{:width=>'230px'}= sort_link(@search, :programme, (t 'student.student_discipline_case.programme'))
        %th{:width=>'80px'}= t 'student.student_discipline_case.year_semester'
        %th= sort_link(@search, :matrix_no, (t 'student.student_discipline_case.matrix_no'))
        %th= sort_link(@search, :student_id, (t 'student.student_discipline_case.student_id'))
        %th= sort_link(@search, :description, (t 'student.student_discipline_case.description'))
        %th= sort_link(@search, :reported_on, (t 'student.student_discipline_case.reported_on'))
        %th= sort_link(@search, :file_id, (t 'student.student_discipline_case.file_id'))
        %th=sort_link(@search, :location_id, (t 'student.student_discipline_case.location_id'))
        %th= sort_link(@search, :counselor_feedback, (t 'student.student_discipline_case.counselor_feedback'))
        
    %tbody
    = render "search_bar"
    
    - @student_discipline_cases.each do |student_discipline_case|
      %tr
        %td=h link_to student_discipline_case.status, student_student_discipline_case_path(student_discipline_case)
        %td=h student_discipline_case.student.course.programme_list
        %td
          - @intake=student_discipline_case.student.intake
          = Student.year_and_sem(@intake)
        %td=h student_discipline_case.student.matrixno
        %td=h student_discipline_case.student.name 
        %td=h student_discipline_case.description
        %td=h student_discipline_case.try(:reported_on).try(:strftime, '%d %b %Y')
        %td=h student_discipline_case.cofile.try(:name)
        %td=h student_discipline_case.location.try(:name)
        %td
          - if student_discipline_case.action_type == 'counseling'
            =h student_discipline_case.counselor_feedback? ? image_tag("tick.png") : image_tag("cross.png")
            /= link_to image_tag("printer.png", :border => 0, :title => 'Feedback Referrer'),:controller=>:student_counseling_sessions ,:action => 'feedback_referrer', :id => student_discipline_case.id if !student_discipline_case.counselor_feedback.blank? %>
          - else
            = t('student.student_discipline_case.not_related')
         
  .right{style:"padding:0 30px; margin:0;"}= paginate @student_discipline_cases, :theme => 'twitter-bootstrap-3'
 
:javascript
$(document).ready(function(){
  $('.toga').click(function() {
    $('.search_row').toggle(); 
  });
})year

