.page-header
  %h1=t 'student.discipline.report_title'

.row.fluid
  - student_ids = StudentDisciplineCase.all.pluck(:student_id).uniq
  - if current_user.college.code=="amsas"
    - @students_disciplines = Student.valid_students.where(id: student_ids).order(rank_id: :asc, name: :asc)
  - else
    - @students_disciplines = Student.where(id: student_ids).order(course_id: :asc)
  = form_tag(action: :anacdotal_report, format: 'pdf') do
    .row
      .col-md-offset-3
        .form-group
          .col-sm-2.control-label
            %b= current_user.college.code=='amsas' ? (t 'student.students.name') : (t 'student.students.matrix_name')
          .col-md-5
            - if current_user.college.code=="kskbjb"
              = select_tag('student', options_from_collection_for_select(@students_disciplines,:id, :matrix_name), :include_blank=> (t 'select'), class: 'selectpicker', 'data-width'=>"90%")
            - elsif current_user.college.code=="amsas"
              = select_tag('student', options_from_collection_for_select(@students_disciplines,:id, :student_with_rank), :include_blank=> (t 'select'), class: 'selectpicker', 'data-width'=>"90%")
            = hidden_field_tag 'coverage', "all"
    .row
      .col-md-offset-3
        .form-group
          .col-sm-offset-2.col-sm-2
            = submit_tag (t 'actions.print'), :name => :list_submit_button, :class => 'btn btn-primary'