= f.hidden_field :college_id, value: current_user.userable.college_id
.row
  .col-md-10.col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to ((t 'training.timetable.details')),"#timetable_edit", "data-toggle" => "tab"

    .tab-content{style:"padding-top:1em"}
      #timetable_edit.tab-pane.active
        %br
        .col-md-offset-2
          .form-group
            .col-sm-2.control-label
              = f.label :code
            .col-md-3
              = f.text_field :code, class: 'form-control mandatory'
          .form-group
            .col-sm-2.control-label
              = f.label :name
            .col-md-3
              = f.text_field :name, class: 'form-control mandatory'
          .form-group
            .col-sm-2.control-label
              = f.label :description
            .col-md-3
              = f.text_field :description, class: 'form-control mandatory'
          .form-group
            .col-sm-2.control-label
              = f.label :created_by
            .col-md-3
              - if @timetable.created_by
                - createdby=@timetable.created_by
              - else
                - createdby=@current_user.userable_id
              = f.collection_select :created_by, Staff.where('id =?', createdby), :id, :name,{ :include_blank => t('select')},{ class: 'selectpicker mandatory',  "data-width"=>"200px"}

        %br
        .row
          /.col-lg-offset-1.col-lg-8
          .col-sm-offset-2
            .col-md-2
              %b= t'training.timetable_period.period'
            .col-md-2
              %b= t'training.timetable_period.day_name'
            .col-md-1
              %b= t'training.timetable_period.start_at'
            .col-md-1
              %b= t'training.timetable_period.end_at'
            .col-md-3
              %b= current_user.college.code=='amsas' ? (t 'training.weeklytimetable.non_class') : (t 'training.timetable_period.is_break')
              .small{style: 'color: red;'}
                =t 'training.weeklytimetable.ignore_if_class'
                %br=(t 'training.timetable_period.alternate_all')
            .col-md-2
              %b= t'helpers.links.destroy'
          %br
          %br
          %hr
          = f.fields_for :timetable_periods, @timetable.timetable_periods.order(sequence: :asc) do |builder|
            = render 'timetable_period_fields', f: builder
          .row
            /= link_to_add_fields (t 'training.timetable.add_details'), f, :timetable_periods
            /= link_to_add_fields t('addmore'), f, :timetable_periods, "",  t('addmore')
            .col-md-offset-1= link_to_add_fields content_tag(:i, "", class: "fa fa-plus-square")+" "+(t 'addmore'), f, :timetable_periods, "", t('addmore')

/- f.fields_for :timetable_periods do |builder| 
/= render 'timetable_period_fields', :f => builder
/%br
/= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add More'), f, :timetable_periods
/Add More
/=f.text_field :another, value: @timetable.timetable_periods.count

:javascript
  function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(link).parent().before(content.replace(regexp, new_id));
  }

  /*alert("iii");*/

  $('.non_class').each(function(){
    $(this).hide();
  });
  
  $('.isbreak').each(function(){
    full_id=$(this).attr("id");
    var isbreak_val=$(this).is(":checked");
    var idno=full_id.substring(full_id.lastIndexOf("attributes_")+11, full_id.lastIndexOf("_is_break"));
    var non_class_id="timetable_timetable_periods_attributes_"+idno+"_non_class";
    var non_class_input=document.getElementById(non_class_id);
    
    if(isbreak_val==true)
    { non_class_input.style.display="block";}
    else
    { non_class_input.style.display="none";}
  });
  
  $('.isbreak').click(function(){
    full_id=$(this).attr("id");
    var isbreak_val=$(this).is(":checked");
    var idno=full_id.substring(full_id.lastIndexOf("attributes_")+11, full_id.lastIndexOf("_is_break"));
    var non_class_id="timetable_timetable_periods_attributes_"+idno+"_non_class";
    var non_class_input=document.getElementById(non_class_id);
    
    if(isbreak_val==true)
    { non_class_input.style.display="block";}
    else
    { non_class_input.style.display="none";}
  });
