= search_form_for @search, url: training_timetables_path,  class: "form-inline" do |f|
  %tr.search_row.hidden
    %td= f.text_field :code_cont, size: 2,  :class => "form-control"
    %td= f.text_field :name_cont, size: 2,  :class => "form-control"
    %td= f.text_field :description_cont, size: 2,  :class => "form-control"
    %td= f.text_field :creator_name_cont, size: 2,  :class => "form-control"
    %td.input-group
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw