%fieldset
  /.form-inline{role: "form"}
  /.form-group
  .col-md-2
    = f.select :sequence, 1..12
  .col-md-2
    = f.select :day_name, DropDown::DAY_CHOICE, :prompt => "Select"
  .col-md-2    
    = f.time_select :start_at, :minute_step => 15, class: 'timepicker'
  .col-md-2
    = f.time_select :end_at, :minute_step => 15, class: 'timepicker'
  .col-md-2
    = f.check_box :is_break
    =t 'training.weeklytimetable.break'
  .col-md-2
    = f.hidden_field :_destroy
    = link_to_remove_fields (fa_icon "trash-o"), f     
