%fieldset
  = f.hidden_field :_destroy
  .row
    .col-md-1.col-sm-offset-2= f.select :sequence, 1..12, { :prompt => (t 'select')}, {class: 'selectpicker', "data-width"=>"auto"}
    .col-md-2= f.select :day_name, DropDown::DAY_CHOICE,{ :prompt => (t 'select')}, {class: 'selectpicker',"data-width"=>"auto"}
    .col-md-1
      - unless f.object.start_at.nil?
        = f.text_field :start_at, class: 'form-control time_picker2', value: f.object.start_at.strftime("%H:%M")
      - else
        = f.text_field :start_at, class: 'form-control time_picker2'
    .col-md-1
      - unless f.object.start_at.nil?
        = f.text_field :end_at, class: 'form-control time_picker2', value: f.object.end_at.strftime("%H:%M")
      - else
        = f.text_field :end_at, class: 'form-control time_picker2'
    .col-md-2
      = f.check_box :is_break
      =t 'training.weeklytimetable.break'
    .col-md-2
      - if @timetable.valid_for_removal
        = link_to_remove_fields (fa_icon "trash-o"), f
        /= link_to content_tag(:i, "", class: "fa fa-trash-o"), data: {"data-toggle" => "tooltip", title: "Delete"}, class: "btn btn-danger remove_fields"

:javascript
  $('.selectpicker').selectpicker('render');
  $('.time_picker2').time_picker2('render');

