<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Members:</strong>
  
  
  <% recipient_list=(@group.members[:user_ids]-[""]).collect{|x|x.to_i}%>
          <ol>
          <% for recipient in recipient_list%>
              <%staff=Staff.find(User.find(recipient).userable_id)%>
	      <li><%=staff.name%> | <%=staff.position_for_staff%> - <%=staff.render_unit%></li>
	   <% end %>
	   </ol>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
