- model_class = User
.row
  .col-md-10.col-md-offset-1
    %dl.dl-horizontal
      %dt= t 'user.userable_id', :default => model_class.human_attribute_name(:userable_id) + ":"
      %dd=h @user.userable_type == "Staff" ? @user.userable.try(:staff_name_with_position) : @user.userable.try(:formatted_mykad_and_student_name)

      %dt= t 'user.userable_type', :default => model_class.human_attribute_name(:userable_type)+":"
      %dd=h @user.userable_type
%br
       
.row
  .col-md-10.col-md-offset-1
    .panel.panel-warning
      .panel-heading
        %h3.panel-title Roles & corresponding modules
      .panel-body
        %table
          %tr
            %td{style: "vertical-align: top; width: 30%; padding: 5px;"}
              %strong Staff Administrator
              .small Staffs, Staff Attendances, Fingerprints, Positions
              /Staff Appraisals(* marks), Staff Leaves(blm)
              %strong Finance Unit
              .small Travel Claims, Training Budget
              %strong Training Administration
              .small Training Budget, Training Courses, Training Schedules, Training Attendance 
              %strong Training Manager
              .small Training Budget, Training Courses, Training Schedules, Training Attendance
              %strong Staff
              .small Staffs(O), Staff Attendance(O), Training Attendance(O), Staff Appraisal(O), Staff Leaves(O), Travel Requests(O), Travel Claims(O), Asset List(R), Asset Defect(O), Asset Loan(O), Student Discipline Case(O), Locations(R), Events(O), Bulletins(R), Document Registry(O), Library Books(R), Library Analysis & Statistics(R)
              %strong E-FIlling
              .small File Registry, Document Registry
              
              
              
            %td{style: "vertical-align: top; width: 35%"}
              %strong Asset Administrator
              .small Asset Losses, Asset Loans, Asset Disposals, Asset Defect, Asset List, Locations
              %strong Facilities Administrator
              .small Locations, Location Damages, Student Residences, Staff Residences
              %strong Warden
              .small Locations(R), Student Residences(R), Student Leaves, Student Infos(R), Student Attendances(R), Student Discipline Cases(R), Student Counseling Session(R)
              %strong Student Administrator
              .small Student Infos, Student Attendances
              %strong Student Counsellor
              .small Student Counselling, Student Discipline Case(R), Student Infos(R), Student Attendances(R)
              %strong Disciplinary Officer
              .small Student Discipline Case, Student Counseling Session(Case), Student Infos(R), Student Attendances(R)
              %strong Student
              .small Course Evaluation, Student Infos(O), Student Leaves(O) 
              %br
              /%BR
              /%strong User
              /.small llll
              /%strong Guest
              /.small lll
            
            %td{style: "vertical-align: top; width: 35%"}
              %strong Lecturer
              .small Student Leaves(Coordinator), Student Attendances, Weeklytimetables(Coordinator), Weeklytimetables(O:Personalize Timetables), Training Notes(O), Lesson Plans(O), Examquestions(O)
              %strong Programme Manager
              .small Programmes, Academic Sessions, Intakes, Timetables, Topic Details, Examquestions, Course Evaluation, Examresults(R), Examanalysis(R), Training Attendance(O), Staff Attendance(O), Weeklytimetables(O), Lesson Plans(O).
              %strong Exam Administration
              .small Examquestions, Exam Templates, Exampaper, Exammarks, Exam Grade, Examresults, Exam Analysis
              %strong Unit Leader
              .small Training Attendance(O), Staff Attendance(O), Programmes(Common Subjects)
              %strong Administration Staff
              .small Training Attendance(HOD), Staff Attendance(HOD)
              %strong Librarian
              .small Library Books, Library Transactions, Student Info(R)
              %br
              /%BR
              /%strong Administration
              /.small aaaa
              /%strong Coordinator
              /.small aaaa
        

        .small{style: 'color: red;'}
          Remark : Upon selection of 
          %strong roles,
          select 
          %strong available modules
          for additional access. Otherwise remove 
          %strong selected roles 
          and select required module access
          %strong separately.
        
        %br
        %strong Access by Module
        .small
          %strong Admin :
          can do everything (CRUD/A)
          %br
          %strong Viewer :
          can list, print & reports only (R/A)
          %br
          %strong User :
          can view everything & update data (RU/A)
          %br
          %strong Member :
          should only see his own record & be able to edit it (CRUD/O)
          %br
          %br
          %u
            %strong Related Rules : 
        %ol 
          %li.small
            For all modules to works, either activate 'Staff' role or activate access by module ie. 'Staff Module' (Admin/Viewer/User/Member).
          %li.small
            Staff Attendance should come with Fingerprints, for Manage Lateness and Early Return to works.
          %li.small
            Travel Claim should come with Travel Request, for approved travel records.
          %li.small
            Travel Claims Module (Member) - applicable for Applicant & Final Approver only. Finance Checker require 'Finance Unit' role to be activated.
            Please note, assigning user with 'Finance Unit' role shall disable all types of module access for Travel Claims & Training Budget.
          %li.small
            Training Budget Module and Training Courses Module require access of Training Attendance Module (Viewer or Member).
          %li.small
            Training Attendance Module require access of Training Schedule Module (Viewer or Member).
          %li.small
            Training Attendance Module (Member) only applicable for applicants. Approvers require additional / replacement role activation as follows :
            %ul
              %li Department Approval (Academic) - require additional 'Programme Manager' role to be activated.
              %li Unit Approval (Management), Department Approval (Management) & Final Approval (Director) -  these 3 functions are not available at all. Uncheck Training Attendance Module (Member) and activate 'Finance Unit' role instead.
          %li.small
            Student Leaves Module (Member) only applicable for applicants. For approving purposes (Warden & Penyelaras) activate Warden and / or Lecturer role instead.
          /%li.small
          /  **Student Attendance Module (Member) only applicable for lecturers. Activating'Lecturer' role shall disable Student Attendance Module access.
          /%li.small
          /  **Student Counsellor Module (Member) only applicable for counsellors. Activating 'Student Counsellor' role shall disable Student Counselor Module access.
          %li.small
            Student Discipline Cases 
            %ul
              %li Activate 'Staff' role OR Student Discipline Module Member for Case reporter, Programme Manager and TPHEP.
              %li Activate 'Disciplinary Officer' role for Discipline Officer access.
          %li.small
            Training Notes Module (Admin/Viewer/User) must be activated for menu listing of :
            %ul
              %li Training support tables (setup) : Academic Sessions, Student Intakes, Timetables.
              %li Training related modules : Weeklytimetables (Timetable Entries) and Lesson Plan & Report, Topic Details
          %li.small 
            Topic Details Module require access of Lesson Plan & Report Module (Admin/Viewer/User)
          %li.small
            Exam Templates to be used with Exampaper
          %li.small
            Examination Management (Exammarks, Exam Grade) requires Examresults Module (Admin/Viewer/Users/Member) to be activated.
          %li.small
            Asset Loan, Asset Disposals and Asset Defect (loanable & menu items) requires Asset List (Admin/Viewer/User/Member) to be activated.
          %li.small
            Asset Defect Module (Member) only workable for defective reporter and decisioner, for processing purpose, please use 'Asset Administrator' role instead.
          %li.small 
            Asset pricing details viewable only to user with 'Administration' or 'Asset Administrator' roles or those with Asset List Module (Admin/User) access.
          %li.small
            E-Filing modules (Events, Bulletins, Files) requires access to Documents modules (Admin/Viewer/User/Member) to be activated.
            
.row{style: "padding-top:1em;"}
  /.col-md-3.col-md-offset-2
  .col-md-3.col-md-offset-1
    .panel.panel-primary
      .panel-heading
        %h3.panel-title=t 'user.assigned_roles'
      .panel-body
        #testing
          - for user_role in @user.roles.order(id: :asc)
            .row
              .col-md-12
                =user_role.name
          
          //ALL assigned roles
          /= text_field_tag "roling", @user.roles.pluck(:id)
          
  /.col-md-3.col-md-offset-2
  .col-md-3.col-md-offset-1
    .panel.panel-info
      .panel-heading
        %h3.panel-title=t 'user.available_roles'
      .panel-body
        - for role in Role.where.not('authname ILIKE(?)', '%module%').order(id: :asc)
          .row
            .col-md-9= role.name if role.authname!="coordinator"
            .col-md-1
              - if role.authname!="coordinator"
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "byrole"
              - else
                %span{style: 'display: none;'}= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "byrole"
              /HIDE - coordinator first/
  
    /2nd column - E-FILLING SECTION - later to include page, local msg, equery
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          E-Filling Modules
          .right.small
            /Manage&nbsp;&nbsp;&nbsp;Read&nbsp;
            Admin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Viewer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member&nbsp;
      .panel-body
        /- for role in Role.where('authname ILIKE(?)', '%module').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Events", "Bulletins", "Files", "Documents"]).order(id: :asc)
        /      /.row
        /      /  /.col-md-9= role.name
        /      /  /.col-md-1= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "efilingmanage"
        /      /  /- read=Role.where('id !=?', role.id).where(description: role.description).first
        /      /  /- if read
        /      /  /  .col-md-1= check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "efilingread"
        /      /  /=radio_button_tag 'user_role_ids[]', role.id, class: "efilingmanage"
        
        %table{width:"100%"}
          /.table-condensed
          %head 
            %tr
              %th.left{width: "5%"}
                %font{style: "color: red;"}*
              %th.centre{width: "47%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
          %body
            - cnt=0
            - for role in Role.where('authname ILIKE(?)', '%module_admin').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Events", "Bulletins", "Files", "Documents"]).order(id: :asc)
              - read=Role.where('id !=?', role.id).where(description: role.description).first
              - user=Role.where.not(id: [role.id, read.id]).where(description: role.description).first
              - owner=Role.where.not(id: [role.id, read.id, user.id]).where(description: role.description).first
              %span{style: 'display: none;'}
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "efilingmanage"
                = check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "efilingread"
                = check_box_tag "user[role_ids][]", user.id, @user.roles.include?(user), class: "efilinguser"
                = check_box_tag "user[role_ids][]", owner.id, @user.roles.include?(owner), class: "efilingowner"
              - rolename=role.name.split("Module")[0].strip
              - rolename2=rolename.downcase
              %tr
                %td.left=check_box_tag "efilemain_#{cnt}", cnt, false, class: "filemain"
                %td.left=rolename
                %td.centre=radio_button_tag "user_role_#{rolename2}", role.id, @user.roles.include?(role), class: "efilingmanage2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", read.id, @user.roles.include?(read), class: "efilingread2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", user.id, @user.roles.include?(user), class: "efilinguser2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", owner.id, @user.roles.include?(owner), class: "efilingowner2"
              /= cnt
              - cnt+=1
        .small 
          Uncheck 
          %font{style: "color: red;"}*
          to remove selected module access
    /2nd column - Library SECTION
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          E-Library Modules
          .right.small
            Admin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Viewer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member&nbsp;
      .panel-body
        %table{width:"100%"}
          %head
            %tr
              %th.left{width: "5%"}
                %font{style: "color: red;"}*
              %th.centre{width: "47%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
          %body
            - cnt=0
            - for role in Role.where('authname ILIKE(?)', '%module_admin').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Library Books", "Library Transactions"]).order(id: :asc)
              - read=Role.where('id !=?', role.id).where(description: role.description).first
              - user=Role.where.not(id: [role.id, read.id]).where(description: role.description).first
              - owner=Role.where.not(id: [role.id, read.id, user.id]).where(description: role.description).first
              %span{style: 'display: none;'}
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "librarymanage"
                = check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "libraryread"
                = check_box_tag "user[role_ids][]", user.id, @user.roles.include?(user), class: "libraryuser"
                = check_box_tag "user[role_ids][]", owner.id, @user.roles.include?(owner), class: "libraryowner"
              - rolename=role.name.split("Module")[0].strip
              - rolename2=rolename.downcase
              %tr
                %td.left=check_box_tag "efilemain_#{cnt}", cnt, false, class: "librarymain"
                %td.left=rolename
                %td.centre=radio_button_tag "user_role_#{rolename2}", role.id, @user.roles.include?(role), class: "librarymanage2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", read.id, @user.roles.include?(read), class: "libraryread2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", user.id, @user.roles.include?(user), class: "libraryuser2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", owner.id, @user.roles.include?(owner), class: "libraryowner2"
              /= cnt
              - cnt+=1
        .small 
          Uncheck 
          %font{style: "color: red;"}*
          to remove selected module access

    /2nd column - Examination SECTION
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Examination Dev & Management
          .right.small
            Admin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Viewer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member&nbsp;
      .panel-body
        %table{width:"100%"}
          %head
            %tr
              %th.left{width: "5%"}
                %font{style: "color: red;"}*
              %th.centre{width: "47%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
          %body
            - cnt=0
            - for role in Role.where('authname ILIKE(?)', '%module_admin').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Exam Templates", "Examresults", "Exam Grade", "Exammarks", "Exam Analysis", "Exampaper", "Examquestions"])
              - read=Role.where('id !=?', role.id).where(description: role.description).first
              - user=Role.where.not(id: [role.id, read.id]).where(description: role.description).first
              - owner=Role.where.not(id: [role.id, read.id, user.id]).where(description: role.description).first
              %span{style: 'display: none;'}
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "exammanage"
                = check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "examread"
                = check_box_tag "user[role_ids][]", user.id, @user.roles.include?(user), class: "examuser"
                = check_box_tag "user[role_ids][]", owner.id, @user.roles.include?(owner), class: "examowner"
              - rolename=role.name.split("Module")[0].strip
              - rolename2=rolename.downcase
              %tr
                %td.left=check_box_tag "efilemain_#{cnt}", cnt, false, class: "exammain"
                %td.left=rolename
                %td.centre=radio_button_tag "user_role_#{rolename2}", role.id, @user.roles.include?(role), class: "exammanage2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", read.id, @user.roles.include?(read), class: "examread2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", user.id, @user.roles.include?(user), class: "examuser2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", owner.id, @user.roles.include?(owner), class: "examowner2"
              /= cnt
              - cnt+=1
        .small 
          Uncheck 
          %font{style: "color: red;"}*
          to remove selected module access

        %hr
        /COURSE EVALUATION    
        %table{width:"100%"}
          %head
            %tr
              %th.left{width: "5%"}
                %font{style: "color: red;"}*
              %th.centre{width: "47%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
          %body
            - cnt=0
            - for role in Role.where('authname ILIKE(?)', '%module_admin').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Course Evaluation"])
              - read=Role.where('id !=?', role.id).where(description: role.description).first
              - user=Role.where.not(id: [role.id, read.id]).where(description: role.description).first
              - owner=Role.where.not(id: [role.id, read.id, user.id]).where(description: role.description).first
              %span{style: 'display: none;'}
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "courseevalmanage"
                = check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "courseevalread"
                = check_box_tag "user[role_ids][]", user.id, @user.roles.include?(user), class: "courseevaluser"
                = check_box_tag "user[role_ids][]", owner.id, @user.roles.include?(owner), class: "courseevalowner"
              - rolename=role.name.split("Module")[0].strip
              - rolename2=rolename.downcase
              %tr
                %td.left=check_box_tag "efilemain_#{cnt}", cnt, false, class: "courseevalmain"
                %td.left=rolename
                %td.centre=radio_button_tag "user_role_#{rolename2}", role.id, @user.roles.include?(role), class: "courseevalmanage2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", read.id, @user.roles.include?(read), class: "courseevalread2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", user.id, @user.roles.include?(user), class: "courseevaluser2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", owner.id, @user.roles.include?(owner), class: "courseevalowner2"
              /= cnt
              - cnt+=1
        /COURSE EVALUATION ends
        .small
          Uncheck 
          %font{style: "color: red;"}*
          to remove selected module access

    /2nd column - Admin SECTION
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Administration / Support Tables
          .right.small
            &nbsp;&nbsp;&nbsp;&nbsp;Admin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Viewer&nbsp;
            /User&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member&nbsp;
      .panel-body
        %table{width:"100%"}
          %head
            %tr
              %th.left{width: "5%"}
                %font{style: "color: red;"}*
              %th.centre{width: "47%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              /%th.centre{width: "12%"} 
              /%th.centre{width: "12%"} 
          %body
            - cnt=0
            - for role in Role.where('authname ILIKE(?)', '%module_admin').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Address Book", "Banks"]).order(id: :asc)
              - read=Role.where('id !=?', role.id).where(description: role.description).first
              /- user=Role.where.not(id: [role.id, read.id]).where(description: role.description).first
              /- owner=Role.where.not(id: [role.id, read.id, user.id]).where(description: role.description).first
              %span{style: 'display: none;'}
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "supportmanage"
                = check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "supportread"
                /= check_box_tag "user[role_ids][]", user.id, @user.roles.include?(user), class: "libraryuser"
                /= check_box_tag "user[role_ids][]", owner.id, @user.roles.include?(owner), class: "libraryowner"
              - rolename=role.name.split("Module")[0].strip
              - rolename2=rolename.downcase
              %tr
                %td.left=check_box_tag "efilemain_#{cnt}", cnt, false, class: "supportmain"
                %td.left=rolename
                %td.centre=radio_button_tag "user_role_#{rolename2}", role.id, @user.roles.include?(role), class: "supportmanage2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", read.id, @user.roles.include?(read), class: "supportread2"
                /%td.centre=radio_button_tag "user_role_#{rolename2}", user.id, @user.roles.include?(user), class: "libraryuser2"
                /%td.centre=radio_button_tag "user_role_#{rolename2}", owner.id, @user.roles.include?(owner), class: "libraryowner2"
              /= cnt
              - cnt+=1
        .small 
          Uncheck 
          %font{style: "color: red;"}*
          to remove selected module access

          
  .col-md-3
    /3rd column - STAFF SECTION
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          /=t 'user.access_by_module'
          Staffs Registry
          .right.small
            Admin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Viewer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member&nbsp;
      .panel-body   
        /STAFF part 1
        %table{width:"100%"}
          %head
            %tr
              %th.left{width: "5%"}
                %font{style: "color: red;"}*
              %th.centre{width: "47%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
          %body
            - cnt=0
            ///- for role in Role.where('authname ILIKE(?)', '%module').where.not('name ILIKE(?)', '%Mailer%').order(id: :asc)
            /Staffs related modules (same access as 'Staff Administrator' role) 
            - for role in Role.where('authname ILIKE(?)', '%module_admin').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Staffs", "Positions","Staff Attendances","Fingerprints"]).order(id: :asc)
              - read=Role.where('id !=?', role.id).where(description: role.description).first
              - user=Role.where.not(id: [role.id, read.id]).where(description: role.description).first
              - owner=Role.where.not(id: [role.id, read.id, user.id]).where(description: role.description).first
              %span{style: 'display: none;'}
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "a_staffmanage"
                = check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "a_staffread"
                = check_box_tag "user[role_ids][]", user.id, @user.roles.include?(user), class: "a_staffuser"
                = check_box_tag "user[role_ids][]", owner.id, @user.roles.include?(owner), class: "a_staffowner"
              - rolename=role.name.split("Module")[0].strip
              - rolename2=rolename.downcase
              %tr
                %td.left=check_box_tag "efilemain_#{cnt}", cnt, false, class: "a_staffmain"
                %td.left=rolename
                %td.centre=radio_button_tag "user_role_#{rolename2}", role.id, @user.roles.include?(role), class: "a_staffmanage2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", read.id, @user.roles.include?(read), class: "a_staffread2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", user.id, @user.roles.include?(user), class: "a_staffuser2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", owner.id, @user.roles.include?(owner), class: "a_staffowner2"
              /= cnt
              - cnt+=1
        .small 
          Uncheck 
          %font{style: "color: red;"}*
          to remove selected module access

        %hr
        
        /STAFF part 2
        %table{width:"100%"}
          %head
            %tr
              %th.left{width: "5%"}
                %font{style: "color: red;"}*
              %th.centre{width: "47%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
          %body
            - cnt=0
            /Staff related modules (same access as 'Finance Unit' role)
            - for role in Role.where('authname ILIKE(?)', '%module_admin').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Travel Requests", "Travel Claims"]).order(id: :desc)
              - read=Role.where('id !=?', role.id).where(description: role.description).first
              - user=Role.where.not(id: [role.id, read.id]).where(description: role.description).first
              - owner=Role.where.not(id: [role.id, read.id, user.id]).where(description: role.description).first
              %span{style: 'display: none;'}
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "b_staffmanage"
                = check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "b_staffread"
                = check_box_tag "user[role_ids][]", user.id, @user.roles.include?(user), class: "b_staffuser"
                = check_box_tag "user[role_ids][]", owner.id, @user.roles.include?(owner), class: "b_staffowner"
              - rolename=role.name.split("Module")[0].strip
              - rolename2=rolename.downcase
              %tr
                %td.left=check_box_tag "efilemain_#{cnt}", cnt, false, class: "b_staffmain"
                %td.left=rolename
                %td.centre=radio_button_tag "user_role_#{rolename2}", role.id, @user.roles.include?(role), class: "b_staffmanage2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", read.id, @user.roles.include?(read), class: "b_staffread2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", user.id, @user.roles.include?(user), class: "b_staffuser2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", owner.id, @user.roles.include?(owner), class: "b_staffowner2"
              /= cnt
              - cnt+=1
        .small 
          Uncheck 
          %font{style: "color: red;"}*
          to remove selected module access

        %hr

        /STAFF part 3
        %table{width:"100%"}
          %head
            %tr
              %th.left{width: "5%"}
                %font{style: "color: red;"}*
              %th.centre{width: "47%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
          %body
            - cnt=0
            /Staff related modules (same access as 'Training Administration' OR 'Training Manager' role)
            - for role in Role.where('authname ILIKE(?)', '%module_admin').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Training Budget", "Training Courses", "Training Schedule", "Training Attendance"]).order(id: :asc)
              - read=Role.where('id !=?', role.id).where(description: role.description).first
              - user=Role.where.not(id: [role.id, read.id]).where(description: role.description).first
              - owner=Role.where.not(id: [role.id, read.id, user.id]).where(description: role.description).first
              %span{style: 'display: none;'}
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "c_staffmanage"
                = check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "c_staffread"
                = check_box_tag "user[role_ids][]", user.id, @user.roles.include?(user), class: "c_staffuser"
                = check_box_tag "user[role_ids][]", owner.id, @user.roles.include?(owner), class: "c_staffowner"
              - rolename=role.name.split("Module")[0].strip
              - rolename2=rolename.downcase
              %tr
                %td.left=check_box_tag "efilemain_#{cnt}", cnt, false, class: "c_staffmain"
                %td.left=rolename
                %td.centre=radio_button_tag "user_role_#{rolename2}", role.id, @user.roles.include?(role), class: "c_staffmanage2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", read.id, @user.roles.include?(read), class: "c_staffread2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", user.id, @user.roles.include?(user), class: "c_staffuser2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", owner.id, @user.roles.include?(owner), class: "c_staffowner2"
              /= cnt
              - cnt+=1
        .small 
          Uncheck 
          %font{style: "color: red;"}*
          to remove selected module access

        %hr
        
        /STAFF part 4
        %table{width:"100%"}
          %head
            %tr
              %th.left{width: "5%"}
                %font{style: "color: red;"}*
              %th.centre{width: "47%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
          %body
            - cnt=0
            /Staff related modules (Access to all Staff Appraisals & Staff Leaves records)
            - for role in Role.where('authname ILIKE(?)', '%module_admin').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Staff Appraisals", "Staff Leaves"]).order(id: :asc)
              - read=Role.where('id !=?', role.id).where(description: role.description).first
              - user=Role.where.not(id: [role.id, read.id]).where(description: role.description).first
              - owner=Role.where.not(id: [role.id, read.id, user.id]).where(description: role.description).first
              %span{style: 'display: none;'}
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "d_staffmanage"
                = check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "d_staffread"
                = check_box_tag "user[role_ids][]", user.id, @user.roles.include?(user), class: "d_staffuser"
                = check_box_tag "user[role_ids][]", owner.id, @user.roles.include?(owner), class: "d_staffowner"
              - rolename=role.name.split("Module")[0].strip
              - rolename2=rolename.downcase
              %tr
                %td.left=check_box_tag "efilemain_#{cnt}", cnt, false, class: "d_staffmain"
                %td.left=rolename
                %td.centre=radio_button_tag "user_role_#{rolename2}", role.id, @user.roles.include?(role), class: "d_staffmanage2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", read.id, @user.roles.include?(read), class: "d_staffread2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", user.id, @user.roles.include?(user), class: "d_staffuser2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", owner.id, @user.roles.include?(owner), class: "d_staffowner2"
              /= cnt
              - cnt+=1
        .small 
          Uncheck 
          %font{style: "color: red;"}*
          to remove selected module access

              
    /3rd column - ASSETS, FACILITY, RESIDENCES SECTION
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Assets, Facility & Residences
          .right.small
            Admin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Viewer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member&nbsp;
      .panel-body   
        %table{width:"100%"}
          %head
            %tr
              %th.left{width: "5%"}
                %font{style: "color: red;"}*
              %th.centre{width: "47%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
          %body
            - cnt=0
            /Asset related modules
            - for role in Role.where('authname ILIKE(?)', '%module_admin').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Stationeries", "Asset List", "Asset Losses", "Asset Defect", "Asset Disposals", "Asset Loans"]).order(id: :asc)
              - read=Role.where('id !=?', role.id).where(description: role.description).first
              - user=Role.where.not(id: [role.id, read.id]).where(description: role.description).first
              - owner=Role.where.not(id: [role.id, read.id, user.id]).where(description: role.description).first
              %span{style: 'display: none;'}
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "assetmanage"
                = check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "assetread"
                = check_box_tag "user[role_ids][]", user.id, @user.roles.include?(user), class: "assetuser"
                = check_box_tag "user[role_ids][]", owner.id, @user.roles.include?(owner), class: "assetowner"
              - rolename=role.name.split("Module")[0].strip
              - rolename2=rolename.downcase
              %tr
                %td.left=check_box_tag "efilemain_#{cnt}", cnt, false, class: "assetmain"
                %td.left=rolename
                %td.centre=radio_button_tag "user_role_#{rolename2}", role.id, @user.roles.include?(role), class: "assetmanage2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", read.id, @user.roles.include?(read), class: "assetread2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", user.id, @user.roles.include?(user), class: "assetuser2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", owner.id, @user.roles.include?(owner), class: "assetowner2"
              /= cnt
              - cnt+=1
        .small 
          Uncheck 
          %font{style: "color: red;"}*
          to remove selected module access
      
        %hr
        
        %table{width:"100%"}
          %head
            %tr
              %th.left{width: "5%"}
                %font{style: "color: red;"}*
              %th.centre{width: "47%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
          %body
            - cnt=0
            /Locations, Residences related
            - for role in Role.where('authname ILIKE(?)', '%module_admin').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Tenants", "Locations", "Location Damages"]).order(id: :asc)
              - read=Role.where('id !=?', role.id).where(description: role.description).first
              - user=Role.where.not(id: [role.id, read.id]).where(description: role.description).first
              - owner=Role.where.not(id: [role.id, read.id, user.id]).where(description: role.description).first
              %span{style: 'display: none;'}
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "locationmanage"
                = check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "locationread"
                = check_box_tag "user[role_ids][]", user.id, @user.roles.include?(user), class: "locationuser"
                = check_box_tag "user[role_ids][]", owner.id, @user.roles.include?(owner), class: "locationowner"
              - rolename=role.name.split("Module")[0].strip
              - rolename2=rolename.downcase
              %tr
                %td.left=check_box_tag "efilemain_#{cnt}", cnt, false, class: "locationmain"
                %td.left=rolename
                %td.centre=radio_button_tag "user_role_#{rolename2}", role.id, @user.roles.include?(role), class: "locationmanage2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", read.id, @user.roles.include?(read), class: "locationread2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", user.id, @user.roles.include?(user), class: "locationuser2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", owner.id, @user.roles.include?(owner), class: "locationowner2"
              /= cnt
              - cnt+=1
        .small 
          Uncheck 
          %font{style: "color: red;"}*
          to remove selected module access

    /Student related modules
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Student Affairs
          .right.small
            Admin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Viewer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member&nbsp;
      .panel-body
        %table{width:"100%"}
          %head
            %tr
              %th.left{width: "5%"}
                %font{style: "color: red;"}*
              %th.centre{width: "47%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
          %body
            - cnt=0
            - for role in Role.where('authname ILIKE(?)', '%module_admin').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Student Leaves", "Student Attendances", "Student Counseling", "Student Discipline", "Student Infos"]).order(id: :asc)
              - read=Role.where('id !=?', role.id).where(description: role.description).first
              - user=Role.where.not(id: [role.id, read.id]).where(description: role.description).first
              - owner=Role.where.not(id: [role.id, read.id, user.id]).where(description: role.description).first
              %span{style: 'display: none;'}
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "studentmanage"
                = check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "studentread"
                = check_box_tag "user[role_ids][]", user.id, @user.roles.include?(user), class: "studentuser"
                = check_box_tag "user[role_ids][]", owner.id, @user.roles.include?(owner), class: "studentowner"
              - rolename=role.name.split("Module")[0].strip
              - rolename2=rolename.downcase
              %tr
                %td.left=check_box_tag "efilemain_#{cnt}", cnt, false, class: "studentmain"
                %td.left=rolename
                %td.centre=radio_button_tag "user_role_#{rolename2}", role.id, @user.roles.include?(role), class: "studentmanage2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", read.id, @user.roles.include?(read), class: "studentread2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", user.id, @user.roles.include?(user), class: "studentuser2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", owner.id, @user.roles.include?(owner), class: "studentowner2"
              /= cnt
              - cnt+=1
        .small 
          Uncheck 
          %font{style: "color: red;"}*
          to remove selected module access
          

    /Training related modules
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Training Support
          .right.small
            Admin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Viewer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member&nbsp;
      .panel-body
        %table{width:"100%"}
          %head
            %tr
              %th.left{width: "5%"}
                %font{style: "color: red;"}*
              %th.centre{width: "47%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
              %th.centre{width: "12%"} 
          %body
            - cnt=0
            /Training related
            - for role in Role.where('authname ILIKE(?)', '%module_admin').where.not('name ILIKE(?)', '%Mailer%').where(description: ["Training Notes", "Academic Session", "Student Intake", "Timetables", "Lesson Plans", "Topic Details", "Programmes", "Weeklytimetables"]).order(id: :asc)
              - read=Role.where('id !=?', role.id).where(description: role.description).first
              - user=Role.where.not(id: [role.id, read.id]).where(description: role.description).first
              - owner=Role.where.not(id: [role.id, read.id, user.id]).where(description: role.description).first
              %span{style: 'display: none;'}
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "trainingmanage"
                = check_box_tag "user[role_ids][]", read.id, @user.roles.include?(read), class: "trainingread"
                = check_box_tag "user[role_ids][]", user.id, @user.roles.include?(user), class: "traininguser"
                = check_box_tag "user[role_ids][]", owner.id, @user.roles.include?(owner), class: "trainingowner"
              - rolename=role.name.split("Module")[0].strip
              - rolename2=rolename.downcase
              %tr
                %td.left=check_box_tag "efilemain_#{cnt}", cnt, false, class: "trainingmain"
                %td.left=rolename
                %td.centre=radio_button_tag "user_role_#{rolename2}", role.id, @user.roles.include?(role), class: "trainingmanage2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", read.id, @user.roles.include?(read), class: "trainingread2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", user.id, @user.roles.include?(user), class: "traininguser2"
                %td.centre=radio_button_tag "user_role_#{rolename2}", owner.id, @user.roles.include?(owner), class: "trainingowner2"
              /= cnt
              - cnt+=1
        .small 
          Uncheck 
          %font{style: "color: red;"}*
          to remove selected module access

// testing section///////////////////

/ .row{style: "padding-top:1em;"}
/   .col-md-3.col-md-offset-1
/     .panel.panel-default
/       .panel-heading
/         %h3.panel-title Row kedua
/       .panel-body
/         - for role in Role.where('authname ILIKE(?)', '%module%').where.not(description: ["Staffs", "Positions","Staff Attendances","Fingerprints","Travel Requests", "Travel Claims","Training Budget", "Training Courses", "Training Schedule", "Training Attendance","Staff Appraisals", "Staff Leaves"]).order(id: :asc)
/           .row
/             .col-md-9=role.name
/             .col-md-1
/               /= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "byrole"
/  
/   .col-md-3
/     .panel.panel-default
/       .panel-heading
/         %h3.panel-title Row kedua
/       .panel-body
/         - for role in Role.where('authname ILIKE(?)', '%module%').where.not(description: ["Staffs", "Positions","Staff Attendances","Fingerprints","Travel Requests", "Travel Claims","Training Budget", "Training Courses", "Training Schedule", "Training Attendance","Staff Appraisals", "Staff Leaves"]).order(id: :asc)
/           .row
/             .col-md-9=role.name
/             .col-md-1
/               /= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "byrole"
/             
/   .col-md-3
/     .panel.panel-default
/       .panel-heading
/         %h3.panel-title Row kedua
/       .panel-body
/         - for role in Role.where('authname ILIKE(?)', '%module%').where.not(description: ["Staffs", "Positions","Staff Attendances","Fingerprints","Travel Requests", "Travel Claims","Training Budget", "Training Courses", "Training Schedule", "Training Attendance","Staff Appraisals", "Staff Leaves"]).order(id: :asc)
/           .row
/             .col-md-9=role.name
/             .col-md-1
/               /= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "byrole"