<h2><%=(t 'activerecord.attributes.user.reset_password')%></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <%=hidden_field :location, value: root_url %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>
  <div><%= f.submit (t 'activerecord.attributes.user.send_reset_password') %></div>
<% end %>
<br>
<%= render "devise/shared/links" %>
