- model_class = Stationery
.page-header
  %h1= t('stationery.title')
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_asset_stationery_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        = fa_icon "print", text: (t 'actions.print')
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => kewps13_asset_stationeries_path(:format => 'pdf', :yyear => Date.today.year)} KEW PS13


.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th{style: "width:10%;"}= sort_link(@search, :code, (t 'stationery.code'))
        %th{style: "width:30%;"}= sort_link(@search, :category, (t 'stationery.category'))
        %th{style: "width:20%;"}= sort_link(@search, :quantity, (t 'stationery.quantity'))
        %th{style: "width:20%;"}= sort_link(@search, :maxquantity, (t 'stationery.max'))
        %th{style: "width:20%;"}= sort_link(@search, :minquantity, (t 'stationery.min'))

    %tbody
    = render "index_search"
    - @stationeries.each do |stationery|
      %tr
        %td= link_to stationery.code, asset_stationery_path(stationery)
        %td= link_to stationery.category, asset_stationery_path(stationery)
        %td
          = stationery.current_quantity.to_i rescue 0
          &nbsp; 
          = stationery.unittype
        %td= stationery.maxquantity.to_i
        %td= stationery.minquantity.to_i

  .right{style:"padding:0 30px; margin:0;"}= paginate @stationeries, :theme => 'twitter-bootstrap-3'