- model_class = Stationery
.page-header
  %h1= @stationery.category

= render 'shared/flashes'

%ul.nav.nav-tabs
  %li.active= link_to (t "stationery.details"), "#details",   "data-toggle" => "tab"
  %li= link_to (t "stationery.additions"),      "#additions", "data-toggle" => "tab"
  %li= link_to (t "stationery.deductions"),     "#deductions","data-toggle" => "tab"
  
.tab-content.col-md-offset-1
  %dl.dl-horizontal
    %dt= t 'stationery.code'
    %dd= @stationery.code
    %dt= t 'stationery.category'
    %dd= @stationery.category
  #details.tab-pane.fade.in.active
    %dl.dl-horizontal

      %dt= t 'stationery.quantity'
      %dd
        = @stationery.current_quantity.to_i rescue 0
        &nbsp;
        = @stationery.unittype
      %dt= t 'stationery.min'
      %dd= @stationery.minquantity.to_i
      %dt= t 'stationery.max'
      %dd= @stationery.maxquantity.to_i
        
  #additions.tab-pane.fade
    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th=t 'stationery.lpono'
          %th=t 'stationery.supplier_name'
          %th=t 'stationery.quantity'
          %th=t 'stationery.price_per_unit'
          %th=t 'stationery.total'
          %th=t 'stationery.received_date'
      %tbody
        - for stationery_add in @stationery.stationery_adds
        - cost = stationery_add.unitcost * stationery_add.quantity.to_i	  
          %tr 
            %td= stationery_add.lpono 
            %td= stationery_add.document
            %td= stationery_add.quantity.to_i
            %td= ringgols(stationery_add.unitcost)
            %td= ringgols(cost)
            %td= stationery_add.received.try(:strftime,"%d %b %Y")
		  
  #deductions.tab-pane.fade
    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th=t 'stationery.issues_by'
          %th=t 'stationery.received_by'
          %th=t 'stationery.quantity'
          %th=t 'stationery.issue_date'

      %tbody
        - for stationery_use in @stationery.stationery_uses 
          %tr 
            %td= stationery_use.issuesupply.try(:name)
            %td= stationery_use.receivesupply.try(:name)
            %td= stationery_use.quantity.to_i
            %td= stationery_use.issuedate.try(:strftime, "%d %b %Y")
			
.row
  .col-md-6.col-md-offset-2
    %hr
    .form-actions
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left "), asset_stationeries_path, {class: "btn btn-default", "data-toggle" => "tooltip", title: "Office Supplies Index"}

      = link_to content_tag(:i, "", :class => "fa fa-edit") , edit_asset_stationery_path(@stationery),  {class: "btn btn-primary", "data-toggle" => "tooltip", title: t("actions.edit")}
      = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white"), |
        asset_stationeries_path(@stationery),                                                                                                    |
        :method => 'delete',                                                                                                           |
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
        :class => 'btn btn-danger', "data-toggle" => "tooltip", title: t("actions.delete")			