- model_class = Ptbudget
.page-header
  %h1
    = t('ptbudgets.edit')
    = render 'shared/flashes'
	
.row
  = form_for [:staff_training, @ptbudget],  :html => { :class => 'form-horizontal' } do |f| 
    = render 'shared/error_messages', object: f.object
    .col-md-offset-4
      .form-group
        .col-sm-2.control-label
          = f.label t 'staff.training.budget.budget', for: :budget
        .col-md-3
          = f.text_field :budget, class: 'form-control mandatory', :placeholder => 'RM', :size => 12
      .form-group		  
        .col-sm-2.control-label
          = f.label t 'staff.training.budget.start', for: :fiscalstart
        .col-md-3
          = f.text_field :fiscalstart, class: 'form-control mandatory date_picker '
 
    .col-md-offset-2
      .form-group
        .col-sm-offset-3.col-sm-1
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staff_training_ptbudgets_path, :class => 'btn btn-default'
        .col-md-2
          = f.submit t('update'), class: "btn btn-primary"