%ul.nav.nav-pills.nav-stacked
  %li{:class => active_page(:inbox)}
    = link_to mailbox_inbox_path do
      %span.label.label-danger.pull-right= unread_messages_count
      %em.fa.fa-inbox.fa-lg
      %span=t('conversation.inbox')
  %li{:class => active_page(:sent)}
    = link_to mailbox_sent_path do
      %em.fa.fa-paper-plane-o.fa-lg
      %span=t('conversation.sent')
  %li{:class => active_page(:trash)}
    = link_to mailbox_trash_path do
      %em.fa.fa-trash-o.fa-lg
      %span=t('conversation.trash')
  %li{:class => active_page(:group)}
    = link_to groups_path do
      %em.fa.fa-users.fa-lg
      %span=t('group.list')