- if booksearch.classno.blank? && booksearch.accessionno_start.blank? && booksearch.accessionno_end.blank?
  - disp=" - #{t('equery.book.list_all')}"
- else
  - disp=""

/ Nav tabs
%ul.nav.nav-tabs
  %li.active= link_to  (t 'library.book.book_summary')+disp, "#search", "data-toggle" => "tab"

/ display 
.tab-content{style:"padding-top:1em"}
  #search_details.tab-pane.active  
        
    /additional heading
    .col-md-8.col-md-offset-2
      - unless booksearch.classno.blank? || booksearch.accessionno_start.blank? || booksearch.accessionno_end.blank?
        =(t 'equery.search_by')
              
      %dl.dl-horizontal
        - unless booksearch.classno.blank?
          %dt=(t 'library.book.classno')
          %dd
            =booksearch.classno
            = booksearch.college.code=='kskbjb' ? " (LC / NLM)" : " (DDC)"
        
        - unless booksearch.accessionno_start.blank? || booksearch.accessionno_end.blank?
          %dt=(t 'library.book.accessionno')
          %dd
            - unless booksearch.accessionno_start.blank?
              =booksearch.accessionno_start
            - unless booksearch.accessionno_end.blank?
              =" "+(t 'to')+" " if !booksearch.accessionno_start.blank?
              =booksearch.accessionno_end
        
        %dt=(t 'equery.book.total')+" / "+(t 'library.book.title')
        %dd=booksearch.sbooks.joins(:accessions).count.to_s+" / "+booksearch.sbooks.count.to_s

    /display result
    .col-md-11
      %br
      - if booksearch.sbooks.count > 0
        %table.table.table-bordered.table-condensed
          %head
            %tr.bg-grey
              %th{width: '5%'} No
              %th{width: "7%"}=t('library.book.accessionno')
              %th{width: "5%"}
                =t('library.book.classno')
                = booksearch.college.code=='kskbjb' ? " (LC / NLM)" : " (DDC)"
              %th{width: "8%"}=t('library.book.author')
              %th{width: "20%"}=t('library.book.title')
              %th{width: "8%"}ISBN
              %th{width: "5%"}=t('library.book.quantity')
              %th{width: "7%"}=t('library.book.publisher')
              %th{width: "5%"}=t('library.book.publish_date')
              %th{width: "5%"}=t('library.book.language')
              %th{width: "5%"}=t('library.book.pages')
              %th{width: "5%"}Status
              %th{width: "5%"}=t('library.book.mediatype')
              %th{width: "5%"}=t('library.book.loan_type')
              %th{width: "5%"}=t('equery.book.media_location')
          - count = 0
          %body
            - booksearch.sbooks.each_with_index do |sbook, index2|
              - if sbook.accessions.count != 0 
                - sbook.accessions.each_with_index do |accession_item,index| 
                  %tr
                    %td.centre.bg-grey-yellowish=count+=1
                    %td.bg-grey-yellowish=accession_item.accession_no
                    %td.bg-grey-yellowish=h sbook.college.code=='kskbjb' ? sbook.classlcc : sbook.classddc
                    - if index==0 
                      %td.bg-grey-yellowish{rowspan: "#{sbook.book_quantity}"}=sbook.author
                      %td.bg-grey-yellowish{rowspan: "#{sbook.book_quantity}"}=sbook.title
                    %td.bg-grey-yellowish=h sbook.isbn
                    - if index==0  
                      %td.centre{rowspan: "#{sbook.book_quantity}"}=h sbook.book_quantity 
                    %td=h sbook.publisher
                    %td.centre=h sbook.publish_date
                    %td=h (DropDown::LANGUAGE.find_all{|disp, value| value == sbook.language}).map {|disp, value| disp}[0]
                    %td=h (sbook.pages).gsub("ms",t('equery.book.total_pages')) unless sbook.pages.blank? 
                    %td=h accession_item.render_book_status
                    %td=h (DropDown::MEDIA.find_all{|disp, value| value == sbook.mediatype}).map {|disp, value| disp}[0]
                    %td=h (DropDown::LOAN.find_all{|disp, value| value == sbook.loantype}).map {|disp, value| disp}[0]
                    %td=h sbook.location 
              - else 
                %tr
                  %td=count+=1
                  %td=h sbook.accessionno
                  %td=h sbook.classlcc.blank? ? sbook.classddc : sbook.classlcc
                  %td=sbook.author
                  %td=sbook.title
                  %td=h sbook.isbn 
                  %td.centre 1
                  %td=h sbook.publisher 
                  %td.centre=h sbook.publish_date
                  %td=h (DropDown::LANGUAGE.find_all{|disp, value| value == sbook.language}).map {|disp, value| disp}[0]
                  %td=h (sbook.pages).gsub("ms",t('equery.book.total_pages')) unless sbook.pages.blank? 
                  %td
                  %td=h (DropDown::MEDIA.find_all{|disp, value| value == sbook.mediatype}).map {|disp, value| disp}[0]
                  %td=h (DropDown::LOAN.find_all{|disp, value| value == sbook.loantype}).map {|disp, value| disp}[0]
                  %td=h sbook.location        
/////////
