- model_class = Booksearch
.page-header
  %h1=t('equery.book.search')
= render 'shared/flashes'

.row
  .col-md-offset-1
    - if @booksearch.stock_summary==1
      =render partial: 'book_listing', locals: {booksearch: @booksearch}
    - elsif @booksearch.stock_summary==2
      =render partial: 'stock_listing', locals: {booksearch: @booksearch}
    - elsif @booksearch.stock_summary==3
      =render partial: 'book_summary', locals: {booksearch: @booksearch}

.row
  .col-md-6.col-md-offset-3
    %hr
    .form-actions
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left") +" #{t('equery.title')} - #{t('library.title')}", "/equery_reports/library", class: 'btn btn-primary'
      %span{style: 'padding-left: 20px;'}= link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), new_equery_report_booksearch_path(searchbooktype: @booksearch.stock_summary),  :class => 'btn btn-default'
      
