/KSKBJB view
- acc_by_book.each do |bookid3, acc3|
  - acc3.each_with_index do |acc,index2|
    - if (@search.accessionno_search && @result_by_accession.include?(acc.accession_no)) || !@search.accessionno_search
      %tr
        %td=h (DropDown::MEDIA.find_all{|disp, value| value == acc.book.try(:mediatype)}).map {|disp, value| disp}[0] 
        %td
          - if acc.book
            - if acc.book.photo_file_name == nil
              =t 'book.no_image'
            - else
              //=image_tag "http://localhost:3000/assets/books/21001/original/display%20div%20of%20selected%20menu%20item%20ON%20LOAD.png?1410749822"
              ///acc.book.photo.url GIVING THIS-assets/books/21001/original/no_cover_thumb.png?1410753027 
              /=image_tag "http://#{request.host}:3000"+acc.book.photo.url, :width => '57px'  
                      
              //http://stackoverflow.com/questions/16094949/how-do-i-check-if-a-file-exists-using-its-url-without-downloading-it
              /- uri = URI("http://#{request.host}:3000"+acc.book.photo.url)
              /- request=Net::HTTP.new uri.host
              /- response=request.request_head uri.path 
              - uri = URI("http://#{request.host}:3000"+acc.book.photo.url)
              - res=Net::HTTP.get_response(uri)
              /- if response.code.to_i==200
              - if res.code.to_i==200
                /baca catechumen
                =image_tag "http://#{request.host}:3000"+acc.book.photo.url, :width => '57px' 
              - else
                /baca ogma
                =image_tag acc.book.photo.url(:thumbnail)
        %td=h link_to acc.book.title, library_book_path(acc.book)
        %td=acc.book.try(:author)
        %td=acc.book.try(:isbn)
        %td
          =h acc.book.book_quantity if index2 == 0 && !@search.accessionno_search
          = 1 if @search.accessionno_search
        %td=h acc.accession_no
        %td=h acc.book.classlcc
        %td=h acc.book.location
        %td=h (DropDown::STATUS.find_all{|disp, value| value == acc.book.status}).map {|disp, value| disp}[0]
        %td
          - if acc.book.roman != nil 
            - if acc.book.roman.include?(';') || acc.book.roman.include?(':') || acc.book.roman.include?(',')
              &#10003;