- model_class = Lessonplansearch
.page-header
  %h1=t('equery.lesson_plan.search')
= render 'shared/flashes'

.row
  .col-md-offset-1
    =render partial: 'lessonplansearch_listing', locals: {lessonplansearch: @lessonplansearch, lessonplans: @lessonplans}

.row
  .col-md-6.col-md-offset-4
    %hr
    .form-actions
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left") +" #{t('equery.title')} - #{t('training.title')}", "/equery_reports/training", class: 'btn btn-primary'
      %span{style: 'padding-left: 20px;'}= link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), new_equery_report_lessonplansearch_path(searchlessonplantype: 1),  :class => 'btn btn-default'