- if staffattendances.count > 0 
  
  /PAGE 1
  %span{style: 'align:left; width: 30%; float:left;'}    
    %table.table.table-bordered{style: 'cellpadding: 7; cellspacing: 0; background-color: #FEFDBD;'}
      %tr
        %th.center{colspan: 7}KAD MENCATAT WAKTU
      %tr
        %th{colspan: 2} B No
        %th{colspan: 5}
          ="NAMA : #{Staff.find_by_thumb_id(staffattendances.first.thumb_id).staff_with_rank}"
          - shift_id=Staff.where(thumb_id: staffattendances.first.thumb_id).first.staff_shift_id
          - shift_start=StaffShift.find(shift_id).start_at 
          - shift_end=StaffShift.find(shift_id).end_at
      %tr
        %td{colspan: 7}="<b>KEM / JAB : </b>#{staffattendances.first.college.name}".html_safe
      %tr
        %td{colspan: 7}="<b>BAHAGIAN / SEKSYEN : </b>#{staffattendancesearch.department}".html_safe
      %tr 
        %td{colspan: 7, style: 'height: 40px, valign: bottom;'}="<b>BULAN : </b>#{staffattendancesearch.logged_at.strftime("%B %Y")}".html_safe
      %tr
        %th HARI
        %th MASUK
        %th KELUAR
        %th MASUK
        %th KELUAR
        %th KENYATAAN
        %th T/T KETUA
      /- first_rec=(@staffattendancesearch.staffattendances.first.logged_at-8.hours).strftime('%d').to_i
      - first_rec=(@staffattendancesearch.staffattendances.first.logged_at).strftime('%d').to_i
      /- last_rec=(@staffattendancesearch.staffattendances.last.logged_at-8.hours).strftime('%d').to_i
      - last_rec=(@staffattendancesearch.staffattendances.last.logged_at).strftime('%d').to_i
      - last_day=31
      - @current_day=0 
      
      /Display all days from 1st - 15th
      /- @staffattendancesearch.staffattendances.group_by{|x|(x.logged_at-8.hours).strftime('%d %b %Y')}.each do |dday, log_records|
      - @staffattendancesearch.staffattendances.group_by{|x|(x.logged_at).strftime('%d %b %Y')}.each do |dday, log_records|
        - @log_in=[] 
        - @log_out=[] 
        - log_records.each do |log_record| 
          - @log_in << log_record if log_record.log_type=="I" || log_record.log_type=="i" && log_records.count 
          - @log_out << log_record if log_record.log_type=="O" || log_record.log_type=="o" || log_record.log_type==0 
          
        /Days Absent @ not punch
        - if dday[0,2].to_i > @current_day
          - @current_day.upto(dday[0,2].to_i-1) do |day_wo_rec| 
            - @current_day+=1 
            - if @current_day!=dday[0,2].to_i && day_wo_rec < 15
              %tr
                %td.centre
                  - if @current_day < 10 
                    /="0"+@current_day.to_s
                    ="0"+(day_wo_rec+1).to_s
                  - else 
                    /=@current_day 
                    =day_wo_rec+1 
                /Masuk, Keluar, Masuk, Keluar
                %td.centre &nbsp;
                %td.centre &nbsp;
                %td.centre &nbsp;
                %td.centre &nbsp;
                /Kenyataan, Tandatangan
                %td.centre &nbsp;
                %td.centre &nbsp;

        /Attended days
        - if dday[0,2].to_i < 15
          %tr
            %td.centre=dday[0,2]
            /Masuk, Keluar, Masuk, Keluar
            %td.centre
              - if @log_in.count > 0
                /- if (@log_in[0].logged_at-8.hours).strftime('%H:%M') > shift_start.strftime('%H:%M')
                - if (@log_in[0].logged_at).strftime('%H:%M') > shift_start.strftime('%H:%M')
                  - fcolor='red'
                - else
                  - fcolor='grey'
                /%span{style: "color: #{fcolor}"}=(@log_in[0].logged_at-8.hours).strftime('%H:%M') if @log_in.count > 0
                %span{style: "color: #{fcolor}"}=(@log_in[0].logged_at).strftime('%H:%M') if @log_in.count > 0
                &nbsp;
            %td.centre
              - if @log_out.count == 1
                /- if (@log_out[0].logged_at-8.hours).strftime('%H:%M') < shift_end.strftime('%H:%M')
                - if (@log_out[0].logged_at).strftime('%H:%M') < shift_end.strftime('%H:%M')
                  - fcolor='red'
                - else 
                  - fcolor='grey'
                /%span{style: "color: #{fcolor}"}=(@log_out[0].logged_at-8.hours).strftime('%H:%M') if @log_out.count > 0 
                %span{style: "color: #{fcolor}"}=(@log_out[0].logged_at).strftime('%H:%M') if @log_out.count > 0 
                &nbsp;
            %td.centre
              /=(@log_in[1].logged_at-8.hours).strftime('%H:%M') if @log_in.count > 1
              =(@log_in[1].logged_at).strftime('%H:%M') if @log_in.count > 1
              &nbsp;
            %td.centre
              - if @log_out.count == 2
                /- if (@log_out[0].logged_at-8.hours).strftime('%H:%M') < shift_end.strftime('%H:%M')
                - if (@log_out[0].logged_at).strftime('%H:%M') < shift_end.strftime('%H:%M')
                  - fcolor='red'
                - else
                  - fcolor='grey'
                /%span{style: "color: #{fcolor}"}=(@log_out[1].logged_at-8.hours).strftime('%H:%M') if @log_out.count > 1
                %span{style: "color: #{fcolor}"}=(@log_out[1].logged_at).strftime('%H:%M') if @log_out.count > 1
                &nbsp;
            /Kenyataan, Tandatangan
            %td.centre &nbsp;
            %td.centre &nbsp;

      /Footer
      %tr
        %td.centre{colspan: 7, style: 'height: 50px;'}
          %BR
          %u
            %strong AMARAN
          %br
          Sesiapa yang didapati mengetik kad orang lain, 
          %br tindakan tatatertib akan diambil ke atasnya.
       

  /PAGE 2
  %span{style: 'align:left; width: 30%; float:left; padding-left: 300px;'}
    %table.table.table-bordered{style: 'cellpadding: 7; cellspacing: 0; background-color: #FEFDBD;'}
      %tr
        %th.center{colspan: 7}KAD MENCATAT WAKTU
      %tr
        %th{colspan: 2} B No
        %th{colspan: 5}
          ="NAMA : #{Staff.find_by_thumb_id(staffattendances.first.thumb_id).staff_with_rank}"
          - shift_id=Staff.where(thumb_id: staffattendances.first.thumb_id).first.staff_shift_id
          - shift_start=StaffShift.find(shift_id).start_at 
          - shift_end=StaffShift.find(shift_id).end_at
      %tr
        %td{colspan: 7}="<b>KEM / JAB : </b>#{staffattendances.first.college.name}".html_safe
      %tr
        %td{colspan: 7}="<b>BAHAGIAN / SEKSYEN : </b>#{staffattendancesearch.department}".html_safe
      %tr 
        %td{colspan: 7, style: 'height: 40px, valign: bottom;'}="<b>BULAN : </b>#{staffattendancesearch.logged_at.strftime("%B %Y")}".html_safe
      %tr
        %th HARI
        %th MASUK
        %th KELUAR
        %th MASUK
        %th KELUAR
        %th KENYATAAN
        %th T/T KETUA
      - first_rec=(@staffattendancesearch.staffattendances.first.logged_at-8.hours).strftime('%d').to_i
      - last_rec=(@staffattendancesearch.staffattendances.last.logged_at-8.hours).strftime('%d').to_i
      - last_day=31
      - @current_day=0 
      
      /Display all days from 16th to 31st
      /- @staffattendancesearch.staffattendances.group_by{|x|(x.logged_at-8.hours).strftime('%d %b %Y')}.each do |dday, log_records|
      - @staffattendancesearch.staffattendances.group_by{|x|(x.logged_at).strftime('%d %b %Y')}.each do |dday, log_records|
        - @log_in=[] 
        - @log_out=[] 
        - log_records.each do |log_record| 
          - @log_in << log_record if log_record.log_type=="I" || log_record.log_type=="i" && log_records.count 
          - @log_out << log_record if log_record.log_type=="O" || log_record.log_type=="o" || log_record.log_type==0 
          
        /Days Absent @ not punch
        - if dday[0,2].to_i > @current_day
          - @current_day.upto(dday[0,2].to_i-1) do |day_wo_rec| 
            - @current_day+=1 
            - if @current_day!=dday[0,2].to_i && day_wo_rec > 14
              %tr
                %td.centre
                  =@current_day 
                  /=day_wo_rec+1 
                /Masuk, Keluar, Masuk, Keluar
                %td.centre &nbsp;
                %td.centre &nbsp;
                %td.centre &nbsp;
                %td.centre &nbsp;
                /Kenyataan, Tandatangan
                %td.centre &nbsp;
                %td.centre &nbsp;

        /Attended days
        - if dday[0,2].to_i > 14     
          %tr
            %td.centre=dday[0,2]
            /Masuk, Keluar, Masuk, Keluar
            %td.centre
              - if @log_in.count > 0
                /- if (@log_in[0].logged_at-8.hours).strftime('%H:%M') > shift_start.strftime('%H:%M')
                - if (@log_in[0].logged_at).strftime('%H:%M') > shift_start.strftime('%H:%M')
                  - fcolor='red'
                - else
                  - fcolor='grey'
                /%span{style: "color: #{fcolor}"}=(@log_in[0].logged_at-8.hours).strftime('%H:%M') if @log_in.count > 0
                %span{style: "color: #{fcolor}"}=(@log_in[0].logged_at).strftime('%H:%M') if @log_in.count > 0
                &nbsp;
            %td.centre
              - if @log_out.count == 1
                /- if (@log_out[0].logged_at-8.hours).strftime('%H:%M') < shift_end.strftime('%H:%M')
                - if (@log_out[0].logged_at).strftime('%H:%M') < shift_end.strftime('%H:%M')
                  - fcolor='red'
                - else 
                  - fcolor='grey'
                /%span{style: "color: #{fcolor}"}=(@log_out[0].logged_at-8.hours).strftime('%H:%M') if @log_out.count > 0 
                %span{style: "color: #{fcolor}"}=(@log_out[0].logged_at).strftime('%H:%M') if @log_out.count > 0 
                &nbsp;
            %td.centre
              /=(@log_in[1].logged_at-8.hours).strftime('%H:%M') if @log_in.count > 1
              =(@log_in[1].logged_at).strftime('%H:%M') if @log_in.count > 1
              &nbsp;
            %td.centre
              - if @log_out.count == 2
                /- if (@log_out[0].logged_at-8.hours).strftime('%H:%M') < shift_end.strftime('%H:%M')
                - if (@log_out[0].logged_at).strftime('%H:%M') < shift_end.strftime('%H:%M')
                  - fcolor='red'
                - else
                  - fcolor='grey'
                /%span{style: "color: #{fcolor}"}=(@log_out[1].logged_at-8.hours).strftime('%H:%M') if @log_out.count > 1
                %span{style: "color: #{fcolor}"}=(@log_out[1].logged_at).strftime('%H:%M') if @log_out.count > 1
                &nbsp;
            /Kenyataan, Tandatangan
            %td.centre &nbsp;
            %td.centre &nbsp;
       
      /Display remaining rows when last punched day is not 31st
      - if last_day !=@current_day
        - (@current_day+1).upto(last_day) do |y|
          %tr
            %td.centre=y
            /Masuk, Keluar, Masuk, Keluar
            %td.centre &nbsp;
            %td.centre &nbsp;
            %td.centre &nbsp;
            %td.centre &nbsp;
            /Kenyataan, Tandatangan
            %td.centre &nbsp;
            %td.centre &nbsp;

      /Footer
      %tr
        %td.centre{colspan: 7, style: 'height: 50px;'}
          %u
            %strong AMARAN
          %br
          Sesiapa yang didapati mengetik kad orang lain, 
          %br tindakan tatatertib akan diambil ke atasnya.  
