<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exam_template.name %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @exam_template.created_by %>
</p>

<p>
  <strong>Data:</strong>
  <%= @exam_template.data %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @exam_template.deleted_at %>
</p>

<%= link_to 'Edit', edit_exam_template_path(@exam_template) %> |
<%= link_to 'Back', exam_templates_path %>
