.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label t 'student.counseling.issue_desc', for: :issue_desc
    .col-md-4 
      = f.text_area :issue_desc, :size => '50x4', class: 'form-control'
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.counseling.session_notes', for: :session_notes
    .col-md-4
      = f.text_area :notes, :size => '50x6', class: 'form-control'
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.counseling.suggestions', for: :suggestions
    .col-md-4
      = f.text_area :suggestions, :size => '50x6', class: 'form-control'
  .form-group
    .col-sm-2.control-label
      = f.label t 'student.counseling.duration', for: :duration
    .col-md-1
      = f.text_field :duration, class: 'form-control'
