/=@appointments.count
/=@session_dones.count

- model_class = StudentCounselingSession
.page-header
  %h1= t('student.counseling.title')

.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_student_student_counseling_session_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class:  "index_search_bar"
    %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#", class: 'bogus'

.row.filter{style: "display:none;"}
  .col-md-2

.row
  .col-md-10.col-md-offset-3
    %table.table-bordered
      %tr
        %td{:style=> "padding: 7px;"}
          = image_tag("flag_red.png")
          =t 'student.counseling.involuntary'
        %td{:style=> "background-color: #EFE; padding: 7px; border-left: 1px solid black"}=t 'student.counseling.session_complete'
        %td{:style=> "background-color: #FEE; padding: 7px; border-left: 1px solid black"}=t 'student.counseling.appointment_not_confirmed'
        %td{:style=> "background-color: #EEF; padding: 7px; border-left: 1px solid black"}=t 'student.counseling.appointment_confirmed'

.row
  %table.table-hover.ogma
    %thead
      %tr
        %th= sort_link(@search, :student_matrixno, (t 'student.counseling.matrix_no'))
        %th= sort_link(@search, :student_name, (t 'student.counseling.student_id'))
        %th= sort_link(@search, :student_course_name, (t 'student.counseling.programme'))
        %th= t 'student.counseling.year_semester'
        %th= sort_link(@search, :confirmed_at, (t 'student.counseling.appointment_for'))
        %th{:style=>"width: 90px;"}=sort_link(@search, :duration, (t 'student.counseling.duration'))
        %th= sort_link(@search, :is_confirmed, (t 'student.counseling.is_confirmed'))
        %th=t 'student.counseling.feedback_referrer'

    %tbody
      = render "search_bar"
      /appointments
      %tr
        %td{:colspan=>"8", :style=>"font-weight: bold; background-color: #D8D8D8; text-align: center;"}=t 'student.counseling.appointments'
      - if @appointments && @appointments.count > 0
        - @appointments_by_case.each do |case_id, appointments|
          - count=0
          - appointments.each do |appointment|
            - if appointment.is_confirmed? == true
              %tr{:style=>"background-color: #EEF"}
                =render 'index_appointment',{:appointments => appointments, :appointment => appointment, :count=>count}
            - else
              %tr{:style=>"background-color: #FEE"}
                =render 'index_appointment',{:appointments => appointments, :appointment => appointment, :count=>count}
            - count+=1
      /sessions
      %tr
        %td{:colspan=>"8", :style=>"font-weight: bold; background-color: #D8D8D8; text-align: center;"}=t 'student.counseling.sessions'
      - if @session_dones && @session_dones.count > 0
        - @session_dones_by_case.each do |case_id, session_dones|
          - count2=0
          - session_dones.each do |session_done|
            - if session_done.student.present?
              %tr{:style=> "background-color: #EFE;"}
                %td=h session_done.student.matrixno
                %td
                  =link_to session_done.try(:student).try(:name), student_student_counseling_session_path(session_done)
                  =h session_done.c_type == 'involuntary' ? image_tag("flag_red.png") : ""
                %td=h session_done.try(:student).try(:programme_for_student2) if session_done.try(:student).try(:course_id).to_i <15
                %td=h strip_tags(Student.year_and_sem(session_done.try(:student).try(:intake)))
                %td
                  /=h session_done.confirmed_at.try(:getlocal).try(:strftime,"%d %b %Y, %l:%M %P")
                  =h l(session_done.confirmed_at+8.hours, format: "%d %b %Y, %l:%M %P")
                %td=h session_done.duration
                %td=h session_done.is_confirmed? ? image_tag("tick.png") : ""
                - if session_done.c_scope == "case" && !session_done.case_id.blank? && !session_done.student_discipline_case.nil?
                  - if count2==0
                    %td{:rowspan=>session_dones.count, :style=>"text-align:center; vertical-align: middle"}
                      - if session_done.student_discipline_case.counselor_feedback.blank?
                        =link_to t('student.counseling.add_session'), new_student_student_counseling_session_path(:caseid => session_done.case_id)
                      - else
                        %b=t('student.counseling.session_complete')
                        %br= link_to t('student.counseling.display_feedback'), feedback_referrer_student_student_counseling_sessions_path(:format =>'pdf',:id=>session_done.case_id )
                    - count2+=1
                - else
                  %td{:style=>"text-align: center;"}= t 'student.counseling.not_related'

  .right{style:"padding:0 30px; margin:0;"}= paginate @sdc, :theme => 'twitter-bootstrap-3'
