.row
  .col-md-10.col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t 'document.document_details'),"#details_edit", "data-toggle" => "tab"
      %li=link_to (t 'document.circulation_details'), "#circulation_details_edit", "data-toggle" => "tab"
      %li=link_to (t 'document.circulation1_action'), "#action_details_edit", "data-toggle" => "tab"  if @document.circulations.count > 0 
      
    .tab-content{style:"padding-top:1em"}
      #details_edit.tab-pane.active
        %br
        - if @document.staffs.pluck(:staff_id).include?(@current_user.userable_id)==true
          - if @current_user.roles.pluck(:authname).include?("administration") || @current_user.roles.pluck(:authname).include?("documents_module_manage") || @current_user.roles.pluck(:authname).include?("e_filing")
            = render 'tab_details_edit', :f => f
          - else
            = render 'tab_details'
          %br
        - else
          = render 'tab_details_edit', :f => f
        
      #circulation_details_edit.tab-pane
        %br  
        - if @document.staffs.pluck(:staff_id).include?(@current_user.userable_id)==true
          - if @current_user.roles.pluck(:authname).include?("administration") || @current_user.roles.pluck(:authname).include?("documents_module_manage") || @current_user.roles.pluck(:authname).include?("e_filing")
            = render 'tab_circulation_details_edit', :f => f
          - else
            = render 'tab_circulation_details'
          %br
        - else
          = render 'tab_circulation_details_edit', :f => f
      
      - if @document.circulations.count > 0 
        #action_details_edit.tab-pane
          %br
          - if @document.staffs.pluck(:staff_id).include?(@current_user.userable_id)==true || @current_user.roles.pluck(:authname).include?("administration") || @current_user.roles.pluck(:authname).include?("documents_module_manage")
            = render 'tab_action_details_edit', :f => f
            = f.hidden_field :id, :value => @document.id
          - else
            = render 'tab_action_details'
