= search_form_for @search, url: documents_path, class: "form-inline" do |f|
  %tr.search_row.hidden
    %td= f.text_field :serialno_cont, size: 2,  :class => "form-control"
    %td= f.text_field :refno_cont, size: 2,  :class => "form-control"
    %td= f.text_field :category_eq, size: 2,  :class => "form-control"
    %td= f.text_field :title_cont, size: 2,  :class => "form-control"
    %td= f.text_field :letterdt_eq, size: 2,  :class => "form-control"
    %td= f.text_field :letterxdt_eq, size: 2,  :class => "form-control"
    %td= f.text_field :from_cont, size: 2,  :class => "form-control"
    %td= f.text_field :_cont, size: 8,  :class => "form-control"
    %td.input-group
      = f.text_field :otherinfo_cont, size: 5,  :class => "form-control"  	  
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw