- model_class = Document
.col-md-8.col-md-offset-1
  %dl.dl-horizontal
    - @document.circulations.each do |y| 
      %dt= t 'document.cc1action' , :default => model_class.human_attribute_name(:cc1action) + ":" 
      %dd=h y.action_taken

      %dt=t 'document.cc1remarks', :default => model_class.human_attribute_name(:cc1remarks) + ":"
      %dd=h y.action_remarks 
      
      %dt=t 'document.action_by'
      %dd= y.staff.try(:staff_name_with_position)
      
      %dt=t 'document.attachment_action'
      %dd
        - if y.action.exists? then
          = y.action_file_name
          = link_to (t 'document.download'), y.action.url
          ||
          = link_to "ALT", y.action.url
        - else
          =t 'document.no_attachment'

      %dt=t 'document.cc1actiondate' 
      %dd=y.action_date.try(:strftime, '%d %b %Y')
        
      %dt= t 'document.cc1closed'
      %dd=h y.action_closed? ? (t 'yes2') : (t 'no2')  

      %hr