.col-md-offset-2 
  .form-group
    .col-sm-2.control-label
      = f.label t 'document.serial_no' , for: :serialno
    .col-md-3
      = f.text_field :serialno, :value => Document.set_serialno(@document.id), :readonly => true, class: 'form-control mandatory'
  

  .form-group
    .col-sm-2.control-label
      = f.label t 'document.ref_no' , for: :refno
    .col-md-5
      = f.text_field :refno, class: 'form-control mandatory'

  .form-group
    .col-sm-2.control-label
      = f.label t 'document.title2'  , for: :title
    .col-md-7
      = f.text_field :title, :size => '60', class: 'form-control mandatory'    

  .form-group
    .col-sm-2.control-label
      = f.label t 'document.category'  , for: :category
    .col-md-4
      = f.select :category, DropDown::DOCUMENT_CATEGORY, {:prompt => "Select"}, class: 'selectpicker mandatory'

  .form-group
    .col-sm-2.control-label
      = f.label t 'document.distribution_type', for: :distribution_type
    .col-md-7
      .form-inline
        .form-group
          = t 'document.internal'
          = f.radio_button :distribution_type, 1
        .form-group
          = t 'document.external'
          = f.radio_button :distribution_type, 2

  .form-group
    .col-sm-2.control-label
      = f.label t 'document.letterdt' , for: :letterdt
    .col-md-3
      = f.text_field :letterdt, class: 'form-control date_picker_reverse', value: @document.letterdt.try(:strftime, '%d-%m-%Y')

  .form-group
    .col-sm-2.control-label
      .internal{style: 'display: none;'}= f.label t 'document.letterxdt_recv'  , for: :letterxdt
      .external{style: 'display: none;'}= f.label t 'document.letterxdt_sent'  , for: :letterxdt
    .col-md-3
      = f.text_field :letterxdt, class: 'form-control date_picker_reverse', value: @document.letterxdt.try(:strftime, '%d-%m-%Y')

  .form-group
    .col-sm-2.control-label
      .internal{style: 'display: none;'}= f.label t 'document.from'   , for: :from
      .external{style: 'display: none;'}= f.label t 'document.to'   , for: :from
    .col-md-5
      = f.text_field :from, :size => '60', class: 'form-control mandatory' 

  .form-group
    .col-sm-2.control-label
      = f.label t 'document.stafffiled_id' , for: :prepared_by
    .col-md-3
      / TODO - revision required (amsas vs kskbjb - default kskbjb)
      - if @document.new_record?
        - if current_user.college.code=='kskbjb'
          - filedby = 164
      - else
        - filedby = @document.stafffiled_id 
      = f.collection_select :stafffiled_id, Staff.where('id IN(?)', @document.staffiled_list).order(name: :asc), :id, :name, {:selected => filedby}, {class: 'selectpicker', "data-width"=>"350px"}
      /= f.collection_select :stafffiled_id, Staff.order(name: :asc), :id, :name, {:include_blank => true}, {class: 'selectpicker', "data-width"=>"350px"}
      = f.hidden_field :prepared_by, :value=>current_user.userable_id
  
  .form-group
    .col-sm-2.control-label
      = f.label t 'document.file_no', for: :file_id
    .col-md-6
      = f.collection_select :file_id, Cofile.order(cofileno: :asc), :id, :file_no_and_name, {:include_blank => (t 'select')}, {class: 'selectpicker', "data-width"=>"500px"}
  
  .form-group
    .col-sm-2.control-label
      = f.label t 'document.uploaded'  , for: :data_dsiplay
    .col-md-5
      - if @document.data.exists? then
        = @document.data_file_name
        \#{link_to (t 'document.download'), @document.data.url}
      - else
        =t 'document.no_attachment'

  .form-group
    .col-sm-2.control-label
      = f.label t 'document.upload_change_file', for: :data
    .col-md-4
      = f.file_field :data, class: 'form-control'
      
:javascript
  var int=document.getElementById('document_distribution_type_1')
  var ext=document.getElementById('document_distribution_type_2')
  if (int.checked==false && ext.checked==false) 
  { int.checked=true;  }
  
  $("#document_distribution_type_1").each(function(){
    if (int.checked) {
      $(".internal").show();
      $(".external").hide();
    }
  });
  
  $("#document_distribution_type_2").each(function(){
    if (ext.checked) {
      $(".internal").hide();
      $(".external").show();
    }
  });
  
  $("#document_distribution_type_1").click(function(){
    if (int.checked) {
      $(".internal").show();
      $(".external").hide();
    }
  });
  
  $("#document_distribution_type_2").click(function(){
    if (ext.checked) {
      $(".internal").hide();
      $(".external").show();
    }
  });