.col-md-offset-2 
  .form-group
    .col-sm-2.control-label
      = f.label t 'document.circulate_minute_action', for: :otherinfo
      = f.label t 'document.minit_tindakan'
    .col-md-8
      = f.text_area :otherinfo, :size => '40x3'

  /.form-group
  /  .col-sm-2.control-label
  /    = f.label  t 'document.circulate_to' , for: :attached_name
  /  .col-md-8
  /    = f.text_field :to_name, class: 'form-control', data: {autocomplete_source: Staff.order(:name).map(&:name)}
  /    %i
  /      %br
  /      %font{:size => "2"}=t('document.recipient_remark')

  .form-group
    .col-sm-2.control-label
      = f.label  t 'document.circulate_minute_date' , for: :cc1date
    .col-md-3
      = f.text_field :cc1date, class: 'form-control mandatory date_picker'
		  
  .form-group
    .col-sm-2.control-label
      = f.label t 'document.action_type' , for: :cctype_id
    .col-md-4
      = f.select :cctype_id, DropDown::DOCUMENT_ACTION, {:prompt => "Select"}, class: 'selectpicker'
		  
  .form-group
    .col-sm-2.control-label
      = f.label t 'document.file_closed'  , for: :closed
    .col-md-3
      = f.check_box :closed