- model_class = Document
.col-md-8.col-md-offset-1
  %dl.dl-horizontal
    %dt= t 'document.circulate_minute_action' , :default => model_class.human_attribute_name(:closed) + ":" 
    %dt
      %font{:size => "-1"}= t 'document.minit_tindakan'
    %dd= @document.otherinfo

    %dt= t 'document.circulate_to' , :default => model_class.human_attribute_name(:circulate_to) + ":"
    %dd{style: 'padding-left: 70px;'}
      - cnt=0
      - @document.saved_recipients_list.each do |doc_recepient|
        - if doc_recepient.is_a?(Array)
          - for group in Group.all
            - if group.staffids_list==doc_recepient
              %u= (t 'group.groups')+group.name
              %br
          - for recepient in doc_recepient
            (#{cnt+=1}) #{Staff.find(recepient).staff_with_rank_position}
            %br
        - else
          (#{cnt+=1}) #{Staff.find(doc_recepient).staff_with_rank_position}
          %br
      %hr
    
    %dt= t 'document.action_type' , :default => model_class.human_attribute_name(:action) + ":"
    %dd= (DropDown::DOCUMENT_ACTION.find_all{|disp, value| value == @document.cctype_id.to_s}).map {|disp, value| disp} [0]

