- model_class = Document
.page-header
  %h1= t('document.list_of_document')
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_document_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        = fa_icon "print", text: (t 'actions.print')
        %b.caret
      %ul.dropdown-menu
        %li= link_to  (fa_icon "file-pdf-o", text: (t 'document.generate_report')),  document_report_documents_path(params.merge(format: 'pdf' ))

.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th{style: "width:8%;"}= sort_link(@search, :serialno, (t 'document.serial_no'))
        %th= sort_link(@search, :refno, (t 'document.ref_no'))
        %th= sort_link(@search, :category, (t 'document.category'))
        %th= sort_link(@search, :title, (t 'document.title2'))
        %th{style: "width:10%;"}= sort_link(@search, :letterdt, (t 'document.letter_date'))
        %th{style: "width:10%;"}= sort_link(@search, :letterxdt, (t 'document.received_date'))
        %th= sort_link(@search, :from, (t 'document.from'))
        %th{style: "width:10%;"}= sort_link(@search, :cc1date, (t 'document.circulation_date'))
        %th{style: "width:15%;"}=(t 'document.action_notifications')
        %th= sort_link(@search, :closed, (t 'document.file_closed'))

    %tbody
    = render "index_search"
    - @documents.group_by { |t| t.filedocer }.each do |filedocer, documents|
      %tr
        %td.group{:colspan => "10"}
          %span= filedocer [0]
      - for document in documents
        %tr
          %td= document.serialno
          %td= link_to document.refno, document_path(document)
          %td.centre= (DropDown::DOCUMENT_CATEGORY.find_all{|disp, value| value == document.category.to_s}).map {|disp, value| disp} [0]
          %td= document.title
          %td.centre= document.letterdt.try(:strftime, "%d %b %Y" )
          %td.centre= document.letterxdt.try(:strftime, "%d %b %Y" )
          %td= document.from
          %td.centre= document.cc1date.try(:strftime, "%d %b %Y" )
          %td
            - document.circulations.each_with_index do |circulation, ind|
              (#{ind+=1}) #{circulation.staff.name} - #{circulation.action_taken}
              %br
          %td.centre= document.closed? ? fa_icon("check", :border => 0) : ""

  .right{style:"padding:0 30px; margin:0;"}= paginate @documents_pagi, :theme => 'twitter-bootstrap-3'
  
:javascript
