- model_class = Document
.page-header
  %h1= t('document.list_of_document')#, :default => model_class.model_name.human.pluralize
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), "#", class: 'bogus'
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
    %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#", class: 'bogus'


.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th= sort_link(@search, :serialno, (t 'document.serial_no'))
        %th= sort_link(@search, :refno, (t 'document.ref_no'))
        %th= sort_link(@search, :category, (t 'document.category'))
        %th= sort_link(@search, :title, (t 'document.title'))
        %th{:style => "width:75px;"}= sort_link(@search, :letterdt, (t 'document.letter_date'))
        %th{:style => "width:75px;"}= sort_link(@search, :letterxdt, (t 'document.received_date'))
        %th= sort_link(@search, :from, (t 'document.from'))
        %th= sort_link(@search, :stafffiled_id, (t 'document.circulate_to'))
        %th= sort_link(@search, :action_notifications, (t 'document.action_notifications'))
        %th{style: "width:20%;"}= sort_link(@search, :closed, (t 'document.closed'))


    %tbody
    = render "index_search"
-#    - @tome_document_files.each do |filedocer_tome, documents_tome|    PROBLEM
      - documents_tome.each_with_index do |document,count|
        - document.staffs.each_with_index do |doc_recepient,ind|
          - if doc_recepient.id == User.current_user.staff_id && count == 0 &&
            = document.owner_ids.include?(User.current_user.staff_id)== false
            %tr
              %td{:colspan => "13", :style => "background-color:#EFF1F1;"}
              %BR
              %span{:style => "color:#218AFB;font-weight:bold;"}
            = h filedocer_tome

            - documents_tome.each_with_index do |document,count|
              - document.staffs.each_with_index do |doc_recepient, ind|
                - if doc_recepient.id == User.current_user.staff_id && (document.owner_ids.include? doc_recepient.id)== false
                  %tr
                    %td= h document.serialno
                    %td= h document.refno
                    %td= h document.category
                    %td= h document.title
                    %td= h l(document.letterdt)
                    %td= h l(document.letterxdt)
                    %td/
                  = h document.from
                %td
                  - document.staffs.each_with_index do |doc_recepient,ind|
                    - if doc_recepient.id == User.current_user.staff_id
                      - if ind!=0
                        %br/
                        %b
                        (#{ind+=1}) #{h doc_recepient.name}
                    - else
                      %br
                      (#{ind+=1}) #{h doc_recepient.name}
                %td= h document.otherinfo
                %td= h document.closed? ? image_tag("tick.png") : ""
                %td{:width => "10px"}= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => document
                %td{:width => "10px"}
                %td{:width => "10px"}
				
  .right{style:"padding:0 30px; margin:0;"}= paginate @documents, :theme => 'twitter-bootstrap-3'