.col-md-10.col-md-offset-1
  %table.table.table-bordered
    %tr
      %th{:colspan=>"5"}=t 'exam.evaluate_course.evaluation_scale'
    %tr
      %td.centre{:width=>"80px;"} 2
      %td.centre{:width=>"80px;"} 1 
      %td.centre{:width=>"80px;"} 0
    %tr
      %td.centre=t 'instructor_appraisal.always_practice'
      %td.centre=t 'instructor_appraisal.frequently_practice'
      %td.centre=t 'instructor_appraisal.rarely_practice'

%table.table.table-bordered
  %tr
    %th{:width=>"20px;"} Siri
    %th{:width=>"300px;"}=t 'instructor_appraisal.question'
    %th{:colspan=>"3"}= t 'instructor_appraisal.score'

  %tr
    %td 1
    %td=t 'instructor_appraisal.q1'
    - 2.downto(0) do |count|
      %td{:width=>"20px;"}
        - if @instructor_appraisal.q1.to_i == count  
          %b= @instructor_appraisal.q1
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 2
    %td=t 'instructor_appraisal.q2'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q2.to_i == count  
          %b= @instructor_appraisal.q2
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 3
    %td=t 'instructor_appraisal.q3'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q3.to_i == count  
          %b= @instructor_appraisal.q3
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 4
    %td=t 'instructor_appraisal.q4'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q4.to_i == count  
          %b= @instructor_appraisal.q4
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 5
    %td=t 'instructor_appraisal.q5'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q5.to_i == count  
          %b= @instructor_appraisal.q5
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 6
    %td=t 'instructor_appraisal.q6'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q6.to_i == count  
          %b= @instructor_appraisal.q6
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 7
    %td=t 'instructor_appraisal.q7'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q7.to_i == count  
          %b= @instructor_appraisal.q7
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 8
    %td=t 'instructor_appraisal.q8'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q8.to_i == count  
          %b= @instructor_appraisal.q8
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 9
    %td=t 'instructor_appraisal.q9'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q9.to_i == count  
          %b= @instructor_appraisal.q9
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 10
    %td=t 'instructor_appraisal.q10'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q10.to_i == count  
          %b= @instructor_appraisal.q10
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 11
    %td=t 'instructor_appraisal.q11'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q11.to_i== count  
          %b= @instructor_appraisal.q11
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 12
    %td=t 'instructor_appraisal.q12'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q12.to_i == count  
          %b= @instructor_appraisal.q12
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 13
    %td=t 'instructor_appraisal.q13'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q13.to_i == count  
          %b= @instructor_appraisal.q13
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 14
    %td=t 'instructor_appraisal.q14'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q14.to_i == count  
          %b= @instructor_appraisal.q14
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 15
    %td=t 'instructor_appraisal.q15'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q15.to_i == count  
          %b= @instructor_appraisal.q15
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 16
    %td=t 'instructor_appraisal.q16'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q16.to_i == count  
          %b= @instructor_appraisal.q16
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 17
    %td=t 'instructor_appraisal.q17'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q17.to_i == count  
          %b= @instructor_appraisal.q17
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 18
    %td=t 'instructor_appraisal.q18'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q18.to_i == count  
          %b= @instructor_appraisal.q18
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 19
    %td=t 'instructor_appraisal.q19'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q19.to_i == count  
          %b= @instructor_appraisal.q19
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 20
    %td=t 'instructor_appraisal.q20'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q20.to_i == count  
          %b= @instructor_appraisal.q20
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 21
    %td=t 'instructor_appraisal.q21'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q21.to_i == count  
          %b= @instructor_appraisal.q21
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 22
    %td=t 'instructor_appraisal.q22'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q22.to_i == count  
          %b= @instructor_appraisal.q22
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 23
    %td=t 'instructor_appraisal.q23'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q23.to_i == count  
          %b= @instructor_appraisal.q23
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 24
    %td=t 'instructor_appraisal.q24'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q24.to_i == count  
          %b= @instructor_appraisal.q24
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 25
    %td=t 'instructor_appraisal.q25'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q25.to_i == count  
          %b= @instructor_appraisal.q25
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 26
    %td=t 'instructor_appraisal.q26'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q26.to_i == count  
          %b= @instructor_appraisal.q26
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 27
    %td=t 'instructor_appraisal.q27'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q27.to_i == count  
          %b= @instructor_appraisal.q27
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 28
    %td=t 'instructor_appraisal.q28'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q28.to_i == count  
          %b= @instructor_appraisal.q28
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 29
    %td=t 'instructor_appraisal.q29'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q29.to_i == count  
          %b= @instructor_appraisal.q29
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 30
    %td=t 'instructor_appraisal.q30'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q30.to_i == count  
          %b= @instructor_appraisal.q30
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 31
    %td=t 'instructor_appraisal.q31'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q31.to_i == count  
          %b= @instructor_appraisal.q31
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 32
    %td=t 'instructor_appraisal.q32'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q32.to_i == count  
          %b= @instructor_appraisal.q32
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 33
    %td=t 'instructor_appraisal.q33'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q33.to_i == count  
          %b= @instructor_appraisal.q33
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 34
    %td=t 'instructor_appraisal.q34'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q34.to_i == count  
          %b= @instructor_appraisal.q34
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 35
    %td=t 'instructor_appraisal.q35'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q35.to_i == count  
          %b= @instructor_appraisal.q35
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 36
    %td=t 'instructor_appraisal.q36'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q36.to_i == count  
          %b= @instructor_appraisal.q36
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 37
    %td=t 'instructor_appraisal.q37'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q37.to_i == count  
          %b= @instructor_appraisal.q37
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 38
    %td=t 'instructor_appraisal.q38'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q38.to_i == count  
          %b= @instructor_appraisal.q38
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 39
    %td=t 'instructor_appraisal.q39'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q39.to_i == count  
          %b= @instructor_appraisal.q39
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 40
    %td=t 'instructor_appraisal.q40'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q40.to_i == count  
          %b= @instructor_appraisal.q40
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 41
    %td=t 'instructor_appraisal.q41'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q41.to_i == count  
          %b= @instructor_appraisal.q41
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 42
    %td=t 'instructor_appraisal.q42'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q42.to_i == count  
          %b= @instructor_appraisal.q42
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 43
    %td=t 'instructor_appraisal.q43'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q43.to_i == count  
          %b= @instructor_appraisal.q43
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 44
    %td=t 'instructor_appraisal.q44'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q44.to_i == count  
          %b= @instructor_appraisal.q44
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 45
    %td=t 'instructor_appraisal.q45'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q45.to_i == count  
          %b= @instructor_appraisal.q45
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 46
    %td=t 'instructor_appraisal.q46'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q46.to_i == count
          %b= @instructor_appraisal.q46
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 47
    %td=t 'instructor_appraisal.q47'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q47.to_i == count
          %b= @instructor_appraisal.q47
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      

  %tr
    %td 48
    %td=t 'instructor_appraisal.q48'
    - 2.downto(0) do |count|
      %td
        - if @instructor_appraisal.q48.to_i == count
          %b= @instructor_appraisal.q48
        - else 
          %font{:style=>"color: #D5D3D3;"}=count      


