.col-md-10.col-md-offset-1
  %table.table.table-bordered
    %tr
      %th{:colspan=>"5"}=t 'exam.evaluate_course.evaluation_scale'
    %tr
      %td.centre{:width=>"80px;"} 2
      %td.centre{:width=>"80px;"} 1 
      %td.centre{:width=>"80px;"} 0
    %tr
      %td.centre=t 'instructor_appraisal.always_practice'
      %td.centre=t 'instructor_appraisal.frequently_practice'
      %td.centre=t 'instructor_appraisal.rarely_practice'

.col-md-12
  %table.table.table-bordered
    %tr
      %th{:width=>"20px;"} Siri
      %th{:width=>"300px;"}=t 'instructor_appraisal.question'
      %th{:colspan=>"3"}= t 'instructor_appraisal.score'
    %tr
      %td{:colspan=>"2"}
      - 2.downto(0) do |count|
        %td=count
    
    - cnt=0  
    - @instructor_appraisal.data.each do |k, v|
      %tr
        %td{:width=>"20px;"}=cnt+=1
        %td{:width=>"300px;"}=t('instructor_appraisal'+".q#{cnt}")
        - 2.downto(0) do |count|
          %td{:width=>"20px;"}= radio_button "instructor_appraisal","q#{cnt}", "#{count}"
          
.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label t 'instructor_appraisal.qc_sent', for: :qc_sent
    .col-md-8
      = f.check_box :qc_sent

  .form-group
    .col-sm-2.control-label
      = f.label t 'instructor_appraisal.check_qc', for: :check_qc
    .col-md-8
      = f.collection_select :check_qc, Staff.joins(:positions).where('positions.unit ILIKE(?) OR positions.unit ILIKE(?)', '%Kompetensi%', '%Kawalan Mutu%').order(rank_id: :asc, name: :asc), :id, :staff_with_rank_unit, {:include_blank => (t 'select')}, {class: 'selectpicker', "data-width" => "300px"}