<p id="notice"><%= notice %></p>

<p>
  <strong>Staff:</strong>
  <%= @instructor_appraisal.staff_id %>
</p>

<p>
  <strong>Appraisal date:</strong>
  <%= @instructor_appraisal.appraisal_date %>
</p>

<p>
  <strong>Qc sent:</strong>
  <%= @instructor_appraisal.qc_sent %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @instructor_appraisal.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @instructor_appraisal.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @instructor_appraisal.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @instructor_appraisal.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @instructor_appraisal.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @instructor_appraisal.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @instructor_appraisal.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @instructor_appraisal.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @instructor_appraisal.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @instructor_appraisal.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @instructor_appraisal.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @instructor_appraisal.q12 %>
</p>

<p>
  <strong>Q13:</strong>
  <%= @instructor_appraisal.q13 %>
</p>

<p>
  <strong>Q14:</strong>
  <%= @instructor_appraisal.q14 %>
</p>

<p>
  <strong>Q15:</strong>
  <%= @instructor_appraisal.q15 %>
</p>

<p>
  <strong>Q16:</strong>
  <%= @instructor_appraisal.q16 %>
</p>

<p>
  <strong>Q17:</strong>
  <%= @instructor_appraisal.q17 %>
</p>

<p>
  <strong>Q18:</strong>
  <%= @instructor_appraisal.q18 %>
</p>

<p>
  <strong>Q19:</strong>
  <%= @instructor_appraisal.q19 %>
</p>

<p>
  <strong>Q20:</strong>
  <%= @instructor_appraisal.q20 %>
</p>

<p>
  <strong>Q21:</strong>
  <%= @instructor_appraisal.q21 %>
</p>

<p>
  <strong>Q22:</strong>
  <%= @instructor_appraisal.q22 %>
</p>

<p>
  <strong>Q23:</strong>
  <%= @instructor_appraisal.q23 %>
</p>

<p>
  <strong>Q24:</strong>
  <%= @instructor_appraisal.q24 %>
</p>

<p>
  <strong>Q25:</strong>
  <%= @instructor_appraisal.q25 %>
</p>

<p>
  <strong>Q26:</strong>
  <%= @instructor_appraisal.q26 %>
</p>

<p>
  <strong>Q27:</strong>
  <%= @instructor_appraisal.q27 %>
</p>

<p>
  <strong>Q28:</strong>
  <%= @instructor_appraisal.q28 %>
</p>

<p>
  <strong>Q29:</strong>
  <%= @instructor_appraisal.q29 %>
</p>

<p>
  <strong>Q30:</strong>
  <%= @instructor_appraisal.q30 %>
</p>

<p>
  <strong>Q31:</strong>
  <%= @instructor_appraisal.q31 %>
</p>

<p>
  <strong>Q32:</strong>
  <%= @instructor_appraisal.q32 %>
</p>

<p>
  <strong>Q33:</strong>
  <%= @instructor_appraisal.q33 %>
</p>

<p>
  <strong>Q34:</strong>
  <%= @instructor_appraisal.q34 %>
</p>

<p>
  <strong>Q35:</strong>
  <%= @instructor_appraisal.q35 %>
</p>

<p>
  <strong>Q36:</strong>
  <%= @instructor_appraisal.q36 %>
</p>

<p>
  <strong>Q37:</strong>
  <%= @instructor_appraisal.q37 %>
</p>

<p>
  <strong>Q38:</strong>
  <%= @instructor_appraisal.q38 %>
</p>

<p>
  <strong>Q39:</strong>
  <%= @instructor_appraisal.q39 %>
</p>

<p>
  <strong>Q40:</strong>
  <%= @instructor_appraisal.q40 %>
</p>

<p>
  <strong>Q41:</strong>
  <%= @instructor_appraisal.q41 %>
</p>

<p>
  <strong>Q42:</strong>
  <%= @instructor_appraisal.q42 %>
</p>

<p>
  <strong>Q43:</strong>
  <%= @instructor_appraisal.q43 %>
</p>

<p>
  <strong>Q44:</strong>
  <%= @instructor_appraisal.q44 %>
</p>

<p>
  <strong>Q45:</strong>
  <%= @instructor_appraisal.q45 %>
</p>

<p>
  <strong>Q46:</strong>
  <%= @instructor_appraisal.q46 %>
</p>

<p>
  <strong>Q47:</strong>
  <%= @instructor_appraisal.q47 %>
</p>

<p>
  <strong>Q48:</strong>
  <%= @instructor_appraisal.q48 %>
</p>

<p>
  <strong>Total mark:</strong>
  <%= @instructor_appraisal.total_mark %>
</p>

<p>
  <strong>Check qc:</strong>
  <%= @instructor_appraisal.check_qc %>
</p>

<p>
  <strong>Check date:</strong>
  <%= @instructor_appraisal.check_date %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @instructor_appraisal.checked %>
</p>

<%= link_to 'Edit', edit_staff_instructor_appraisal_path(@instructor_appraisal) %> |
<%= link_to 'Back', staff_instructor_appraisals_path %>
