= search_form_for @search, url: manager_admin_staff_staff_attendances_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display:none;"}
    %td 
      = t('staff_attendance.from')
      %br= t('staff_attendance.to')
    %td
      = f.text_field :logged_at_gt, :size=> 2,  :class =>  'form-control date-picker'
      = f.text_field :logged_at_lteq, :size=>2,  :class => 'form-control date-picker'
    %td &nbsp;
    %td= f.text_field :attended_search, size: 2,  :class => "form-control"
    %td= select_tag('q[keyword_search]',options_for_select(StaffAttendance.get_thumb_ids_unit_names(3).sort),:prompt=>t("helpers.prompt.all_unit"), class: 'form-control selectpicker')
    %td &nbsp;
    %td= f.text_field :approver_search, size: 2,  :class => "form-control"
    %td.input-group
      =select_tag('q[is_approved_eq]', options_for_select([[(t 'all_records'),''],[(t 'approved'),true],[(t 'rejected'),false]]), class: 'selectpicker',"data-width"=>'60px') 
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw

:javascript  
  $('.date-picker').datetimepicker({
   timepicker:true,
     format: "Y-m-d H:i:s",
     autoclose: true
   });    
   
 