= search_form_for @search, url: 'manager', class: "form-inline" do |f|
  %tr.search_row{style: "display:none;"}
    %td 
      = t('staff_attendance.from')
      %br= t('staff_attendance.to')
    %td{colspan: 2}
      = f.text_field :logged_at_gt, :size=> 2,  :class =>  'datetime_picker4_reverse form-control', value: @search.logged_at_gt.try(:strftime, '%d-%m-%Y %H:%M')
      = f.text_field :logged_at_lteq, :size=>2,  :class => 'datetime_picker4_reverse form-control', value: @search.logged_at_lteq.try(:strftime, '%d-%m-%Y %H:%M')
    %td= f.text_field :attended_search, size: 2,  :class => "form-control"
    %td= f.text_field :reason_cont, size: 2, :class => "form-control"
    %td= f.text_field :approver_search, size: 2,  :class => "form-control"
    %td.input-group
      =select_tag('q[is_approved_eq]', options_for_select([[(t 'all_records'),''],[(t 'approved'),true],[(t 'rejected'),false]]), class: 'selectpicker',"data-width"=>'60px') 
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw

   
 