- model_class = StaffAttendance
.page-header
  %h1= t('staff_attendance.title')
= render 'shared/flashes'

/%div{:style=>"font-size:10px;"}
/  .text-grey=@startdate.to_s+" - "+@enddate.to_s
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    - permitted_to? :create, :staff_staff_attendances do
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_staff_staff_attendance_path
  %ul.nav.navbar-nav
    - permitted_to? :import_excel, :staff_staff_attendances do
      %li= link_to content_tag(:li, fa_icon("file-excel-o", text: (t 'actions.import_excel'))), import_excel_staff_staff_attendances_path     
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
    - permitted_to? :attendance_list, :staff_staff_attendances do
      %li= link_to fa_icon("print", text: (t 'actions.print')), attendance_list_staff_staff_attendances_path(params.merge(format: 'pdf'))
/=StaffAttendance.staff_with_unit_groupbyunit
/.row.filter{style: "display:none;"}
/  .col-md-2
/=@unit_names
/%br
/=@thumb_ids
/- @group_sa_by_day=@keluar_balik.group_by{|t|t.group_by_thingy}
/-  @groupped_by_date.sort.reverse.each do |dd|
/  %br=dd[0]
/=@staff_attendances2.count

.row
  .col-md-12
    .alert.alert-warning
      %strong=t 'remarks'
      %ul
        %li=t('staff_attendance.date_range1')
        %li=t('staff_attendance.date_range2')
        %li=t('staff_attendance.require_complete_data')
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th{width: '10%'}=t 'staff_attendance.flag'
        %th{width: '25%'}= sort_link(@search, :thumb_id, (t 'staff_attendance.thumb_id'))
        %th{width: '10%'}= sort_link(@search, :logged_at, (t 'staff_attendance.logged_in'))
        %th{width: '10%'}= sort_link(@search, :logged_at, (t 'staff_attendance.logged_out'))
        %th{width: '13%'}= sort_link(@search, :shift, (t 'staff_attendance.shift'))
        %th{width: '8%'}= sort_link(@search, :late, (t 'staff_attendance.late'))
        %th{width: '8%'}= sort_link(@search, :early, (t 'staff_attendance.early'))
        %th{width: '8%'}= sort_link(@search, :action, (t 'staff_attendance.action'))
        %th{width: '8%'}= sort_link(@search, :ignore, (t 'staff_attendance.ignore'))
    %tbody
      = render "index_search"
      = form_tag actionable_staff_staff_attendances_path, :method => :put do
        - @ooo.each do |date, staff_attendances|       
          /create new array (& group by unit) for every new date
          - @groupped_sa = Array.new(@thumb_ids.count) { Array.new }
         
          /for displaying name of unit without attendance data
          - @hula= staff_attendances[staff_attendances.count-1].thumb_id
          - @last_person_oftheday=@group_sa_by_day[date].last.thumb_id
          - @group_sa_current_date = @group_sa_by_day[date]
          
          - staff_attendances.each_with_index do |sas,nos|    
            - @thumb_ids.each_with_index do |tis,index|
              - if tis.include?(sas.thumb_id)
                - @groupped_sa[index]<<sas
            
          /display date
          %tr
            %td.group{colspan: 9}
              = t 'staff_attendance.date'
              =date.to_date.try(:strftime, "%d-%m-%Y")
          
          /display unit & its corresponding staff attendances
          - @groupped_sa.each_with_index do |g_sa,ind|
            - if g_sa.count>0 
              %tr
                %td.green_text{colspan: 9}
                  = t 'staff_attendance.unit'
                  =@unit_names[ind]
                  /= g_sa.count
                       
            /this will display duplicates INs & OUTs - SAME 
            /- g_sa.each do |sa|
      
            - g_sa.group_by{|y|y.thumb_id}.each do |aastaff, sa_beforesort|
              - sa_beforesort.sort_by{|t|[t.log_type, t.logged_at]}.each_with_index do |sa, ind3|
              
                /while this will display first occurance of IN & last occurance of OUT - 23June2015
                /- if (ind3==0 && (sa.log_type=="I" || sa.log_type=="i")) || (ind3==sa_beforesort.count-1 && (sa.log_type=="O" || sa.log_type=="o"))
                /this part - same as used in Equery - punch card(Catechumen) & Attendance Details (inc Exeception) 
                /but may not appropiate for use in INDEX - as eg. 30 May 2013 - Aisamuddin (2 log ins & 2 log outs - OT? etc., admin may ignore where appropiate)
                
                /this will display duplicates INs & OUTs - SAME 
                - if (sa.log_type=="I" || sa.log_type=="i") || (sa.log_type=="O" || sa.log_type=="o")
                
                  /set current date & corresponding shift_id in use
                  - curr_date=sa.logged_at.strftime('%Y-%m-%d')
                  - shiftid = StaffShift.shift_id_in_use(curr_date, sa.thumb_id)
              
                  %tr
                    %td.centre
                      =h sa.r_u_late(shiftid) == "flag" ? image_tag("flag_red.png") : "" 
                      =h sa.r_u_early(shiftid) == "flag" ? image_tag("flag_red.png") : "" 
                    %td
                      =h link_to sa.attended.try(:staff_with_rank), staff_staff_attendance_path(sa)
                      ="("+sa.id.to_s+") ("+sa.thumb_id.to_s+")"
                    /%td{:style=>"text-align: center;"}=h sa.log_type == "I" ? sa.logged_at.in_time_zone('UTC').strftime('%l:%M %P') : "" 
                    %td.centre
                      - if current_user.college.code=='amsas'
                        =h sa.log_type.capitalize == "I" ? sa.logged_at.strftime('%H:%M') : "" 
                      - else
                        =h sa.log_type.capitalize == "I" ? sa.logged_at.strftime('%l:%M %P') : "" 
                    %td.centre
                      /- if sa.log_type == "O" || sa.log_type == "o"
                      /  /=h sa.logged_at.in_time_zone('UTC').strftime('%l:%M %P')
                      - if current_user.college.code=='amsas'
                        =h sa.log_type.capitalize == "O" ? sa.logged_at.strftime('%H:%M') : ""
                      - else
                        =h sa.log_type.capitalize == "O" ? sa.logged_at.strftime('%l:%M %P') : ""
                      
                    %td.centre
                      //working - draft - same result as shiftinuse
                      /- curr_date=sa.logged_at.strftime('%Y-%m-%d')
                      /- astaff=Staff.where('thumb_id=?',sa.thumb_id).first
                      /- abc=astaff.shift_histories.where('deactivate_date <?', curr_date)
                      /- if abc.count==0
                      /  = astaff.staff_shift.start_end
                      /- else
                      /  = abc.last.staff_shift.start_end
                      /  %font{size: "-2px", color: "grey"}
                      /    %br=(t 'staff_attendance.since')+" "+(abc.last.deactivate_date+1.day).strftime('%d-%m-%Y')
                      //Notes: deactivate_date - last date for prev staff_shift
                 
                      /Display shift in use (start time & end time plus 'activation date' [ie. 1 day after deactivate_date of prev shift used])
                      /TODO - StaffShifts table (inc StaffAttendance) -- to update 'college_id' column to support correct timing format for each college
                      - shiftinuse= StaffShift.shift_in_use(curr_date, sa.thumb_id)
                      - if shiftinuse.include?("~")==false
                        = shiftinuse
                      - else
                        = shiftinuse.split("~")[0]
                        %br
                        .small.text-grey=shiftinuse.split("~")[1]
                          
                    %td.centre
                      - if sa.log_type.capitalize == "I" 
                        - if sa.late_early(shiftid)=="-"
                          \-
                        - else
                          .text-red= sa.late_early(shiftid)
                      - else
                        \-
                    %td.centre
                      - if sa.log_type.capitalize == "O"
                        /NOTE - sa.late_early(shiftid)=="" - rescue for punctual return
                        - if sa.late_early(shiftid)=="-" || sa.late_early(shiftid)==""
                          \-
                        - else
                          .text-red= sa.late_early(shiftid)
                      - else 
                        \-
                    %td.centre
                      - if sa.trigger == nil && sa.r_u_late(shiftid) == "flag"
                        = check_box_tag "triggers[]", sa.id
                      - elsif sa.trigger == nil && sa.r_u_early(shiftid) == "flag"
                        = check_box_tag "triggers[]", sa.id
                      - elsif sa.trigger == true  
                        = image_tag("user_go.png")
                    %td.centre
                      - if sa.trigger == nil && sa.r_u_late(shiftid) == "flag"
                        = check_box_tag "ignores[]", sa.id
                      - elsif sa.trigger == nil && sa.r_u_early(shiftid) == "flag"
                        = check_box_tag "ignores[]", sa.id
                      - elsif sa.trigger == false
                        = fa_icon("check")
                    
          /display unit name for non-exist sa
          - if @hula == @last_person_oftheday && (params[:q]==nil || (params[:q][:keyword_search]==nil))
            - @groupped_sa_fornodata=Array.new(@thumb_ids.count) { Array.new }
            - @group_sa_current_date.each do |stfa|
              - @thumb_ids.each_with_index do |tis,index|
                - if tis.include?(stfa.thumb_id)
                  - @groupped_sa_fornodata[index]<< stfa
            - @groupped_sa_fornodata.each_with_index do |g_sa2,ind2|
              - if g_sa2.count == 0              
                %tr
                  %td.green_text{colspan: 9}
                    = t 'staff_attendance.unit'
                    = @unit_names[ind2]

        %tr
          %td{:colspan=>"4"} &nbsp;
          %td{:colspan=>"2"}= submit_tag t('actions.save_action') if @staff_attendances.count > 0
          %td{:colspan=>"3"}
                        
  .right{style:"padding:0 30px; margin:0;"}= paginate @staff_attendances, :theme => 'twitter-bootstrap-3'

