- model_class = StaffAttendance
.page-header
  %h1= t 'staff_attendance.title'
= render 'shared/flashes'

.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t 'staff_attendance.details'),"#staff_attendance_details", "data-toggle" => "tab"
      - if @staff_attendance.trigger==true
        %li=link_to (t 'staff_attendance.fingerprint'),"#staff_fingerprint", "data-toggle" => "tab"
      - if @staff_attendance.trigger==true
        %li=link_to (t 'staff_attendance.approval'),"#staff_attendance_approval", "data-toggle" => "tab"

    / display 
    .tab-content{style:"padding-top:1em"}
      #staff_attendance_details.tab-pane.active  
        = render 'tab_staff_attendance_details'
      - if @staff_attendance.trigger==true
        #staff_fingerprint.tab-pane
          = render 'tab_staff_fingerprint'
        #staff_attendance_approval.tab-pane
          = render 'tab_staff_approval'

.row
  .col-md-7.col-md-offset-2
    %hr
    .form-actions
      - curr_date=@staff_attendance.logged_at.strftime('%Y-%m-%d')
      - shiftid = StaffShift.shift_id_in_use(curr_date, @staff_attendance.thumb_id)
      - permitted_to? :manage, :staff_staff_attendances do
        = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('staff_attendance.list1'), staff_staff_attendances_path, :class => 'btn btn-default'
      - if @staff_attendance.r_u_late(shiftid.to_i) == "flag" || @staff_attendance.r_u_early(shiftid.to_i) == "flag"
        = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('staff_attendance.list2'), '/attendance/manager/', :class => 'btn btn-default'
      - if @staff_attendance.trigger==true && @staff_attendance.is_approved.nil?
        = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('staff_attendance.fingerprint'), edit_staff_staff_attendance_path(@staff_attendance),  :class => 'btn btn-primary' 
      - permitted_to? :approval, :staff_staff_attendances do
        - if @staff_attendance.trigger==true && (@staff_attendance.status || (@staff_attendance.reason && @staff_attendance.reason!="")) && @staff_attendance.thumb_id!=@current_user.userable.thumb_id
          = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('staff_attendance.approval2'),  '/attendance/approval?id='"#{@staff_attendance.id}",  :class => 'btn btn-primary' 
      - if @staff_attendance.is_approved.nil?
        = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
          staff_staff_attendances_path,                                                                                                    |
          :method => 'delete',                                                                                                           |
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
          :class => 'btn btn-danger'
