-model_class = StaffAttendance
.page-header
  %h1= t('staff_attendance.status_punchcard')
= render 'shared/flashes'

.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav.navbar-right
    %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#", class: 'bogus'

.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th{:rowspan=>"2"} No
        %th{:rowspan=>"2"}=t 'staff_attendance.thumb_id'
        %th{:rowspan=>"2"}=t 'staff_attendance.unit_department'
        - @year_group.each do |years, months|
          %th.centre{:colspan=>"#{months.count}"}=years
      %tr
        - @year_group.each do |y,m|
          - m.each do |month2|
            %th.centre=month2.to_date.strftime("%b")
        
    %tbody
      - @all_dates.keys.sort.each_with_index do |thumbid, index|
        %tr
          %td=index+1
          %td
            - unless @staff_thumb.include?(@all_thumbs[index])
              .text-red="#{t('staff_attendance.staff_not_exist')} (Thumb ID : #{@all_thumbs[index]})"
            - else
              - @staff_info.each do |staff|
                = staff.staff_thumb if staff.thumb_id == @all_thumbs[index]
          %td
            - unless @staff_thumb.include?(@all_thumbs[index])
              .text-red=t('no_record')
            - else
              - @staff_info.each do |staff|
                = staff.render_unit if staff.thumb_id == @all_thumbs[index]

          - @all_begin_months = []
          - for dailydate in @all_dates[thumbid].map(&:logged_at)
            - @all_begin_months << dailydate.in_time_zone('UTC').to_date.beginning_of_month.to_s
            - @in_column = []
            - count_status = 0
            - for every_month_begin in @all_begin_months.uniq
              - if count_status == 0
                - previous_stat = 1
                - previous_status = StaffAttendance.monthly_colour_status(every_month_begin, thumbid,previous_stat)
              - else
                - previous_status = StaffAttendance.monthly_colour_status(every_month_begin, thumbid,previous_stat)
              - 0.upto(@title_for_month.count-1) do |count2|
                - if every_month_begin == @title_for_month[count2]
                  - @in_column[count2] = previous_status

              - previous_stat = previous_status
              - count_status+=1

          - 0.upto(@title_for_month.count-1) do |count2|
            - if @in_column[count2] == 1
              %td.yellow_bg K
            - elsif @in_column[count2] == 2
              %td.green_bg H
            - elsif @in_column[count2] == 3
              %td.red_bg M
            - else
              %td &nbsp;
