.col-md-10.col-md-offset-1
  %dl.dl-horizontal
    %hr
    %dt=t 'staff.travel_request.mileage_replace'
    %dd=t 'staff.travel_claim.for'
        
.col-md-10.col-md-offset-3
  .row
    .col-md-2
      %b=t 'staff.travel_claim.first_500'
    .col-md-3
      = @travel_claim.km500
      km  X
      = @travel_claim.sen_per_km500
      %b=t 'staff.travel_claim.cent_per_km'
    .col-md-1= ringgols(@travel_claim.value_km500) 
  .row
    .col-md-2
      %b 501 km - 1,000 km 
    .col-md-3
      = @travel_claim.km1000
      km  X
      = @travel_claim.sen_per_km1000
      %b=t 'staff.travel_claim.cent_per_km'
    .col-md-1= ringgols(@travel_claim.value_km1000) 
  .row
    .col-md-2
      %b 1,001 km - 1,700 km
    .col-md-3
      =@travel_claim.km1700 
      km  X
      = @travel_claim.sen_per_km1700
      %b=t 'staff.travel_claim.cent_per_km'
    .col-md-1= ringgols(@travel_claim.value_km1700) 
  .row
    .col-md-2
      %b=t 'staff.travel_claim.km1701_and_above'
    .col-md-3
      = @travel_claim.kmmo
      km  X
      = @travel_claim.sen_per_kmmo
      %b=t 'staff.travel_claim.cent_per_km'
    .col-md-1= ringgols(@travel_claim.value_kmmo)   
  .row
    .col-md-5
      %br
      %b=t 'staff.travel_request.total'
    .col-md-1
      %br
      %font{:style=>"font-weight:bold; text-decoration:underline;"}
        = ringgols(@travel_claim.value_km)