.col-md-6.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label :is_approved
    .col-md-1
      = f.check_box :is_approved, :id => 'approve1'
    .col-md-3
      .span_submit1{:style=>"display:none;"}
        = f.text_field :approved_on, class: 'date_picker_reverse form-control', value: @travel_claim.approved_on.try(:strftime, '%d-%m-%Y')
      .small= t 'staff.travel_claim.approve_notify'
  .form-group
    .col-sm-2.control-label
      = f.label :approved_by
    .col-md-10
      =@travel_claim.approver.staff_with_rank
    
    
:javascript
$(document).ready(function(){
  $("input[id='approve1']").change(function() {  
    if($('#approve1').is(':checked')) { 
      $(".span_submit1").show("highlight"); 
    }else{
      $(".span_submit1").hide(""); 
    }
  });
  $("input[id='approve1']").each(function() {  
    if($('#approve1').is(':checked')) { 
      $(".span_submit1").show("highlight"); 
    }else{
      $(".span_submit1").hide(""); 
    }
  });
});