/TODO - to include / display - mileage / claim rates table - ref: ICMS
.col-md-10.col-md-offset-1
  %dl.dl-horizontal
    %hr

    %dt=(t 'staff.travel_claim.allowance').upcase
    %dd
      %b
        =t 'staff.travel_claim.type' 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        =t 'staff.travel_claim.days'
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        =t 'staff.travel_claim.value'
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        =t 'staff.travel_claim.receipt_no'
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        =t 'staff.travel_claim.total'
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        =t 'staff.travel_claim.claims_verification'
.col-md-10.col-md-offset-3
  - for travel_claim_allowance in @travel_claim.travel_claim_allowances
    .row
      .col-md-2=h (DropDown::ALLOWANCETYPE.find_all{|disp, value| value == travel_claim_allowance.expenditure_type}).map {|disp, value| disp}[0]
      .col-md-1= travel_claim_allowance.quantity 
      .col-md-1= ringgols(travel_claim_allowance.amount)
      .col-md-1= travel_claim_allowance.receipt_code
      .col-md-1= ringgols(travel_claim_allowance.total) 
      /display Finance Unit OK / Query & Notes
      .col-md-3
        - unless travel_claim_allowance.checker.nil?
          %font{style: 'color: red;'}= travel_claim_allowance.checker? ? "OK" : "Query : "+travel_claim_allowance.checker_notes
  .row
    .col-md-5
      %br
      %b=t 'staff.travel_request.total'
    .col-md-1
      %br
      %font{:style=>"font-weight:bold; text-decoration:underline;"}= ringgols(@travel_claim.allowas)
  %BR
  - if (@travel_claim.travel_claim_allowances.map(&:expenditure_type) & [31,32]).count > 0 
    .row
      .col-md-2
        %b= t('staff.travel_claim.accommodations')
        %br=t('staff.travel_claim.hotel_lodging')
      .col-md-4=simple_format(@travel_claim.accommodations)
  
/RECEIPTS section
.col-md-10.col-md-offset-1
  %dl.dl-horizontal
    %hr

    %dt=(t 'staff.travel_claim.receipts').upcase
    %dd
      %b
        =t 'staff.travel_claim.type' 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        =t 'staff.travel_claim.receipt_no'
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        =t 'staff.travel_claim.value'
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        =t 'staff.travel_claim.claims_verification'
.col-md-10.col-md-offset-3
  - for travel_claim_receipt in @travel_claim.travel_claim_receipts.where('expenditure_type IN (?)', (1..88) )
    .row
      .col-md-3=h (DropDown::RECEIPTTYPE.find_all{|disp, value| value == travel_claim_receipt.expenditure_type}).map {|disp, value| disp}[0]
      .col-md-2= travel_claim_receipt.receipt_code
      .col-md-1= ringgols(travel_claim_receipt.amount)
      /display Finance Unit OK / Query & Notes
      .col-md-3
        - unless travel_claim_receipt.checker.nil?
          %font{style: 'color: red;'}= travel_claim_receipt.checker? ? "OK" : "Query : "+travel_claim_receipt.checker_notes
  - for travel_claim_receipt in @travel_claim.travel_claim_receipts.where('expenditure_type = ?', 99)
    .row
      .col-md-2
        =h (DropDown::RECEIPTTYPE.find_all{|disp, value| value == travel_claim_receipt.expenditure_type}).map {|disp, value| disp} 
        (
        = ringgols(travel_claim_receipt.amount)
        )
      .col-md-2= travel_claim_receipt.receipt_code
      .col-md-1= ringgols(travel_claim_receipt.exchange_loss)
      /display Finance Unit OK / Query & Notes
      .col-md-1
        - unless travel_claim_receipt.checker.nil?
          %font{style: 'color: red;'}= travel_claim_receipt.checker? ? "OK" : "Query : "+travel_claim_receipt.checker_notes
  .row
    .col-md-5
      %br
      %b=t 'staff.travel_request.total'
    .col-md-3
      %br
      %font{:style=>"font-weight:bold; text-decoration:underline;"}= ringgols(@travel_claim.public_receipt_and_other_claims_receipt)
      
/Log value RM (receipt) + Above RECEIPTS TOTAL section
.col-md-10.col-md-offset-1
  %dl.dl-horizontal
    %hr

    %dt=t 'staff.travel_request.total'
    %dd
      = ringgols(@travel_claim.receipts)
      \=
      (
      =ringgols(@travel_claim.total_km_money)
      +
      =ringgols(@travel_claim.public_receipt_only)
      ) + 
      =ringgols(@travel_claim.other_claims_total)
    %dt &nbsp;
    %dd=t 'staff.travel_claim.travel_log_val_rm_public_receipt_other_claims'

/ADVANCE section
= render 'tab_advance'

/CLAIM verification by Finance Unit
.col-md-10.col-md-offset-1
  %dl.dl-horizontal
    %hr
    %dt= t 'staff.travel_claim.verification'
    %dd
      - if @travel_claim.is_checked==true
        = t 'staff.travel_claim.verified_ok'
      - elsif @travel_claim.is_checked==false
        %font{style: 'color: red;'}= t 'staff.travel_claim.return_to_staff'
   
    %dt= t 'staff.travel_claim.note_by_finance'
    %dd
      - if @travel_claim.is_checked==false
        %font{style: 'color: red;'}= @travel_claim.notes
      - elsif @travel_claim.is_checked==true
        = @travel_claim.notes