.col-md-6.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label :is_submitted
    .col-md-6
      =h @travel_claim.is_submitted? ? "Yes" + " on   " + l(@travel_claim.submitted_on).to_s : "No"
  .form-group
    .col-sm-2.control-label
      = f.label (t 'staff.travel_claim.verification')
    .col-md-2
      = f.radio_button :is_checked, 'false'
      = t 'staff.travel_claim.return_to_staff'
    .col-md-2
      = f.radio_button :is_checked, 'true'
      = t 'staff.travel_claim.verified_ok'
    .col-md-4.span_verified_ok{style: 'display: none; '}
      = f.label :approved_by
      = f.collection_select :approved_by, Staff.joins(:positions).where('positions.id IN(?)', @travel_claim.hods).order('positions.ancestry DESC'), :id, :staff_with_rank_position, {:include_blank => t('helpers.prompt.select_hod')}, {class: 'selectpicker', "data-width"=>'320px'} 

  .form-group
    .col-sm-2.control-label
      = f.label (t 'staff.travel_claim.note_by_finance')
    .col-md-8
      =f.text_field :notes, class: 'form-control'
      
:javascript
$(document).ready(function(){
  $("input[id='travel_claim_is_checked_true']").change(function() {  
    if($('#travel_claim_is_checked_true').is(':checked')) { 
      $(".span_verified_ok").show("highlight"); 
    }
  });
  $("input[id='travel_claim_is_checked_true']").each(function() {  
    if($('#travel_claim_is_checked_true').is(':checked')) { 
      $(".span_verified_ok").show("highlight"); 
    }
  });
  
  $("input[id='travel_claim_is_checked_false']").change(function() {  
    if($('#travel_claim_is_checked_false').is(':checked')) { 
      $(".span_verified_ok").hide(""); 
    }
  });
  $("input[id='travel_claim_is_checked_false']").each(function() {  
    if($('#travel_claim_is_checked_false').is(':checked')) { 
      $(".span_verified_ok").hide(""); 
    }
  });
});

