%fieldset
  - if @checklist == 0
    = f.hidden_field :_destroy
    .row
      .col-sm-2= f.text_field :quantity, class: 'form-control'
      .col-sm-3= f.select :expenditure_type, DropDown::ALLOWANCETYPE,{ :include_blank => (t 'select')},{ class: 'selectpicker'}
      .col-sm-2= f.text_field :amount, class: 'form-control'
      .col-sm-2= f.text_field :receipt_code, class: 'form-control'
      .col-sm-1
        = link_to content_tag(:i, "", class: "fa fa-trash-o"), data: {"data-toggle" => "tooltip", title: "Delete"}, class: "btn btn-danger remove_fields"
      .col-sm-2
        - unless f.object.checker.nil?
          %font{style: 'color: red;'}=f.object.checker? ? "OK" : "Query : "+f.object.checker_notes.to_s
  - else
    /= f.hidden_field :travel_claim_id, value: @travel_claim.id
    /= f.text_field :id, value: f.object.id
    .row
      .col-sm-1= f.object.quantity 
      .col-sm-2=h (DropDown::ALLOWANCETYPE.find_all{|disp, value| value == f.object.expenditure_type}).map {|disp, value| disp} [0]
      .col-sm-2=f.text_field :amount, readonly: 'readonly', value: f.object.amount, class: 'form-control'
      .col-sm-2= f.object.receipt_code 
      .col-sm-1
        = f.radio_button :checker, 'true' 
        OK
      .col-sm-1
        = f.radio_button :checker, 'false'
        Query
      .col-sm-3= f.text_field :checker_notes, class: 'form-control'

:javascript
$(document).ready(function(){
   $('.selectpicker').selectpicker();
});
