- model_class = TravelClaim
.page-header
  %h1= t 'staff.travel_claim.edit'

= render 'shared/flashes'

.row
  = form_for [:staff, @travel_claim], html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    = hidden_field_tag :redirect_location, staff_travel_claims_path 
      
    - if ((@travel_claim.staff_id==current_user.userable_id) || @is_admin==true)
      = render :partial => 'form', :locals =>{:f=>f}
      = f.hidden_field :jobtype, value: "editing"
      .row 
        .form-group
          .col-md-2.col-md-offset-3
            = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staff_travel_claim_path(@travel_claim), :class => 'btn btn-default'
          .col-md-2
            .div{style: "margin-left:-40px;"}
              = f.submit t('update'), class: "btn btn-primary"
    - else
      .centre
        %font{style: "color: red;"}=t 'staff.travel_claim.edit_by_applicant'
      %br
      .row
        .centre= link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staff_travel_claim_path(@travel_claim), :class => 'btn btn-default'
        
     
