- model_class = TravelClaim
.page-header
  %h1= t 'staff.travel_claim.title'
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_staff_travel_claim_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
    %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), travelclaim_list_staff_travel_claims_path(params.merge(format: 'pdf'))

.row.filter{style: "display:none;"}
  .col-md-2
  
.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th= sort_link(@search, :claim_month, (t 'staff.travel_claim.month_year'))
        %th= sort_link(@search, :staff_id, (t 'staff.travel_claim.name'))
        %th= sort_link(@search, :total, (t 'staff.travel_claim.total'))
        %th Status
   
    %tbody   
    = render "index_search"
    - @travel_claims.each do |travel_claim|
      %tr
        %td
          /- if travel_claim.staff.current_salary.nil? && (travel_claim.my_claim_status == t('claim.editing') || travel_claim.my_claim_status == t('claim.returned')) 
          - if travel_claim.staff.current_salary.nil?
            %font{:style => "color: red;"}= t 'staff.travel_claim.insert_current_salary'
          - else
            = link_to travel_claim.claim_month.try(:strftime,'%B %Y'), staff_travel_claim_path(travel_claim)
        %td=h travel_claim.staff.staff_with_rank
        %td
          - if travel_claim.travel_requests.count > 0 && travel_claim.travel_requests.map(&:own_car).uniq.include?(true)
            - if travel_claim.staff.vehicles.count > 0 &&  travel_claim.staff.current_salary!=nil
              /--own car-(mileage claim)
              =h ringgols(travel_claim.total_claims) 
            - else
              - if travel_claim.staff.current_salary.nil?
                %font{:color=>"red"}*1
              - if travel_claim.staff.vehicles.count == 0
                %font{:color=>"red"}*2
          - else
            - if travel_claim.staff.current_salary.nil?
              %font{:color=>"red"}*1
            - else
              =h ringgols(travel_claim.total_claims)
        %td=h travel_claim.my_claim_status(@current_user).titleize
  %br
  %font{:color => "red", :size=>-2}
    ="*1 - "+(t 'staff.travel_claim.insert_current_salary')
    %br
    ="*2 - "+(t 'staff.travel_claim.insert_vehicle')