- model_class = TravelClaim
.page-header
  %h1=t('staff.travel_claim.new') 
  
= render 'shared/flashes'

.row.fluid
  = form_for [:staff, @travel_claim], html: { class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    
    - @my_approved_unclaimed_requests = TravelRequest.where('staff_id =? AND hod_accept=? and travel_claim_id is null', current_user.userable.id, true)
    
    - if @my_approved_unclaimed_requests.count < 1 
      .col-md-offset-3
        %span{style: 'color: red;'}=t 'staff.travel_claim.no_unclaimed_requests'
        .row
          .col-md-6
            %hr
    - else      
      = render :partial => 'form', :locals => {:f => f}        
      = f.hidden_field :college_id, value: current_user.college_id
    .col-md-offset-1
      .form-group
        .col-sm-offset-2.col-sm-1
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staff_travel_claims_path, :class => 'btn btn-default'
        .col-sm-offset-1.col-sm-2
          = f.submit t('create'), class: "btn btn-primary"

