- model_class = Staffsearch2
.page-header
  %h1=t('equery.staff.search')
= render 'shared/flashes'

- if @staffsearch2.staffs.count >= Staff.all.count
  - disp=(t 'equery.staff.list_all')
- else
  - disp=(t 'equery.result')

.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to disp,"#search", "data-toggle" => "tab"

    / display 
    .tab-content{style:"padding-top:1em"}
      #search_details.tab-pane.active  
            
        /additional heading
        .col-md-8.col-md-offset-2
          %dl.dl-horizontal
            - unless @staffsearch2.keywords.blank?
              %dt=(t 'equery.ptdo.staff')
              %dd=@staffsearch2.keywords
            
            %dt=(t'equery.staff.total')
            %dd
              =@staffsearch2.staffs.count
              =" (#{t 'equery.ptdo.total'} : #{Staff.all.count})"
          .row     
            .small
              =t 'equery.remark'
              %ul
                %li=t 'equery.staff.warrant_exist'
                %li=t 'equery.staff.completed_grade_staff'
                %li=t 'equery.staff.completed_position'

        /display result
        .col-md-11
          %hr
          - if @staffsearch2.staffs.count > 0
            .row
              .right 
                %b LAMPIRAN A
            .row
              %BR
              .centre 
                MAKLUMAT PERJAWATAN DI KOLEJ-KOLEJ LATIHAN
                <br>
                =@staffsearch2.college.code=='kskbjb' ? "KEMENTERIAN KESIHATAN MALAYSIA" : "PUSAT PENDIDIKAN DAN LATIHAN APMM"
                SEHINGGA 
                =l((Position.order(updated_at: :desc).select(:updated_at).map(&:updated_at).first), :format =>'%d-%m-%Y')
                %BR
            .row
              .left="KOLEJ: #{@staffsearch2.college.code=='kskbjb' ? 'KOLEJ SAINS KESIHATAN BERSEKUTU JOHOR BAHRU (KSKBJB)' : 'AKADEMI MARITIM SULTAN AHMAD SHAH (AMSAS)'}"
      
            %table.table.table-bordered.table-condensed
              %head
                %tr.bg-grey
                  /%th{width: '5%'} No
                  /%th=t 'staff.position'
                  /%th=t 'staff.staffgrade_id'
                  /%th=t 'staff.name'
                  /%th=t 'staff.icno'
                  
                  %th{width: '5%', valign: "top", rowspan: 2}BIL
                  %th{width: '5%', valign: "top", rowspan: 2}BUT.
                  %th{width: '5%', valign: "top", rowspan: 2}JAWATAN
                  %th{width: '5%', valign: "top", rowspan: 2}GRED
                  %th{width: '5%', valign: "top", rowspan: 2}JUM JWT
                  %th{width: '5%', valign: "top", rowspan: 2}ISI
                  %th{colspan: 3}STATUS PENGISIAN
                  %th{width: '5%', valign: "top", rowspan: 2}KSG
                  %th{width: '5%', valign: "top", rowspan: 2}NAMA PENYANDANG
                  %th{width: '5%', valign: "top", rowspan: 2}NO. K/P / PASSPORT
                  %th{width: '5%', valign: "top", rowspan: 2}JANTINA (L/P)
                  %th{width: '5%', valign: "top", rowspan: 2}BIDANG KEPAKARAN / SUB-KEPAKARAN
                  %th{width: '5%', valign: "top", rowspan: 2}TARIKH WARTA PAKAR
                  %th{width: '5%', valign: "top", rowspan: 2}PENEMPATAN
                  %th{colspan: 2}PINJAM KE
                  %th{colspan: 2}PINJAM DARI
                  %th{width: '5%', valign: "top", rowspan: 2}CATATAN *
                %tr.bg-grey
                  %th{width: '5%', valign: "top"}HAKIKI
                  %th{width: '5%', valign: "top"}KONTRAK
                  %th{width: '5%', valign: "top"}KUP
                  %th{width: '5%', valign: "top"}Akt.
                  %th{width: '5%', valign: "top"}Penempatan
                  %th{width: '5%', valign: "top"}Akt.
                  %th{width: '5%', valign: "top"}Penempatan</tr>
              
              
              - positions_wo_grade=[] 
              - positions_w_grade=[]
              /either staffgrade_id/postinfo_id must exist (if butiran exist, grade definitely exist!) 
              /=@staffsearch2.staffs.count
              /=@staffsearch2.staffs.map(&:id)
              /= @positions.count
              /huhu
              /- for position in @positions
              - for position in Position.where(staff_id: @staffsearch2.staffs.map(&:id))
                - unless position.staffgrade.blank? && position.postinfo_id.blank?
                  /hide display of position if both butiran & grade not exist
                  - if position.staffgrade.blank? 
                    - positions_wo_grade << position
                  - else 
                    - positions_w_grade << position
                    
              
              
              %body
                /- no=0
                /- for staff in @staffsearch2.staffs
                /  %tr
                /    %td=no+=1
                /    %td
                /      - for position in staff.positions
                /        = position.name
                /        <BR>
                /    %td=staff.staffgrade.try(:name)
                /    %td=staff.staff_with_rank
                /    %td=staff.formatted_mykad
                
                
                -  just_a_counter = 0 
                /START-part 1 (positions with staff grades)
                
                /NOTE - sort AMSAS positions according to combined maritime+non maritime grades
                - if @staffsearch2.college.code=='kskbjb'
                  - posts=positions_w_grade.group_by{|x|x.staffgrade.name.scan(/[a-zA-Z]+|[0-9]+/)[1].to_i}.sort.reverse!
                - elsif @staffsearch2.college.code=='amsas'
                  - posts=Employgrade.sorted_staff_bygrade(positions_w_grade).uniq.group_by{|x|x.staffgrade_id}

                /- positions_w_grade.group_by{|x|x.staffgrade.name.scan(/[a-zA-Z]+|[0-9]+/)[1].to_i}.sort.reverse!.each do |staffgrade2, positions_of_grade_no|
                /- Employgrade.sorted_staff_bygrade(positions_w_grade).group_by{|x|x.staffgrade_id}.each do |staffgrade2, positions_of_grade_no|
                - posts.each do |staffgrade2, positions_of_grade_no|
                  /- positions_of_grade_no.group_by{|x|x.staffgrade.name.scan(/[a-zA-Z]+|[0-9]+/)[0]}.sort.reverse!.each do |staffgrade, positions_by_grade| 
                  /- Employgrade.sorted_staff_bygrade(positions_of_grade_no).group_by{|x|x.staffgrade_id}.each do |staffgrade, positions_by_grade| 
                  
                  /NOTE - sort AMSAS positions according to combined maritime+non maritime grades
                  - if @staffsearch2.college.code=='kskbjb'
                    - posts2=positions_of_grade_no.group_by{|x|x.staffgrade.name.scan(/[a-zA-Z]+|[0-9]+/)[0]}.sort.reverse!
                  - elsif @staffsearch2.college.code=='amsas'
                    - posts2=Employgrade.sorted_staff_bygrade(positions_of_grade_no).uniq.group_by{|x|x.staffgrade_id}
                  
                  - posts2.each do |staffgrade, positions_by_grade| 
                    - positions_by_grade_w_butiran=[]
                    - positions_by_grade_wo_butiran=[]
                    - positions_by_grade.each do |position|
                      - unless position.postinfo_id.blank? 
                        - positions_by_grade_w_butiran << position 
                      - else
                        - positions_by_grade_wo_butiran << position 
                    - positions_by_grade_w_butiran.group_by(&:postinfo_id).each do |butiran, positions|
                      - positions.sort_by(&:name).each_with_index do |position, index| 
                        - just_a_counter += 1
                        - total_position = position.postinfo.post_count
                        - occupied_position = Position.where('postinfo_id=? AND staff_id IS NOT NULL',position.postinfo_id).count
                        - available_position = total_position-occupied_position
                        - status_hakiki = Position.where('postinfo_id=? AND status=? AND staff_id IS NOT NULL',position.postinfo_id, 1).count
                        - status_kontrak = Position.where('postinfo_id=? AND status=? AND staff_id IS NOT NULL',position.postinfo_id, 2).count
                        - status_kup = Position.where('postinfo_id=? AND status=? AND staff_id IS NOT NULL',position.postinfo_id, 3).count
                        - if @staffsearch2.blank_post==0
                          - post_rowspan=positions.count
                        - else
                          - post_rowspan=total_position
                        %tr
                          %td.centre=just_a_counter
                          - if index == 0 
                            %td.centre{rowspan: "#{post_rowspan}"}=butiran.blank? ? "-" : Postinfo.find(butiran.to_i).details
                            %td.left=h position.name 
                            %td.centre{rowspan: "#{post_rowspan}"}=h position.staffgrade.blank? ? "-" : position.staffgrade.name
                            %td.centre{rowspan: "#{post_rowspan}"}=butiran.blank? ? "-" : total_position
                            %td.centre{rowspan: "#{post_rowspan}"}=butiran.blank? ? "-" : occupied_position
                            %td.centre{rowspan: "#{post_rowspan}"}=butiran.blank? ? "-" : status_hakiki
                            %td.centre{rowspan: "#{post_rowspan}"}=butiran.blank? ? "-" : status_kontrak
                            %td.centre{rowspan: "#{post_rowspan}"}=butiran.blank? ? "-" : status_kup
                            %td.centre{rowspan: "#{post_rowspan}"}=butiran.blank? ? "-" : available_position
                          - else
                            %td.left=h position.name 
                          %td.left=h position.staff.blank? ? "-" : position.staff.name 
                          %td.centre=h position.staff.blank? ? "-" : position.staff.formatted_mykad
                          %td.centre
                            - unless position.staff.blank?
                              = position.staff.gender == 1 ? "L" : "P"                             
                            %td.centre="-"
                            %td.centre="-"
                            %td &nbsp;
                            %td &nbsp;
                            %td &nbsp;
                            %td &nbsp;
                            %td &nbsp;
                            %td &nbsp;
                            
                        /=total_position
                        /=positions.count
                        /=index
                        /yyy
                        
                        - if positions.count < total_position && index==positions.count-1 && @staffsearch2.blank_post==1
                          - (index+1).upto(total_position-1) do |no|
                            %tr
                              %td.centre=just_a_counter+=1
                              %td.centre="-"
                              %td.centre="-"
                              %td.centre="-"
                              %td.centre="-"
                              %td.centre="-"
                              %td.centre="-"
                              %td &nbsp;
                              %td &nbsp;
                              %td &nbsp;
                              %td &nbsp;
                              %td &nbsp;
                        
                    - positions_by_grade_wo_butiran.group_by(&:postinfo_id).each do |butiran, positions|
                      - positions.sort_by(&:name).each_with_index do |position, index|
                        - just_a_counter += 1
                        %tr
                          %td.centre=just_a_counter
                          %td.centre="-"
                          %td.left=h position.name
                          %td.centre=h position.staffgrade.blank? ? "-" : position.staffgrade.name
                          %td.centre="-"
                          %td.centre="-"
                          %td.centre="-"
                          %td.centre="-"
                          %td.centre="-"
                          %td.centre="-"
                          %td.left=h position.staff.blank? ? "-" : position.staff.name
                          %td.centre=h position.staff.blank? ? "-" : position.staff.formatted_mykad 
                          %td.centre
                            - unless position.staff.blank? 
                              = position.staff.gender == 1 ? "L" : "P"
                            - else
                              &nbsp;
                          %td.centre="-"
                          %td.centre="-"
                          %td &nbsp;
                          %td &nbsp;
                          %td &nbsp;
                          %td &nbsp;
                          %td &nbsp;
                          %td &nbsp;

                /END-part 1 (positions with staff grades)
                
                /START-part 2 (positions WITHOUT staff grades)
                - positions_wo_grade.group_by(&:staffgrade_id).each do |staffgrade2, positions_of_grade_no|
                  /all positions listed here has no staff grade (employgrade) at all-
                  - positions_of_grade_no.group_by(&:staffgrade_id).each do |staffgrade, positions_by_grade| 
                    - positions_by_grade_w_butiran=[] 
                    - positions_by_grade_wo_butiran=[]
                    - positions_by_grade.each do |position|
                      - unless position.postinfo_id.blank?
                        - positions_by_grade_w_butiran<< position
                      - else 
                        - positions_by_grade_wo_butiran<< position
                      - positions_by_grade_w_butiran.group_by(&:postinfo_id).each do |butiran, positions|
                        - positions.sort_by(&:name).each_with_index do |position, index|
                          - just_a_counter += 1
                          - total_position = position.postinfo.post_count
                          - occupied_position = Position.where('postinfo_id=? AND staff_id IS NOT NULL',position.postinfo_id).count
                          - available_position = total_position-occupied_position
                          - status_hakiki = Position.where('postinfo_id=? AND status=? AND staff_id IS NOT NULL',position.postinfo_id, 1).count
                          - status_kontrak = Position.where('postinfo_id=? AND status=? AND staff_id IS NOT NULL',position.postinfo_id, 2).count
                          - status_kup = Position.where('postinfo_id=? AND status=? AND staff_id IS NOT NULL',position.postinfo_id, 3).count
                          %tr
                            %td.centre=just_a_counter
                            - if index == 0 
                              %td.centre{rowspan="#{positions.count}"}=butiran.blank? ? "-" : Postinfo.find(butiran.to_i).details
                              %td.left=h position.name
                              %td.centre{rowspan="#{positions.count}"}=h position.staffgrade.blank? ? "-" : position.staffgrade.name
                              %td.centre{rowspan="#{positions.count}"}=butiran.blank? ? "-" : total_position
                              %td.centre{rowspan="#{positions.count}"}=butiran.blank? ? "-" : occupied_position 
                              %td.centre{rowspan="#{positions.count}"}=butiran.blank? ? "-" : status_hakiki
                              %td.centre{rowspan="#{positions.count}"}=butiran.blank? ? "-" : status_kontrak
                              %td.centre{rowspan="#{positions.count}"}=butiran.blank? ? "-" : status_kup
                              %td.centre{rowspan="#{positions.count}"}=butiran.blank? ? "-" : available_position
                            - else
                              %td.left=h position.name
                            %td.left=h position.staff.blank? ? "-" : position.staff.name
                            %td.centre=h position.staff.blank? ? "-" : position.staff.formatted_mykad
                            %td.centre
                              - unless position.staff.blank?
                                = position.staff.gender == 1 ? "L" : "P"
                              - else
                                &nbsp;
                            %td.centre=" - "
                            %td.centre=" - "
                            %td &nbsp;
                            %td &nbsp;
                            %td &nbsp;
                            %td &nbsp;
                            %td &nbsp;
                            %td &nbsp;

                      - positions_by_grade_wo_butiran.group_by(&:postinfo_id).each do |butiran, positions|
                        - positions.sort_by(&:name).each_with_index do |position, index| 
                          - just_a_counter += 1
                          %tr
                            %td.centre=just_a_counter
                            %td.centre=" - "
                            %td.left=h position.name
                            %td.centre=h position.staffgrade.blank? ? "-" : position.staffgrade.name
                            %td.centre=" - "
                            %td.centre=" - "
                            %td.centre=" - "
                            %td.centre=" - "
                            %td.centre=" - "
                            %td.centre=" - "
                            %td.left=h position.staff.blank? ? "-" : position.staff.name 
                            %td.centre=h position.staff.blank? ? "-" : position.staff.formatted_mykad
                            %td.centre
                              - unless position.staff.blank?
                                - if position.staff.gender == 1 
                                  L
                                - else
                                  P
                              - else
                                &nbsp;
                            %td.centre=" - "
                            %td.centre=" - "
                            %td &nbsp;
                            %td &nbsp;
                            %td &nbsp;
                            %td &nbsp;
                            %td &nbsp;
                            %td &nbsp;

                /END-part 2 (positions WITHOUT staff grades)
                
                //Display existing postinfo - count accordingly
                - existing_postinfo=Position.joins(:postinfo).where(staff_id: @staffsearch2.staffs.map(&:id))
                %tr
                  %td{colspan: 3}JUMLAH
                  %td &nbsp;
                  %td.centre=positions_count=existing_postinfo.group_by{|x|x.postinfo}.keys.sum(&:post_count)
                  %td.centre=positions_insert=existing_postinfo.count
                  %td.centre=positions_hakiki=existing_postinfo.where(status: 1).count
                  %td.centre=positions_kontrak=existing_postinfo.where(status: 2).count
                  %td.centre=positions_kup=existing_postinfo.where(status: 3).count
                  %td.centre=positions_available =  positions_count-positions_insert
                  %td &nbsp;
                  %td &nbsp;
                  %td &nbsp;
                  %td &nbsp;
                  %td &nbsp;
                  %td &nbsp;
                  %td &nbsp;
                  %td &nbsp;
                  %td &nbsp;
                  %td &nbsp;
                  %td &nbsp;

.row
  .col-md-6.col-md-offset-3
    %hr
    .form-actions
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left") +" #{t('equery.title')} - #{t('staff.title')}", "/equery_reports?query_module=1", class: 'btn btn-primary'
      %span{style: 'padding-left: 20px;'}= link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), new_equery_report_staffsearch2_path,  :class => 'btn btn-default'

