= search_form_for [:average_instructor, @search], url: staff_average_instructors_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td= f.text_field :instructor_name_or_instructor_rank_name_or_instructor_rank_shortname_cont, size: 8, :class => "form-control" 
    %td= f.text_field :programme_name_cont, size: 8, :class => "form-control" 
    %td= f.text_field :evaluate_date_eq, size: 8,  :class => "form-control date_picker_reverse", value: @search.evaluate_date.try(:strftime, '%d-%m-%Y')
    %td= f.text_field :title_cont, class: 'form-control'
    %td= f.text_field :objective_cont, class: 'form-control'
    %td= select_tag('q[delivery_type_eq]',options_for_select([[(t 'actions.all_records'),'']]+DropDown::DELIVERY_TYPE), class: 'selectpicker',"data-width"=>'125px')
    %td.input-group
      =f.text_field :evaluator_name_or_evaluator_rank_name_or_evaluator_rank_shortname_cont, size: 8,  :class => "form-control"
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw