.col-md-8.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label t 'asset.loan.is_endorsed', for: :is_endorsed
    .col-md-6
      .row
        .col-md-2= f.radio_button :is_endorsed, true
        .col-md-2= t 'endorsed'
        .col-md-2= f.radio_button :is_endorsed, false
        .col-md-2= t 'not_endorsed'
  .form-group
    .col-sm-2.control_label
      = f.label t 'asset.loan.endorsed_date', for: :endorsed_date
    .col-md-4
      = f.text_field :endorsed_date, class: 'date_picker_reverse form-control mandatory', :value => Date.today.strftime('%d-%m-%Y')
      
  .form-group
    .col-sm-2.control-label
      =f.label t 'asset.loan.endorsed_note', for: :endorsed_note
    .col-md-6
      = f.text_area :endorsed_note, :size=>'60x4' , class: 'form-control'

  .form-group
    .col-sm-2.control-label
      = f.label t 'asset.loan.loan_officer', for: :loan_officer
    .col-md-4
      =f.collection_select :loan_officer, Staff.joins(:positions).where('positions.unit ILIKE(?) or staffs.id=?', '%Kenderaan%', @asset_loan.loaned_by).uniq.order(rank_id: :asc, name: :asc), :id, :staff_with_rank, {include_blank: (t 'select')}, {class: 'selectpicker mandatory', "data-width"=>'350px'}    

