- if @asset_loan.new_record? == true
  - loaner = current_user.userable_id
- else
  - loaner = @asset_loan.staff_id
.col-md-8.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label t 'asset.loan.staff_id', for: :staff_id
    .col-md-4
      = f.collection_select :staff_id, Staff.all.order(rank_id: :asc, name: :asc), :id, :staff_with_rank, {:include_blank =>t('helpers.prompt.select_staff'), :selected=>loaner},{class: 'selectpicker', "data-width"=>'350px'}               
  .form-group
    .col-sm-2.control-label
      = f.label t 'asset.loan.reasons', for: :reasons
    .col-md-6
      = f.text_field :reasons, class: 'form-control'
  .form-group
    .col-sm-2.control-label
      = f.label t 'asset.loan.requested_for', for: :loaned_on
    .col-md-3
      = f.text_field :loaned_on, class: 'date_picker_reverse form-control', value: @asset_loan.loaned_on.try(:strftime, '%d-%m-%Y')
  .form-group
    .col-sm-2.control-label
      = f.label t 'asset.loan.returned_date'
    .col-md-3
      = f.text_field :expected_on, class: 'date_picker_reverse form-control', value: @asset_loan.expected_on.try(:strftime, '%d-%m-%Y')

  .form-group
    .col-sm-2.control-label
      = f.label t 'asset.loan.driver_id', for: :driver_id
    .col-md-4
      = f.collection_select :driver_id, Staff.all.order(rank_id: :asc, name: :asc), :id, :staff_with_rank, {:include_blank =>t('helpers.prompt.select_staff')},{class: 'selectpicker', "data-width"=>'350px'}