.col-md-6.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label t 'asset.loan.is_approved', for: :is_approved
    .col-md-8
      .row
        .col-md-2= f.radio_button :is_approved, true, :id => 'is_approved_true'  , :class => 'approval' 
        .col-md-2= t 'asset.loan.approve'
        .col-md-2= f.radio_button :is_approved, false, :id => 'is_approved_false' , :class => 'approval' 
        .col-md-2= t 'asset.loan.reject'
  .form-group
    .col-sm-2.control_label
      = f.label t 'asset.loan.approved_date', for: :approved_date
    .col-md-4
      = f.text_field :approved_date, class: 'date_picker_reverse form-control', :value => Date.today.strftime('%d-%m-%Y')

  .form-group
    .col-sm-2.control-label
      =f.label t 'asset.loan.approved_note', for: :approved_note
    .col-md-6
      = f.text_area :approved_note, :size=>'60x4' , class: 'form-control'
 
  .form-group
    .col-sm-2.control-label.notify_hod
      = f.label t 'asset.loan.approve_hod', for: :hod
    .col-md-4.notify_hod
      = f.collection_select :hod, Staff.joins(:positions).where('positions.unit=?', 'Ketua Tadbir Bantuan Operasi Latihan'), :id, :staff_with_rank, {:include_blank =>t('helpers.prompt.select_staff')},{class: 'selectpicker', "data-width"=>'350px'}
      
:javascript

$(document).ready(function(){ 
  $("input[class='approval']").each(function() {  
    if($('#is_approved_true').is(':checked')) { 
      $(".notify_hod").show("highlight");
    }else if ($j('#is_approved_false').is(':checked')){
      $(".notify_hod").hide("highlight");
    }
  });

  $("input[class='approval']").change(function() {  
    if($('#is_approved_true').is(':checked')) { 
      $(".notify_hod").show("highlight");
    }else if ($('#is_approved_false').is(':checked')){
      $(".notify_hod").hide("highlight");
    }
  });
});
