%dl.dl-horizontal
  %dt= t 'asset.assetcode'
  %dd= @asset_loan.asset.assetcode
      
  %dt= t 'asset.registration'
  %dd=@asset_loan.asset.registration
     
  %dt=(t 'asset.loan.loaned_by')+(t 'asset.loan.separator_slash')+(t 'asset.loan.responsible_unit')
  %dd="#{@asset_loan.try(:owner).try(:staff_with_rank)} / #{@asset_loan.asset.try(:assignedto).try(:positions).try(:first).try(:unit)}"
  %br