= search_form_for @search, url: library_books_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display:none;"}  
    %td{width: '6%'}= select_tag('q[mediatype_search]',options_for_select(DropDown::MEDIA),:prompt=>t("helpers.prompt.select_mediatype"), class: 'selectpicker')
    %td{width: '6%'} &nbsp;
    %td{width: '20%'}= f.text_field :title_cont, size: 2,  :class => "form-control", placeholder: (t 'library.book.title')
    %td{width: '10%'}= f.text_field :author_cont, size: 2,  :class => "form-control", placeholder: (t 'library.book.author')
    %td{width: '10%'}= f.text_field :isbn_cont, size: 2,  :class => "form-control", placeholder: (t 'library.book.isbn')
    - if current_user.college.code=='kskbjb'
      %td{width: '6%'} &nbsp;
      %td{width: '10%'}
      
        =f.text_field :accessionno_search, size: 2, :class => "form-control", placeholder: (t 'library.book.accessionno')
        =f.text_field :accessionno_from, size: 2, :class => "form-control", :placeholder => t('from')
        =f.text_field :accessionno_to, size: 2, :class => "form-control", :placeholder => t('to')
        /= params[:q].count if params[:q]
      %td{width: '10%'}= f.text_field :classlcc_cont, size: 2, :class => "form-control", :placeholder => t('library.book.starting_with')
    - else
      %td{width: '10%'}= f.text_field :classddc_cont, size: 2, :class => "form-control", :placeholder => t('library.book.starting_with')
    %td{width: '10%'}= f.text_field :location_cont, size: 2, :class => "form-control", placeholder: (t 'library.book.location')
    - if current_user.college.code=='amsas'
      %td{width: '6%'} &nbsp;
      %td{width: '10%'}
      
        =f.text_field :accessionno_search, size: 2, :class => "form-control", placeholder: (t 'library.book.accessionno')
        =f.text_field :accessionno_from, size: 2, :class => "form-control", :placeholder => t('from')
        =f.text_field :accessionno_to, size: 2, :class => "form-control", :placeholder => t('to')
        /= params[:q].count if params[:q]
    - if current_user.college.code=='amsas'
      - book_status=Book::STATUS_AMSAS
    - else
      - book_status=Book::STATUS
    %td{width: '10%'}= select_tag('q[status_search]',options_for_select(book_status),:prompt=>t("helpers.prompt.select_status"), class: 'selectpicker')
    
    %td.input-group{width: '5%'}
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw
