.col-md-offset-2 
  .form-group
    .col-sm-2.control-label
      = f.label  t 'library.book.orderno', for: :orderno
    .col-md-2
      = f.text_field :orderno, class: 'form-control'
  .form-group
    .col-sm-2.control-label
      = f.label  t 'library.book.purchaseprice', for: :purchaseprice
    .col-md-2    
      .input-group
        .input-group-addon
          RM
        = f.text_field :purchaseprice, class: 'form-control'
  .form-group
    .col-sm-2.control-label
      = f.label  t 'library.book.purchasedate', for: :purchasedate
    .col-md-2
      = f.text_field :purchasedate, class: 'form-control date_picker'
  .form-group
    .col-sm-2.control-label
      = f.label  t 'library.book.receiveddate', for: :receiveddate
    .col-md-2
      = f.text_field :receiveddate, class: 'form-control date_picker'
  .form-group
    .col-sm-2.control-label
      = f.label  t 'library.book.receiver_id', for: :received_by
    .col-md-4
      = f.collection_select :receiver_id, Staff.all, :id, :name,{:include_blank =>t('select')},{class: 'selectpicker', "data-width"=>'360px'}
  .form-group
    .col-sm-2.control-label
      = f.label  t 'library.book.supplier_id', for: :supplied_by
    .col-md-4
      = f.collection_select :supplier_id, AddressBook.all, :id, :name,{:include_blank =>t('select')},{class: 'selectpicker', "data-width"=>'360px'}