- model_class = Book
.page-header
  %h1= t('library.book.list')
= render 'shared/flashes'

.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    - if current_user.userable.coemail.include?('teknikpadu.com')
      %li=link_to fa_icon("backward"), library_main_path, {title: (t 'library.main')}
    - permitted_to? :create, :library_books do
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_library_book_path
  %ul.nav.navbar-nav
    - permitted_to? :create, :library_books do
      %li= link_to content_tag(:li, fa_icon("file-excel-o", text: (t 'actions.import_excel'))), import_excel_library_books_path
  %ul.nav.navbar-nav
    %li=link_to content_tag(:li, fa_icon("th-list", text: (t 'library.reservation.list'))), library_accessions_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: 'index_search_bar'
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        = fa_icon "external-link", text: (t 'actions.print')
        %b.caret
      %ul.dropdown-menu
        %li= link_to  (fa_icon "file-pdf-o", text: (t 'library.book.stock_listing')),  stock_listing_library_books_path(params.merge(format: 'pdf' ))
        %li= link_to  (fa_icon "file-pdf-o", text: (t 'library.book.book_summary')),  book_summary_library_books_path(params.merge(format: 'pdf' ))

.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th{width: '6%'}= sort_link(@search, :mediatype, (t 'library.book.mediatype'))
        %th{width: '6%'}= t 'library.book.image'
        %th{width: '20%'}= sort_link(@search, :title,(t 'library.book.title'))
        %th{width: '10%'}= sort_link(@search, :author, (t 'library.book.author'))
        %th{width: '10%'}= sort_link(@search, :isbn, (t 'library.book.isbn'))
        - if current_user.college.code=='kskbjb'
          %th{width: '6%'}= t 'library.book.quantity'
          %th{width: '10%'}= sort_link(@search, :accessionno, (t 'library.book.accessionno'))
          %th{width: '10%'}= sort_link(@search, :classlcc, (t 'library.book.classlcc'))
        - else
          %th{width: '10%'}= sort_link(@search, :classddc, (t 'library.book.classddc'))
        %th{width: '10%'}= sort_link(@search, :location, (t 'library.book.location'))
        - if current_user.college.code=='amsas'
          %th{width: '6%'}= t 'library.book.quantity'
          %th{width: '10%'}= sort_link(@search, :accessionno, (t 'library.book.accessionno'))
        %th{width: '10%'}= sort_link(@search, :status, (t 'library.book.status'))
        %th{width: '5%'}= t 'library.book.require_update'
        /%th{:style=>"width: 10px;"}= t 'library.book.require_update'
    
    %tbody
      = render "index_search"
      - if @book_wo_acc.count>0
        %tr
          %td{:colspan=>"2"} &nbsp;
          %td{:colspan=>"9", :style=>"color: red; text-decoration: underline;"}=@book_wo_acc.count.to_s+" "+t('library.book.book_wo_acc2')
      - @book_wo_acc.each_with_index do |bk,ind|
        %tr
          %td{:colspan=>"2"} &nbsp;
          %td
            =h link_to (ind+1).to_s+") "+bk.try(:title), library_book_path(bk.id)
            - permitted_to? :update, :library_books do
              /=h link_to "EDIT","http://#{request.host}:3000/books/#{bk.id}/edit"  
              =h link_to (t 'actions.links.edit')+bk.try(:title), edit_library_book_path(bk.id)
          %td{:colspan=>"3"} &nbsp;
          %td{:style=>"color:red;"}=t'library.book.acc_not_exist'
          %td{:colspan=>"4"} &nbsp;
      
      = render :partial => "library/books/#{current_user.college.code}/index", :locals => {:acc_by_book => @acc_by_book}

  .right{style:"padding:0 30px; margin:0;"}= paginate @accessions, :theme => 'twitter-bootstrap-3'