- model_class = Role
.page-header
  %h1= t 'role.new'

= render 'shared/flashes'

.row
  = form_for @role, html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    
    .col-md-offset-1
      / Nav tabs
      %ul.nav.nav-tabs
        %li.active= link_to (t "role.details"), "#details", "data-toggle" => "tab" 
      
      /display
      .tab-content{style:"padding-top:1em"}
        #details.tab-pane.fade.in.active 
          %br
          = render 'tab_details_edit', :f=>f

    .row 
      .col-md-10
        .col-md-1.col-sm-offset-4
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.cancel', :default => t("helpers.links.cancel")), roles_path, :class => 'btn btn-default'
        .col-md-2
          = f.submit t('create'), class: "btn btn-primary"