.row
  .col-md-10.col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t 'staff.travel_request.details'),"#travel_request_details_edit", "data-toggle" => "tab"
      %li=link_to (t 'staff.travel_request.submission'), "#travel_request_submission_edit", "data-toggle" => "tab"
      
    .tab-content{style:"padding-top:1em"}
      .col-md-offset-2 
        .form-group
          .col-sm-2.control-label
            =f.label :code
          .col-md-2
            =f.text_field :code, :value =>@travel_request.gcode(@generated_code), class: 'form-control', readonly: 'readonly'
        .form-group
          .col-sm-2.control-label
            = f.label :staff_id
          .col-md-3
            = f.collection_select :staff_id, Staff.all.order(name: :asc), :id,  :staff_name_with_position_grade_unit, {:include_blank =>t('helpers.prompt.select_staff'), :selected=>25},{class: 'selectpicker', "data-width"=>'460px'} 
            /= f.collection_select :staff_id, Staff.all.order(name: :asc), :id,  :staff_name_with_position, {:include_blank =>t('helpers.prompt.select_staff'), :selected=>Login.first.staff_id},{class: 'selectpicker', "data-width"=>'320px'} 
        .form-group
          .col-sm-2.control-label
            = f.label :document_id
          .col-md-3
            = f.collection_select :document_id, Document.all.order(refno: :asc), :id, :doc_details_date, {:include_blank=>t('helpers.prompt.select_document')}, {class: 'selectpicker', "data-width"=>'460px'}
            /= text_field_with_auto_complete :travel_request, :document_refno, {:class => 'compulsory'}, { :url => formatted_documents_path(:js), :method => :get, :with => "'search4=' + element.value"}
    
      #travel_request_details_edit.tab-pane.active
        %br
        = render 'tab_details_edit', :f => f
        
      #travel_request_submission_edit.tab-pane
        %br
        = render 'tab_submission_edit', :f => f
    
:javascript

//<![CDATA[
bkLib.onDomLoaded(function() {
  new nicEditor().panelInstance('myNicEditor3');
  new nicEditor().panelInstance('myNicEditor4');
});
//]]>

  function add_fields(link, association, content) {  
    var new_id = new Date().getTime();  
    var regexp = new RegExp("new_" + association, "g");  
    $(link).parent().before(content.replace(regexp, new_id));  
  }



