- if @travel_request.new_record?
  - applicant=current_user
- else
  - applicant=User.where(userable_id: @travel_request.staff_id).first

.col-md-offset-2   
  .form-group
    .col-sm-2.control-label
      = f.label :is_submitted
    .col-md-1
      = f.check_box :is_submitted, :id => 'check_submitted'  
    .col-md-2
      #span_submitted{:style=>"display: none;"}
        = Date.today.strftime('%d %b %Y')
  .form-group
    .col-sm-2.control-label
      = f.label :replaced_by
    .col-md-4
      = f.collection_select :replaced_by, Staff.where("id IN (?)", @travel_request.repl_staff(applicant)), :id, :staff_with_rank,{ :include_blank => t('helpers.prompt.select_staff') },{class: 'selectpicker mandatory', "data-width"=>'auto'} 
  .form-group
    .col-sm-2.control-label
      = f.label :hod_id
    .col-md-4
      = f.collection_select :hod_id, Staff.joins(:positions).where('positions.id IN(?)', @travel_request.hods(applicant)).order('positions.ancestry DESC, staffs.rank_id, staffs.name ASC'), :id, :staff_with_rank_position, {:include_blank => t('helpers.prompt.select_hod')}, {class: 'selectpicker mandatory', "data-width"=>'auto'} 

:javascript

$(document).ready(function(){
  $("input[id='check_submitted']").change(function() {  
    if($('#check_submitted').is(':checked')) { 
      $("#span_submitted").show("highlight"); 
    }else{
      $("#span_submitted").hide(""); 
    }
  });
  $("input[id='check_submitted']").each(function() {  
    if($('#check_submitted').is(':checked')) { 
      $("#span_submitted").show("highlight"); 
    }else{
    $("#span_submitted").hide(""); 
    }
  });
});

