.col-md-offset-2   
  .form-group
    .col-sm-2.control-label
      = f.label :is_submitted
    .col-md-1
      = f.check_box :is_submitted, :id => 'check_submitted'  
    .col-md-2
      #span_submitted{:style=>"display: none;"}
        = Date.today.strftime('%d %b %Y')
  .form-group
    .col-sm-2.control-label
      = f.label :replaced_by
    .col-md-4
      = f.collection_select :replaced_by, Staff.where("id IN (?)", @travel_request.repl_staff), :id, :name,{ :include_blank => t('helpers.prompt.select_staff') },{class: 'selectpicker', "data-width"=>'320px'} 
  .form-group
    .col-sm-2.control-label
      = f.label :hod_id
    .col-md-4
      /to do next - sort / order by postion rank   
      = f.collection_select :hod_id, Staff.joins(:positions).where('staffs.id IN(?)', @travel_request.hods).uniq, :id, :name, {:include_blank => t('helpers.prompt.select_hod')}, {class: 'selectpicker', "data-width"=>'320px'} 

:javascript

$(document).ready(function(){
  $("input[id='check_submitted']").change(function() {  
    if($('#check_submitted').is(':checked')) { 
      $("#span_submitted").show("highlight"); 
    }else{
      $("#span_submitted").hide(""); 
    }
  });
  $("input[id='check_submitted']").each(function() {  
    if($('#check_submitted').is(':checked')) { 
      $("#span_submitted").show("highlight"); 
    }else{
    $("#span_submitted").hide(""); 
    }
  });
});

