.col-md-offset-2   
  .form-group
    .col-sm-2.control-label
      = f.label :destination
    .col-md-5
      = f.text_field :destination, class: 'form-control'      
  .form-group
    .col-sm-2.control-label
      = f.label :depart_at
    .col-md-2
      = f.text_field :depart_at,  :class =>  'datetime_picker form-control'
  .form-group
    .col-sm-2.control-label
      = f.label :return_at
    .col-md-2
      = f.text_field :return_at,  :class =>  'datetime_picker form-control'
  .form-group
    .col-sm-2.control-label
      =f.label  t 'staff.travel_request.transport_choice'
    .col-md-6
      .row
        .col-sm-1
          = f.check_box :own_car,:id => 'mycar',  :class => 'tt'
        .col-sm-2
          = f.label :own_car
        .col-sm-1
          = f.check_box :dept_car, :id => 'offcar', :class => 'tt'
        .col-sm-2
          = f.label :office_car
        .col-sm-1
          = f.check_box :others_car, :id => 'othcar', :class => 'tt'
        .col-sm-3
          = f.label :others_car
      #tr_others_car
        .row
          .col-sm-3
            = f.label t 'staff.travel_request.others_car_notes', for: :others_car_notes
          .col-sm-9
            = f.text_field :others_car_notes, placeholder: t('staff.travel_request.staff_and_place'), class: 'form-control'
      #tr_my_car
        /display own car notes & registered vehicle (if any + it's transport class)
        - if @travel_request.new_record?
          - staff_apply = @current_user.userable
        - else
          - staff_apply = @travel_request.applicant
        - unless staff_apply.vehicles.blank?
          .row
            .col-sm-11= f.text_field :own_car_notes, :placeholder => t('helpers.label.travel_request.own_car_notes'), class: 'form-control'
          .row
            .col-sm-3
              %b=t 'staff.vehicles.reg_no'            
            - staffvehicle = staff_apply.vehicles[0].reg_no
            .col-sm-3= f.text_field :staff_own_car, :value => staffvehicle, :readonly => 'readonly', class: 'form-control'
            .col-sm-3=f.label t 'staff.transportclass_id'
            .col-sm-2=f.text_field :tpt_class,:value=>@travel_request.transport_class, :readonly => 'readonly', class: 'form-control'
        - else
          %font{:style => "color: red;"}=t('staff.travel_request.no_registered_vehicle')
          
  .form-group
    .col-sm-2.control-label 
      - unless Staff.where(id:25)[0].vehicles.blank?
        #tr_mileage=f.label :mileage_desc
    .col-md-6
      - unless Staff.where(id:25)[0].vehicles.blank?
        .row#tr_mileage2
          .col-sm-1
            = f.radio_button :mileage, true
          .col-sm-3
            = f.label :mileage
          .col-sm-1
            = f.radio_button :mileage, false
          .col-sm-6
            = f.label :mileage_replace
            %font{:size=>'-2'}
              = t 'staff.travel_request.train_plane_replacement'
  .form-group
    .col-sm-2.control-label
      =f.label :public_transport
    .col-md-6
      .row
        .col-sm-1
          = f.check_box :taxi
        .col-sm-2
          = f.label :taxi
        .col-sm-1
          = f.check_box :bus
        .col-sm-1
          = f.label :bus
        .col-sm-1
          = f.check_box :train
        .col-sm-2
          = f.label :train
        .col-sm-1
          = f.check_box :plane
        .col-sm-3
          = f.label :plane
      .row
        .col-sm-1
          = f.check_box :other, :id => 'other_transport' 
        .col-sm-6
          = f.label :other
      #tr_public_others
        = f.text_field :other_desc, :size => '40', :placeholder => t('helpers.label.travel_request.other_desc'), class: 'form-control'
     
:javascript

$(document).ready(function(){
  $("input[class='tt']").change(function() {  
    if($('#mycar').is(':checked')){
      $("#tr_my_car").show("appear");
      $("#tr_mileage").show("appear");
      $("#tr_mileage2").show("appear");
    }else{
      $("#tr_my_car").hide("");
      $("#tr_mileage").hide("");
      $("#tr_mileage2").hide("");
    }
  });
  $("input[class='tt']").each(function() {  
    if($('#mycar').is(':checked')){
      $("#tr_my_car").show("highlight");
      $("#tr_mileage").show("highlight");
      $("#tr_mileage2").show("highlight");
    }else{
      $("#tr_my_car").hide("");
      $("#tr_mileage").hide("");
      $("#tr_mileage2").hide("");
    }
  });
  $("input[id='other_transport']").change(function() {  
    if($('#other_transport').is(':checked')) { 
      $("#tr_public_others").show("appear"); 
    }else{
      $("#tr_public_others").hide(""); 
    }
  });
  $("input[id='other_transport']").each(function() {  
    if($('#other_transport').is(':checked')) { 
      $("#tr_public_others").show("highlight"); 
    }else{
      $("#tr_public_others").hide(""); 
    }
  });
  $("input[id='othcar']").change(function() {  
    if($('#othcar').is(':checked')) { 
      $("#tr_others_car").show("appear"); 
    }else{
      $("#tr_others_car").hide(""); 
    }
  });
  $("input[id='othcar']").each(function() {  
    if($('#othcar').is(':checked')) { 
      $("#tr_others_car").show("highlight"); 
    }else{
      $("#tr_others_car").hide(""); 
    }
  });
  
});
