.col-md-offset-2
  /- if @travel_request.own_car==true
  .form-group
    .col-sm-2.control-label
      = f.label :approved_mileage
    .col-md-6
      .row
        .col-sm-1
          = f.radio_button :mileage_replace, false, :id => 'approved_mileage',  :class => 'radio_appr_mileage' 
        .col-sm-3
          = f.label :mileage
        .col-sm-1
          = f.radio_button :mileage_replace, true, :id => 'approved_mileage',  :class => 'radio_appr_mileage' 
        .col-sm-6
          = f.label :mileage_replace
          %font{:size=>'-2',} 
            = t 'staff.travel_request.train_plane_replacement'
  .form-group
    .col-sm-2.control-label
      = f.label :hod_accept
    .col-md-1
      = f.check_box :hod_accept, :id => 'check_hod_accept' 
    .col-md-2
      #span_hod_endorse{:style=>"display: none;"}
        = f.text_field :hod_accept_on, :class => 'date_picker form-control'

:javascript

$(document).ready(function(){
  $("input[id='check_hod_accept']").change(function() {  
    if($('#check_hod_accept').is(':checked')) { 
      $("#span_hod_endorse").show("highlight"); 
    }else{
      $("#span_hod_endorse").hide(""); 
    }
  });
  $("input[id='check_hod_accept']").each(function() {  
    if($('#check_hod_accept').is(':checked')) { 
      $("#span_hod_endorse").show("highlight"); 
    }else{
      $("#span_hod_endorse").hide(""); 
    }
  });
});
