- model_class = TravelRequest
.page-header
  %h1= t 'staff.travel_request.edit'

= render 'shared/flashes'

.row
  = form_for [:staff, @travel_request], html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    = hidden_field_tag :redirect_location, staff_travel_requests_path 
    // TODO refer show & auth rules - use below TEMP solution
    - if @travel_request.is_submitted==true
      .centre
        %font{style: "color: red;"}=t 'staff.travel_request.no_longer_editable'
      %br
      .row
        .centre= link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staff_travel_request_path(@travel_request), :class => 'btn btn-default'
    - else
      = render :partial => 'form', :locals => {:f => f}
      .row
        .form-group
          .col-md-2.col-md-offset-3
            = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staff_travel_request_path(@travel_request), :class => 'btn btn-default'
          .col-md-2
            .div{style: "margin-left:-40px;"}
              = f.submit t('update'), class: "btn btn-primary"
 
