- model_class = TravelRequest
.page-header
  %h1=t 'staff.travel_request.title'
 
= render 'shared/flashes'

.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t 'staff.travel_request.details'),"#travel_request_details", "data-toggle" => "tab"
      %li=link_to (t 'staff.travel_request.submission'), "#travel_request_submission", "data-toggle" => "tab"
      %li=link_to (t 'staff.travel_request.approval2'), "#travel_request_approval", "data-toggle" => "tab" if @travel_request.is_submitted == true
      %li=link_to (t 'staff.travel_request.log_details2'), "#travel_logs_details", "data-toggle" => "tab"  if @travel_request.travel_claim_logs && @travel_request.staff_id==25 && @travel_request.hod_accept == true
      /%li=link_to (t 'staff.travel_request.log_details2'), "#travel_logs_details", "data-toggle" => "tab"  if @travel_request.travel_claim_logs && @travel_request.staff_id && @travel_request.hod_accept == true
      /%li=link_to (t 'staff.travel_request.log_details'), "#travel_logs_details", "data-toggle" => "tab"  if @travel_request.travel_claim_logs && @travel_request.staff_id == Login.first.staff_id && @travel_request.hod_accept == true

    / display 
    .tab-content{style:"padding-top:1em"}
      .col-md-8.col-md-offset-1
        %dl.dl-horizontal
          %dt= t 'staff.travel_request.code', :default => model_class.human_attribute_name(:code) + ":"
          %dd=h @travel_request.code
          
          %dt= t 'staff.travel_request.staff_id', :default => model_class.human_attribute_name(:staff_id) + ":"
          %dd=h @travel_request.applicant.staff_name_with_position unless @travel_request.applicant.blank?
          
          %dt= t 'staff.travel_request.document_id', :default => model_class.human_attribute_name(:document_id)+":"
          %dd=h @travel_request.reference_document
        
      #travel_request_details.tab-pane.active
        %br
        =render 'tab_details'
        
      #travel_request_submission.tab-pane
        %br
        =render 'tab_submission'
        
      #travel_request_approval.tab-pane
        %br
        =render 'tab_approval'
        
      #travel_logs_details.tab-pane
        %br
        = render 'tab_travel_log_details'

.row
  .col-md-7.col-md-offset-2
    %hr
    .form-actions
      - if @travel_request.staff_id == 25 && @travel_request.hod_accept == true
        /- if @travel_request.staff_id == Login.first.staff_id && @travel_request.hod_accept == true
        = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('helpers.links.back_travel_request'), staff_travel_requests_path, :class => 'btn btn-default'
        = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('helpers.links.back_travel_log'), travel_log_index_staff_travel_requests_path, :class => 'btn btn-default'
      - else
        = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('helpers.links.back'), staff_travel_requests_path, :class => 'btn btn-default'
       
      /owner can edit - use just (if staff_id exist) to pass test
      /- if @travel_request.staff_id
      - if @travel_request.staff_id == 25
        /- if @travel_request.staff_id == Login.first.staff_id
        = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('actions.edit'), edit_staff_travel_request_path(@travel_request),  :class => 'btn btn-primary' 
      
      /hod & admin can edit - test will fail
      - if @travel_request.is_submitted == true 
        = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('staff.travel_request.approval'), approval_staff_travel_request_path(@travel_request),  :class => 'btn btn-primary' 
      
      
      /owner can edit
      /- if @travel_request.staff_id &&  @travel_request.hod_accept == true 
      - if @travel_request.staff_id == 25 &&  @travel_request.hod_accept == true 
        /- if @travel_request.staff_id == Login.first.staff_id &&  @travel_request.hod_accept == true 
        /- if @travel_request.travel_claim_logs && @travel_request.staff_id == Login.first.staff_id && @travel_request.hod_accept == true
        = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('staff.travel_request.log_details'), travel_log_staff_travel_request_path(@travel_request),  :class => 'btn btn-primary' 
      
      = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('helpers.links.destroy'), |
        staff_travel_request_path(@travel_request),                                                                                                    |
        :method => 'delete',                                                                                                           |
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
        :class => 'btn btn-danger'

