- model_class = Exam
.page-header
  %h1=h (DropDown::EXAMTYPE.find_all{|disp, value| value == @exam.name}).map {|disp, value| disp}[0]
= render 'shared/flashes'

.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to ((t 'exam.exams.exams_details')),"#exams_details", "data-toggle" => "tab"
      %li= link_to ((t 'exam.exams.questions_details')), "#questions_details", "data-toggle" => "tab"
    .tab-content{style:"padding-top:1em"}
      #exams_details.tab-pane.active
        %br
        = render 'show_exam'
      #questions_details.tab-pane
        %br
        = render 'tab_questions_details'

.row
  .col-md-4.col-md-offset-3
    %hr
    .form-actions
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), exam_exams_path, :class => 'btn btn-default'
      - permitted_to? :exampaper, :exam_exams do
        - if @exam.klass_id==1
          = link_to content_tag(:i, "", class: "fa fa-file-pdf-o"), exampaper_exam_exam_path(@exam, format: "pdf"), class: "btn btn-default", "data-toggle" => "tooltip", title: "Exam Paper"
      - permitted_to? :edit, :exam_exams do
        = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), edit_exam_exam_path(@exam),  :class => 'btn btn-primary' 
      - permitted_to? :destroy, :exam_exams do
        - if @exam.valid_for_removal
          = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
            exam_exam_path(@exam),                                                                                                    |
            :method => 'delete',                                                                                                           |
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
            :class => 'btn btn-danger'

