.col-md-offset-1
  / Nav tabs
  %ul.nav.nav-tabs
    - if @asset_loan.is_approved != true
      %li.active= link_to (t "asset.loan.request"), "#request_edit",  "data-toggle" => "tab" 
    - elsif @asset_loan.is_approved == true
      %li= link_to (t "asset.loan.request"), "#request_edit",  "data-toggle" => "tab" 
    / to revise - LINK FOR APPROVAL - if login as peminjam OR login as unit_members of responsible unit
    /- elsif (@asset_loan.is_approved == true && @asset_loan.loaned_by == Login.current_login.staff_id) || (@asset_loan.is_approved == true && @unit_members.include?(current_login.staff_id))
    - if @asset_loan.is_approved == true
      %li=link_to (t "asset.loan.approval"), "#approval", "data-toggle" => "tab"
      %li.active=link_to (t "asset.loan.return"), "#return", "data-toggle" => "tab"
      
  /display
  .tab-content{style:"padding-top:1em"}
    .col-md-8.col-md-offset-1
      %dl.dl-horizontal
        %dt= t 'asset.assetcode'
        %dd= @asset_loan.asset.assetcode
        
        %dt=(t 'asset.loan.loaned_by')+(t 'asset.loan.separator_slash')+(t 'asset.loan.responsible_unit')
        %dd="#{@asset_loan.try(:owner).try(:staff_with_rank)} / #{@asset_loan.try(:asset).try(:assignedto).try(:positions).try(:first).try(:unit)}"
        /=h @asset_loan.owner.try(:staff_with_rank)+(t 'asset.loan.separator_slash')+@asset_loan.asset.assignedto.try(:positions).first.try(:unit).to_s
        %br
    - if @asset_loan.is_approved != true
      #request_edit.tab-pane.fade.in.active 
        %br
        - if @asset_loan.is_approved == nil && @asset_loan.staff_id==@current_user.userable_id
          = render 'tab_request_edit', :f => f
        - elsif @asset_loan.is_approved == true || @asset_loan.is_approved == nil && @asset_loan.staff_id!=@current_user.userable_id
          = render 'tab_show_request'
    - else
      #request_edit.tab-pane.fade
        %br
        - if @asset_loan.is_approved == nil && @asset_loan.staff_id==@current_user.userable_id
          = render 'tab_request_edit', :f => f
        - elsif @asset_loan.is_approved == true || @asset_loan.is_approved == nil && @asset_loan.staff_id!=@current_user.userable_id
          = render 'tab_show_request'
      
    - if @asset_loan.is_approved == true
      #approval.tab-pane.fade 
        %br
        = render 'tab_show_approval'

      #return.tab-pane.fade.active
        %br
        = render 'tab_return_edit', :f => f

  .col-md-8.col-md-offset-1
    %BR
    .form-group
      .col-sm-offset-1.col-sm-2
        = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), asset_loan_path(@asset_loan), :class => 'btn btn-default'
      .col-sm-2
        - if @asset_loan.is_approved == true || (@asset_loan.is_approved == nil && @asset_loan.staff_id==@current_user.userable_id)
          = f.submit t('update'), class: "btn btn-primary" 
