- model_class = AssetLoan
.page-header
  %h1
    - if @asset_loan.asset.category_id==3 || @asset_loan.asset.category.description.downcase.include?("kenderaan")
      = (t 'asset.loan.title2')+" : "+@asset_loan.asset.registration
    - else
      = (t 'asset.loan.title')+" : "+@asset_loan.asset.assetcode
      
= render 'shared/flashes'
- if @asset_loan.asset.category_id==3 || @asset_loan.asset.category.description.downcase.include?("kenderaan")
  /= render 'show_vehicle'
  = render "asset/asset_loans/vehicle/show_vehicle"
- else
  = render 'show'