%dl.dl-horizontal
  - if @position_exist
    %dt= t 'exam.evaluate_course.student_id'
    %dd=h @evaluate_course.studentevaluate.rank_id? ? @evaluate_course.studentevaluate.student_with_rank :  @evaluate_course.studentevaluate.try(:matrix_name)
    
  %dt= t 'exam.evaluate_course.course_id'
  %dd=h @evaluate_course.stucourse.programme_list

  %dt
    - unless @evaluate_course.staff_id.blank? 
      = t 'exam.evaluate_course.staff_id'
    - else
      = t 'exam.evaluate_course.invite_lec'
  %dd
    - unless @evaluate_course.staff_id.blank? 
      =h @evaluate_course.staffevaluate.try(:staff_with_rank)
    - else
      =h @evaluate_course.invite_lec

  %dt
    - unless @evaluate_course.subject_id.blank? 
      = t 'exam.evaluate_course.subject_id'
    - else
      = t 'exam.evaluate_course.invite_lec_topic'
  %dd
    - unless @evaluate_course.subject_id.blank? 
      =h @evaluate_course.college.code=='amsas' ? @evaluate_course.subjectevaluate.module_subject_list2 : @evaluate_course.subjectevaluate.subject_list
    - else
      =h @evaluate_course.invite_lec_topic
 
  %dt= t 'exam.evaluate_course.comment'
  %dd{style: 'padding-left: 70px;'}=h @evaluate_course.comment
  
  %dt= t 'exam.evaluate_course.evaluate_date'
  %dd= @evaluate_course.evaluate_date.try(:strftime, '%d %b %Y')
  %BR