.col-md-offset-2 
  - if @current_user.userable_type=="Student"
    = f.hidden_field :student_id, :value=> @current_user.userable_id 
  - else
    /this part only available to Administration & Programme Manager (as assigned in Tasks & Responsibilities)
    .form-group
      .col-sm-2.control-label
        = f.label t 'exam.evaluate_course.student_id', for: :student_id
      .col-md-8
        = f.collection_select :student_id, @student_list, :id, :matrix_name,{:include_blank =>t('select')},{class: 'selectpicker', "data-width"=>'450px'}
  .form-group
    .col-sm-2.control-label
      = f.label t 'exam.evaluate_course.course_id', for: :course_id
    .col-md-8
      - if @evaluate_course.new_record?
        = f.collection_select :course_id, @programme_list, :id, :programme_coursetype_name,{:include_blank =>t('select'),:selected =>@preselect_prog},{class: 'selectpicker', "data-width"=>'450px'}
      - else 
        = f.collection_select :course_id, @programme_list, :id, :programme_coursetype_name, {:include_blank =>t('select'),:selected =>@evaluate_course.course_id},{class: 'selectpicker', "data-width"=>'450px'}
  
  .form-group
    .col-sm-2.control-label
      = f.label t 'exam.evaluate_course.subject_id', for: :subject_id
    .col-md-8
      = f.collection_select :subject_id, @subjectlist_preselect_prog, :id, :subject_list, {:include_blank =>t('select')},{class: 'selectpicker', "data-width"=>'450px'}

  .form-group
    .col-sm-2.control-label
      = f.label t 'exam.evaluate_course.staff_id', for: :staff_id
    .col-md-8
      = f.collection_select :staff_id, @lecturer_list, :id, :name, {:include_blank =>t('select')},{class: 'selectpicker', "data-width"=>'450px'}

  .form-group
    .col-sm-2.control-label
      = f.label t 'exam.evaluate_course.invite_lec', for: :invite_lec
    .col-md-8
      = f.text_field :invite_lec, class: 'form-control'
      
  .form-group
    .col-sm-2.control-label
      = f.label t 'exam.evaluate_course.comment', for: :course_id
    .col-md-8
      = f.text_field :comment, class: 'form-control'  

  .form-group
    .col-sm-2.control-label
      = f.label t 'exam.evaluate_course.evaluate_date', for: :evaluate_date
    .col-md-2
      = f.text_field :evaluate_date, class: 'date_picker form-control'
%BR