- a=@leaveforstaff.applicant.coemail.blank? ? " <span style='color:red;'>*</span>" : ""

%dl.dl-horizontal
  %dt= t 'staff_leave.name'
  %dd= link_to "#{@leaveforstaff.applicant.staff_with_rank_position} #{a}".html_safe, (staff_info_path(@leaveforstaff.staff_id)) rescue nil
  
  %dt= t 'staff_leave.requestdate'
  %dd= shortmonthname(@leaveforstaff.requestdate) if @leaveforstaff.requestdate.blank? == false

  %dt= t 'staff_leave.leavetype'
  %dd= @leaveforstaff.render_leave_type

  %dt= t 'staff_leave.from' 
  %dd= shortmonthname(@leaveforstaff.leavestartdate) if @leaveforstaff.leavestartdate.blank? == false
    
  %dt= t 'staff_leave.to' 
  %dd= @leaveforstaff.try(:show_to_day)
    
  %dt= t 'staff_leave.for' 
  %dd= @leaveforstaff.try(:leave_for).to_s + (" ")+(t 'staff_leave.days')
  
  %dt=t 'staff_leave.address_on_leave'
  %dd{style: 'padding-left: 70px;'}= @leaveforstaff.address_on_leave
  
  %dt=t 'staff_leave.phone_on_leave'
  %dd= @leaveforstaff.phone_on_leave

  %dt= t 'staff_leave.reason'
  %dd= @leaveforstaff.try(:reason)

  %dt= t 'staff_leave.notes'
  %dd{style: 'padding-left: 70px;'}= @leaveforstaff.try(:notes)