.col-md-offset-2   
  %horizontal
    %dt= t 'staffleave.staff_id'
    %dd=h @leaveforstaff.applicant.mykad_with_staff_name
	
    %dt= t 'staffleave.leavetype'
    %dd=h (Leaveforstaff::STAFFLEAVETYPE.find_all{|disp, value| value == @leaveforstaff.leavetype}).map {|disp, value| disp} [0]
	
    %dt From :
    %dd=h @leaveforstaff.leavestartdate.strftime("%d - %b - %Y") 
	
    %dt= t 'staffleave.reason'
    %dd=h  @leaveforstaff.reason
	
    %dt= t 'staffleave.notes'
    %dd=h @leaveforstaff.notes

    %dt= t 'staffleave.replacement_id'
    %dd=h @leaveforstaff.replacement_id.blank? ? "" : @leaveforstaff.replacement.name 
	
    %dt= t 'staffleave.entitlement'
    %dd=h @leaveforstaff.cuti_rehat_entitlement

  
    
 

