.row
  .col-md-10.col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t 'staff_leave.details'),"#leaveforstaff_details_edit", "data-toggle" => "tab"

      
    .tab-content{style:"padding-top:1em"}
      .col-md-offset-2 
        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.name', for: :staff_id
          .col-md-3
            - if @leaveforstaff.staff_id
              - staff_list=Staff.where(id: @leaveforstaff.staff_id)
              - selected=@leaveforstaff.staff_id
            - else
              - if @is_admin
                - staff_list= Staff.all.order(name: :asc)
              - else
                - staff_list=Staff.where(id: @current_user.userable_id)
              - selected=@current_user.userable_id
            = f.collection_select :staff_id, staff_list, :id,  :staff_name_with_position, {:include_blank =>t('helpers.prompt.select_staff'), :selected=>selected},{class: 'selectpicker mandatory', "data-width"=>'440px'}

        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.leavetype', for: :leavetype
          .col-md-3
            = f.select :leavetype, DropDown::STAFFLEAVETYPE, {:include_blank =>t('helpers.prompt.select_leave_type')} , {class: 'form-control mandatory'}
			
        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.from', for: :leavestartdate
          .col-md-3
            = f.text_field :leavestartdate, :order => [:day, :month, :year], :default => 2.days.from_now,  :class =>  'date-picker form-control'
			
        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.to', for: :leavenddate
          .col-md-3
            = f.text_field :leavenddate, :order => [:day, :month, :year], :default => 3.days.from_now,  :class =>  'date-picker form-control'
			
        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.reason', for: :reason
          .col-md-3
            = f.text_field :reason , class: 'form-control'

        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.notes', for: :notes
          .col-md-3
            = f.text_area :notes, :size => "30x5", class: 'form-control'

        /.form-group
        /  .col-sm-2.control-label
        /    = f.label t 'staff_leave.submit', for: :submit
        /  .col-md-3
        /    = f.check_box :submit

  
  :javascript
    $('.date-picker').datetimepicker({
     timepicker:false,
       format: "d-m-Y",
       step: 15,
       defaultSeconds: 0,
       autoclose: true
     });
  
    
 

