.row
  .col-md-10.col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t 'staff_leave.details'),"#leaveforstaff_details_edit", "data-toggle" => "tab"

      
    .tab-content{style:"padding-top:1em"}
      .col-md-offset-2 
        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.name', for: :staff_id
          .col-md-3
            - if @leaveforstaff.staff_id
              - staff_list=Staff.where(id: @leaveforstaff.staff_id)
              - selected=@leaveforstaff.staff_id
            - else
              - if @is_admin
                - staff_list= Staff.all.order(name: :asc)
              - else
                - staff_list=Staff.where(id: @current_user.userable_id)
              - selected=@current_user.userable_id
            = f.collection_select :staff_id, staff_list, :id,  :staff_with_rank_position, {:include_blank =>t('helpers.prompt.select_staff'), :selected=>selected},{class: 'selectpicker mandatory', "data-width"=>'400px'}

        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.requestdate', for: :requestdate
          .col-md-2
            = f.text_field :requestdate, :class =>  'date_picker_reverse form-control', value: Date.today.strftime('%d-%m-%Y')

        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.leavetype', for: :leavetype
          .col-md-3
            = f.select :leavetype, DropDown::STAFFLEAVETYPE, {:include_blank =>t('helpers.prompt.select_leave_type')} , {class: 'form-control mandatory'}

        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.from', for: :leavestartdate
          .col-md-2
            = f.text_field :leavestartdate, :class =>  'date_picker_reverse form-control', value: @leaveforstaff.leavestartdate.try(:strftime, '%d-%m-%Y')

        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.to', for: :leavenddate
          .col-md-2
            = f.text_field :leavenddate, :class =>  'date_picker_reverse form-control', value: @leaveforstaff.leavenddate.try(:strftime, '%d-%m-%Y')

        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.address_on_leave', for: :address_on_leave
          .col-md-5
            = f.text_area :address_on_leave, class: 'form-control'

        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.phone_on_leave', for: :phone_on_leave
          .col-md-3
            = f.text_field :phone_on_leave, class: 'form-control'

        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.reason', for: :reason
          .col-md-5
            = f.text_field :reason, class: 'form-control'

        .form-group
          .col-sm-2.control-label
            = f.label t 'staff_leave.notes', for: :notes
          .col-md-5
            = f.text_area :notes, class: 'form-control'

        /.form-group
        /  .col-sm-2.control-label
        /    = f.label t 'staff_leave.submit', for: :submit
        /  .col-md-3
        /    = f.check_box :submit
        
        - if current_user.college.code!='kskbjb' 
          - if @leaveforstaff.new_record?
            - if @is_admin
              - approver1_multipost=Staff.all
              - approver2_multipost=Staff.all
            - else
              - if current_user.userable.positions.count > 1
                - approver1_multipost=Staff.where(id: current_user.userable.approver1_list_multipost)
                - approver2_multipost=Staff.where(id: current_user.userable.approver2_list_multipost)
          - else
            - if @leaveforstaff.applicant.positions.count > 1
              - approver1_multipost=Staff.where(id: @leaveforstaff.approver1_list_multipost)
              - approver2_multipost=Staff.where(id: @leaveforstaff.approver2_list_multipost)
            
          - if @is_admin || current_user.userable.positions.count > 1
            .form-group
              .col-sm-2.control-label
                =f.label t 'staff_leave.approval1_id'
              .col-md-6
                =f.collection_select :approval1_id, approver1_multipost.order(rank_id: :asc, name: :asc), :id, :staff_with_rank_position, {include_blank: (t 'select')}, {class: 'selectpicker', "data-width"=>'400px'}
  
            .form-group
              .col-sm-2.control-label
                =f.label t 'staff_leave.approval2_id'
              .col-md-6
                =f.collection_select :approval2_id, approver2_multipost.order(rank_id: :asc, name: :asc), :id, :staff_with_rank_position, {include_blank: (t 'select')}, {class: 'selectpicker', "data-width"=>'400px'}
  
  :javascript
    $('.date-picker').datetimepicker({
     timepicker:false,
       format: "d-m-Y",
       step: 15,
       defaultSeconds: 0,
       autoclose: true
     });
  
    
 

