- groupped_leaves=ll.group_by(&:applicant).sort_by{|a, b|a.name}
- groupped_leaves.each do |applicant, leaveforstaffs|
  %tr
    %td.group3{colspan: 6}=(t 'staff_leave.staff_id')+": "+applicant.staff_with_rank
  - for leaveforstaff in leaveforstaffs
    %tr
      %td=link_to leaveforstaff.render_leave_type, staff_leaveforstaff_path(leaveforstaff)
      %td="#{shortmonthname(leaveforstaff.leavestartdate)} <br> #{shortmonthname(leaveforstaff.leavenddate)}".html_safe
      %td= leaveforstaff.leave_for.to_s + (" ") +   (t 'staff_leave.days')
      %td
        - if leaveforstaff.approval1_id.blank?
          =t 'not_required'
        - else
          - if leaveforstaff.approval1==true
            = t 'staff_leave.supported'
          - elsif leaveforstaff.approval1==false
            .text-red=t 'staff_leave.rejected'
          - else
            - if leaveforstaff.approval1_id == current_user.userable_id
              = link_to (fa_icon("thumbs-o-up", text: (t 'staff_leave.support'))), processing_level_1_staff_leaveforstaff_path(leaveforstaff)
            - else
              =t 'staff_leave.awaiting_support'
              - if @is_admin
                = leaveforstaff.approval1_id.blank? ? "" : "#{(t 'staff_leave.by')} #{leaveforstaff.try(:seconder).try(:staff_with_rank_position)}"
      %td
        - if leaveforstaff.approval2_id.blank? 
          = (t 'not_required')
        - else
          - if leaveforstaff.approver2==true
            =t 'staff_leave.approved'
          - elsif leaveforstaff.approver2==false
            =t 'staff_leave.rejected'
          - else
            - if leaveforstaff.approval1==true
              - if leaveforstaff.approval2_id==current_user.userable_id && leaveforstaff.approval1==true
                = link_to (fa_icon("thumbs-o-up", text: (t 'staff_leave.support'))), processing_level_2_staff_leaveforstaff_path(leaveforstaff)
              - else
                = t 'staff_leave.awaiting_approval'
                - if @is_admin
                  = leaveforstaff.approval2_id.blank? ? "" : "#{(t 'staff_leave.by')} #{leaveforstaff.try(:approver).try(:staff_with_rank_position)}"
      %td= leaveforstaff.replacement_id.blank? ? (t 'staff_leave.none') : leaveforstaff.replacement.staff_with_rank