- model_class = Leaveforstaff
.page-header
  %h1= t 'staff_leave.approve_staff_leave'
  
= render 'shared/flashes'

.row
  = form_for [:staff, @leaveforstaff], html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    = f.hidden_field :edit_type, :value=>'approve'
    
    .row
      .col-md-offset-1
        %ul.nav.nav-tabs
          %li.active= link_to (t 'staff_leave.approve_leave'), "#approve", "data-toggle" => "tab"

        .col-md-7.col-md-offset-1
          %dl.dl-horizontal
            = render 'applyshow'
            %BR
              %dt= t 'staff_leave.replacement'
              %dd= @leaveforstaff.replacement_id.blank? ? "" : @leaveforstaff.replacement.name 
              
              %dt= t 'staff_leave.endorser_decision'
              %dd
                = @leaveforstaff.approval1? ? t('staff_leave.approved')+t("by2")+@leaveforstaff.seconder.name+t("on2")+@leaveforstaff.approval1date.try(:strftime, "%d %b %Y") : t("staff_leave.rejected") 
                
            .form-group
              .col-sm-3.control-label
                = f.label t 'staff_leave.approver_decision', for: :approver2
              .col-md-7
                .form-inline
                  .form-group
                    = t 'staff_leave.approve'
                    = f.radio_button :approver2, true
                  .form-group
                    = t 'staff_leave.reject'
                    = f.radio_button :approver2, false
                    
            .form-group
              .col-sm-3.control-label
                = f.label t 'staff_leave.approve_by_date', for: :approval2date
              .col-md-2
                = f.text_field :approval2date, :order => [:day, :month, :year,], :default => DateTime.now, class: 'date_picker form-control' 
            
        .col-md-5.col-md-offset-1
          %BR
            .form-group
              .col-sm-offset-2.col-sm-2
                = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staff_leaveforstaff_path(@leaveforstaff), :class => 'btn btn-default'
              .col-sm-offset-0.col-sm-3
                = f.submit t('update'), class: "btn btn-primary"   