- model_class = Leaveforstaff
.page-header
  %h1= t 'staff_leave.approve_staff_leave'
  
= render 'shared/flashes'

.row
  = form_for [:staff, @leaveforstaff], html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    
    .row
      .col-md-offset-1
        %ul.nav.nav-tabs
          %li.active= link_to (t 'staff_leave.approve_leave'), "#approve", "data-toggle" => "tab"

        .col-md-7.col-md-offset-1
          %dl.dl-horizontal
            = render 'applyshow'
            
            .col-md-8.col-md-offset-1
              .form-group
                .col-sm-3.control-label
                  = f.label t 'staff_leave.replacement', for: :replacement_id
                .col-md-4
                  = f.collection_select :replacement_id, Staff.where("id IN (?)", @leaveforstaff.repl_staff), :id, :name, {:include_blank => t('helpers.prompt.select_staff')}, {class: 'selectpicker', "data-width"=>'300px'}
                
              .form-group
                .col-sm-3.control-label
                  = f.label t 'staff_leave.endorser_decision', for: :approval1
                .col-md-7
                  .form-inline
                    .form-group
                      = t 'staff_leave.support'
                      = f.radio_button :approval1, true
                    .form-group
                      = t 'staff_leave.reject'
                      = f.radio_button :approval1, false
                    
              .form-group
                .col-sm-3.control-label
                  = f.label t 'staff_leave.endorse_by_date', for: :approval1date
                .col-md-3
                  = f.text_field :approval1date, :order => [:day, :month, :year,], :default => DateTime.now, class: 'date_picker form-control'        
            
        .col-md-5.col-md-offset-1
          %BR
            .form-group
              .col-sm-offset-2.col-sm-2
                = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staff_leaveforstaff_path(@leaveforstaff), :class => 'btn btn-default'
              .col-sm-offset-0.col-sm-3
                = f.submit t('update'), class: "btn btn-primary" 