- model_class = Evaluatecoursesearch
.page-header
  - if current_user.college.code=='amsas'
    %h1=t('equery.evaluate_course.search2')
  - else
    %h1=t('equery.evaluate_course.search')
= render 'shared/flashes'

.row
  .col-md-offset-1
    =render partial: 'evaluatecourse_listing', locals: {evaluatecoursesearch: @evaluatecoursesearch, evaluatecourses: @evaluatecourses}

.row
  .col-md-6.col-md-offset-3
    %hr
    .form-actions
      - if current_user.college.code=='amsas'
        - eval_title=t('exam.evaluate_course.title2')
      - else
        - eval_title=t('exam.evaluate_course.title')
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left") +" #{t('equery.title')} - #{eval_title}", "/equery_reports?query_module=6", class: 'btn btn-primary'
      %span{style: 'padding-left: 20px;'}= link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), new_equery_report_evaluatecoursesearch_path(searchevaluatecoursetype: 1),  :class => 'btn btn-default'
      
