/ Nav tabs
%ul.nav.nav-tabs
  %li.active= link_to  (t 'equery.result'), "#search", "data-toggle" => "tab"

/ display 
.tab-content{style:"padding-top:1em"}
  #search_details.tab-pane.active  
        
    /additional heading
    .col-md-8.col-md-offset-2
      %dl.dl-horizontal

        - if studentsearch.course_id.blank? && studentsearch.intake.blank? && studentsearch.icno.blank? && studentsearch.name.blank? && studentsearch.matrixno.blank? && studentsearch.ssponsor.blank? && studentsearch.physical.blank? && studentsearch.end_training.blank? && studentsearch.gender.blank? && studentsearch.race.blank? && studentsearch.bloodtype.blank? 
          %div{style: 'padding-left: 180px; text-decoration: underline; font-weight: bold;'}=t 'equery.student.list_all'
        - else
          %div{style: 'padding-left: 200px; text-decoration: underline; font-weight: bold;'}=t 'equery.search_by'
            
        %br
                   
        - unless studentsearch.course_id.blank?
          %dt=t('student.students.course_id')
          %dd=Programme.find(studentsearch.course_id).programme_list
      
        - unless studentsearch.intake.blank?
          %dt=t('student.students.intake_id')
          %dd=Intake.find(studentsearch.intake).intake_details
          
        - unless studentsearch.icno.blank?
          %dt=t('student.students.icno')
          %dd=formatted_mykad(studentsearch.icno.split(" |")[0])

        - unless studentsearch.name.blank?
          %dt=(t 'student.students.rank_id')+" | "+(t 'student.students.name')
          %dd=studentsearch.name
              
        - unless studentsearch.matrixno.blank?
          %dt=t('student.students.matrixno')
          %dd=studentsearch.matrixno.split(" |")[0]
        
        - unless studentsearch.end_training.blank?
          %dt=t('student.students.end_training')
          %dd=studentsearch.end_training.to_date.strftime('%d-%m-%Y')
          
        - unless studentsearch.ssponsor.blank?
          %dt=t('student.students.ssponsor')
          %dd
            - if studentsearch.college.code=='kskbjb'
              = (Student::SPONSOR.find_all{|disp, value| value==studentsearch.ssponsor}).map {|disp, value| disp}[0]
            - else
              = (Student::SPONSOR_AMSAS.find_all{|disp, value| value==studentsearch.ssponsor}).map {|disp, value| disp}[0]

        - unless studentsearch.gender.blank?
          %dt=t('student.students.gender')
          %dd= (Student::GENDER.find_all{|disp, value| value == studentsearch.gender.to_s}).map {|disp, value| disp} [0]
          
        - unless studentsearch.race.blank?
          %dt=t('student.students.race')
          %dd
            - if studentsearch.college.code=='amsas'
              = (Student::RACE_AMSAS.find_all{|disp, value| value == studentsearch.race.to_i}).map {|disp, value| disp} [0]
            - else
              = (Student::RACE.find_all{|disp, value| value == studentsearch.race.to_i}).map {|disp, value| disp} [0]
       
        - unless studentsearch.physical.blank?
          %dt=t('student.students.physical')
          %dd=studentsearch.physical
          
        - unless studentsearch.bloodtype.blank?
          %dt=t('student.students.bloodtype')
          %dd= (Student::BLOOD_TYPE.find_all{|disp, value| value == studentsearch.bloodtype.to_s}).map {|disp, value| disp} [0]
          
        /mrtlstatus, studentsearch.sstatus.blank? &&
        
        
        - if studentsearch.course_id.blank? && studentsearch.intake.blank? && studentsearch.icno.blank? && studentsearch.name.blank? && studentsearch.matrixno.blank? && studentsearch.ssponsor.blank? && studentsearch.physical.blank? && studentsearch.end_training.blank? && studentsearch.gender.blank? && studentsearch.race.blank? && studentsearch.bloodtype.blank? 
        - else
          .col-md-12
            .col-md-8
              %hr
          
        %dt=(t 'equery.total')
        %dd=studentsearch.students.count==0 ? studentsearch.students.count : studentsearch.students.count.to_s+" "+(t 'records')
        
        
    /display result
    .col-md-11
      %br
      - if studentsearch.students.count > 0
        .right=link_to (fa_icon "print", text: (t 'equery.print_result')), student_list_students_path(format: 'pdf', ids: studentsearch.students.pluck(:id))
        %table.table.table-bordered.table-condensed.table-hover
          %head
            %tr.info
              %th{width: '4%'} No
              %th{width: '10%'}=t('student.students.icno')
              %th{width: '23%'}=t('student.students.name')
              %th{width: '12%'}=studentsearch.college.code=='kskbjb' ? (t 'student.students.matrixno') : (t 'student.students.apmmno')
              %th{width: '8%'}=t('student.students.end_training')
              %th{width: '10%'}=t('student.students.ssponsor')
              %th{width: '6%'}=t('student.students.gender')
              %th{width: '12%'}=t('student.students.physical')
              %th{width: '6%'}=t('student.students.race')
              %th{width: '6%'}=t('student.students.bloodtype')
              %th{width: '3%'}=t('equery.view')
          %body
            - if params[:page]
              - cnt=(params[:page].to_i-1)*10
            - else
              - cnt=0
            - students.group_by{|x|x.course}.each do |programme, students_programme|
              %tr
                %td.centre.bg-grey{colspan: 11}=programme.programme_list
              - students_programme.group_by{|y|y.intakestudent}.each do |int, student_list|
                %tr
                  %td.centre.bg-grey{colspan: 11}=int.intake_details
                - for student in student_list.sort_by{|u|u.name}
                  %tr
                    %td.centre=cnt+=1
                    %td=formatted_mykad(student.icno)
                    %td=student.name
                    %td=student.matrixno
                    %td.centre=student.end_training.try(:strftime, '%d-%m-%Y')
                    %td=student.render_sponsor
                    %td=student.render_gender
                    %td=student.physical
                    %td=h student.render_race
                    %td.centre=h student.render_bloodtype
                    %td.centre= link_to (fa_icon "file-pdf-o"), borang_maklumat_pelajar_student_path(student, format: "pdf")
            
      .right{style:"padding: 0 10px; margin:0;"}= paginate students, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm'
            
            