- model_class = Studentsearch
.page-header
  %h1=t('equery.student.search')
= render 'shared/flashes'

.row
  .col-md-offset-1
    =render partial: 'student_listing', locals: {studentsearch: @studentsearch, students: @students}

.row
  .col-md-6.col-md-offset-4
    %hr
    .form-actions
      /= link_to content_tag(:i, "", :class => "fa fa-arrow-left") +" #{t('equery.title')} - #{t('student.title')}", "/equery_reports?query_module=4", class: 'btn btn-primary'
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left") +" #{t('equery.title')} - #{t('student.title')}", "/equery_reports/student", class: 'btn btn-primary'
      %span{style: 'padding-left: 20px;'}= link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), new_equery_report_studentsearch_path(searchstudenttype: 1),  :class => 'btn btn-default'
      
