- if @existing_library_transactions.empty?
  #no_books
    %h4 No Results
  #insert_book_details
- else
  .row
    .col-sm-2.table_title= t 'book.accession_no'
    .col-sm-7.table_title= t 'book.title'
    .col-sm-2.table_title= t 'library.transaction.returnduedate'
  
  - @existing_library_transactions.each do | transaction |
    - if transaction.returnduedate < Date.today.yesterday && transaction.returneddate.blank?; @style = "overdue"; else; @style = "plain"; end
    #insert_book_details
    .row{:class => @style, :id => "row_#{transaction.id}"}
      .col-sm-2= transaction.try(:accession).try(:accession_no)
      .col-sm-7= link_to transaction.try(:accession).try(:book).try(:title), '#', class: "bogus"
      .col-sm-2
        - @transaction_id=transaction.id
        = transaction.returnduedate
        =link_to "(return book)", library_librarytransaction_path(@transaction_id), method: :delete, remote: true