- if @existing_library_transactions.empty?
  %h4 No Results
- else
  .row
    .col-sm-2.table_title= t 'book.accession_no'
    .col-sm-7.table_title= t 'book.title'
    .col-sm-2.table_title= t 'library.transaction.returnduedate'
  
  - @existing_library_transactions.each do | transaction |
    - if transaction.returnduedate < Date.today.yesterday && transaction.returneddate.blank?; @style = "overdue"; else; @style = "plain"; end
    .row{:class => @style}
      .col-sm-2= transaction.try(:accession).try(:accession_no)
      .col-sm-7= link_to transaction.try(:accession).try(:book).try(:title), '#', class: "bogus"
      .col-sm-2= transaction.returnduedate