- model_class = Library
.page-header
  %h1= t 'library.transaction.extending'

= render 'shared/flashes'

.row
  = form_for [:library, @librarytransaction], html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    = hidden_field_tag :redirect_location, library_librarytransactions_path 
    = f.hidden_field :libextended_by, :value => current_user.userable_id
    .row
      .col-md-8.col-md-offset-3
        %dl.dl-horizontal
          - repoid=0
          - Repository.digital_library.each{|x| repoid=x.id if x.code==@librarytransaction.digital_document}
          - repo=Repository.find(repoid)
          
          =f.hidden_field :digital_document, value: @librarytransaction.digital_document
          =f.hidden_field :loaner, value: @librarytransaction.loaner
          =f.hidden_field :reference, value: @librarytransaction.reference
          
          %dt=t 'repositories.vessel'
          %dd=repo.vessel
          
          %dt=t 'repositories.document_title'
          %dd=repo.title
          
          %dt=t 'repositories.refno2'
          %dd=repo.refno
          
          %dt= t 'library.transaction.borrower'
          %dd=Visitor.find(@librarytransaction.loaner.to_i).name
          
          %dt=t 'library.transaction.checkoutdate'
          %dd=@librarytransaction.checkoutdate.try(:strftime, '%d-%m-%Y')+" ("+@librarytransaction.libcheckoutby.try(:name)+")"
          
          %dt=t 'library.transaction.returnduedate'
          %dd=@librarytransaction.returnduedate.try(:strftime, '%d-%m-%Y')
          
      .col-md-12.col-md-offset-3
        .form-group
          .col-sm-2.control-label
            = f.label (t 'library.transaction.extend_for')
          .col-md-6
            = f.check_box :extended, :id => 'is_extended'
          
        .form-group.span_checked_on
          .col-sm-2.control-label
            = f.label (t 'library.transaction.returnduedate')
          .col-md-2
            = f.text_field :returnduedate, class: 'form-control date_picker_reverse', value: Date.today.tomorrow.strftime('%d-%m-%Y')

    .row
      .form-group
        .col-md-1.col-md-offset-5
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), library_librarytransactions_path, :class => 'btn btn-default'
        .col-md-2
          .div{style: "margin-left:-10px;"}
            = f.submit t('library.transaction.extend'), class: "btn btn-primary"

:javascript

$(document).ready(function(){
  $("input[id='is_extended']").change(function() {  
    if($('#is_extended').is(':checked')) { 
      $('.span_checked_on').show("highlight");
    }
    else
    {$('.span_checked_on').hide(); }
  });
  $("input[id='is_extended']").each(function() {  
    if($('#is_extended').is(':checked')) { 
      $('.span_checked_on').show("highlight");
    }
    else
    {$('.span_checked_on').hide();}
  });
});

