- model_class = Librarytransaction
.page-header
  - selected_year=params[:reporting_year].to_date
  %h1= (t 'library.transaction.analysis.main_title3')+" "+selected_year.year.to_s
  
  =link_to(t('back'),analysis_statistic_library_librarytransactions_path(:reporting_year => params[:reporting_year]))
  |
  =link_to(t('library.transaction.analysis.borrower_data'),analysis_library_librarytransactions_path(:reporting_year => params[:reporting_year]))
  |
  =link_to(t('library.transaction.analysis.book_data'),analysis_book_library_librarytransactions_path(:reporting_year => params[:reporting_year]))

.row  
  .col-md-3
    %h4 Most Active Students
    %table.table-striped.table-hover.ogma
      %thead
        %tr
          %th.centre Name
          %th.centre{:width=>"40%"} Total Transactions
          
      - dash_student = Librarytransaction.where("student_id IS NOT ?", nil).select(:student_id).pluck(:student_id)
      - b = dash_student.inject(Hash.new(0)) {|h,i| h[i] += 1; h } 
      - top_ten = b.to_a.each {|who, visits|} 

      %tbody
        - top_ten[(0..9)].each do |who, visits| 
          - stuid = ("#{who}").to_i 
          %tr
            %td.left= Student.where("id = ?", stuid ).select(:name).pluck(:name).first
            %td.centre= "#{visits}"
  .col-md-1 &nbsp;     
  .col-md-3
    %h4 Main Figures
    %table.table-striped.table-hover.ogma
      %thead
        %tr
          %th.centre{:colspan=>2}=t 'library.transaction.analysis.third_title'
      %tbody
        %tr
          %th.right=Book.all.count
          %td Total Number of Titles in Library
        %tr 
          %th.right=Accession.all.count
          %td Total Number of Books In Library
        %tr 
          %th.right=Librarytransaction.where('checkoutdate>=? AND checkoutdate<=?', selected_year.beginning_of_year, selected_year.end_of_year).count
          %td 
            Total Library Transactions for 
            %b=selected_year.year
        %tr 
          %th.right=Librarytransaction.where('created_at >? and checkoutdate>?', 1.day.ago, 1.day.ago).count
          %td 
            Books Borrowed 
            %b Today
        %tr 
          %th.right=ringgols(Librarytransaction.where(returneddate: Date.today).sum(:fine))
          %td 
            Total of Fines Collected
            %b Today
    %table.table-striped.table-hover.ogma
      %thead
        %tr
          %th.centre Language
          %th.centre Kuantiti (Tajuk)
      %tbody
        - Book.all.group_by(&:language).each do |lang, books|
          - unless lang.blank?
            %tr
              %td.centre
                = (DropDown::LANGUAGE.find_all{|disp, value| value == lang}).map {|disp, value| disp}[0]
              %td.centre=books.count
  .col-md-1 &nbsp;        
  .col-md-3
    %h4 Most Active Staffs
    %table.table-striped.table-hover.ogma
      %thead
        %tr
          %th.centre Name
          %th.centre{:width=>"40%"} Total Transactions
          
      - dash_staff = Librarytransaction.where("staff_id IS NOT ?", nil).select(:staff_id).pluck(:staff_id)
      - b = dash_staff.inject(Hash.new(0)) {|h,i| h[i] += 1; h } 
      - top_ten = b.to_a.each {|who, visits|} 

      %tbody
        - top_ten[(0..9)].each do |who, visits| 
          - staid = ("#{who}").to_i 
          %tr
            %td.left= Staff.where("id = ?", staid ).select(:name).pluck(:name).first
            %td.centre= "#{visits}"
%BR
.row
  .col-md-12
    %h4 Latest Title in Library
    %table.table.table-striped
      - latest_books = Book.all.order(updated_at: :desc).limit(10) 
      %tr
        - latest_books.each do |e| 
          %td.centre{:width=>"10%", :height=>"10%"}
            - if e.photo_file_name == nil 
              =t 'book.no_image'
            - else 
              /= image_tag e.photo.url
              //=image_tag "http://localhost:3000/assets/books/21001/original/display%20div%20of%20selected%20menu%20item%20ON%20LOAD.png?1410749822"
              //acc.book.photo.url GIVING THIS-assets/books/21001/original/no_cover_thumb.png?1410753027 
              =image_tag "http://#{request.host}:3000"+e.photo.url, :width => '57px'  
      %tr
        - latest_books.each do |e| 
          %td.left.small
            %b=h e.title
            %br=h e.author
           
      %tr
        - latest_books.each do |e| 
          %td.left.small
            ISBN
            =h e.isbn
            %br 
            Copies : 
            =h (e.book_quantity)

%BR     
.row      
  .col-md-7
    %h4 Borrowed Books 
    %table.table-striped.table-hover.ogma
      %thead
        %tr
          %th Tajuk 
          %th{:width=>"20%"} Clasification (NLM / LC)
          %th{:width=>"15%"}  Accession No
      %tbody
        - libtran=Librarytransaction.where('returned is NOT TRUE').order(checkoutdate: :asc)
        - a=libtran.count
        - if a > 10
          - libcount=9
        - else
          - libcount=a
        - 0.upto(libcount).each do |count_transac|
          %tr
            %td=libtran[count_transac].accession.book.title
            %td=libtran[count_transac].accession.book.classlcc
            %td=libtran[count_transac].accession.accession_no
    - if a > 10
      %table{:style=>" margin-left: 25px; cellspacing: 0: cellpadding:0; width:90%"}
        %tr
          %td.left=link_to("View More...","")
    
  .col-md-5
    %h4
      %font{:color=>:red}Possibily Repeated Books
    
    %table.table-striped.table-hover.ogma
      %thead
        %tr
          %th Tajuk 
          %th.centre{:width=>"10%"} Repeats
      %tbody  
        - repeated_books = Book.all.select(:isbn).map(&:isbn)
        - b = repeated_books.inject(Hash.new(0)) {|h,i| h[i] += 1; h }
        - repeat = b.to_a.each {|book, repeats|}
        - c=repeat.count
        - if c > 10
          - repeattingcount=10
        - else
          - repeattingcount=c
        - rcount=0
        - repeat.each do |book, repeats| 
          - if ("#{repeats}").to_i > 1 && rcount < repeattingcount
            - rcount+=1
            - stuid = "#{book}" 
            %tr
              %td
                = Book.where("isbn = ?", stuid).map {|f| f.id}.first
                \:
                = Book.where("isbn = ?", stuid).map {|f| f.title}.first
              %td="#{repeats}"
    - if c > 10
      %table{:style=>" margin-left: 25px; cellspacing: 0: cellpadding:0; width:90%"}
        %tr
          %td.left=link_to("View More...","")
   
