- model_class = Repositorysearch
.page-header
  %h1=@repositorysearch.repotype=='1' ? (t 'equery.repository.search') : (t 'equery.repository.search2')
= render 'shared/flashes'

.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t 'equery.result'),"#search", "data-toggle" => "tab"

    / display 
    .tab-content{style:"padding-top:1em"}
      #search_details.tab-pane.active  
            
        - if @repositorysearch.repotype=='1'
          = render partial: "equery_report/repositorysearches/iso/show", locals: {repositorysearch: @repositorysearch, repositories: @repositories}
        - elsif @repositorysearch.repotype=='2' ||  @repositorysearch.repotype==2
          = render partial: "equery_report/repositorysearches/digital_library/show", locals: {repositorysearch: @repositorysearch, repositories: @repositories}
         
.row
  .col-md-6.col-md-offset-3
    %hr
    .form-actions
      = link_to content_tag(:i, "", :class => "fa fa-arrow-left") +" #{t('equery.title')}", "/equery_reports/repository", class: 'btn btn-primary'
      
      - if @repositorysearch.repotype=='1'
        %span{style: 'padding-left: 20px;'}
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("equery.repository.main_page")), repositories_path, :class => 'btn btn-default'

        %span{style: 'padding-left: 20px;'}
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("equery.repository.search_form")), new_equery_report_repositorysearch_path(searchrepotype: '1'),  :class => 'btn btn-default'
          
      - elsif @repositorysearch.repotype=='2'
        %span{style: 'padding-left: 20px;'}
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("equery.repository.main_page2")), index2_repositories_path, :class => 'btn btn-default'

        %span{style: 'padding-left: 20px;'}
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("equery.repository.search_form")), new_equery_report_repositorysearch_path(searchrepotype: '2'),  :class => 'btn btn-default'
