<p><%=(t 'activerecord.attributes.user.hello')%> <%= @resource.email %>!</p>
<br>
<p><%=(t 'activerecord.attributes.user.reset_request')%></p>
<br>
<p><%= link_to (t 'activerecord.attributes.user.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p><%=(t 'activerecord.attributes.user.ignore_request')%></p>
<p><%=(t 'activerecord.attributes.user.password_unchanged')%></p>
<br>
<p><%=(t 'activerecord.attributes.user.automated_email')%></p>
<br>
<%=(t 'activerecord.attributes.user.signatory')%>