.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to "Info", "#info", "data-toggle" => "tab"
      %li= link_to t('staff.personal_details'),     "#personal",        "data-toggle" => "tab"
      %li= link_to t('staff.employment_details'),   "#employment",      "data-toggle" => "tab"
      %li= link_to t('staff.qualifications.title'), "#qualifications",  "data-toggle" => "tab"
      %li= link_to t('staff.finance.title'),        "#finance",         "data-toggle" => "tab"
      %li= link_to t('staff.loans.title'),          "#loans",           "data-toggle" => "tab"
      %li= link_to t('staff.contacts.emergency'),   "#contacts",        "data-toggle" => "tab"




.row.fluid
  = form_for [:staff, @info], url: staff_info_path(@info), :html => { :class => 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object


    / Tab panes
    .tab-content{style:"padding-top:1em"}
      #info.tab-pane.active
        .col-md-offset-2
        .form-group
          .col-sm-2.control-label
            = f.label t 'staff.icno', for: :icno
          .col-md-2
            = f.text_field :icno, class: 'form-control mandatory'
            .help-block.small Format:79XXXXXXXXXX
            
        .form-group
          .col-sm-2.control-label
            = f.label t 'staff.name', for: :name
          .col-md-4
            .input-group
              = f.collection_select :titlecd_id, Title.all, :id, :name, {:include_blank => true}, {class: 'selectpicker', "data-width"=>"80px"}
              = f.text_field :name, class: 'form-control mandatory'
            
        .form-group
          .col-sm-2.control-label
            = f.label t 'staff.code', for: :code
          .col-md-3
            = f.text_field :code, class: 'form-control mandatory'
            
        .form-group
          .col-sm-2.control-label
            = f.label t 'staff.fileno', for: :fileno
          .col-md-2
            = f.text_field :fileno, class: 'form-control mandatory'
            
        .form-group
          .col-sm-2.control-label
            = f.label t 'staff.coemail', for: :coemail
          .col-md-4
            = f.text_field :coemail, class: 'form-control mandatory'
            
        .form-group
          .col-sm-2.control-label
            = f.label t 'staff.cobirthdt', for: :cobirthdt
          .col-md-2
            = f.text_field :cobirthdt, class: 'form-control mandatory date_picker'#, 'data-behaviour' => 'datepicker_dob'
            

        .hidden          
          .form-group
            .col-sm-2.control-label
              = f.label t 'staff.thumb', for: :thumb_id
            .col-md-1
              = f.text_field :thumb_id, class: 'form-control mandatory'
              
        .form-group
          .col-sm-offset-2.col-sm-2
            = f.submit t('update'), class: "btn btn-primary"





      #personal.tab-pane
        %br
        .form-group
          .col-sm-offset-2.col-sm-2
            = f.submit t('update'), class: "btn btn-primary"
      #employment.tab-pane
        %br
        =# render 'tab_employment'
      #qualifications.tab-pane
        %br
        =# render 'tab_qualifications'
      #finance.tab-pane
        %br
        =# render 'tab_finance'
      #loans.tab-pane
        %br
        =# render 'tab_loans'
      #contacts.tab-pane
        %br
        =# render 'tab_contacts'





          
          
