.fields
  .row
    .col-sm-offset-1.col-sm-1= f.select :kintype_id, DropDown::KIN_TYPE, {prompt: "Select Type"}, {class: 'selectpicker', "data-width"=>"80px"}
    .col-sm-2= f.text_field :name,      :placeholder => "Name",       class: 'form-control'
    .col-sm-1= f.text_field :mykadno,   :placeholder => "MYKad No",   class: 'form-control'
    .col-sm-1= f.text_field :phone,     :placeholder => "Phone No",   class: 'form-control'
    .col-sm-2= f.text_field :profession,:placeholder => "Profession", class: 'form-control'
    .col-sm-1
      = f.hidden_field :_destroy
      = link_to image_tag("delete.png", :border => 0, :title => 'Remove'), class: "remove_fields"
  .row
    .col-sm-offset-1.col-sm-5= f.text_area :kinaddr, :placeholder => 'Address', class: "form-control" rows: "5"