%fieldset
  .row.fields
    .col-sm-offset-1.col-sm-1
      = f.hidden_field :_destroy
      = f.select :ltype, DropDown::LOAN_TYPE, {prompt: (t 'select')}, {class: 'form-control selectpicker', "data-width"=>"auto"}
    .col-sm-1= f.text_field :accno,       :placeholder => "account_no", class: 'form-control'
    .col-sm-1= f.text_field :startdt,     :placeholder => "start",      class: 'form-control date_picker'
    .col-sm-1= f.text_field :durationmn,  :placeholder => "Months Duration", class: 'form-control'
    .col-sm-1
      .input-group
        .input-group-addon RM
        = f.text_field :amount, placeholder: t('staff.loans.amount'), class: 'form-control'
    .col-sm-1
      .input-group
        .input-group-addon RM
        = f.text_field :deductions, placeholder: t('staff.loans.deductions'), class: 'form-control'
    .col-sm-1= f.text_field :firstdate,   :placeholder => "firstdate",    class: 'form-control date_picker'
    .col-sm-1= f.text_field :enddate,     :placeholder => "enddate",      class: 'form-control date_picker'
    .col-sm-1
      .input-group
        .input-group-addon RM
        = f.text_field :enddeduction, placeholder: t('staff.loans.enddeduction'), class: 'form-control'
    .col-sm-1= link_to content_tag(:i, "", class: "fa fa-trash-o"), "#", class: "removing_fields"

  :javascript
    $('.selectpicker').selectpicker('render');
    $('.date_picker').datetimepicker({
      timepicker:false,
      format:'Y-m-d',
      formatDate:'Y-m-d'
    });
    
    $('.removing_fields').click(function(){
      var fieldset=$(this).parent().parent().parent();
      var row=$(this).parent().parent();
      var all_fields=row.children().children();
      var destroyer=all_fields[0];
      destroyer.value=true;    
      fieldset.hide();
    });