%fieldset
  .row
    .col-sm-2.col-sm-offset-2
      = f.hidden_field :_destroy
      = f.select :level_id, DropDown::QUALIFICATION_LEVEL, {prompt: (t 'select')}, {class: 'form-control selectpicker', "data-width"=>"auto"}
    .col-sm-2= f.text_field :qname,     placeholder: 'Qualification Name',  class: 'form-control'
    .col-sm-4= f.text_field :institute, placeholder: 'Institute Name',      class: 'form-control'
    .col-sm-1= link_to content_tag(:i, "", class: "fa fa-trash-o"), "#", class: "removing_fields"

:javascript
  $('.selectpicker').selectpicker('render');
    
  $('.removing_fields').click(function(){
    var fieldset=$(this).parent().parent().parent();
    var row=$(this).parent().parent();
    var all_fields=row.children().children();
    var destroyer=all_fields[0];
    destroyer.value=true;    
    fieldset.hide();
  });