= search_form_for [:staff, @search], url: staff_infos_path, class: "form-inline" do |f|
  .col-lg-5.col-lg-offset-4{style: "margin-right: -50px;"}
    = f.text_field :icno_cont, class: "form-control search-field", type: "text", placeholder: t('staff.icno')
    = f.text_field :name_cont, class: "form-control search-field", type: "search", placeholder: t('staff.name')
    = f.text_field :positions_name_cont, class: "form-control search-field", type: "search", placeholder: t('staff.position')
  .col-lg-1
    = f.submit "Search", class: "btn btn-primary"
  .col-lg-1
    = f.submit "Clear", :name => nil, :id => :q_reset, class: "btn btn-warning"