.col-md-9.col-md-offset-1
  %dl.dl-horizontal
    - for kin in @staff.kins
      %hr
      %dt= t('staff.loans.ltype') + ":"
      %dd
        %strong= (DropDown::KIN_TYPE.find_all{|disp, value| value == kin.kintype_id }).map {|disp, value| disp}[0]

      %dt= t('staff.name') + ":"
      %dd= kin.try(:name)

      %dt= t('staff.contacts.kinmykadno') + ":"
      %dd= kin.mykadno

      %dt= t('staff.contacts.phone') + ":"
      %dd= kin.phone

      %dt= t('staff.contacts.profession') + ":"
      %dd= kin.profession

      %dt= t('staff.contacts.kinaddr') + ":"
      %dd= kin.kinaddr