- model_class = Staff
.col-md-9.col-md-offset-1
  %dl.dl-horizontal
    %dt= t 'staff.code', :default => model_class.human_attribute_name(:code) + ":"
    %dd= @staff.code

    %dt= t 'staff.fileno', :default => model_class.human_attribute_name(:fileno) + ":"
    %dd= @staff.fileno

    %dt= t 'staff.position'
    %dd= @staff.try(:position).try(:name)

    %dt= t 'staff.coemail', :default => model_class.human_attribute_name(:coemail) + ":"
    %dd= @staff.coemail

    %dt= t 'staff.cobirthdt', :default => model_class.human_attribute_name(:cobirthdt) + ":"
    %dd= @staff.cobirthdt.try(:strftime, '%d %b %Y')

    %dt= t 'staff.birthcertno', :default => model_class.human_attribute_name(:birthcertno) + ":"
    %dd= @staff.birthcertno

    %dt= t 'staff.age', :default => model_class.human_attribute_name(:age) + ":"
    %dd= @staff.age

    %dt= t 'staff.grade', :default => model_class.human_attribute_name(:staffgrade_id) + ":"
    %dd= @staff.staffgrade.try(:name_and_group)

    %dt= t 'staff.position', :default => model_class.human_attribute_name(:position_id) + ":"
    %dd
      -for position in @staff.positions
        = position.name
        \,

    %dt= t 'staff.reports_to', :default => model_class.human_attribute_name(:reports_to) + ":"
    %dd
      = @staff.positions.first.try(:parent).try(:name)
      \-
      = @staff.positions.first.try(:parent).try(:staff).try(:name)

    %dt= t 'staff.employstatus', :default => model_class.human_attribute_name(:employstatus) + ":"
    %dd= (DropDown::STAFF_STATUS.find_all{|disp, value| value == @staff.employstatus}).map {|disp, value| disp}[0]

    %dt= t 'staff.appointstatus', :default => model_class.human_attribute_name(:appointstatus) + ":"
    %dd= (DropDown::APPOINTMENT.find_all{|disp, value| value == @staff.appointstatus.to_s}).map {|disp, value| disp}[0]

    %dt= t 'staff.appointdt', :default => model_class.human_attribute_name(:appointdt) + ":"
    %dd= l(@staff.appointdt) rescue '-'

    %dt= t 'staff.schemedt', :default => model_class.human_attribute_name(:schemedt) + ":"
    %dd= l(@staff.schemedt) rescue '-'

    %dt= t 'staff.confirmdt', :default => model_class.human_attribute_name(:confirmdt) + ":"
    %dd= l(@staff.confirmdt) rescue '-'

    %dt= t 'staff.posconfirmdate', :default => model_class.human_attribute_name(:posconfirmdate) + ":"
    %dd= l(@staff.posconfirmdate) rescue '-'

    %dt= t 'staff.wealth_decleration_date', :default => model_class.human_attribute_name(:wealth_decleration_date) + ":"
    %dd= l(@staff.wealth_decleration_date) rescue '-'

    %dt= t 'staff.promotion_date', :default => model_class.human_attribute_name(:promotion_date) + ":"
    %dd= l(@staff.promotion_date) rescue '-'

    %dt= t 'staff.reconfirmation_date', :default => model_class.human_attribute_name(:reconfirmation_date) + ":"
    %dd= l(@staff.reconfirmation_date) rescue '-'

    %dt= t 'staff.current_grade_date', :default => model_class.human_attribute_name(:current_grade_date) + ":"
    %dd= l(@staff.current_grade_date) rescue '-'

    %dt= t 'staff.salary_no', :default => model_class.human_attribute_name(:salary_no) + ":"
    %dd=@staff.salary_no
    
    %dt= t 'staff.starting_salary', :default => model_class.human_attribute_name(:starting_salary) + ":"
    %dd= ringgols(@staff.starting_salary)
    
    %dt= t 'staff.current_salary', :default => model_class.human_attribute_name(:current_salary) + ":"
    %dd= ringgols(@staff.current_salary)
    
    %dt= t 'staff.allowance', :default => model_class.human_attribute_name(:allowance) + ":"
    %dd= ringgols(@staff.allowance)

    %dt= t 'staff.appointby', :default => model_class.human_attribute_name(:appointby) + ":"
    %dd= (DropDown::APPOINTED.find_all{|disp, value| value == @staff.appointby }).map {|disp, value| disp}[0]

    %dt= t 'staff.svchead', :default => model_class.human_attribute_name(:svchead) + ":"
    %dd= (DropDown::HOS.find_all{|disp, value| value == @staff.svchead }).map {|disp, value| disp}[0]

    %dt= t 'staff.svctype', :default => model_class.human_attribute_name(:svctype) + ":"
    %dd= (DropDown::TOS.find_all{|disp, value| value == @staff.svctype }).map {|disp, value| disp}[0]

    %dt= t 'staff.pensionstat', :default => model_class.human_attribute_name(:pensionstat) + ":"
    %dd= (DropDown::PENSION.find_all{|disp, value| value == @staff.pensionstat}).map {|disp, value| disp}[0]

    %dt= t 'staff.pensiondt', :default => model_class.human_attribute_name(:pensiondt) + ":"
    %dd= l(@staff.pensiondt) rescue '-'

    %dt= t 'staff.pension_confirm_date', :default => model_class.human_attribute_name(:pension_confirm_date) + ":"
    %dd= l(@staff.pension_confirm_date) rescue '-'

    %dt= t 'staff.pensionstat', :default => model_class.human_attribute_name(:pensionstat) + ":"
    %dd= (DropDown::UNIFORM.find_all{|disp, value| value == @staff.uniformstat }).map {|disp, value| disp}[0]