- model_class = Staff
.page-header
  %h1
    = t 'edit'
    = @staff.name

= render 'shared/flashes'

.row.fluid
  = form_for [:staff, @info], url: staff_info_path(@info), :html => { :class => 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
    = render 'form', :f => f

    %br
    .row
      .form-group
        .col-md-1.col-md-offset-2
          = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staff_info_path(@staff), :class => 'btn btn-default'
        .col-md-2
          .div{style: "margin-left:-40px;"}
            = f.submit t('update'), class: "btn btn-primary"