- model_class = Staff
.page-header
  %h1= t('staff.list')#, :default => model_class.model_name.human.pluralize
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    - permitted_to? :create, :staff_staffs do
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_staff_info_path
  %ul.nav.navbar-nav.navbar-right
    %li= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
    - permitted_to? :staff_list, :staff_staffs do
      %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), staff_list_staff_infos_path(params.merge(format: 'pdf'))

.row
  .col-md-12
    .alert.alert-warning
      %strong=(t 'remark')+": "
      =t 'staff.compulsory_position'
      /(eg. Booking Facilities)
      /TODO - to cater staff w/o perjawatan
      
  //.right{style:"padding:0 30px; margin:0;"}= paginate @staffs, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm"
  = render :partial => "staff/staffs/#{current_user.college.code}/index"
  .right{style:"padding:0 30px; margin:0;"}= paginate @staffs, :theme => 'twitter-bootstrap-3'

