- model_class = Employgrade
.page-header
  %h1= t('staff.employgrades.title')
  
.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    - permitted_to? :create, :staff_employgrades do
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_staff_employgrade_path
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        = fa_icon "print", text: (t 'actions.print')
        %b.caret

.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th{width: '45%'}=sort_link(@search, :name, (t 'staff.employgrades.name'))
        %th{width: '45%'}=sort_link(@search, :group_id, (t 'staff.employgrades.group_id'))
        %th{width: '10%'}=t('actions.delete')
        
    %tbody
    = render "index_search"
    
    - if is_developer?
      %br
      =@ahash
      /kod maritim
      /=@ahash[0][0]
      /kod non_maritim
      /= @ahash[0][1]
    
      %br maritim
      =@arr
      %br awam
      =@arr2
      %br combine
      ids:
      =@arr3
      %br
      ids+datas:
      =@arr4
      %br
      =@search.result.count
      =@arr4.count
      
      =@search.result.map(&:name)

    /Employgrade.where.not(group_id: nil).sort_by{|x|[x.grade_group, x.gred_no, x.gred_str]}
    /- @employgrades.each do |employgrade|
    /- @employgrades.where.not(group_id: nil).sort_by{|x|[x.grade_group, x.gred_no, x.gred_str]}.each do |employgrade|
    - @employgrades.each do |employgrade|
      %tr
        %td
          - if is_developer?
            =h employgrade.id.to_s+" - "
          =link_to employgrade.name, edit_staff_employgrade_path(employgrade)
        %td=h employgrade.grade_group
        %td=employgrade.valid_for_removal==true ? (link_to content_tag(:i, "", class: "fa fa-trash-o"), staff_employgrade_path(employgrade), :method => 'delete',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }) : ""
        
    /- @employgrades.where(group_id: nil).sort_by{|x|[x.gred_no, x.gred_str]}.each do |employgrade|
    /  %tr
    /    %td=link_to employgrade.name, edit_staff_employgrade_path(employgrade)
    /    %td=h employgrade.grade_group
    /    %td=employgrade.valid_for_removal==true ? (link_to content_tag(:i, "", class: "fa fa-trash-o"), staff_employgrade_path(employgrade), :method => 'delete',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }) : ""
  
  .right{style:"padding:0 30px; margin:0;"}= paginate @employgrades, :theme => 'twitter-bootstrap-3'