/Answer choices for MCQ Question-start
- if @type && @type=="1"
  I&nbsp;&nbsp;&nbsp;
  = hidden_field "examquestion[answerchoices_attributes][0]",:item, :value => "I" 
  - unless @examquestion.id.nil? || @examquestion.id.blank? 
    - if (Answerchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0 
      - if @examquestion.answerchoices[0] == nil 
        = text_field "examquestion[answerchoices_attributes][0]",:description, :size=>60 
      - else 
        = hidden_field "examquestion[answerchoices_attributes][0]",:id, :value => @examquestion.answerchoices[0].id 
        = text_field "examquestion[answerchoices_attributes][0]",:description, :size=>60, :value=>@examquestion.answerchoices[0].description
  - else
    - if @examquestion.questiontype=="MCQ"
      = text_field "examquestion[answerchoices_attributes][0]",:description, :size=>60 
    - else
      - if @examquestion.questiontype=="MCQ" && @examquestion.answerchoices[0]
        = text_field "examquestion[answerchoices_attributes][0]",:description, :size=>60, :value=>@examquestion.answerchoices[0].description 	
      - else
        = text_field "examquestion[answerchoices_attributes][0]",:description, :size=>60 	
  %br
  II&nbsp;&nbsp;
  = hidden_field "examquestion[answerchoices_attributes][1]",:item, :value => "II"
  - unless @examquestion.id.nil? || @examquestion.id.blank?
    - if (Answerchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0
      - if @examquestion.answerchoices[1] == nil 
        = text_field "examquestion[answerchoices_attributes][1]",:description, :size=>60
      - else 
        = hidden_field "examquestion[answerchoices_attributes][1]",:id, :value => @examquestion.answerchoices[1].id 
        = text_field "examquestion[answerchoices_attributes][1]",:description, :size=>60, :value=>@examquestion.answerchoices[1].description
  - else  
    - if @examquestion.questiontype=="MCQ"
      = text_field "examquestion[answerchoices_attributes][1]",:description, :size=>60 
    - else
      - if @examquestion.questiontype=="MCQ" && @examquestion.answerchoices[1]
        = text_field "examquestion[answerchoices_attributes][1]",:description, :size=>60, :value=>@examquestion.answerchoices[1].description 
      - else
        = text_field "examquestion[answerchoices_attributes][1]",:description, :size=>60
  %br
  III&nbsp;
  = hidden_field "examquestion[answerchoices_attributes][2]",:item, :value => "III"
  - unless @examquestion.id.nil? || @examquestion.id.blank?
    - if (Answerchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0
      - if @examquestion.answerchoices[2] == nil
        = text_field "examquestion[answerchoices_attributes][2]",:description, :size=>60
      - else
        = hidden_field "examquestion[answerchoices_attributes][2]",:id, :value => @examquestion.answerchoices[2].id
        = text_field "examquestion[answerchoices_attributes][2]",:description, :size=>60, :value=>@examquestion.answerchoices[2].description
  - else
    - if @examquestion.questiontype=="MCQ"
      = text_field "examquestion[answerchoices_attributes][2]",:description, :size=>60
    - else
      - if @examquestion.questiontype=="MCQ" && @examquestion.answerchoices[2]
        = text_field "examquestion[answerchoices_attributes][2]",:description, :size=>60, :value=>@examquestion.answerchoices[2].description 	
      - else
        = text_field "examquestion[answerchoices_attributes][2]",:description, :size=>60
  %br
  IV&nbsp;
  = hidden_field "examquestion[answerchoices_attributes][3]",:item, :value => "IV"
  - unless @examquestion.id.nil? || @examquestion.id.blank? 
    - if (Answerchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0 
      - if @examquestion.answerchoices[3] == nil 
        = text_field "examquestion[answerchoices_attributes][3]",:description, :size=>60
      - else
        = hidden_field "examquestion[answerchoices_attributes][3]",:id, :value => @examquestion.answerchoices[3].id
        = text_field "examquestion[answerchoices_attributes][3]",:description, :size=>60, :value=>@examquestion.answerchoices[3].description
  - else
    - if @examquestion.questiontype=="MCQ"
      = text_field "examquestion[answerchoices_attributes][3]",:description, :size=>60	
    - else
      - if @examquestion.questiontype=="MCQ" && @examquestion.answerchoices[3]
        = text_field "examquestion[answerchoices_attributes][3]",:description, :size=>60, :value=>@examquestion.answerchoices[3].description	
      - else
        = text_field "examquestion[answerchoices_attributes][3]",:description, :size=>60

  
/Answer choices for MCQ Question-end