/TRUE FALSE Question-start-BOOLEAN CHOICE PART
A
= hidden_field "examquestion[booleanchoices_attributes][0]",:item, :value => "A"
- unless @examquestion.id.nil? || @examquestion.id.blank?
  - if (Booleanchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0 
    = hidden_field "examquestion[booleanchoices_attributes][0]",:id, :value => @examquestion.booleanchoices[0].id
    = text_field "examquestion[booleanchoices_attributes][0]",:description, :size=>60, :value=>@examquestion.booleanchoices[0].description
  - else
    - if @examquestion.questiontype=="TRUEFALSE"
      = text_field "examquestion[booleanchoices_attributes][0]",:description, :size=>60
- else
  /EDIT PART?
  /- if @examquestion.questiontype=="TRUEFALSE" && @examquestion.booleanchoices[0]%>
  /= text_field "examquestion[booleanchoices_attributes][0]",:description, :size=>60, :value=>@examquestion.booleanchoices[0].description  %>
  /EDIT PART? 	
  /- else
  = text_field "examquestion[booleanchoices_attributes][0]",:description, :size=>60	
%br

B
= hidden_field "examquestion[booleanchoices_attributes][1]",:item, :value => "B"
- unless @examquestion.id.nil? || @examquestion.id.blank?
  - if (Booleanchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0 
    = hidden_field "examquestion[booleanchoices_attributes][1]",:id, :value => @examquestion.booleanchoices[1].id
    = text_field "examquestion[booleanchoices_attributes][1]",:description, :size=>60, :value=>@examquestion.booleanchoices[1].description
  - else
    - if @examquestion.questiontype=="TRUEFALSE"
      = text_field "examquestion[booleanchoices_attributes][1]",:description, :size=>60
- else
  /EDIT PART?
  /- if @examquestion.questiontype=="TRUEFALSE" && @examquestion.booleanchoices[1]%>
  /= text_field "examquestion[booleanchoices_attributes][1]",:description, :size=>60, :value=>@examquestion.booleanchoices[1].description  %>
  /EDIT PART? 	
  /- else
  = text_field "examquestion[booleanchoices_attributes][1]",:description, :size=>60	
%br

C
= hidden_field "examquestion[booleanchoices_attributes][2]",:item, :value => "C"
- unless @examquestion.id.nil? || @examquestion.id.blank?
  - if (Booleanchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0 
    = hidden_field "examquestion[booleanchoices_attributes][2]",:id, :value => @examquestion.booleanchoices[2].id
    = text_field "examquestion[booleanchoices_attributes][2]",:description, :size=>60, :value=>@examquestion.booleanchoices[2].description
  - else
    - if @examquestion.questiontype=="TRUEFALSE"
      = text_field "examquestion[booleanchoices_attributes][2]",:description, :size=>60
- else
  /EDIT PART?
  /- if @examquestion.questiontype=="TRUEFALSE" && @examquestion.booleanchoices[2]%>
  /= text_field "examquestion[booleanchoices_attributes][2]",:description, :size=>60, :value=>@examquestion.booleanchoices[2].description  %>
  /EDIT PART? 	
  /- else
  = text_field "examquestion[booleanchoices_attributes][2]",:description, :size=>60	
%br

D
= hidden_field "examquestion[booleanchoices_attributes][3]",:item, :value => "D"
- unless @examquestion.id.nil? || @examquestion.id.blank?
  - if (Booleanchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0 
    = hidden_field "examquestion[booleanchoices_attributes][3]",:id, :value => @examquestion.booleanchoices[3].id
    = text_field "examquestion[booleanchoices_attributes][3]",:description, :size=>60, :value=>@examquestion.booleanchoices[3].description
  - else
    - if @examquestion.questiontype=="TRUEFALSE"
      = text_field "examquestion[booleanchoices_attributes][3]",:description, :size=>60
- else
  /EDIT PART?
  /- if @examquestion.questiontype=="TRUEFALSE" && @examquestion.booleanchoices[3]%>
  /= text_field "examquestion[booleanchoices_attributes][3]",:description, :size=>60, :value=>@examquestion.booleanchoices[3].description  %>
  /EDIT PART? 	
  /- else
  = text_field "examquestion[booleanchoices_attributes][3]",:description, :size=>60
%br

E
= hidden_field "examquestion[booleanchoices_attributes][4]",:item, :value => "E"
- unless @examquestion.id.nil? || @examquestion.id.blank?
  - if (Booleanchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0 
    = hidden_field "examquestion[booleanchoices_attributes][4]",:id, :value => @examquestion.booleanchoices[4].id
    = text_field "examquestion[booleanchoices_attributes][4]",:description, :size=>60, :value=>@examquestion.booleanchoices[4].description
  - else
    - if @examquestion.questiontype=="TRUEFALSE"
      = text_field "examquestion[booleanchoices_attributes][4]",:description, :size=>60
- else
  /EDIT PART?
  /- if @examquestion.questiontype=="TRUEFALSE" && @examquestion.booleanchoices[4]%>
  /= text_field "examquestion[booleanchoices_attributes][4]",:description, :size=>60, :value=>@examquestion.booleanchoices[4].description  %>
  /EDIT PART? 	
  /- else
  = text_field "examquestion[booleanchoices_attributes][4]",:description, :size=>60	