= search_form_for [:examquestion, @search], url: exam_examquestions_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td &nbsp;
    %td= f.text_field :keyword_search, size: 2, class: 'form-control'
    %td= f.text_field :topic_name_cont, size: 2, class: 'form-control'
    %td= f.text_field :questiontype_cont, size: 2, class: 'form-control'
    %td= f.text_field :question_cont, size: 2, class: 'form-control'
    %td= f.text_field :answer_cont, size: 2, class: 'form-control'
    %td= f.text_field :marks_eq, size: 2, :class=> "form-control"
    %td= f.text_field :category_cont, size: 2, class: 'form-control'
    %td= f.text_field :difficulty_cont, size: 2, class: 'form-control'
    %td= f.text_field :qstatus_cont, size: 2,  class: 'form-control'
    %td
      .input-group
        = f.text_field :creator_name_cont, size: 2,  class: 'form-control'
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw

/difficulty - temporary : search by nos - 1,2,3