- model_class = Examquestion
.col-md-8.col-md-offset-1
  %dl.dl-horizontal
    %dt= t 'exam.examquestion.approval_details'
    %dd 
      /=h @examquestion.qstatus
      = t("exam.examquestion.#{@examquestion.qstatus.downcase.split.join.gsub(/-+/,"")}")
    %dt= t 'exam.examquestion.approver_id', :default => model_class.human_attribute_name(:approver_id) + ":"
    %dd=h @examquestion.approver_details 

    %dt= t 'exam.examquestion.statusremarks', :default => model_class.human_attribute_name(:statusremarks) + ":"
    %dd=h @examquestion.statusremark

    %dt= t 'exam.examquestion.approvedt', :default => model_class.human_attribute_name(:approvedt) + ":"
    %dd
      - if ["Approved", "Reserve for BPL"].include? (@examquestion.qstatus)
        =h l(@examquestion.approvedt) unless @examquestion.approvedt.blank?