- model_class = LessonPlan
.row
  .col-md-10.col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t 'training.lesson_plan.descriptions'),"#lesson_plan_descriptions", "data-toggle" => "tab"
      %li=link_to (t 'training.lesson_plan.methodologies'), "#lesson_plan_methodologies", "data-toggle" => "tab"
      %li=link_to (t 'training.lesson_plan.submission'), "#lesson_plan_submission", "data-toggle" => "tab"
      
    .tab-content{style:"padding-top:1em"}
      - if @lesson_plan.is_submitted!=true
        .col-md-offset-2 
          .form-group
            .col-sm-2.control-label
              = f.label :lecturer
            .col-md-3
              - if current_user.college.code=="kskbjb"
                - lecturers=Staff.joins(:positions).where('positions.name=?','Pengajar').order('name ASC')
              - else
                - lecturers=Staff.joins(:positions).where('positions.name=?','Jurulatih').order('rank_id ASC, name ASC')
              = f.collection_select :lecturer, lecturers, :id, :staff_with_rank, {:include_blank =>t('helpers.prompt.select_lecturer')},{class: 'selectpicker', "data-width"=>'280px'} 
            
        .col-md-offset-2 
          .form-group
            .col-sm-2.control-label
              = f.label :schedule
            .col-md-3
              - arr=[[t('select'),"", {'data'=>""}]]
              - if @is_admin
                /admin
                - @lessonplan_schedule = LessonPlan.all.map(&:schedule).uniq.compact
                /- WeeklytimetableDetail.all.sort_by{|x|x.weeklytimetable_lecturer.name}.each do |c|
                - WeeklytimetableDetail.joins(:weeklytimetable_lecturer).order('rank_id ASC, name ASC, weeklytimetable_id ASC, time_slot, time_slot2').each do |c|
                  - arr << [c.day_time_slot3, c.id, {'data'=>c.location_desc}]
                = select_tag("lesson_plan[schedule]", options_for_select(arr, @lesson_plan.schedule), {class: 'selectpicker', "data-width"=>'620px'})
              - else
                /lecturer
                - if @lesson_plan && !@lesson_plan.schedule
                  - @lessonplan_schedule = LessonPlan.all.map(&:schedule).uniq.compact
                  /-  WeeklytimetableDetail.where('lecturer_id=? AND id NOT IN (?)', @current_user.userable_id,@lessonplan_schedule).each do |c|
                  - WeeklytimetableDetail.joins(:weeklytimetable_lecturer).order('rank_id ASC, name ASC, weeklytimetable_id ASC, time_slot, time_slot2').each do |c|
                    - arr << [c.day_time_slot3, c.id, {'data'=>c.location_desc}]
                  = select_tag("lesson_plan[schedule]", options_for_select(arr, @lesson_plan.schedule), {class: 'selectpicker', "data-width"=>'620px'})
                - else
                  /- WeeklytimetableDetail.where('lecturer_id=?', @current_user.userable_id).each do |c|
                  - WeeklytimetableDetail.joins(:weeklytimetable_lecturer).order('rank_id ASC, name ASC, weeklytimetable_id ASC, time_slot, time_slot2').each do |c|
                    - arr << [c.day_time_slot3, c.id, {'data'=>c.location_desc}]
                  = select_tag("lesson_plan[schedule]", options_for_select(arr, @lesson_plan.schedule), {class: 'selectpicker', "data-width"=>'620px'})
       
          .form-group.bong{:style=> "display: none;"}
            .col-sm-2.control-label
              = f.label :location
            .col-md-3
              /= @lesson_plan.schedule_item.weeklytimetable_location.try(:name) 
              = text_field_tag :new_location, @lesson_plan.try(:schedule_item).try(:location_desc), class: 'form-control'  

      - else
        /Programme Manager /  Approval display
        .col-md-8.col-md-offset-1
          %dl.dl-horizontal
            %dt= t 'training.lesson_plan.lecturer', :default => model_class.human_attribute_name(:lecturer) + ":"
            %dd=h @lesson_plan.lessonplan_owner.name
          
            %dt= t 'training.lesson_plan.intake_id', :default => model_class.human_attribute_name(:intake_id)+":"
            %dd
              - @weeklytmetabledetails = WeeklytimetableDetail.all.map(&:id).uniq
              - if @weeklytmetabledetails.include?(@lesson_plan.schedule) 
                =t 'training.lesson_plan.group'
                =h @lesson_plan.schedule_item.weeklytimetable.schedule_intake.group_with_intake_name
              - else
                %font{:color=>"red"}=t('training.lesson_plan.schedule_removed')
      %BR
      %BR

      #lesson_plan_descriptions.tab-pane.active
        %br
        - if @lesson_plan.is_submitted!=true
          = render 'tab_descriptions_edit.html.haml', :f => f
        - else
          = render 'tab_descriptions'
         
      #lesson_plan_methodologies.tab-pane
        %br
        - if @lesson_plan.is_submitted!=true
          = render 'tab_methodologies_edit.html.haml', :f => f
        - else
          = render 'tab_methodologies'
        
      #lesson_plan_submission.tab-pane
        %br
        = render 'tab_submission_edit.html.haml', :f => f 
              
:javascript

  if ($('#lesson_plan_schedule option:selected').val()=="")
    $('.bong').hide();
  else
    $('.bong').show();

  $('#lesson_plan_schedule').change(function() {
    if($(this).val() == "") {
      $('.bong').hide();
    }else {
      var yoyo = $(this).find('option:selected').attr('data');
      var ansP = document.getElementById("new_location");
      ansP.value =yoyo;
      $('.bong').show("appear");
    }
  });
  
  //<![CDATA[
  bkLib.onDomLoaded(function() {
    new nicEditor().panelInstance('myNicEditor3');
    new nicEditor().panelInstance('myNicEditor4');
  });
  //]]>

  function add_fields(link, association, content) {  
    var new_id = new Date().getTime();  
    var regexp = new RegExp("new_" + association, "g");  
    $(link).parent().before(content.replace(regexp, new_id));  
  }

/Ref : http://guides.rubyonrails.org/form_helpers.html#the-select-and-option-tags
/Ref : http://stackoverflow.com/questions/4305378/ruby-on-rails-jquery-to-get-data-using-ajax