%fieldset
  .row
    .col-sm-3
      = t 'training.lesson_plan.time'
    .col-sm-2
      = f.text_field :start_meth, :placeholder => "Start", class: 'form-control time_picker'
      = f.hidden_field :college_id, value: current_user.college_id
    .col-sm-2
      = t 'training.lesson_plan.to'
    .col-sm-2
      = f.text_field :end_meth, :placeholder => "End", class: 'form-control time_picker'
  .row
    .col-sm-3
      = t 'training.lesson_plan.content'
    .col-md-8
      = f.text_area :content, :placeholder => "Content", class: 'form-control'
  .row
    .col-sm-3
      = t 'training.lesson_plan.lecturer_activity'
    .col-sm-8
      = f.text_area :lecturer_activity, :placeholder =>"Lecturer Activity", class: 'form-control'
  .row
    .col-sm-3
      = t 'training.lesson_plan.student_activity'
    .col-sm-8 
      = f.text_area :student_activity, :placeholder => "Student Activity", class: 'form-control'
  .row
    .col-sm-3
      = t 'training.lesson_plan.training_aids'
    .col-sm-8 
      = f.text_area :training_aids, :placeholder =>"Training Aids", class: 'form-control'
  .row
    .col-sm-3
      = t 'training.lesson_plan.evaluation'
    .col-sm-8 
      = f.text_area :evaluation, :placeholder =>"Evaluation", class: 'form-control'
  .row
    .col-sm-3
    .col-sm-8
    .col-sm-1
      = f.hidden_field :_destroy
      = f.hidden_field :lesson_plan_id 
      = link_to content_tag(:i, "", class: "fa fa-trash-o"), "#", class: "removing_fields"
  %hr
  
  :javascript
    $('.selectpicker').selectpicker('render');
    $('.time_picker').datetimepicker({
     datepicker:false,
        format:'H:i',
        step:5,
    });
    $('.removing_fields').click(function(){
      var fieldset=$(this).parent().parent().parent();
      var row=$(this).parent().parent();
      var all_fields=row.children().children();
      var destroyer=all_fields[0];
      destroyer.value=true;    
      fieldset.hide();
    });
