.col-md-offset-2 
  - if @lesson_plan.is_submitted!=true
    .form-group
      .col-sm-2.control-label
        = f.label :is_submitted
      .col-md-3
        = f.check_box :is_submitted, :id => 'check_submitted' 
        #span_submitted{:style=>"display: none;"}
          = Date.today.strftime('%d %b %Y')
    .form-group
      .col-sm-2.control-label
        = f.label :endorsed_by
      .col-md-3
        = f.collection_select :endorsed_by, Staff.where('id IN (?)', @lesson_plan.hods).order(name: :asc), :id, :name,{:include_blank=>t('helpers.prompt.select_hod')},{ class: 'selectpicker', "data-width"=>'230px'}
  - else
    .form-group
      .col-sm-2.control-label
        = f.label :hod_approved
      .col-md-3
        = f.check_box :hod_approved, :id => 'check_hod_accept'
        #span_hod_endorse{:style=>"display: none;"}
          = f.text_field :hod_approved_on, class: 'date_picker form-control'
    .form-group
      .col-sm-2.control-label
        = f.label :hod_rejected
      .col-md-3
        = f.check_box :hod_rejected, :id => 'check_hod_reject'
        #span_hod_endorse2{:style=>"display: none;"}
          = f.text_field :hod_rejected_on, class: 'date_picker form-control'
          = f.text_area :reason, :col=>30, :rows=> 3, :placeholder => "State reason for rejection."

    /:javascript
  
     
    /$(document).ready(function(){
    /  $("input[id='check_submitted']").change(function() {  
    /    if($('#check_submitted').is(':checked')) { 
    /      $("#span_submitted").show("highlight"); 
    /    }else{
    /      $("#span_submitted").hide(""); 
    /    }
    /  });

    /  $("input[id='check_submitted']").each(function() {  
    /    if($('#check_submitted').is(':checked')) { 
    /      $("#span_submitted").show("highlight"); 
    /    }else{
    /    $("#span_submitted").hide(""); 
    /    }
    /  });
    /});
    
    
    /$(document).ready(function(){
    /  $("input[id='check_hod_accept']").change(function() {  
    /    if($('#check_hod_accept').is(':checked')) { 
    /      $("#span_hod_endorse").show("highlight"); 
    /    }else{
    /      $("#span_hod_endorse").hide(""); 
    /    }
    /  });
    /  $("input[id='check_hod_accept']").each(function() {  
    /     if($('#check_hod_accept').is(':checked')) { 
    /       $("#span_hod_endorse").show("highlight"); 
    /     }else{
    /       $("#span_hod_endorse").hide(""); 
    /     }
    /  }); 
    /  //HOD reject
    /  $("input[id='check_hod_reject']").change(function() {  
    /    if($('#check_hod_reject').is(':checked')) { 
    /      $("#span_hod_endorse2").show("highlight"); 
    /    }else{
    /      $("#span_hod_endorse2").hide(""); 
    /    }	
    /  });
    /  $("input[id='check_hod_reject']").each(function() {  
    /    if($('#check_hod_reject').is(':checked')) { 
    /      $("#span_hod_endorse2").show("highlight"); 
    /    }else{
    /      $("#span_hod_endorse2").hide(""); 
    /    }
    /  });
    /});
 
