.navbar.navbar-inverse{role: "navigation", style: "padding-right:40px;"}
  %ul.nav.navbar-nav
    - permitted_to? :create, :students do
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_student_path
      %li= link_to content_tag(:li, fa_icon("file-excel-o", text: (t 'actions.import_excel'))), import_excel_amsas_students_path    
  %ul.nav.navbar-nav.navbar-right
    %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"
    - permitted_to? :student_report, :students do
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          = fa_icon "print", text: (t 'actions.print')
          %b.caret
        %ul.dropdown-menu
          - for intakeid in allstudents.order(intake_id: :desc).pluck(:intake_id).uniq
            %li= link_to  (fa_icon "file-pdf-o", text: Intake.find(intakeid).siri_programmelist), student_report_students_path(programme_id: intakeid, format: 'pdf')

    - permitted_to? :manage, :students do
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          = fa_icon "external-link", text: (t 'actions.export')
          %b.caret
        %ul.dropdown-menu
          %li= link_to (fa_icon "file-excel-o", text: (t "student.students.list")), students_path(params.merge(format: "xls"))
     
.row.filter{style: "display:none;"}
  .col-md-2

.row
  %table.table-striped.table-hover.ogma
    %thead
      %tr
        %th{width: '20%'}= sort_link(@search, :formatted_mykad, (t 'student.students.formatted_mykad'))
        %th{width: '40%'}= sort_link(@search, :name, (t 'student.students.name'))
        %th{width: '20%'}= sort_link(@search, :matrixno, (t 'student.students.matrixno'))
        %th{style: "width:20%;"}= sort_link(@search, :race, (t 'student.students.race'))
        //%th.ac{:colspan => "2"}= t 'control'

    %tbody
    = render "index_search"
    - allstudents.group_by{|t|t.intakestudent}.each do |intake, student_by_intake|
      %tr
        %td.group{:colspan => "10", :style => "background-color:#EFF1F1;"}
          %span{:style => "color:#218AFB;font-weight:bold;"}=intake.siri_programmelist
          /NOTE: group_id -> division
      - student_by_intake.group_by(&:group_id).each do |group_id, students|
        %tr
          %td.group{:colspan => "12", :style => "background-color:#E5E4E2;"}
            - if group_id!=nil
              - group_name=intake.division[group_id.to_s][:name]
            - else
              - group_name=""
            %span{:style => "color:#black;font-weight:bold;font-size:14px"}= link_to group_name, "#", class: 'bogus'
        - for student in students
          %tr
            %td= link_to student.formatted_mykad, student_path(student)
            %td= student.student_with_rank
            %td= student.matrixno
            %td
              - if (student.race2.nil? && !student.race.nil? && student.race!='')||(student.race2.blank? && !student.race.blank? &&  student.race!='')
                %font{:color => "red"}
                  *#{student.race}

  .right{style:"padding:0 30px; margin:0;"}= paginate @students, :theme => 'twitter-bootstrap-3'