.form-group
  .col-sm-2.control-label
    = f.label t('campus.bookingfacilities.approver_id2'), for: :approver_id2
  .col-md-5
    - facilities_officers=Staff.where('id=? or id=?', @bookingfacility.booked_facility.staffadmin_id, current_user.userable_id).order(rank_id: :asc, name: :asc)
    = f.collection_select :approver_id2, facilities_officers, :id, :staff_with_rank, {selected: current_user.userable_id}, {class: 'form-control selectpicker mandatory', "data-width" =>"auto"}
     
.form-group
  .col-sm-2.control-label
    = f.label t('campus.bookingfacilities.approval'), for: :approval2
  .col-md-6
    .form-inline
      .form-group
        = t 'yes2'
        = f.radio_button :approval2, true
      .form-group
        = t 'no2'
        = f.radio_button :approval2, false
      
.form-group
  .col-sm-2.control-label
    = f.label t('campus.bookingfacilities.approval_date2'), for: :approval_date2
  .col-md-2
    = f.text_field :approval_date2, class: 'form-control date_picker_reverse', value: @bookingfacility.approval_date2.try(:strftime, '%d-%m-%Y')

.form-group
  .col-sm-2.control-label
    = f.label t('campus.bookingfacilities.remark2'), for: :remark2
  .col-md-6
    = f.text_field :remark2, class: 'form-control'