- model_class = TravelClaimsTransportGroup
.page-header
  %h1= t 'staff.travel_claims_transport_groups.new'
  
.row
  = form_for [:staff, @travel_claims_transport_group],  html: { multipart: true, class: 'form-horizontal' }  do |f| 
    = render 'shared/error_messages', object: f.object
 
    .col-md-offset-1
      / Nav tabs
      %ul.nav.nav-tabs
        %li.active= link_to (t "staff.travel_claims_transport_groups.details"), "#details",  "data-toggle" => "tab" 
        
      /display
      .tab-content{style:"padding-top:1em"}
        #details.tab-pane.fade.in.active 
          .col-md-8.col-md-offset-2  
            = render 'form', :f => f
                
            %br

      .col-md-6.col-md-offset-1
        .form-group
          .col-sm-offset-2.col-sm-2
            = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staff_travel_claims_transport_groups_path, :class => 'btn btn-default'
          .col-sm-3
            = f.submit t('create'), class: "btn btn-primary" 
 
