.mp-level
  %h2.icon.icon-world Menu
  %ul
    - permitted_to? :menu, :staffs do
      %li.icon.icon-left
        = link_to t('staff.title'), '#'
        .mp-level
          %h2.icon=t('staff.title')
          %a.mp-back{:href => "#"}=t('back')
          %ul
            %li= link_to t('staff.list'), staff_infos_path
            %li.icon.icon-left
              = link_to t('staff_attendance.title'), '#'
              .mp-level
                %h2.icon Staff Attendance
                %a.mp-back{:href => "#"}= t 'helpers.links.back'
                %ul
                  %li= link_to t('attendance.manage_lateness_earlyreturn'), '/attendance/manage'
                  %li= link_to t('staff_attendance.title'), staff_staff_attendances_path
                  %li= link_to t('staff_attendance.status_pcard'), '/attendance/status'
                  %li= link_to "Report - Monthly Listing", '#'
            %li= link_to t('staff.staff_appraisal.title'), staff_staff_appraisals_path
            %li= link_to t('position.title'), staff_positions_path
            %li.icon.icon-left
              = link_to t('staff_leave.leave'), '#'
              .mp-level
                %h2.icon= t('staff_leave.leave')
                %a.mp-back{:href => "#"}= t 'helpers.links.back'
                %ul
                  %li= link_to t('staff_leave.apply'), new_staff_leaveforstaff_path
                  %li= link_to t('staff_leave.listapprove'), staff_leaveforstaffs_path
            %li.icon.icon-left
              = link_to t('staff.travel_claim.title'), '#'
              .mp-level
                %h2.icon=t 'staff.travel_claim.title'
                %a.mp-back{:href => "#"}= t 'helpers.links.back'
                %ul
                  %li= link_to t('staff.travel_request.title'), staff_travel_requests_path
                  %li= link_to t('staff.travel_request.my_travel_logs'), travel_log_index_staff_travel_requests_path
                  %li= link_to t('staff.travel_claim.title'), staff_travel_claims_path
            %li.icon.icon-left
              = link_to t('staff.professional_development'), '#'
              .mp-level
                %h2.icon=t ('staff.professional_development')
                %a.mp-back{:href => "#"}= t 'helpers.links.back'
                %ul
                  %li= link_to t('staff.training.budget.title'), staff_training_ptbudgets_path
                  %li= link_to t('staff.training.course.title_course'), staff_training_ptcourses_path
                  %li= link_to t('staff.training.schedule.title_schedule'), staff_training_ptschedules_path
                  %li= link_to t('staff.training.application_status.title_apply'), '#', class: 'bogus'
                  %li= link_to t('staff.training.application_status.title'), staff_training_ptdos_path
            %li= link_to t('staff.travel_request.status_movement'), staff_travel_requests_path
            %li.icon.icon-left
              = link_to "Reports", '#'
              .mp-level
                %h2.icon Reports
                %a.mp-back{:href => "#"}= t 'helpers.links.back'
                %ul
                  %li= link_to "Maklumat Perjawatan", '/staff/positions/maklumat_perjawatan.pdf'

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + (t "asset.title"), '#'
      .mp-level
        %h2.icon=t ("asset.title")
        %a.mp-back{:href => "#"}=t('back')
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "asset.title"), asset_assets_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "stationery.title_menu"), asset_stationeries_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "asset.defect.title"), asset_defects_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "asset.loss.title"), asset_losses_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "asset.disposal.title"), asset_disposals_path
          %li.icon.icon-left
            = link_to t('asset.loan.title'), '#'
            .mp-level
              %h2.icon=t('asset.loan.title')
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to t('asset.loan.application'), loanables_asset_assets_path
                %li= link_to t('asset.loan.asset_on_loan'), asset_loans_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "asset.reportdownload"), "/asset_report"

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + (t "location.title"), '#'
      .mp-level
        %h2.icon Locations
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Locations", campus_locations_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Assignment", '#'
          %li.icon.icon-left
            = link_to (t "student.tenant.title"), '#'
            .mp-level
              %h2.icon= t "student.tenant.title"
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to (t "student.tenant.room_map"), room_map_student_tenants_path
                %li= link_to (t "student.tenant.list"), student_tenants_path
                %li= link_to (t "student.tenant.return_key"), return_key_student_tenants_path
                %li= link_to (t "student.tenant.statistics"), statistics_student_tenants_path

          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Location Tree", '#'

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "E-Filing", '#'
      .mp-level
        %h2.icon E-Filing
        %a.mp-back{:href => "#"}=t('back')
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Campus Info", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "events.campus_events"), events_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Campus Events Calendar", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Local Messaging", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Bulletin Board", bulletins_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Equery/Reports", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "document.title"), documents_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "File Registry", cofiles_path

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + t("student.title"), '#'
      .mp-level
        %h2.icon=t "student.title"
        %a.mp-back{:href => "#"}=t('back')
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + t("student.students.title"), students_path
          - permitted_to? [:update, :approve, :approve2], :student_leaveforstudents do
            %li= link_to content_tag(:i, "", :class => "icon-numb") + t("student.leaveforstudent.title"), student_leaveforstudents_path
          - permitted_to? :manage, :student_student_attendances do
            %li= link_to content_tag(:i, "", :class => "icon-numb") + t("student.attendance.title2"), student_student_attendances_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + t("student.discipline.title2"), student_student_discipline_cases_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + t("student.counseling.title2"), student_student_counseling_sessions_path

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") +  t("training.title"), '#'
      .mp-level
        %h2.icon= t ("training.title")
        %a.mp-back{:href => "#"}= t 'helpers.links.back'
        %ul
          %li.icon.icon-left
            = link_to (t "setup"), '#'
            .mp-level
              %h2.icon=(t "setup")
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to t("training.create_timetable"), training_timetables_path
                %li= link_to t("training.create_intake"), training_intakes_path
                %li= link_to t("training.create_academic_session"), training_academic_sessions_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + t("training.timetable_entries"), training_weeklytimetables_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + t("training.programme.title"), training_programmes_path
          %li.icon.icon-left
            = link_to t('training.lesson_plan.title'), '#'
            .mp-level
              %h2.icon=t("training.lesson_plan.title")
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to t('training.topicdetail.create'), training_topicdetails_path
                %li= link_to t('training.lesson_plan.title'), training_lesson_plans_path
                %li= link_to t('training.lesson_plan.reporting'), index_report_training_lesson_plans_path
          - permitted_to? :menu, :training_trainingnotes do
            %li= link_to content_tag(:i, "", :class => "icon-numb") + t('training.trainingnote.title2'), training_trainingnotes_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Personalised Time Table", personalize_index_training_weeklytimetables_path

    //- permitted_to? :menu, :exam_exams do
    - permitted_to? :index, :exam_evaluate_courses do
      %li.icon.icon-left
        = link_to content_tag(:i, "", :class => "icon-numb") + (t "exam.title"), '#'
        .mp-level
          %h2.icon Exams
          %a.mp-back{:href => "#"}= t 'helpers.links.back'
          %ul
            /- permitted_to? :menu, :exam_exams do
            - permitted_to? :menu, :exam_examquestions do
              %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "exam.examquestion.title"), exam_examquestions_path
            - permitted_to? :menu, :exam_exams do
              %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "exam.exams.title"), exam_exams_path
            /- permitted_to? :menu, :exam_examresults do 
            /activate above, once examresult for student access ready
            %li.icon.icon-left
              = link_to (t "exam.management"), '#'
              .mp-level
                %h2.icon= t "exam.management"
                %a.mp-back{:href => "#"}= t 'helpers.links.back'
                %ul
                  - permitted_to? :menu, :exam_exammarks do
                    %li= link_to (t "exam.exammark.title"), exam_exammarks_path
                  /- permitted_to? :menu, :exam_grades do
                  /activate above, once grades - lecturers & programme manager ready
                  %li= link_to (t "exam.grade.title"), exam_grades_path
                  %li.icon.icon-left
                    = link_to (t "exam.result"), '#'
                    .mp-level
                      %h2.icon= t "exam.result"
                      %a.mp-back{:href => "#"}= t 'helpers.links.back'
                      %ul
                        /- permitted_to? :manage, :exam_examresults do
                        /activate above, once examresults - lecturers & programme manager ready
                        %li= link_to (t "exam.examresult.title2"), "#"
                        //no need to put any permitted_to here -- as access given above(line 173 -174)
                        %li= link_to (t "exam.examresult.exam_slip"), "#"
            
            /%li= link_to content_tag(:i, "", :class => "icon-numb") + "Examination Management", '#'
            - permitted_to? :index, :exam_evaluate_courses do
              %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "exam.evaluate_course.title"), exam_evaluate_courses_path
            - permitted_to? :menu, :exam_exams do
              %li= link_to content_tag(:i, "", :class => "icon-numb") + "Examination Analysis", '#'

    %li.icon.icon-left
      //= link_to content_tag(:i, "", :class => "book") + (t "library.title"), '#'
      = link_to (fa_icon "book", text: (t "library.title")), '#'
      .mp-level
        %h2.icon= fa_icon "book", text: (t "library.title")
        %a.mp-back{:href => "#"}=t('back')
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Rules & Regulations", '#'
          - permitted_to? :read, :library_librarytransactions do 
            %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "library.transaction.title"), library_librarytransactions_path
          - permitted_to? :manage, :library_librarytransactions do
            %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "library.transaction.manager"), manager_library_librarytransactions_path
          - permitted_to? :read, :library_books do  
            %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "library.book.list"), library_books_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Analysis", '#'
          %li= link_to content_tag(:i, fa_icon("bar-chart-o", text: "Statistics")), '#'

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + t('administration.title'), '#'
      .mp-level
        %h2.icon= t('administration.title')
        %a.mp-back{:href => "#"}=t('back')
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + t('user.title'), users_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + t('role.title'), roles_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Pages", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Address Book", campus_address_books_path
          %li.icon.icon-left
            = link_to t('support.title'), '#'
            .mp-level
              %h2.icon= t('support.title')
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to "Staff Titles", '#'
                %li= link_to "Staff Shifts", '#'
                %li= link_to "Mileage Rates", '#'
                %li= link_to "Employee Schemes", '#'
                %li= link_to t('banks.title'), banks_path
                %li= link_to "Asset Categories", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Release Notes", '#'

