.mp-level
  %h2.icon.icon-world Menu
  %ul
    /1) Staffs module - no access
    /2) Assets module - no access
    /3) Location module -  no access
    /4) E-Filing module - no access
    
    /5) Students module
    - permitted_to? :show, :students do
      %li.icon.icon-left
        = link_to content_tag(:i, "", :class => "icon-numb") + t("student.title"), '#'
        .mp-level
          %h2.icon=t "student.title"
          %a.mp-back{:href => "#"}=t('back')
          %ul
            - permitted_to? :update, :students do
              - if current_user.userable_type=="Student"
                %li= link_to content_tag(:i, "", :class => "icon-numb") + t("student.students.title"), student_path(current_user.userable.id)
            - permitted_to? :menu, :student_leaveforstudents do
              %li= link_to content_tag(:i, "", :class => "icon-numb") + t("student.leaveforstudent.title"), student_leaveforstudents_path
            - permitted_to? :read, :staff_mentors do
              %li=link_to content_tag(:i, "", :class => "icon-numb") + t("staff.mentors.title"), staff_mentors_path

    /6) Training module
    /- permitted_to? :menu, :training_trainingnotes do
    /  %li.icon.icon-left
    /    = link_to content_tag(:i, "", :class => "icon-numb") +  t("training.title"), '#'
    /    .mp-level
    /      %h2.icon= t ("training.title")
    /      %a.mp-back{:href => "#"}= t 'helpers.links.back'
    /      %ul
    /        %li= link_to content_tag(:i, "", :class => "icon-numb") + t('training.trainingnote.title2'), training_trainingnotes_path

    /7) Exams module
    - permitted_to? :index, :exam_evaluate_courses do
      %li.icon.icon-left
        = link_to content_tag(:i, "", :class => "icon-numb") + (t "exam.title"), '#'
        .mp-level
          %h2.icon=(t "exam.title")
          %a.mp-back{:href => "#"}= t 'helpers.links.back'
          %ul
            - permitted_to? :menu, :exam_examresults do
              %li.icon.icon-left
                = link_to (t "exam.management"), '#'
                .mp-level
                  %h2.icon= t "exam.management"
                  %a.mp-back{:href => "#"}= t 'helpers.links.back'
                  %ul
                    %li.icon.icon-left
                      = link_to (t "exam.result"), '#'
                      .mp-level
                        %h2.icon= t "exam.result"
                        %a.mp-back{:href => "#"}= t 'helpers.links.back'
                        %ul
                          - permitted_to? :examination_slip, :exam_examresults do
                            - if current_user.college.code=="kskbjb"
                              %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "exam.examresult.exam_slip_transcript"), index2_exam_examresults_path
                            - elsif current_user.college.code=="amsas"
                              %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "exam.examresult.exam_slip"), index2_exam_examresults_path

            - permitted_to? :read, :exam_evaluate_courses do
              - if current_user.college.code=='amsas'
                - course_evaluation=(t "exam.evaluate_course.title2")
              - else
                -course_evaluation=(t "exam.evaluate_course.title")
              %li= link_to content_tag(:i, "", :class => "icon-numb") + course_evaluation, exam_evaluate_courses_path

    /8) Library module          
    - permitted_to? :read, :library_books do  
      %li.icon.icon-left
        //= link_to content_tag(:i, "", :class => "book") + (t "library.title"), '#'
        = link_to (fa_icon "book", text: (t "library.title")), '#'
        .mp-level
          %h2.icon= fa_icon "book", text: (t "library.title")
          %a.mp-back{:href => "#"}=t('back')
          %ul
            /%li= link_to content_tag(:i, "", :class => "icon-numb") + (t "library.transaction.rules_regulations"), rules_regulations_path
            %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "library.transaction.rules_regulations"), flexipage_campus_page_path(74)
            - permitted_to? :read, :library_books do  
              %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "library.book.list"), library_books_path
            %li= link_to content_tag(:i, "", :class => "icon-numb") + (t "library.help"), flexipage_campus_page_path(80)

    /9) Administration module       
    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + t('administration.title'), '#'
      .mp-level
        %h2.icon= t('administration.title')
        %a.mp-back{:href => "#"}=t('back')
        %ul
          - if user_signed_in?
            %li= link_to t('activerecord.attributes.user.change_password'), edit_user_registration_path(current_user.id)
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Release Notes", '#'

    /10) Equery module    
    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + t('equery.title'), '#'
      .mp-level
        %h2.icon= t('equery.title')
        %a.mp-back{:href => "#"}=t('back')
        %ul
          - permitted_to? :read, :library_books do
            %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'library.title'), "/equery_reports/library"