- model_class = Accession
.page-header
  %h1= t 'library.reservation.details'

= render 'shared/flashes'
- loan=Librarytransaction.where(accession_id: @accession.id).last

.row
  .row
    .col-md-8.col-md-offset-3
      %dl.dl-horizontal
        %dt= t 'library.book.title'
        %dd=@accession.book.title
          
        %dt=t 'library.reservation.accession_no'
        %dd=@accession.accession_no

        %dt=t 'library.reservation.borrowed_by'
        %dd= loan.returned==true ? "-" : @accession.borrower_details
          
        %dt=t 'library.reservation.returnduedate'
        %dd
          - if loan.returned==true
            ="-"
          - else
            - if loan.returnduedate < Date.today
              .text-red=loan.returnduedate.strftime('%d-%m-%Y')
            - else
              =loan.returnduedate.strftime('%d-%m-%Y')
  
        %dt= t 'library.reservation.current_list'
        %dd= t 'library.reservation.no_reservation' if @accession.reservations.blank?

        .row
          .col-md-9
            %br
            .small=t 'library.reservation.max_reservation'
            
            - if @accession.reservations.blank?
              %BR
            - else
              /1) display heading once
              %table.table.table-bordered.table-sm
                %tr
                  %th.bg-info=t 'library.reservation.queue_no'
                  %th.bg-info=t 'library.reservation.reserved_by'
                  %th.bg-info=t 'library.reservation.reservation_date'
                  %th.bg-info=t 'library.reservation.email'
   
                /2) display all reservers
                - @accession.reservations.values.each_with_index do |reserve, cnt|
                  %tr
                    %td.centre=cnt+1
                    - user_rec=User.find(reserve['reserved_by'])
                    - reserver_type=user_rec.userable_type
                    %td
                      /display notice when book is available for loan
                      - if loan.returned==true && cnt==0
                        .text-blue 
                          =t 'library.reservation.attention'
                          %b= reserver_type=='Staff' ? user_rec.userable.staff_with_rank : user_rec.userable.student_with_rank
                      - else
                        = reserver_type=='Staff' ? user_rec.userable.staff_with_rank : user_rec.userable.student_with_rank
                            
                      - if loan.returned==true && cnt==0
                        - if @accession.activate_date.blank?
                          - activation_date=loan.returneddate
                        - else
                          - activation_date=@accession.activate_date.to_date
                        .text-blue
                          = (t 'library.reservation.ready_for_collection')+activation_date.strftime('%d-%m-%Y') 
                          %br 
                          = t 'library.reservation.valid_reservation'
                        .text-red
                          = t 'library.reservation.expiring'
                          %b=(activation_date+3.days).strftime('%d-%m-%Y')

                    %td.centre=reserve['reservation_date']
                    %td
                      =reserver_type=='Staff' ? user_rec.userable.coemail : user_rec.userable.semail
                      - if loan.returned==true && cnt==0
                        %BR
                        /New librarytransaction form here----
                        - permitted_to? :manage, :library_librarytransactions do
                          /NOTE - Upon expiry date, librarian may remove reservation & upon removal, next (2nd) reservation shall become the first priority
                          - if Date.today >=activation_date+3.days
                            = render partial: "remove_reserve", locals: {user_rec: user_rec, accession: @accession, reserve: reserve}
                            %br
                            %b.right=t('or').upcase
                            %br
                          /NOTE - given options either to remove or to continue with loan
                          = render partial: "transform_loan", locals: {user_rec: user_rec, accession: @accession, reserve: reserve, job_type: 'show'} 

    %br
    .row
      .form-group
        .col-md-1.col-md-offset-4
          - permitted_to? :manage, :library_librarytransactions do
            = link_to content_tag(:i, "", :class => "fa fa-list") + " " + t('.back', :default => t("library.reservation.transactions")), library_librarytransactions_path, :class => 'btn btn-default'
        .col-md-1
          = link_to content_tag(:i, "", :class => "fa fa-list ") + " " + t('.back', :default => t("library.reservation.reservations")), library_accessions_path, :class => 'btn btn-default'
        .col-md-1
          = link_to content_tag(:i, "", :class => "fa fa-list ") + " " + t('.back', :default => t("library.reservation.books")), library_books_path, :class => 'btn btn-default'

