.row
  .col-md-offset-3
    
    .form-group
      .col-sm-2.control-label
        = f.label t 'repositories.document_type', for: :document_type
      .col-md-5
        =f.select :document_type, Repository.document, {include_blank: (t 'select')}, {class: 'selectpicker mandatory', "data-width"=>"auto"}

    .form-group
      .col-sm-2.control-label
        = f.label t 'repositories.document_subtype', for: :document_subtype
      .col-md-5
        =f.select :document_subtype, Repository.subdocument, {include_blank: (t 'select')}, {class: 'selectpicker mandatory', "data-width"=>"auto"}
        - unless @repository.new_record?
          %i
            .small.text-grey
              ='Previous data : '+@repository.render_subdocument_old+" - "+@repository.document_subtype
              %br
              ="Ref : "
              %ul
                - Repository.subdocument_old.sort_by{|x, y|y.to_i}.each do |x,y|
                  %li="#{y} = #{x}"
      
    .form-group
      .col-sm-2.control-label
        =f.label t 'repositories.equipment'
      .col-md-4
        =f.select :equipment, grouped_options_for_select(Repository.equipment_list), {:include_blank => (t 'select')}, {:class => 'form-control'}
    
    
    .form-group
      .col-sm-2.control-label
        =f.label t 'repositories.classification', for: :classification
      .col-md-5
        =f.select :classification, Repository.document_classification, {include_blank: (t 'select')}, {class: 'selectpicker', "data-width"=>"auto"}
        
    .form-group
      .col-sm-2.control-label
        = f.label t 'repositories.document_title', for: :title
      .col-md-6
        = f.text_field :title, class: 'form-control mandatory'

    .form-group
      .col-sm-2.control-label
        =f.label t 'repositories.vessel_class'
      .col-md-9
        = f.select :vessel_class, Repository.vessel_classes, {include_blank: (t 'select')}, {class: 'selectpicker mandatory', "data-width"=>"auto"}
        .form-inline
          .form-group.ticker_span
            .small.text-grey
              =f.check_box :ticker, class: 'sel_vclass', id: 'vclass_ticker'
              &nbsp;&nbsp;
              %i=(t 'repositories.ticker').html_safe
      
    .form-group.span_vessel{style: 'display: none;'}
      .col-sm-2.control-label
        = f.label t 'repositories.vessel'
      .col-md-5
        =f.select :vessel, grouped_options_for_select(Repository.vessel_list), {:include_blank => (t 'select')}, {:class => 'form-control'}
        = hidden_field_tag :selected_type, @repository.vessel, :class => 'selectedone'
        - unless @repository.new_record?
          %i
            .small.text-grey='Previous data : '+@repository.vessel

    .form-group
      .col-sm-2.control-label
        = f.label t 'repositories.refno', for: :refno
      .col-md-4
        = f.text_field :refno, class: 'form-control'
        
        - if @repository.new_record? 
          - serial_no=(SecureRandom.hex 8) 
          = f.hidden_field :code, value: serial_no
        - else
          - unless @repository.code.blank?
            - serial_no=@repository.code
          - else
            - serial_no=(SecureRandom.hex 8) 
            = f.hidden_field :code, value: serial_no
        %i
          .small.text-grey=(t 'repositories.serial_no')+": "+serial_no
        

    .form-group
      .col-sm-2.control-label
        = f.label t 'repositories.publish_date', for: :publish_date
      .col-md-2
        = f.text_field :publish_date, class: 'form-control date_picker_reverse'        

    .form-group
      .col-sm-2.control-label
        = f.label (t 'repositories.total')
      .col-md-4
        .input-group
          .input-group-addon= t 'repositories.copies'
          = f.text_field :copies, class: 'form-control'
          .input-group-addon=t 'repositories.total_pages'
          = f.text_field :total_pages, class: 'form-control'     

    .form-group
      .col-sm-2.control-label
        = f.label t 'repositories.location', for: :location
      .col-md-4
        = f.text_field :location, class: 'form-control'        

    .form-group
      .col-sm-2.control-label
        = f.label t 'repositories.uploaded', for: :uploaded
      .col-md-5
        = f.file_field :uploaded, class: 'form-control'
        
        /NOTE - 20Apr2017 - workaround - to retrieve missing uploaded file when validation fails!  - start ####
        /when "cache for uploaded"(AttachmentUploader record) exist, although uploaded field contains no data...
        - if @aa
          /shall takes id of cache value, upon AttachmentUploader(AU) record creation
          = f.hidden_field :uploadcache, value: @aa
        - else
          /shall takes any value (null or with value of either NEW blank form(uploadcache=nil) or rendered NEW form (uploadcache=nil or uploadcache=id of AU record))
          = f.hidden_field :uploadcache
        /######## - workaround ends here - NOTE - to refer model/attachment_uploader.rb & repository.rb, plus repositories_controller.rb 
        
        .small 
          - if @repository.uploaded.present?
            = (t 'repositories.current_file')+": "+@repository.uploaded_file_name+" ("+number_to_human_size(@repository.uploaded_file_size)+")"
            %br
          =t 'repositories.max_size'

    .form-group
      .col-sm-2.control-label
        = f.label t 'repositories.staff_id', for: :staff_id
      .col-md-5
        = f.collection_select :staff_id, Staff.order(rank_id: :asc, name: :asc), :id, :staff_with_rank, {include_blank: (t 'select'), selected: current_user.userable_id}, {class: 'selectpicker mandatory', "data-width"=>"auto"}

%br

:javascript

  /* refer repositories.js.coffee */

  /* onload : vessel name exist -> checked & assign selected vessel to optgroup select, otherwise just unchecked */
  $("#repository_vessel").each(function(){
    var vessel_name=$('#selected_type').val();
    var checkbox=document.getElementById("vclass_ticker");
    
    /*specific, vessel name selected*/
    if (vessel_name!="")
    {
      checkbox.checked = true; 
       
      /* NOTE : to manually assign selected value for vessel (vessel name) in optgroup selection, --> (EACH) as js.coffee only load full data selection, but not selected option */
      var selected_class = $('#repository_vessel_class :selected').text();
      var selecttype=$('#repository_vessel');
      var selected1=$('#selected_type').val();
      var optgroup=$(selecttype).children('optgroup[label="'+selected_class+'"]');
      var option = optgroup.find('option[value="'+selected1+'"]');
      option.attr('selected', true);
    }
    else
    {  checkbox.checked = false; }
  });
  
  /* onload : when checked, display vessel name selection, otherwise hide */
  $("input[class='sel_vclass']").each(function() {  
    if($('#vclass_ticker').is(':checked')) 
    { $(".span_vessel").show(); }
    else
    { $(".span_vessel").hide(); }
  });
  
  /* onchange : when checked, display vessel name selection, otherwise hide */
  $("input[class='sel_vclass']").change(function() {  
    if($('#vclass_ticker').is(':checked')) 
    { $(".span_vessel").show(); }
    else
    { $(".span_vessel").hide(); }
  });