= search_form_for @search, url: index2_repositories_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td &nbsp;
    %td
      = f.select :document_type_search, Repository.document,{ include_blank: (t 'select')+" "+(t 'repositories.document_type')},{ :class => "selectpicker","data-width" =>"fit", "data-style" => "btn-sm"}
      /btn-info
      = f.select :vessel_search, Repository.digital_library.map(&:vessel).uniq.sort,{ include_blank: (t 'select')+" "+(t 'repositories.vessel')},{ :class => "selectpicker","data-width" =>"fit", "data-style" => "btn-sm"}
    %td
      = f.select :document_subtype_search, Repository.subdocument,{ include_blank: (t 'select')+" "+(t 'repositories.document_subtype')},{ :class => "selectpicker", "data-width" =>"fit","data-style" => "btn-sm"}
      = f.text_field :title_cont, size: 2,  :class => "form-control", :placeholder =>  (t 'repositories.document_title')
    %td= f.text_field :refno_search, size: 2,  :class => "form-control", :placeholder =>  (t 'repositories.refno')
    %td= f.text_field :publish_date_search, size: 2,  :class => "form-control date_picker_reverse", :placeholder =>  (t 'repositories.publish_date')
    %td= f.text_field :location_search, size: 2,  :class => "form-control", :placeholder =>  (t 'repositories.location')
    %td= f.select :classification_search, Repository.document_classification,{ include_blank: (t 'select')+" "+(t 'repositories.classification')},{ :class => "selectpicker","data-width" =>"fit", "data-style" => "btn-sm"}
    %td
      .input-group
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw