%dl.dl-horizontal 
  %dt= t 'repositories.document_type'
  %dd= repository.render_document
  
  %dt= t 'repositories.document_subtype'
  %dd{style: 'padding-left: 70px;'}
    = repository.render_subdocument
    %i
      .small.text-grey
        ='Previous data : '+@repository.render_subdocument_old+" - "+@repository.document_subtype
        %br
        ="Ref : "
        %ul
          - Repository.subdocument_old.sort_by{|x, y|y.to_i}.each do |x,y|
            %li="#{y} = #{x}"
  
  %dt= t 'repositories.classification'
  %dd= repository.render_classification
  
  %dt= t 'repositories.document_title'
  %dd= repository.title
  
  %dt=(t 'repositories.vessel_class')
  %dd
    = repository.render_vessel_class
    - if repository.vessel.blank?
      =" ("+(t 'repositories.master')+")" 
  
  - unless repository.vessel.blank?
    %dt=(t 'repositories.vessel')
    %dd
      = repository.render_vessel+" ("+(t 'repositories.specific')+")"
  
  %dt= t 'repositories.refno'
  %dd{style: 'padding-left: 70px;'}
    = repository.refno
    %i 
      .text-grey.small="("+(t 'repositories.serial_no')+": "+repository.code+")"
  
  %dt= t 'repositories.publish_date'
  %dd= repository.publish_date
  
  %dt= (t 'repositories.total')+" - "+(t 'repositories.copies')+" / "+(t 'repositories.total_pages')
  %dd
    = repository.copies.to_s
    =" / " if !repository.copies.blank? || !repository.total_pages.blank?
    = repository.total_pages.to_s
  
  %dt= t 'repositories.location'
  %dd= repository.location
   
  %dt= t 'repositories.uploaded'
  %dd= repository.uploaded_file_name
    
  %dt= t 'helpers.links.links'
  %dd
    - unless repository.uploaded.blank?
      = link_to (t 'view')+' PDF', repository.uploaded.url 
      ||
      = link_to t('download'), download_repository_path(repository)
      ="(#{number_to_human_size(@repository.uploaded_file_size)})"
      
  %dt=t 'repositories.staff_id'
  %dd= repository.creator.try(:staff_with_rank)